[2015-10-27 21:06] whitlockjc commented on #499
First pass complete.

[2015-10-27 21:11] whitlockjc commented on #499
I just realized that I made the signature `uv_fs_(f)utime(..., btime, atime, mtime, ...)` but with `uv_fs_(f)utime` looking like `uv_fs_(f)utime(..., atime, mtime, ...)`, I wonder if I should had made the signature like `uv_fs_(f)utime(..., atime, mtime, btime, ...)`.  Of course, I'll await review feedback.

[2015-10-28 00:02] whitlockjc commented on #499
@jorangreef Do you have time to check this PR out and see if it works for you?  Unit tests show it's working as expected but if you have a few minutes, I'd be appreciative.

[2015-10-28 21:05] phillipj opened #591 "Replace EALREADY with EBUSY in udp_recv_start?"
Hi! I'm going through some of your `TODO`s and found this one from @bnoordhuis in [unix/udp.c#L847](https://github.com/libuv/libuv/blob/bf52579f92c30cb6ebb65a007b4f0dab9f135695/src/win/udp.c#L847):

[code]

Guessing it would be a breaking change. Is this worth the effort changing or should the todo be removed?

[2015-10-28 21:27] bnoordhuis commented on #591
It would be possible to change it for libuv v2.x but there is no ETA for that.  There are a few more places where EALREADY is returned where EUBUSY would be more appropriate, both in the UNIX code and the Windows code.

[2015-10-29 08:01] phillipj commented on #591
Thanks for answering quickly! Is it too early to open a PR for changes meant for v2.x?

[2015-10-29 11:47] bnoordhuis commented on #591
No, you're welcome to file one.  I'll review it but it may be a while before we can land it.

[2015-10-29 11:51] phillipj commented on #591
:+1:

[2015-10-29 11:51] #591 closed

[2015-10-29 14:18] elfring opened #593 "Complete build options for Pthread API"
Would you like to add the configuration script "[AX_PTHREAD](https://www.gnu.org/software/autoconf-archive/ax_pthread.html "How to build C programs using POSIX threads?")" to [your build specification](https://github.com/libuv/libuv/blob/455c4035d40cc60390cddff0b920da43c4b55cd4/configure.ac#L40 "Configuration checks")?

[2015-10-29 14:23] elfring opened #594 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [pthread_mutex_init](http://pubs.opengroup.org/onlinepubs/9699919799/functions/pthread_mutex_init.html "Initialise a mutex.") ⇒ [pthread_barrier_init](https://github.com/libuv/libuv/blob/764877fd9e4ea67c0cbe27bf81b2b294ed33b0f5/src/unix/pthread-fixes.c#L62)
- [strdup](http://pubs.opengroup.org/onlinepu

[2015-10-29 14:48] elfring opened #595 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed](http://pubs.opengroup.org/onlinepubs/9699919799/functions/free.html "Do I need to check for NULL before free(p)?") in functions like the following.
* [uv__getaddrinfo_done](https://github.com/libuv/libuv/blob/764877fd9e4ea67c0cbe27bf81b2b294ed33b0f5/src/win/getaddrinfo.c#L90)
* [uv_dlclose](https://github.com/libuv/libuv/blob/764877fd9e4ea67c0cbe27bf81b2

[2015-10-29 15:10] elfring opened #596 "Selection of a directory for auxiliary build tools"
I suggest to add [the call of the macro "AC_CONFIG_AUX_DIR"](https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/Input.html#index-AC_005fCONFIG_005fAUX_005fDIR-58 "Storage for auxiliary build tools") to [your configuration script](https://github.com/libuv/libuv/blob/455c4035d40cc60390cddff0b920da43c4b55cd4/configure.ac#L17 "Build specification") so that auxiliary bui

[2015-10-29 15:42] jorangreef commented on #499
@whitlockjc Thanks Jeremy, I have looked through the PR. I don't have the libuv and C chops to test directly and haven't yet built Node with it. I am sorry I can't help much further.

@bnoordhuis what do you think?

[2015-10-29 17:02] lhecker commented on #582
**Offtopic**:
Might I note that @piscisaureus (snarky) comment at https://github.com/libuv/libuv/blob/a59085e140d52076960fd2ee84875577378abc62/src/inet.c#L70 is factually incorrect?
Types like `int16_t` not just guarantee to be of that exact size (padding is forbidden), but also for instance guarantee to use the two’s complement representation (which isn't for e.g. `int`). Otherwise they must not

[2015-10-29 19:05] deleisha commented on #595
+1 yup, free(NULL) does not do anything.

[2015-10-30 13:17] bnoordhuis commented on #594
I think the Android fallback code works on the assumption that pthread_mutex_init and pthread_cond_init always succeed because under the hood they're futexes, i.e., simple ints.  If you have reason to believe that's an erroneous assumption, please file a pull request.

I'm mostly meh about checking that strdup() failing in the test runner.  Seems unimportant.

[2015-10-31 16:13] Hrxn opened #599 "Typo in repository description"
I guess it's asynchronous

Just landed on the page, that was the first thing I noticed. I'm sorry...

[2015-10-31 18:47] deleisha commented on #599
Well, it does the async for all major platform. Hence, an apt description

[2015-11-01 09:26] Hrxn commented on #599
?

The description is suitable, I guess.

asychronous
asynchronous

I think "typo" includes spelling, no? At least in common usage.

[2015-11-01 10:47] TomCrypto commented on #599
Wow, it's quite remarkable that nobody spotted it until now. Nice find :)

[2015-11-01 13:23] bnoordhuis commented on #599
Typo fixed, thanks. :-)

[2015-11-01 13:23] #599 closed

[2015-11-02 09:56] orlp commented on #529
I can reproduce this using MSYS2.

    cd ~
    git clone https://github.com/libuv/libuv
    cd libuv
    ./autogen.sh
    ./configure
    make
    make check

After installing the proper packages (autoconf, automake, libtool, build-essential, probably others.

[2015-11-03 05:58] dengliu opened #605 "infiniband support in libuv"
Is there any plan to add infiniband support in libuv?
Thank you!

[2015-11-03 09:44] bnoordhuis commented on #605
No.  Why do you ask?

[2015-11-04 06:31] sindresorhus opened #606 "Document which open(2) numbers are supported on Windows"
So we can link to them from the Node.js docs.

https://github.com/nodejs/node/pull/3641#discussion_r43846108

[2015-11-04 08:37] saghul commented on #526
Closing since this continues in #528

[2015-11-04 08:37] #526 closed

[2015-11-04 08:42] saghul commented on #505
Continues in #549, closing.

[2015-11-04 08:42] #505 closed

[2015-11-04 08:56] jiaqinghao2009 opened #607 "a uv_spawn issue"
I want to spawn two different processes using uv_spawn, that means funcA will be invoked twice.
When I use libuv-0.11.27, the two processes will be both spawned successfully. When I update libuv to version 1.6.1,
When I spawn the second process(B process). uv_spawn(loop, child_req, &options) function will invoke CreateProcessA
and process B will be successfully spawned, but, when SpawnProcess retu

[2015-11-04 08:57] saghul commented on #563
Closing, continues in #562.

[2015-11-04 08:57] #563 closed

[2015-11-04 09:05] saghul commented on #572
We have no specific code for Windows Phone, but we do have desktop Windows support. Please feel free to open an issue if you run into problems when using it with Windows Phone.

Also, patches would be welcome, if there is anything that needs to be addressed :-)

[2015-11-04 09:05] #572 closed

[2015-11-04 09:08] saghul commented on #570
For completeness, if you are fine with your code working on Linux only and have a recent enough kernel (>= 3.9 IIRC) you can create the socket early with `uv_tcp_init_ex`, set `SO_REUSEPORT`, create multiple threads and let the kernel do the balancing.

[2015-11-04 09:10] saghul commented on #489
I'd be ok with adding this to core, should anyone volunteer to write a patch :-) If you want to enable it manually in the interim, have a look at `uv_fileno`.

[2015-11-04 09:25] saghul commented on #576
We never set errno, we just return a negative error code. (which on Unix it matches -errno).

[2015-11-04 09:26] saghul commented on #576
@jclulow In general, [these rules apply](http://docs.libuv.org/en/v1.x/errors.html), but I agree we could document this better.

[2015-11-04 09:35] jiaqinghao2009 commented on #607
When uv_spawn return , handle.process_handle's value is 0x00000000(but in libuv source code process.c Line1096 process->process_handle = info.hProcess; this value is like this e.g. 0x000001fe). Then when funcA return, Microsoft Visio studio will pop a dialog box（I debug program）:  A buffer overrun has occurred in MySpawn.exe which has corrupted the program's internal state(dbghook.c Line 62).

[2015-11-04 10:22] jclulow commented on #576
@saghul It should really be documented on the actual page for the function in question.  The manual page for the [getline(3C)][man_3C_getline] C library routine is a reasonable example of the kind of documentation that I think makes sense for a routine like this (and probably in general for a library like `libuv`).

Note that it has a reasonably precise prose `DESCRIPTION` of the functionality and

[2015-11-04 18:41] trevnorris commented on #576
@saghul Sorry, my bad. It doesn't set `errno`. Though it also doesn't return `-errno`. In `unix/async.c` shows that `uv_async_send()` will either succeed or abort. While from `win/async.c` it may also return `-1`.

[2015-11-04 20:07] saghul commented on #576
I don't disagree. Alas, time is a limited resource and any help is appreciated. I assume you digged into the code since the documentation wasn't clear enough, the perfect chance to submit a documentation PR! :-)

We use Sphinx for the documentation, which can generate man pages too. Changing the layout is not planned, but if someone wants to take a stab at it I'm willing to give input. That said,

[2015-11-04 20:20] saghul commented on #473
@bwijen Ahoi, and so sorry for the delay... #498 LGTM, I'll comment there.

[2015-11-04 20:25] saghul commented on #587
Continues in #589

[2015-11-04 20:25] #587 closed

[2015-11-04 20:35] saghul commented on #596
We don't ship those anyway, so there is no need for them to be in a special directory. If someone wants to clean their tree they can do a `git clean -dfx`.

[2015-11-04 20:35] #596 closed

[2015-11-04 20:43] saghul commented on #582
@lhecker that code was not written by him, look at the copyright notices at the top ;-)

[2015-11-04 20:45] saghul commented on #582
Agreed. Now, when we branch v2.x we could make foo2 be the new foo, like we did with `uv_run|uv_run2` a long time ago.

[2015-11-04 20:47] saghul commented on #595
Thanks for the report! (I know this was written by a bot, but machines also deserve some love!). At any rate, continues in #604.

[2015-11-04 20:47] #595 closed

[2015-11-04 20:59] piscisaureus commented on #582
@lhecker my comment?

[2015-11-04 20:59] lhecker commented on #582
Thanks for the clarification @saghul! :smiley: It's kinda strange for a organization like the ISC to make such an obvious mistake...

That would be great!

_By the way:_
For the time being I wrote my own `interface_addresses` method which is capable to filtering out temporary, link-local, etc. IPv6 addresses and thus I'm currently not really hitting this "bug":
* https://github.com/lhecker/libnode

[2015-11-04 21:00] bnoordhuis commented on #594
Oh, it's a bot.  How annoying.  Closing.

[2015-11-04 21:00] #594 closed

[2015-11-04 21:01] bnoordhuis commented on #593
Bot.  Closing.

[2015-11-04 21:01] #593 closed

[2015-11-04 21:07] lhecker commented on #582
@piscisaureus I'm not sure if I should apologize to you now for saying that "your" comment was snarky, but... It wasn't meant in a mean way - I said it because it catched my eye while reading the code. :smile:

[2015-11-04 21:20] saghul commented on #582
@lhecker maybe you can provide some feedback here: https://github.com/libuv/libuv/pull/219

[2015-11-05 13:37] sittingbool commented on #401
I continue running into the same problem on another line node: ../deps/uv/src/unix/async.c:130: uv__async_io: Assertion `n == sizeof(val)' failed.

[2015-11-05 15:28] bnoordhuis commented on #605
No follow-up, closing.

[2015-11-05 15:28] #605 closed

[2015-11-05 15:29] bnoordhuis commented on #568
I'm going to assume this is working for you now.  If not, please let us know.

[2015-11-05 15:29] #568 closed

[2015-11-05 15:31] bnoordhuis commented on #533
I'm closing the issue because there isn't anything actionable right now.  If you have more information, please let us know.

[2015-11-05 15:31] #533 closed

[2015-11-05 15:33] bnoordhuis commented on #415
Closing due to inactivity.  We can revisit when someone comes up with a proposal.

[2015-11-05 15:33] #415 closed

[2015-11-05 15:40] benaadams commented on #390
That's also >= Windows Server 2012 R2?

[2015-11-05 16:15] bnoordhuis commented on #462
See #608.

[2015-11-05 16:48] bnoordhuis commented on #401
@sittingbool Does #565 help?  You should be able to `rm -rf deps/uv`, replace it with the current libuv v1.x branch and rebuild.

[2015-11-05 17:06] bnoordhuis commented on #607
`uv_process_t handle` has automatic storage in `funcA()`.  In other words, it ceases to exist once that function returns.  In _other_ other words, you have a bug in your code.

Closing, please use the mailing list next time.

[2015-11-05 17:06] #607 closed

[2015-11-05 17:36] zuyu commented on #513
Well, I encountered the same test failures (the exact assertions failed) in Ubuntu 14.04 LTS as well.

[2015-11-05 17:53] whitlockjc commented on #513
The only test I see failing on OS X is #544.  Other than that, I get a clean run.  As for this test failing on Ubuntu, I'm not seeing that either.  I'll try again.

[2015-11-05 17:54] whitlockjc commented on #513
Here is the latest `v1.x` build on OS X:

[code]

Only one failing test, `thread_rwlock_trylock`, and it's already being addressed in #544.  If I comment out that test, I get a successful build.

[2015-11-05 20:14] zuyu commented on #513
My colleague and I ran the tests on the same machine of a bare-mental RHEL7 using the system default env. He passed them clearly, but I have the same failures. I'll dig more about the exact return status in `pipe_connect_to_file`.

[2015-11-05 21:05] zuyu commented on #513
For `test/test-pipe-connect-error.c`, I received a different errno `UV_ENOENT ` in `connect_cb_file` on both Mac OS X and RHEL 7, instead of the assumed `UV_ENOTSOCK` or `UV_ECONNREFUSED`.

[2015-11-05 21:46] thinkingdust opened #609 "fs.watch behaves differently watching directory on NFS versions 3 and 4"
Copy of https://github.com/nodejs/node/issues/3645

This behaviour was observed by cloning node on an NFSv4 mount then running the following test:
`./node test/sequential/test-fs-watch.js`
The test fails with a "change" event observed instead of "rename".

[code]

The difference also exists in libuv, visible by making libuv in the deps directory and running the libuv tests.
[code]

On further inve

[2015-11-06 08:12] saghul commented on #609
If the difference it at Linux inotify level I'm not sure what we can do about it at the libuv level.

[2015-11-06 09:54] bnoordhuis opened #610 "unix: process: prevent exit event before data events"
See https://github.com/nodejs/node/issues/3676 - the executive summary is that the order in which the child process's stdio I/O watchers and the signal handler I/O watcher run is indeterminate.  This can result in the exit callback running before the data callbacks, which is confusing.  It appears to be an easy fix, @gireeshpunathil reported good luck with the patch below.

[code]

[2015-11-06 15:26] thinkingdust commented on #609
I thought that might be the case.
I was also unsure about the expected result for the test since creating a subfile in a watched directory seems more like a "change" than a "rename" to me.

[2015-11-06 18:07] bnoordhuis commented on #610
Note that the patch is not 100% correct.  You can still get 'exit' before 'data' when uv__io_poll() decides to loop and poll again.

[2015-11-09 03:35] markpotts123 commented on #517
I would like to support this proposal. Enabling libtls under libuv would be very useful.

[2015-11-09 21:49] konobi opened #612 "Compile error on illumos/SmartOS"
As part of the MoarVM build, I'm getting the following compile error on illumos/SmartOS:

3rdparty/libuv/src/unix/core.c:1060:5: error: too many arguments to function 'getpwuid_r'
In file included from 3rdparty/libuv/include/uv-unix.h:37:0,
                 from 3rdparty/libuv/include/uv.h:61,
                 from 3rdparty/libuv/src/unix/core.c:21:
/usr/include/pwd.h:191:23: note: declared here

[2015-11-09 21:53] bnoordhuis commented on #612
Works alright with the node.js smartos builds but pull requests nevertheless welcome.

[2015-11-09 21:54] saghul commented on #612
Some tests are failing, but compiling seems to work fine: https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=smartos14-64/181/console

[2015-11-09 22:01] konobi commented on #612
Ugh... appears that this might be an illumos glitch...
https://www.illumos.org/issues/5363

[2015-11-10 21:01] bnoordhuis commented on #606
Pull requests welcome although I think we have mappings for all common flags.  It should Just Work in most if not all cases.

[2015-11-11 15:48] camz commented on #406
I ran into this problem as well, trying to build for android-18 instead of 21.  As it turns out, there is only a single instance of getpwuid_r, and it is easily replaced with getpwuid, which is available in earlier versions of the android API.

I commented out lines 1041 - 1089 and then replaced them with the following code:

    uid = getuid();
    result = getpwuid( uid );

    if( NULL != resul

[2015-11-11 16:15] richfelker opened #615 "Fallback barrier implementations are not safe to destroy"
There seem to be two fallback barrier implementations in libuv, in pthread-fixes.c and threads.c, for systems that lack pthread barriers. Both have a serious class of flaw that can lead to memory corruption: there is no way to determine when it's safe to destroy them without an additional synchronization object to ensure that all waiters have actually left the barrier wait function and will not ac

[2015-11-11 16:21] bnoordhuis commented on #615
The Android barrier implementation was contributed from outside.  You're welcome to take a stab at improving it.  Android is not a tier 1 platform for us, it's mostly self-serve.

[2015-11-11 18:54] richfelker commented on #615
I'm not using the code so I won't be working on it, but I noticed the issue and wanted to make sure there was a tracker item open for it. Hopefully someone interested in Android or Apple platforms will pick it up.

[2015-11-12 14:21] santigimeno commented on #128
@saghul I've been able to reproduce the Jenkins issues in my machine. In order to reproduce the failures, the tests have to be run in a jail that has not defined the `loopback`interface. The jail in Jenkins has *only* defined one network interface:
[code]
There's no `loopback` interface. This causes most of the failures. Adding the lo interface to the jail is simple. Just edit the jail config file

[2015-11-13 11:28] saghul commented on #406
The non *_r functions are not reentrant, that's why we use the _r versions, IIRC. So I'm afraid I'm -1 on this one.

@bnoordhuis WDYT?

[2015-11-13 11:31] saghul commented on #615
FWIW, I created a "help-wanted" label, which I'm assigning to this one. Anyone feel free to pick this one up. Thanks!

[2015-11-13 11:35] bnoordhuis commented on #406
Agreed.  Too much of a minefield.

[2015-11-13 11:44] saghul commented on #128
@santigimeno Wow, I would have not found that in a million years, thank you! @nodejs/build any chance the FreeBSD jails can be updated? Thanks!

[2015-11-13 11:46] saghul commented on #128
Hum, @-ing a team in another org might not work... /cc @rvagg @jbergstroem

[2015-11-13 12:01] saghul commented on #406
Ok then. Sorry @camz I'm afraid we just don't support Android API < 21.

[2015-11-13 12:09] bnoordhuis commented on #128
The freebsd buildbots have a LOCALHOST environment variable set with the loopback address.

[2015-11-13 12:42] santigimeno commented on #128
@bnoordhuis do you mean that the loopback address should be already available?

[2015-11-13 12:56] bnoordhuis commented on #128
Yes, the buildbots are supposed to set it when they run tests.  https://github.com/nodejs/node/blob/v5.0.0/test/common.js#L95-L116 is the relevant code in the node.js test runner.

[2015-11-13 13:30] santigimeno commented on #128
@bnoordhuis it seems this is not happening in the `libuv` job. The loopback address is not detected in the `platform_output` test. Also, the test failures correspond with not having the loopback interface defined.

[2015-11-14 11:47] t-mat commented on #529
Hi, I've got same assertion failure (Win7 Pro SP1, VS2015, x64 Release build).

[code]

In my environment, `uv_pipe_getsockname()` returns `len1 == 0` and second `ASSERT(buf1[len1 - 1] != 0);` have been failed (out of bounds).
Here, `uv_pipe_t.flags & UV_HANDLE_CONNECTION != 0`, it seems that `src/win/uv_pipe_getsockname()` [set `len1 = 0` and returns `0` intentionally](https://github.com/libuv/li

[2015-11-16 08:25] saghul opened #617 "Preparing the 1.8.0 release"
I createad a "1.8.0" milestone, and tentatively added the PRs / issues that I plan to land before the release.

If anything important is missing, please do let me know!

Sadly quite a few issues / PRs have piled up, hopefully we can got through the mojaority of them soon. If yours is pending, please don't despair!

/cc @bnoordhuis @piscisaureus

[2015-11-16 08:57] tracker1 commented on #318
Started related request to license the `filewrap.c` file referenced above under a more permissive license.

http://www.roughneckbbs.com/msgs/msg.ssjs?msg_sub=dove-syncprog&message=514

@piscisaureus @saghul  Has there been any progress on this?  I really wish I knew C well at all, or would love to make a PR to support this myself.

[2015-11-16 08:59] saghul commented on #318
@tracker1 There has not been any progress on this. Anyone is pretty much free to take it on.

[2015-11-16 09:02] tracker1 commented on #318
@saghul thanks... I'm so far out of my depth here, but if I get any time this weekend may clone the repo and try hacking at it.  :-/

[2015-11-16 16:32] dtex commented on #617
I'd like to lobby for #484 I believe @zhaozg has made the changes you recommended and is ready for another round of review.

I'm not qualified to help here, but really wish I could because I know that this will be a huge boon for anyone working with hardware on the platforms that Libuv supports. The hope is that with this addition (and some updates in node.js) we will be able to eliminate the buil

[2015-11-16 17:30] saghul commented on #617
@dtex I can add it, but I doubt we'll be able to shit it on time. (I have reviewed the latest changes, but haven't been able to put them in writing yet)

[2015-11-17 09:14] lishengze opened #619 "libuv thread communication"
I have a c++ lib, client application use this lib to query data from server. This lib create a seperate thread to communicate with server, query result will be passed as parameters in callback function.

Now i want to wrap this c++ lib to nodejs native module, since callback functions are called in this lib's own thread, in order to pass query result to js environment, i believe i have to use libu

[2015-11-17 09:18] saghul commented on #617
@dtex I reviewed the code again: https://github.com/libuv/libuv/pull/484#issuecomment-157315601 as you'll probably see, the API discussion is still in flux, so I don't think it can make it to 1.8.0. On a mor epositive note, I think my proposal greatly simplifies things and if we agree on that it could very well make it to 1.9.0. Also, numbers are free! :-)

[2015-11-17 09:22] saghul commented on #619
No. It means that for every `uv_async_send` invokation the is no guarantee that a callback call will follow, thus you cannot rely on storing stuff on a data pointer and process it in the callback.

You'll need to store the data in a thread-safe queue structure, the use `uv_async_send to wakeup the event loop and process the data in the queue on the async callback.

PS: I'm coling this since it's n

[2015-11-17 09:22] #619 closed

[2015-11-17 09:48] #462 closed

[2015-11-17 14:33] dtex commented on #617
Awesome, thank you for doing that. I understand it might not make 1.8.0 but that comment gives me confidence that there is light at the end of the tunnel. I also think it gets us to a point that we can start planning what has to happen in node.

Cheers!

[2015-11-20 22:02] mikeal opened #625 "Proposal: Enter the Node.js Foundation"
This idea has been kicking around for a while so I've taken the liberty of writing up a draft of the an application for libuv to enter the Node.js Foundation.

https://github.com/nodejs/TSC/pull/17

Let me know if there are any questions. Once the maintainers are happy with the application please note your support in the PR.

[2015-11-21 13:30] jorangreef opened #626 "win: fs.watch buffer might be too small"
I wrote a Node.js script to test the reliability and latency of the underlying OS notification system used by fs.watch.

The gist is here: https://gist.github.com/jorangreef/d8b0bd5fb3d5b9ce6a94

The results:

[code]

[code]

The script is careful to fsync file and directory entries (apparently ReadDirectoryChangesW is influenced by the file system cache) but this makes no difference (or perhaps I

[2015-11-24 07:02] jorangreef commented on #626
The other interesting thing is that even though there are missed events for ReadDirectoryChangesW, it's not giving an ERROR_NOTIFY_ENUM_DIR as it advertises.

[2015-11-24 08:16] saghul commented on #625
Hey @mikeal, thanks for bringing this up. Quick question: how does this affect libuv? What are the implications?

Any links where we can read about it would be appreciated. Thanks!

[2015-11-24 09:07] saghul commented on #625
/cc @bnoordhuis @piscisaureus

[2015-11-24 10:54] jorangreef opened #628 "win: fs.watch delays events for tens of seconds"
Renaming a file on Windows 10 will usually generate a NULL path for the deleted source path and an actual path for the created target path, if a file is renamed from the source path to the target path. In addition to these 2 events, there will also be a changed event for the parent directory of the deleted source path (since the source path is removed from the parent directory):

e.g. Renaming `pa

[2015-11-24 11:02] saghul commented on #628
Thanks for the report @jorangreef!

I don't have access to a Windows 10 machine (I just have Windows 8 at the moment) so I cannot try to reproduce it. A quick read on MSDN doesn't really explain anything about calling `ReadDirectoryChangesW` differently, so I guess it could be a Windows problem or something inside libuv. Have you tested other Windows versions?

Any chance you can simplify the test

[2015-11-24 11:37] jorangreef commented on #628
Sure @saghul

I also tested on Windows 7 in Parallels, but there's no NULL event at all (which is strange), and no parent event ever arrives, just two target events. So it's worse there.

Here is the output on Windows 10:

[code]

I wrote the gist more for human understanding, not as an actual unit test to be included in libuv, since it's more likely a bug in ReadDirectoryChangesW. It also sometim

[2015-11-24 13:21] bnoordhuis commented on #625
I don't have a strong opinion.  Joining the Foundation would make it easier to obtain travel funds and such but that's not an issue that affects me personally (because I avoid travel and conferences whenever possible.)

[2015-11-24 18:10] mikeal commented on #625
This would be the first project to enter the foundation's incubator, so there isn't a ton of information you'll see because this is our first time :)

The documentation we do have is here: https://github.com/nodejs/TSC/blob/master/Project-Lifecycle.md

The focus of incubation is to broaden the contributor base. By joining the project would get a few mentors working on improving contribution polici

[2015-11-24 21:13] vtjnash opened #629 "win: pipe UV_HANDLE_EMULATE_IOCP implementation broken"
observed at https://github.com/julialang/Julia/issues/11727#issuecomment-159399582
but can also be triggered in nodejs with the following command (from a shell such as Cygwin mintty):

[code]

(although node itself appears to drop the error and simply hangs)

as mentioned at the above link, the error appears to be that overlapped->hEvent is not initialized prior to a call to ReadFile or WriteFile

[2015-11-24 21:18] saghul commented on #629
/cc @piscisaureus

[2015-11-25 18:45] mhdawson opened #630 "New release ?"
I see there has not been a release for a couple of months and I'd like to get a libuv release which includes
https://github.com/libuv/libuv/pull/539
so that it can be pulled into Node.

[2015-11-26 01:52] sickle2 commented on #406
Just comment out lines related to "getpwuid" and set HOME environment variable

[2015-11-26 19:23] saghul commented on #630
Hey Michael,

Yeah, things have been a bit slow lately. I opened
https://github.com/libuv/libuv/issues/617 to prepare the new release. A few
PRs are pending, but if we need no follow-up next week I might drop some.

Would that work for you?

On Wednesday, November 25, 2015, Michael Dawson <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--
/Saúl
betterc

[2015-11-30 14:59] jorangreef opened #634 "win: fs.watch on a directory omits path for removed and renamed paths"
Apologies for the spew of fs.watch related issues in the last few days, hopefully this will be the last. The recent recursive watch support for Windows has otherwise been working well and is appreciated.

I think it's a known issue that if a file is deleted on Windows, an event is fired with a `NULL` path. If I recall correctly, this was by design, because ReadDirectoryChangesW might give a long f

[2015-11-30 20:45] mikeal commented on #625
We need to come to a decision about this this week. There will be a TSC meeting on Thursday, could the contributors here come to a decision before then?

[2015-12-01 08:37] saghul commented on #625
Hi @mikeal, sorry for the belated response, I've been afk for the past week.

I'm onboard with this. The proposal you linked sounds reasonable to me. :+1:

One note I'd like to make: for quite a while now, libuv has been managed pretty much 100% on volunteer time. I hope joining the foundation will help us get some more help, but I wouldn't want to add much overhead on our (already busy) shoulders

[2015-12-01 09:13] saghul commented on #634
I guess this solves it? https://github.com/libuv/libuv/pull/199

The author didn't continue with the PR, but if you can chime back in after testing it, it might help someone pick it up.

[2015-12-02 09:14] #630 closed

[2015-12-03 07:50] #473 closed

[2015-12-03 07:55] jorangreef commented on #634
Thanks @saghul I completely forgot about that, I see I posted there in September already, as well as the same issue previously at https://github.com/joyent/libuv/issues/1479.

I have made a new pull request with updated comments, and commit message.

[2015-12-03 08:01] saghul commented on #519
No follow-up, closing.

[2015-12-03 08:01] #519 closed

[2015-12-03 08:02] saghul commented on #609
Closing since there is nothing actionable from the libuv side.

[2015-12-03 08:02] #609 closed

[2015-12-03 08:10] saghul commented on #128
Closing since we now have a green build on FreeBSD. Thanks to everyone who made this possible :heart:

[2015-12-03 08:10] #128 closed

[2015-12-03 08:38] jorangreef commented on #628
Opened for posterity. Closed because this is probably an issue with Windows.

[2015-12-03 08:38] #628 closed

[2015-12-03 20:29] piscisaureus commented on #625
Just for the record - I think we'd have to work out some details, but generally I'm in favor of joining the foundation.

[2015-12-05 15:15] evanlucas opened #642 "test thread_rwlock_trylock failing on OS X 10.11"
`abort()` is being called in https://github.com/libuv/libuv/blob/v1.x/src/unix/thread.c#L161-L172.

After some debugging, it appears that `err` is set to `11` which translates to `EDEADLK`.

I looked through the CI and it seems to be failing there pretty often as well.

It looks like this patch fixes it on OS X, but I'm not sure if it will break things on other platforms:

[code]

[2015-12-05 16:17] bnoordhuis commented on #642
See the discussion on https://github.com/libuv/libuv/pull/545, our working assumption is a bug in the test.

[2015-12-05 16:19] evanlucas commented on #642
Wow. I swear I searched for it. Sorry for the duplicate issue

[2015-12-05 16:19] #642 closed

[2015-12-05 17:31] saghul commented on #642
No worries. This has been on my list for a while, I hope to get to it this
week.
On Dec 5, 2015 5:19 PM, "Evan Lucas" <notifications@github.com> wrote:

[2015-12-05 17:32] evanlucas commented on #642
I'll try and take a look this evening as well and see if can make any headway

[2015-12-06 17:59] atrauzzi opened #643 "Any chance of an Ubuntu PPA?"
Is there any chance that you guys might be able to publish an official PPA for Ubuntu with the latest builds?

Sometimes a tool or platform requires libuv and having to compile by hand can turn people away just due to the inconvenience.

[2015-12-07 08:45] saghul commented on #643
I wouldn't personally oppose such an effort, but right now I'm afraid we don't have the time resources to get that going in an "official" capacity. Now, anyone is more than welcome to create a PPA and then we could try to find a way for making it official.

[2015-12-07 13:33] atrauzzi commented on #643
Sounds great, I wish I knew of a place where debian packagers congregated so that I could at the very least put the idea out there.

Sadly, I'm just someone who uses the packages, making them seems like a very dark art!

[2015-12-07 15:17] #634 closed

[2015-12-09 08:06] saghul commented on #625
@mikeal, can this be closed, now that https://github.com/nodejs/TSC/pull/17 landed?

[2015-12-09 12:40] nevernet opened #644 "mv: rename src/.deps/libuv_la-fs-poll.Tpo to src/.deps/libuv_la-fs-poll.Plo: No such file or directory"
details:

[code]

[2015-12-09 12:40] nevernet commented on #644
and also i have been tried latest version of libuv, and got same error as before.

[2015-12-09 12:44] bnoordhuis commented on #644
I see you reported https://github.com/neovim/neovim/issues/3806 as well.  It looks like a neovim issue to me, unless you get the same error with the v1.x branch from this repo.

[2015-12-09 13:05] saghul commented on #644
Closing as it's not an error within libuv, but related to how neovim does the build. (I just tried to compile v1.x on OSX with autotools, no problem there)

[2015-12-09 13:05] #644 closed

[2015-12-09 13:46] nevernet commented on #644
sorry , i have been tried to build libuv separate (clone latest version from here, and build it ) and got same error.

[code]

[2015-12-09 14:22] saghul commented on #644
Can you paste the entire output?

[2015-12-09 18:09] mikeal commented on #625
Yup! :)

BTW, the board approved this on Monday so we're all set :)

[2015-12-09 18:22] saghul commented on #625
Kewl!

[2015-12-09 18:22] #625 closed

[2015-12-10 09:21] ronkorving opened #645 "Large number of watchers starts failing hard on OSX"
We are running a fairly large project with 922 JavaScript and .less files being watched by Webpack's watch function on OS X (10.10.2) running on Node.js 5.2.0. During the initial build, or right when it's done with that, the following happens:

[code]

I wonder if this may be related to #387 and we are simply hitting maximum open files limitations. Any other ideas I'm also open to, because this is

[2015-12-10 09:37] saghul commented on #645
Did you raise the open file descriptor limit (see ulimit)? (Node used to do it automagically, but I'm not sure if that is the case now)

[2015-12-10 09:37] saghul commented on #645
/cc @indutny

[2015-12-10 09:39] ronkorving commented on #645
`ulimit` currently says `unlimited`, but I'm not sure I can trust that. I'm going to try and pull #641 and roll a Node.js build on top of that, see if the problem goes away.

[2015-12-10 09:40] saghul commented on #645
Do a `ulimit -a` and check for "open files", or do `uname -n`.

[2015-12-10 09:42] ronkorving commented on #645
Thanks (I feel like a noob now). `1000` is the answer. And we're watching 922 files. Add some other running apps to that, and it's likely we're hitting a limit there.

[2015-12-10 10:01] ronkorving commented on #645
If #641 solves it (I should know soon enough), I hope that can make it into the next release.

[2015-12-10 10:20] acastaner opened #646 "Asserts fail on CentOS 7.1 during tests"
Compiling libuv 1.4.2 on CentOS 7.0 gives me this:
[code]

These are the commands I typed to get here:

[code]

What can I do to help troubleshooting this issue?

[2015-12-10 10:36] ronkorving commented on #645
I compiled and tried to run it, but the output is *exactly* the same, which is really odd because the error mentions kqueue, while the commit message in #641 says it should not be using kqueue at all anymore.

[2015-12-10 10:42] saghul commented on #646
1.4.2 is ancient by now, can you please try the latest release? (the latest commit from the v1.x branch would be even better)

[2015-12-10 10:43] acastaner commented on #646
The program I'm trying to run (dnx, which is Microsoft ASP.NET5 open source port) needs 1.4.2 as per their documentation (https://docs.asp.net/en/latest/getting-started/installing-on-linux.html#installing-on-centos-fedora-and-derivatives). But I will give it a shot, sure!

[2015-12-10 10:44] saghul commented on #645
@ronkorving note that the error comes from the OSX framework itself. `kqueue` does work with file fds, so FSEvents is probably using kqueue underneath and running into the fd limit anyway. Did raising the limit with `ulimit -n 10000` avoid the issue?

[2015-12-10 10:51] acastaner commented on #646
Okay the latest version of v1.x branch passes all tests, and doesn't seem to prevent dnx from working. I'll let the Microsoft guys know!

[2015-12-10 10:51] #646 closed

[2015-12-10 10:54] saghul commented on #646
Fantastic, thanks! For the record: we maintain backwards API and a stable ABI throughout the v1.x set of releases, so the upgrade should be straightforward.

[2015-12-10 11:10] ronkorving commented on #645
The office has closed, so I will have to try with someone tomorrow. We tried to bump it, but it wouldn't let us... I'm sure there's a way, but I don't know that way off the top of my head. Will have to postpone until tomorrow I'm afraid.

[2015-12-10 11:12] saghul commented on #645
No worries.

[2015-12-10 17:09] indutny commented on #645
@ronkorving this is unfixable, OS X has a global OS limit. Sorry!

[2015-12-10 17:09] indutny commented on #645
Ah, wait... This is something different. (Gosh premature commenting)

[2015-12-10 17:10] indutny commented on #645
@ronkorving seems to be `ulimit -n` problem.

[2015-12-11 01:10] ronkorving commented on #645
We doubled the ulimit to 2000, and the same errors appear. So it seems unrelated to this error.

[2015-12-11 02:34] supamii opened #647 "struct uv_buf_t defined differently under libuv/uv-win.h than libuv/uv-unix.h"
Noticed that uv_buf_t is not defined consistently under libuv/uv-win.h and libuv/uv-unix.h

[code]

[code]

Is this intentional?  Causing issues for me with cross-platform development

[2015-12-11 06:50] saghul commented on #645
What does your code do? Use fs.watch on a thousand different files?

Can you come up with a test case which consists just of core modules?
On Dec 11, 2015 02:10, "Ron Korving" <notifications@github.com> wrote:

[2015-12-11 07:22] ronkorving commented on #645
I could give it a shot, but right now (for the sake of the project) I'm focused on non-watch fast build solutions in Webpack (which, thank god, exist). What is happening behind the scenes in Webpack *exactly*, I don't know, but I can look into that.

[2015-12-11 07:25] ronkorving commented on #645
It seems it's using [chokidar](https://github.com/paulmillr/chokidar) behind the scenes. You may be familiar with it?

source: https://github.com/webpack/watchpack/blob/master/lib/DirectoryWatcher.js#L7

[2015-12-11 08:32] saghul commented on #647
This is intentional. On Unix we need to cast it to `struct iovec` and on Windows to `WSABUF` (see the definition [here](https://msdn.microsoft.com/en-us/library/windows/desktop/ms741542%28v=vs.85%29.aspx)).

Also see the comment [here](http://docs.libuv.org/en/v1.x/misc.html?highlight=uv_buf_init#c.uv_buf_init).

What problems are you running into exactly?

[2015-12-11 08:32] #647 closed

[2015-12-11 08:37] saghul commented on #645
No, I'm not familiar with that. I see it uses fs.watch* and [fsevents](https://github.com/strongloop/fsevents), but I see nothing we can fix from libuv.

[2015-12-11 08:38] saghul commented on #645
Note that the limit applies to the current shell, so if you run ulimit in a shell and start node in another, that limit won't apply.

[2015-12-11 08:39] ronkorving commented on #645
We ran the whole process in the shell where limit was raised 3000.

In any case, I guess it really is out of the hands of libuv... I'll close the issue and pursue my dreams elsewhere ;) I made an issue over at the Webpack project. We'll see if we can make any progress going from that angle.

[2015-12-11 08:42] saghul commented on #645
Okidoki! Just to discard culprints, you could try the following: create a test which creates a directory and 1000 files insise. Then create a watcher for each with fs.watchFile, and see what happens.

[2015-12-11 08:45] saghul commented on #645
Also, make sure you use a Node version which has libuv >= 1.7.0, which includes this patch: https://github.com/libuv/libuv/commit/7980f1359dd16e8ded20a80e934deaf269d85f03

[2015-12-11 22:14] #544 closed

[2015-12-12 17:53] supamii commented on #647
Ok thanks for the clarification.

I dealt with the issue by using `#ifdef _WIN32` and so forth because initializing the structs vary between systems so I assumed libuv would take the burden of handling it.

[2015-12-12 18:09] saghul commented on #647
You can also use `uv_buf_init`.

[2015-12-13 10:57] saghul commented on #617
Allright, I dropped some issues/PRs from this milestone, they'll go on the next one. I plan to make the release in the next few days. Holler if there is something essential that needs to land before then.

[2015-12-14 01:53] ronkorving commented on #645
I used latest Node with #641 merged into it, and the problem didn't go away, so I guess that patch was also a part of it. Over the weekend I explored an alternative for Webpack builds that gives us the same speed, but doesn't require watchers (build-on-demand with caching), so the team is happy again.

I'll create the test you ask for and see if I can replicate the issue though.

[2015-12-14 02:01] ronkorving commented on #645
Well, I wrote a little test that watches thousands of files and folders, and can't get it to blow up... Not even with stock Node :-/

[2015-12-14 12:50] saghul commented on #645
@ronkorving Oh. I'll tentatively close this then, since there is nothing we can do. If you manage to narrow it down, leave a comment and we can reopen it.

[2015-12-14 12:50] #645 closed

[2015-12-14 12:52] ronkorving commented on #645
Sounds good.

[2015-12-14 13:14] sztomi commented on #34
@saghul, is this something you would still add to libuv? If so, I would take look.

[2015-12-14 13:54] saghul commented on #34
I'm open to suggestions :-)

[2015-12-14 19:47] saghul commented on #617
No objections, so I'm going for it.

[2015-12-14 20:18] saghul commented on #617
1.8.0 is out and about, closing!

[2015-12-14 20:18] #617 closed

[2015-12-14 20:19] saghul commented on #612
Closing. @konobi since it works on our build bots, but you're welcome to send us a PR if there are some exotic cases that need to be covered.

[2015-12-14 20:19] #612 closed

[2015-12-14 20:30] saghul commented on #553
Closing. We don't support building libuv that way, it seems. Now, if you're embedding libuv in your project you could probably build it manually calling gyp_uv.py instead of using vcbuild.bat.

[2015-12-14 20:30] #553 closed

[2015-12-14 20:31] saghul commented on #494
No follow up, closing. If you still see the failure with the latest libuv please leave a comment and we'll reopen the issue, thanks!

[2015-12-14 20:31] #494 closed

[2015-12-14 20:37] saghul commented on #138
Closing. Some of these have been fixed already. If we didn't catch them all please send us a PR! :-)

[2015-12-14 20:37] #138 closed

[2015-12-14 20:39] saghul commented on #206
Closing in favor of the PR in #293.

[2015-12-14 20:39] #206 closed

[2015-12-14 20:41] saghul commented on #232
Closing, there a few failing tests, but we need an updated version of this. Bonus nachos if the issue comes with a PR ;-)

[2015-12-14 20:41] #232 closed

[2015-12-14 20:44] saghul commented on #338
Bust, I guess?

(feel free to bring it up again, I'm just house-keeping)

[2015-12-14 20:44] #338 closed

[2015-12-14 20:47] saghul commented on #401
No follow up, closing.

[2015-12-14 20:47] #401 closed

[2015-12-14 22:52] lucab commented on #643
libuv 0.10.x has been in ubuntu since Trusty, while libuv1 1.x since wily. If you need any of those in a previous release, I think you'd better request a backport to the ubuntu team so that they are officially distributed.

[2015-12-14 23:36] sztomi commented on #34
I'm thinking something along the lines of uv_cpu_info_t, but for OS information.

[code]
(just as a quick sketch, I need to familiarize myself with the project more, but you get the idea)

It might make sense to return the kernel version in a struct. As for the implementation, GetVersion&friends on Windows, uname on posix-friendly systems, plus trying to read /etc/lsb-release or issue etc. files.

[2015-12-15 11:32] vleschuk opened #654 "Endless loop in uv_write_callbacks()"
Hello all,

we are using libuv v1.7.5 and we have faced the following issue: our server got stuck using 100% CPU. I have checked using debugger and it appeared that libuv enters endless loop trying to cleanup QUEUE. Somehow it happened that at the last moment queue consists of one element which links to itself.

![endless_loop](https://cloud.githubusercontent.com/assets/1045374/11809495/5791b094-a

[2015-12-15 11:38] bnoordhuis commented on #654
What does your code look like?  Usually when people hit an infinite loop, they've corrupted the memory of the handle or a request associated with the handle.

[2015-12-15 11:50] vleschuk commented on #654
The main function performs the following work with libuv handles:

Initialize uv_tcp_t handle
[code]
Create a uv_write_t object:
[code]
Fill in the uv_buf_t structure:
[code]
Send the request and tcp handle to worker process:
[code]
Perform cleanup:
[code]

[2015-12-15 12:10] bnoordhuis commented on #654
There is a bug in your cleanup code, it closes the handle and immediately frees the memory.  Free the memory in the callback, likewise for the write request.

[2015-12-15 13:20] vleschuk commented on #654
Thanks a lot, I'll give it a try!

[2015-12-15 13:20] #654 closed

[2015-12-15 13:28] atrauzzi commented on #643
Really?  I thought 1.x wasn't available at all?

[2015-12-15 13:35] lucab commented on #643
Current status:
[code]
and
[code]

[2015-12-15 13:57] atrauzzi commented on #643
:tada:

Thanks @lucab!  I'll leave it to you guys to either close or defer this ticket.  I'm sure being packaged in the default releases is sufficient, but maybe there is still a compelling argument for offering a PPA in the future in case distros don't keep up.

[2015-12-15 14:13] saghul commented on #643
Closing then!

[2015-12-15 14:13] #643 closed

[2015-12-15 21:12] Adam-K-P opened #655 "ACL operations in fs.c"
Hi,

I want to add ACL operations (set and get) into fs.c.

There is interest with the neovim project for these functions, so I'm wondering if there is interest here as well before I start working on them.

[2015-12-15 21:12] saghul commented on #655
Can you sketch up an API proposal?

[2015-12-15 22:07] Adam-K-P commented on #655
I just drafted this up; this is my first API proposal, so I'd be happy to clarify anything I'm missing.

**Overview:**

This API would allow for thread safe ACL file operations.

**Implementation:**

I would include these functions in fs.c.  I'd  work with the fs API (uv_fs_t, INIT, PATH,  POST, etc.) as I believe they would be useful for implementing the ACL functions.  I'd first implement the ac

[2015-12-15 22:46] bnoordhuis commented on #655
I think this is the related to or the same as https://github.com/libuv/libuv/issues/234?

[2015-12-16 06:15] saghul commented on #655
Oh, looks like it indeed. @Adam-K-P mind dropping by #234?

[2015-12-16 18:12] Adam-K-P commented on #655
Yes, I will start looking at it today, thanks for finding that.

[2015-12-16 18:52] Adam-K-P commented on #234
Hi, how is this progressing?

I'd like to help with this, but I can't find any of the xattr code @heshamsafi worked on in master or any PR.

[2015-12-16 19:39] heshamsafi commented on #234
yes, i'd like to resume working on this and i'd love some help.
shamefully, I stopped working on this months ago.
but here is where i stopped.
I finished this feature for linux and wrote some unit tests for it.
I then wrote the implementation for BSD, Apple/Darwin and AIX ( but I did not test those, i just followed the manuals )
there was a problem with dragonfly but i decided to leave it till all

[2015-12-16 19:55] Adam-K-P commented on #234
That would be great if you could upload it.  Unfortunately, I use and am most familiar with Linux, but I'll certainly try to help.  I'm on vacation now, so I've got a lot of extra time right now to try and get some stuff working.

[2015-12-16 20:54] heshamsafi commented on #234
I pushed my latest code onto heshamsafi/libuv.
clone it, build it and take a look at the code changes.
I just realized I lost the fs_xattr_write test from test/test-fs.c when i wiped my drive a while back, so you can start by rewriting the test I lost as a ramp up exercise when you are up to speed.
finally, feel free to ping me on the fork repo to avoid bloating this thread needlessly.

again, tha

[2015-12-17 08:37] saghul commented on #34
@sztomi thios is good work, thanks! I'll need a few days to work through the mail pile, but this is a good start IMHO.

[2015-12-17 08:37] saghul commented on #655
Closing in favor of @234 then.

[2015-12-17 08:37] #655 closed

[2015-12-17 08:56] zhaozg commented on #34
Need this feature thanks

[2015-12-17 09:54] sztomi commented on #34
@saghul cool, then I'll try to whip out an initial implementation on my fork and let you know here when I have something to show.

[2015-12-17 12:01] saghul commented on #318
Closing, see reasons here: https://github.com/libuv/libuv/pull/657#issuecomment-165408626

[2015-12-17 12:01] #318 closed

[2015-12-19 08:37] cadrian opened #658 "stdout redirection fails"
I have a simple program that writes to stdout using a `uv_poll_t` handle, then exits.

The program works well when I simply start it from a console; but it fails when I redirect the standard output to a file; it gets a SIGABRT signal.

Using strace, I see the following:
[code]

Full strace file attached.
[test_log.strace.zip](https://github.com/libuv/libuv/files/67421/test_log.strace.zip)

I use l

[2015-12-20 02:21] bnoordhuis commented on #658
https://github.com/libuv/libuv/pull/659 for a possible fix.

[2015-12-20 06:22] zhaozg opened #660 "How to avoid all threads in pool blocked??"
Hi all, please think this.
fs operation be worked in threadpool, and uv_queue_work maybe launch threads to use all idle threads and need long time to finish,  so main loop will never get async result of fs operation. This should be avoid, and now I don't know how to solve it.

Now I need do simple hack to check idle_threads > 1 before call uv_queue_work, that will sure keep a idle thread to do ser

[2015-12-20 06:50] fivdi commented on #660
One possible solution would be to increase the thread pool size by setting the UV_THREADPOOL_SIZE environment variable. See http://docs.libuv.org/en/latest/threadpool.html

[2015-12-20 06:55] zhaozg commented on #660
Hi @fivdi thread pool size is not good idea, we can't control service scale to under UV_THREADPOOL_SIZE

[2015-12-20 08:23] zhaozg commented on #660
Now I use a counter, inc it before queue work, and dec it after get result, keep counter less than UV_THREADPOOL_SIZE -1, so fs operation have chance to be done.

[2015-12-20 08:23] #660 closed

[2015-12-20 08:54] cadrian commented on #658
Well, #659 is a good step forward assuredly. If I understand the code (did not try yet), it propagates an error to the callback. That's great indeed and thank you; however to me it is "just" good behaviour to do that instead of crashing.

Now once I catch the error in my callback, how do I proceed? I really want to write to stdout using a libuv handle.

As I am new to this library, I may have miss

[2015-12-20 12:51] bnoordhuis commented on #658
You would normally use `uv_tty_init()` instead of `uv_poll_init()` for stdio file descriptors.  That also unlocks functionality for switching to/from raw mode and getting the terminal size.

[2015-12-20 19:59] cadrian commented on #658
I tried to use tty. If I understand correctly, except of polling I need to use `uv_write()` because tty is a stream. Is that right?

Here is what I get when I redirect stdout:

[code]

What do I miss? I don't understand how it is supposed to work.

Thanks

[2015-12-21 12:45] bnoordhuis commented on #658
You need to make sure that you hand it a file descriptor that is pollable (tty, pipe, socket.)

If you look at how node.js implements `process.stdout` and friends, it sniffs the file descriptor with `uv_guess_handle()` and then creates a handle of the appropriate type.

If the file descriptor refers to a file, it uses `uv_fs_write()` instead.

[2015-12-21 16:39] fcelda commented on #419
@saghul @vavrusa Any update on this?

[2015-12-21 20:30] cadrian commented on #658
It works, thank you very much!

[2015-12-22 08:25] saghul commented on #419
No updates from my side, sorry. I've been busy with many things and didn't have the time to follow up on everything :-S

I'll add a label so I don't forget to re-check this.

[2015-12-23 07:03] gaoxiaojun opened #663 "Portable atomics?"
As awalton open issue #726 on 28 Feb 2013, we also think portable atomics library would be great.

[2015-12-24 10:02] ywxzm opened #664 "java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__cmsg_nxthdr" referenced by"
Hi, on my android device, has this error

java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "__cmsg_nxthdr" referenced by ...

NDK Version:10e
SDK API 22
Device Version Android 4.4.4

and in Android NDK, Revision 10b (September 2014) History:
Made the following fixes to the Android-L headers:

Renamed cmsg_nxthdr to __cmsg_nxthdr.

[2015-12-24 10:42] saghul commented on #664
How are you compiling / using libuv?

[2015-12-25 01:58] yangxikun opened #665 "make error : make: *** [libuv.la] Error 1"
[code]
I have search in google, but still don't know how to fix it. Please help.
My system is centos 7(3.10.0-229.el7.x86_64)

[2015-12-25 02:04] ywxzm commented on #664
LOCAL_PATH := $(call my-dir)

include $(CLEAR_VARS)

my Android.mk, Thanks

LOCAL_MODULE := uv_static

LOCAL_MODULE_FILENAME := libuv

LOCAL_SRC_FILES := 	src/unix/android-ifaddrs.c \
				    src/fs-poll.c \
					src/inet.c \
					src/threadpool.c \
					src/unix/async.c \
					src/unix/core.c \
					src/unix/dl.c \
					src/unix/fs.c \
					src/unix/getaddrinfo.c \
					src/unix/getnameinfo.c \

[2015-12-25 02:29] ywxzm commented on #664
in API 15: socket.h,
#define CMSG_NXTHDR(mhdr, cmsg) cmsg_nxthdr((mhdr), (cmsg))
and in API 21
#define CMSG_NXTHDR(mhdr, cmsg) __cmsg_nxthdr((mhdr), (cmsg))

[2015-12-26 11:37] #665 closed

[2015-12-28 08:19] saghul commented on #664
We just use `CMSG_NXTHDR`, so I'm not sure what libuv can do here. I'm going to close this, since it's a platform issue specific to Android. We support API level >= 14 (IIRC) on a best effort basis.

Alternatively, try to compile libuv using the provided android-configure script and see if that makes any difference.

[2015-12-28 08:19] #664 closed

[2015-12-29 22:11] aloisdg opened #666 "How to uninstall libuv 1.4.2 in Archlinux?"
Hello,

I installed through `make install` this old version of libuv in my Archlinux. I am looking to uninstall it but I dont know how. AFAIK, there is no checkinstall on Archlinux and I cant find a `make uninstall` in the libuv's Makefile. Any workaround to uninstall libuv?

If it matters, I installed it after reading this blog's [post](http://barocio.net/2015/08/getting-started-with-aspnet-5-on-

[2015-12-29 22:49] aloisdg commented on #666
[found a solution](https://bbs.archlinux.org/viewtopic.php?id=56373). Sorry for the post. Thank you.

[2015-12-29 22:49] #666 closed

[2016-01-02 01:13] donnyhardyanto commented on #401
I have similar problem. The problem triggered when 2 client accessing in same times, or by load test 1000 requests sequentially.

I tried to use #565, but error:
[code]

[2016-01-02 01:54] ljoaquin opened #667 "assert failed on "tv.tv_sec == timebase.tv_sec" on a xcode build"
I saw two lines in runer-unix.c like this:
    /* Check that gettimeofday() doesn't jump back in time. */
    assert(tv.tv_sec == timebase.tv_sec ||
           (tv.tv_sec == timebase.tv_sec && tv.tv_usec >= timebase.tv_usec));
which cause a assert failed in xcode.
Did you mean "tv.tv_sec >= timebase.tv_sec" at the first line?

[2016-01-02 13:17] septag opened #668 "Need help on closing sockets synchronously"
I'm trying to cleanup Tcp socket peers on application shutdown.
Currently I'm using ```uv_close``` / ```uv_shutdown``` and call a ```uv_run``` with ```UV_RUN_ONCE``` flag. But I guess there is no guarantee that the call to ```uv_run``` calls the callbacks right after issuing close/shutdown requests.
What can I do to gracefully close the handles and wait for them to finish on program exit ?
thanks

[2016-01-02 16:26] bnoordhuis commented on #668
Use `uv_walk()` to close all open handles, then call `uv_run(UV_RUN_DEFAULT)` again.

Aside, can you post questions to the mailing list?  We try to keep the bug tracker restricted to bug reports and feature requests.  Thanks!

[2016-01-02 16:26] #668 closed

[2016-01-03 02:14] saper opened #669 "Default worker thread stack size (Mac OS X mostly)"
When running a foreign C++ code in a worker thread (https://github.com/sass/node-sass/issues/1289) we have run into a [Mac OS X limitation](https://developer.apple.com/library/mac/qa/qa1419/_index.htm): a default stack size for `pthread_create()`'d threads seems to 512 kilobytes.

I am still not sure how to handle this properly, the symptom of a problem are crashes only when the application runs i

[2016-01-03 02:19] saper commented on #669
Some random thoughts:

* Having a stack size configurable does not seem to be a good solution, since this is very platform specific (https://github.com/libuv/libuv/issues/408 fixed by https://github.com/libuv/libuv/pull/429).

* A knob (`UV_THREAD_LARGE_STACK`) in the environment? (ugly)

* Mac OS X-only `pthread_attr_setstacksize` call?

[2016-01-04 07:51] saghul commented on #401
Latest Node already has the patch applied.

[2016-01-04 07:51] saghul commented on #667
We are not seeing this failure in the buildbots, how are you triggering it?

[2016-01-04 08:31] saghul commented on #669
Hum, looks like the first thread is created with a default stack size of 8MB (or whatever was set with RLIMIT_STACK, check uname -s), but subsequent threads are created with 512 bytes: https://developer.apple.com/library/mac/qa/qa1419/_index.html

Maybe we should increase the stack size of worker threads to a higher value, or maybe even read RLIMIT_STACK and use that? WDYT @bnoordhuis ?

[2016-01-04 10:02] bnoordhuis commented on #667
It does look like a logic error to me; it should be `>` instead of `==`: https://github.com/libuv/libuv/pull/670

[2016-01-04 10:05] bnoordhuis commented on #669
Basing the new thread's stack size on RLIMIT_STACK seems reasonable to me.

[2016-01-04 10:45] saghul commented on #669
Ok, I'll cook a patch :+1:

[2016-01-04 11:21] #667 closed

[2016-01-04 11:45] saghul commented on #669
@saper can you try #671 ?

[2016-01-05 08:08] #669 closed

[2016-01-05 16:13] saper commented on #669
Thanks for pushing this forward, much appreciated @saghul !

[2016-01-05 21:29] amurzeau opened #676 "win: tests fail to build with shared library and VS < 2015 (missing snprintf symbol)"
When compiling with VS2010 and in shared mode, tests (run-tests and run-benchmarks) fail to build with this error:
run-tests:
[code]
run-benchmarks:
[code]

(The command used to compile libuv is `vcbuild.bat shared x64 debug`)

A workaround is to add `src/win/snprintf.c` to run-tests and run-benchmarks sources :
[code]

But I'm not sure if it's the best way to handle that.

[2016-01-06 01:54] jbergstroem commented on #612
@konobi suggesting you stick with the base64-lts branch of smartos; currently at 14.4.4.

[2016-01-06 15:46] saghul commented on #676
Hi! That's probably the best way to handle it. Mind sending a PR?

[2016-01-08 14:37] owt5008137 opened #679 "uv_close() miss uv_close_cb callback when fd is connected but not accepted by peer"
libuv-win32 version 1.8.0:

Steps:

1. handle1: listen a address using *uv_listen()*  (for example, 127.0.0.1:16387)
2. handle2: connect to the address using *uv_tcp_connect()*  (127.0.0.1:16387)
3. handle2: trigger **uv_connect_cb**  in *uv_tcp_connect\(\)*
4. handle2: send some data and return 0
5. handle2: close it using *uv_close()*  (handle1 has not trigger accept callback now)
6. now, handle

[2016-01-08 20:34] bnoordhuis commented on #679
/cc @piscisaureus - windows issue?

[2016-01-11 03:35] guotie opened #680 "uv__io_poll wait infinite"
I use uv_close, and the loop did not exit, so i use gdb attach to it, and I found it run at uv__epoll_wait, and wait infinitely.

[2016-01-11 08:41] saghul commented on #680
Can you post a test case or a way to reproduce it?

[2016-01-11 08:44] gabrielschulhof opened #681 "Please report hangup to uv_poll_t callback"
Quoting @bnoordhuis from https://github.com/joyent/libuv/issues/623:

[2016-01-11 08:59] santigimeno commented on #681
Probably related: https://github.com/libuv/libuv/pull/403 as it handled:  `EPOLLRDHUP / EV_EOF` to reduce the number of `ECONNRESET` events (it was initially merged but later on reverted as it was causing some false positives in nodejs).

[2016-01-11 09:35] owt5008137 commented on #679
I have finaly found the problem. I use the apis in a wrong way.

I tried to recycle all connection and then close the uv_loop_t
[code]
in a callback function, and then blocked.

But these bug will not be triggered in linux because the order differ from windows。(accepted first and finished all request， then do the left things)

In my program，I use reference count to make uv_loop_t always available

[2016-01-11 09:35] #679 closed

[2016-01-11 14:14] txdv commented on #681
@santigimeno Can you link to the commit which was merged/reverted?

[2016-01-11 14:18] santigimeno commented on #681
Commit: https://github.com/libuv/libuv/commit/05a003a3f78d07185b7137601fe8e93561855a8d
Revert: https://github.com/libuv/libuv/commit/01544d861b9e11f844d482a80bc557dd9b803c8c

[2016-01-11 14:27] santigimeno commented on #681
Also there was a bug in the commit that should've been resolved by https://github.com/libuv/libuv/pull/474/ but was dropped as the commit was finally reverted.

[2016-01-11 14:38] txdv commented on #626
Your assumption seems correct, I'm trying to figure out if the functions has some kind of indicator, like, "I missed some files because the buffer is full" but I can't find anything one could work with.

The only solution seems to 'make the buffer size bigger'.

[2016-01-11 18:37] jorangreef commented on #626
I have been testing a few different buffer sizes from 4096 through to 65536 (the limit for using ReadDirectoryChangesW on network drives). It might be that there's a sweet spot between buffer size and missed events, i.e. bigger might be better up until a point, but then with diminishing returns after that, possibly because of increased latency between buffer processing, I'm not sure. I have some r

[2016-01-11 19:10] txdv commented on #626
Did you see less 'missed event' occurrences with a bigger buffer size?

[2016-01-11 20:53] Fishrock123 commented on #428
Any status of this @bnoordhuis?

[2016-01-14 14:39] leodutra commented on #552
State?

[2016-01-14 14:54] saghul commented on #552
I don't think anyone is working on this at the moment.

[2016-01-14 15:02] mabels commented on #552
Hey,

I do working on it, it is slow but there are some solved, but I'm still far
away from a plugin play solution.

meno

On Thu, Jan 14, 2016, 15:54 Saúl Ibarra Corretgé <notifications@github.com>
wrote:

[2016-01-14 16:22] leodutra commented on #552
Great @mabels. I'd like to be good enough in `C`.
Is there any branch?

[2016-01-14 20:33] amurzeau commented on #302
SO_KEEPALIVE can only enable or disable keepalive, TCP_KEEPALIVE is used to set timers (tcp.c code)
SIO_KEEPALIVE_VALS IOCTL seems to be another way to set keepalive timers. Rust-lang use the latter (https://doc.rust-lang.org/net2-rs/net2/trait.TcpStreamExt.html#tymethod.set_keepalive_ms)

[2016-01-14 22:32] bnoordhuis commented on #428
No status.  I'll close this.

[2016-01-14 22:32] #428 closed

[2016-01-14 22:33] bnoordhuis commented on #680
No follow-up, closing.

[2016-01-14 22:33] #680 closed

[2016-01-14 23:17] mhdawson opened #685 "Add PPC BE and PPC LE to CI runs"
I'm thinking we should add the PPC BE and PPC LE machines to

https://ci.nodejs.org/job/libuv+any-pr+multi/

Like I did for the Node CI jobs.

Does this make sense ?

[2016-01-15 08:06] saghul commented on #685
@mhdawson sure! and thanks!

[2016-01-15 21:18] mhdawson opened #686 "pipe_close_stdout_read_stdin - Intermittent - PPC BE Fedora 20"
Intermittent - seen once since PPC BE added to regression CI job

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=ppcbe-fedora20/230/console

[%   9|+  26|-   0|T   0|S   0]: pipe_close_stdout_read_stdin
`pipe_close_stdout_read_stdin` failed: exit code 6
Output from process `pipe_close_stdout_read_stdin`:
Assertion failed in test/test-pipe-close-stdout-read-stdin.c on line 86: uv_run(uv_default

[2016-01-15 21:20] mhdawson opened #687 "threadpool_multiple_event_loops - PPC BE Fedora"
Failure in all runs since PPC BE added to regression CI job

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=ppcbe-fedora20/230/console

[%  94|+ 255|-   1|T   0|S   2]: threadpool_multiple_event_loops
`threadpool_multiple_event_loops` failed: timeout

[2016-01-15 21:32] mhdawson commented on #685
Added PPC BE and PPC LE, latest run

https://ci.nodejs.org/job/libuv+any-pr+multi/231/

[2016-01-15 22:07] mhdawson commented on #685
Interestingly on the #osuosl (where the PPC machines are hosted) channel I see some discussion that sounds like similar issues:

12:34 PM <•pwnguin> fatal: unable to access 'https://github.com/buildbot/buildbot-infra.git/': gnutls_handshake() failed: Error in the pull function.
12:35 PM ⇐ blueness quit (~blueness@gentoo/developer/blueness) Quit: blueness

So it might be related to a temporary issu

[2016-01-18 19:08] Fishrock123 commented on #428
@bnoordhuis does @saghul's comment mean this is handle-able in node?

I mean given this silly ongoing stdio-not-flushing on fast process exit thing, if there is something reasonably do-able, I'd like my hand at it.

[2016-01-18 22:14] iWuzHere commented on #686
The issues is caused when child process gets to
[code]
before the parent has closed the write end of the pipe.

[2016-01-19 11:17] bnoordhuis commented on #428
It should be, although it probably means a lot of dreary moving code around.  One edge case where it won't work is exiting from a signal handler.

[2016-01-19 17:39] Purgator commented on #666
How did you do ?
Your link is not the solution.

[2016-01-19 17:55] aloisdg commented on #666
A copy/paste the wrong link. I don't remember what I did. Sorry.

[2016-01-19 19:34] Purgator commented on #666
Ahahahah ! Don't mater, i did like this :
download libuv, and make unistall from the makefile folder. Ez !

[2016-01-19 22:28] iWuzHere commented on #687
There seems to be a lot of fs related operations happening in that test. It could come down to the fs issues on AIX.

[2016-01-21 14:56] jorangreef opened #693 "win: fs-event.c crashes on Windows"
I have been working on a backup tool which makes use of fs.watch via Electron.

A fuzz test was causing the process to crash after 20 minutes on Windows 10 but not on Windows 7 and I have been tracking this down for the past few months. There are no native modules in use, only core modules. I originally filed atom/electron#3978 with Electron thinking the problem lay in a major Electron update (it

[2016-01-21 15:00] saghul commented on #693
Do you have any backtrace? Where does the crash happen? (sorry, I do not have a Windows 10 system where I can attempt to reproduce this)

[2016-01-21 15:01] jorangreef commented on #693
I will try to get it for you. Can you give me some tips to capture this when running the gist via Node?

[2016-01-21 15:29] jorangreef commented on #693
I think the crash happens when fs-events.c processes the filenames it receives back from ReadDirectoryChangesW. I think it does not always calculate the length of buffers correctly on Windows 10 specifically.

[2016-01-21 23:33] #658 closed

[2016-01-22 10:07] jorangreef commented on #693
I installed mingw 64-bit on Windows 10, and used gdb to try and get a backtrace:

[code]

[2016-01-22 10:23] saghul commented on #693
Sadly the bt doesn't tell us much. I think you cannot use GDB to debug it like this, because it wasn't built with MinGW. Maybe @piscisaureus or @orangemocha can help?

[2016-01-22 10:27] jorangreef commented on #693
Do you mean Node? Would it help if I built Node on Windows using MinGW? Is this possible?

[2016-01-22 10:36] jorangreef commented on #693
I also get this occasionally when using Debug\node.exe:

![image](https://cloud.githubusercontent.com/assets/413206/12508474/ca533b4a-c104-11e5-9a30-6267896019b5.png)

[2016-01-22 10:40] jorangreef commented on #693
Also, the crash happens almost every time with the Release build of Node, but only every 4th or 5th time with the Debug build (and then it's a 50/50 whether the above Debug Error dialog is shown).

[2016-01-22 10:47] jorangreef commented on #693
@whitlockjc would you be able to try this gist https://gist.github.com/jorangreef/c9d9014abf53ae6d5ec4 to see if `fs-event.c` crashes on Windows 10? I think there's a buffer overflow somewhere.

Normally, the gist will wait 5 seconds and then log `PASSED`. If it crashes, it will just crash immediately after starting. It's not reproducible on Windows 7, but I can get it every time with a Release bu

[2016-01-22 11:33] jorangreef commented on #693
I don't know if it helps but I also managed to get a minidump using procdump, and then got this with it in Visual Studio:

![image](https://cloud.githubusercontent.com/assets/413206/12509644/83c9ec3e-c10c-11e5-9a3c-6c4092ed4495.png)

![image](https://cloud.githubusercontent.com/assets/413206/12509664/a33f7566-c10c-11e5-8f4e-93e82452a4ba.png)

[2016-01-22 12:56] saghul commented on #693
Smells like a double free, I'll take a look and see if there is something
overlooked there.
On Jan 22, 2016 12:33, "Joran Dirk Greef" <notifications@github.com> wrote:

[2016-01-22 16:21] whitlockjc commented on #693
I can give it a peek.

[2016-01-22 16:22] whitlockjc commented on #693
I'll need to install Windows 10 so it might take some time but once I get my environment ready, I'll give this a spin.

[2016-01-22 17:06] jorangreef commented on #693
Thanks @saghul and @whitlockjc

I was looking through fs-event.c and saw this allocation in `uv_relative_path ` at https://github.com/libuv/libuv/blob/v1.x/src/win/fs-event.c#L73:

`*relpath = uv__malloc((MAX_PATH + 1) * sizeof(WCHAR));`

MAX_PATH I think is 260 characters (in UTF-16 I think).

One of the paths created by the gist is around 298 characters and some of these characters are also in N

[2016-01-22 17:25] saghul commented on #693
Could be, but the APIs we use should truncate it the paths. I had a quick look earlier, but that code is quite hard to follow.

At any rate, it looks like a double free: the content of the pointer is 0xDD, which Microsoft apparently uses to signal Dead Memory: http://stackoverflow.com/a/370362

[2016-01-25 09:29] jorangreef commented on #693
I double-checked and according to https://msdn.microsoft.com/en-us/library/windows/desktop/aa364980(v=vs.85).aspx, `GetLongPathNameW` may return a `size` greater than `MAX_PATH` in some instances if the watched directory is a UNC path. This is the case when `fs.watch` is called from Node.

In this case, `uv_relative_path` would overflow `relpath` when copying the relative portion of `filename` to

[2016-01-25 10:09] saghul commented on #693
Sure, feel free to send a PR, we will need a test for it. You can create some fixture files for this. I'll try to rewrite some of that logic for clarity as a follow-up.

[2016-01-25 10:43] jorangreef commented on #693
I looked through `test-fs-event.c`. I think everything can be re-used as is with the following changes:

1. The `subdir` and `file_prefix_in_subdir` prefixes need to be padded with 200 placeholder characters each (e.g. "_") on Windows to make them long enough (around 200 characters each) to trigger the buffer overflow when they are combined together into a path. They should each on their own be le

[2016-01-26 01:34] mhdawson commented on #687
There must have been some confusion, the issue was not reported on AIX so excluding the test is not going to help.  The issue is on PPC BE linux.

[2016-01-26 09:05] saghul commented on #685
Closing since these have been enabled now. Thanks @mhdawson!

[2016-01-26 09:05] #685 closed

[2016-01-26 09:06] saghul commented on #693
I could reproduce it on Windows 7 with your test case, thanks @jorangreef! I'll add this to my pile of things, but if someone wants to take a stab at fixing it in the meantine, that would be great :-)

[2016-01-26 09:41] jorangreef commented on #693
Thanks @saghul can I do a PR just with the fix then in the meantime?

[2016-01-26 09:41] saghul commented on #693
Sure!

[2016-01-26 21:16] amurzeau commented on #489
while working on this issue, I found that enabling this feature slow down performance on Windows 10 unlike Windows 8 (I get better results only on Windows 8/8.1).
I get similar performance loss as here: http://stackoverflow.com/questions/31742501/fast-loopback-on-windows-10-with-weird-hyperthreading-results.

Has anyone got better loopback performance with this feature enabled on Windows 10 ?

(In

[2016-01-28 08:07] saghul commented on #489
Did you also perform the Windows 8/8.1 tests on a VM? I wonder if that had any impact on the results...

[2016-01-28 09:48] amurzeau commented on #489
I did the test Windows 8.1 on a VM and got the performance boost. Both (Windows 8.1 and 10) are on Virtual Box with 2 virtualized CPU cores (and same physical host). (Also, Windows 10 is fully updated)

So I wonder if this is caused by Windows 10 itself or something else.

[2016-01-28 09:58] saghul commented on #489
At any rate: can this option be set at any time after the socket was created? If so, we can leave it out of libuv and point users to `uv_fileno`, they can get the `SOCKET` and enable it manually.

[2016-01-28 10:24] amurzeau commented on #489
It can be set but only before uv_connect / uv_listen.

The idea I have it to do the following:
- uv_tcp_init enable or disable fast path based on OS version (so enable it only on Windows 8/8.1)
- optionally the user call a new function like "uv_tcp_fastpath" so override the default (and for example enable fastpath on Windows 10)
- When calling uv_connect or uv_listen, do the IOCTL if the feature i

[2016-01-28 10:37] saghul commented on #489
In that case, and given that this option only works in such a small subset of versions I'd rather not add a new API call for it. It's currently possible to do it outside of libuv: create the socket early with `uv_tcp_init_ex`, get the socket handle with `uv_fileno`, set the option, and Bob's your uncle!

[2016-01-28 12:43] benaadams commented on #489
While I don't doubt your results; this feels like a  regression or O/S bug? Though it would need to be fixed before become default behaviour.

[2016-01-29 10:54] ujsxn opened #703 "win: tcp-shutdown-after-write.c on line 69: r == 0"
win10 vs 2012, the error msg is:

`tcp-shutdown-after-write.c on line 69: r == 0`

r = uv_write(&write_req, (uv_stream_t*)&conn, &buf, 1, write_cb);
ASSERT(r == 0);//the r is -4047

[2016-01-29 10:57] ujsxn commented on #703
As the program connect a tcp handle without listen and accept.
I think this couldn't work on windows

[2016-01-29 11:25] saghul commented on #703
Our CI runs Windows 7 and 2012 and we see no failures. Does it only happen on Windows 10 for you?

[2016-01-29 11:45] ujsxn commented on #703
All right then, and there is no need to use it like that.>_<

[2016-01-29 11:46] saghul commented on #703
I'm confused. Use it like what? It's possible that a test fails on a given version of Windows, but it's not clear to me how the test is failing for you...

[2016-01-29 11:52] ujsxn commented on #703
I think tha there is no server in this test case :
connect without a listen and accept
So, I think there is no need to do this .

[2016-01-29 13:05] ujsxn commented on #703
I found that in **test-tcp-connect-error-after-write.c**
there is a comment:
[code]
I think the situaton is the same:
Try to connect to an address on which nothing listens

[2016-01-29 14:07] saghul commented on #703
The test passes on platforms we test on. On what **specific** platform are you having problems?

[2016-01-29 15:47] ujsxn commented on #703
win10 pro ,VS2012 ultimate(update 5)

[2016-01-31 12:37] alexhultman opened #704 "uv_poll_t performance question"
I'm looking at uv_poll_t which is the closest I can find for porting ev_io watchers over to uv. In libev these watchers are high perf and can use e.g. epoll. The libuv documentation warns about poor performance of uv_poll_t and much points towards it using poll as implementation.

This means my work in creating a Node.js wrapper for a high perf libev server is impossible without completely rewriti

[2016-01-31 16:28] bnoordhuis commented on #704
I think you misread the documentation.  Libuv uses epoll or whatever the high-performance poll API is on the platform it runs on.

What the documentation warns about is using `uv_poll_t` when e.g. a `uv_tcp_t` would do, that prevents libuv from applying a number of optimizations.

[2016-01-31 16:28] #704 closed

[2016-01-31 16:36] alexhultman commented on #704
So if a solution based on ev_io scales and performs very well - will a port to uv_poll_t perform similarly?

The doc is very fuzzy about this. You link directly to poll and state it will not scale as well as uv_tcp_t which made me very confused.

Thanks for clarification.

[2016-01-31 19:57] bnoordhuis commented on #704
Yes, it should.  If you can rewrite you code so that libuv is responsible for reading and writing, it should scale even better.

[2016-01-31 22:33] amurzeau commented on #489
After several tests, I only get this regression with libuv benchmarks (and my modifications).
Using plain sockets + fastpath, I get better performance as expected (1.4 gbits/s without fastpath and 2.5 gbits/s with fastpath) (same Windows 10 VM).

[2016-02-01 03:27] foresterre opened #705 "vcbuild.bat doesn't work with Visual Studio 2015"
Hello,

I am trying to build libuv on Windows 8.1 with Visual Studio 2015 (Update 1).
My python environment variable is set to Python 2.7.11.
Unfortunately gyp seems to fail on creating Visual Studio projects.

Issue #459 mentions a possible similar issue. However, according to this issue when the environment variable GYP_MSVS_VERSION is set to 2015, it should work.
I've tested building with and w

[2016-02-01 07:44] saghul commented on #705
I compiled it with it the other day, though with an old version of GYP. I'll give it a shot with the latest GYP just in case there is a problem with that.

[2016-02-01 07:53] saghul commented on #489
Hum. libuv does not use synchronous sockets, so if this improvement is only seen in that case, should we dicth it? Or am I missing something here?

[2016-02-01 08:02] benaadams commented on #489
The article suggests x1.4 improvement in latency for IOCP sockets (async) by bypassing the IP part of the networking stack for localhost when both endpoints have it enabled.

Obv at the same time wouldn't want regression with one side not using it or non localhost traffic - or oddly Win10 (Server2016)

[2016-02-01 09:38] bnoordhuis commented on #705
Does it work when you run `vcbuild.bat ia32` or `vcbuild.bat x64`?

Aside, I speculate this small patch to gyp_uv.py may be needed for an out-of-the-box build:
[code]

[2016-02-01 22:32] foresterre commented on #705
`if machine == 'AMD64': return 'x64'`
I had tried that as well yesterday, but surprisingly enough changing this line does today indeed work for me.

The `vcbuild.bat ia32` and `vcbuild.bat x64` still error.

[2016-02-02 07:40] #705 closed

[2016-02-02 11:00] zhaishuai opened #707 "How to set the source port in the UDP socket in libuv?"
How to set the source port in the UDP socket in libuv?

[2016-02-02 11:11] saghul commented on #707
Just bind it, by using `uv_udp_bind`.

Please use the mailing list for further questions (I approved your message now). Thanks!

[2016-02-02 11:11] #707 closed

[2016-02-02 15:03] zhaishuai commented on #707
Thanks for your reply. I am a beginer of libuv.
I want to use port 6883(it's just a example) send a message, so i use
uv_udp_bind but get an "*Invalid argument*" error. Could you help me figure
out where i am wrong . Thanks a lot : )

        uv_udp_init(loop, &sendSocket);

        uv_ip4_addr(ipv4.c_str(), port, &sendAddr);

        uv_buf_t buffer = uv_buf_init((char *)msg.c_str(), (unsigned in

[2016-02-02 15:35] saghul commented on #707
Please, use the mailing list.

[2016-02-02 15:53] zhaishuai commented on #707
thanks i have fix it

2016-02-02 23:35 GMT+08:00 Saúl Ibarra Corretgé <notifications@github.com>:

[2016-02-02 19:38] foresterre commented on #705
Thanks for solving this issue!

[2016-02-03 00:07] amurzeau commented on #489
Here are the benchmark I have done by mixing libuv's tcp_pump1_client benchmark and synchronous client and server (which use a loop of send() or recv()). I double checked these results as they are a bit weird ...

Windows 10 VM:

client | fastpath ? | server | fastpath ? | Performance test|
-------|------------|--------|------------|-----------------|
libuv  |   No       | sync   |   No       |  1

[2016-02-03 00:23] benaadams commented on #489
Is this a Win10 VM on Win8? Have two different Win10 machines; will give a go, and try on cloud server VM

[2016-02-03 01:34] benaadams commented on #489
I'm not seeing the degradation on Win10 raw (build 11082) though I had to change
`int r;`
to
`unsigned long r;`
to get it to compile; equally not getting a great jump in perf (minor). Investigating more

[2016-02-03 11:29] fliser opened #708 "Lots of implicit conversions that shorten 64 bit to 32 when compiling for iOS arm64"
I'm using libuv 1.8 release.

/3rd_party/libuv/src/fs-poll.c:187:25: warning: implicit conversion loses integer precision: 'ssize_t' (aka 'long') to 'int' [-Wshorten-64-to-32]
                   req->result,
[code]

[2016-02-03 22:36] amurzeau commented on #489
I changed the synchronous client & server buffer to 8KB I always get better performance with fastpath enabled on Windows 10 except when using libuv as both client and server.
When changing the tcp_pump1_client benchmark buffer from 8KB to 64KB, I get a performance boost with fastpath enabled (2.7 gbits/s without fastpath, 3.5 gbits/s with fastpath on the Windows 10 VM).
Also, with synchronous clie

[2016-02-04 02:29] 2ix opened #709 "`uv_close` failing to close `uv_listen` thread"
[code]

I have created a tcp server using `uv_thread_create` and as I attempt to `uv_close` the tcp server, it never calls `on_server_close` and therefore never gets past `uv_thread_join`.

What am I missing?

[2016-02-04 08:15] saghul commented on #709
Hi Ryan,

`uv_close` is not thread safe (see the docs [here](http://docs.libuv.org/en/v1.x/design.html#the-i-o-loop). That means you cannot call it from outside of the loop thread.

The usual way to approach this when the loop is running in another thread is to use a `uv_async_t` handle, because `uv_async_send` **is** thread safe. You could have one such handle and call `uv_stop` in its callback.

[2016-02-04 08:15] #709 closed

[2016-02-05 05:09] ujsxn commented on #676
+1

[2016-02-05 06:40] benaadams commented on #489
How are you doing the libuv to libuv? It isn't hitting anything related to this? (probably not, but just checking)

https://groups.google.com/forum/#!topic/libuv/5DAW1hViw0Q

[2016-02-05 07:52] saghul commented on #676
Ups, #678 landed already, closing!

[2016-02-05 07:52] #676 closed

[2016-02-05 09:45] amurzeau commented on #489
For libuv to libuv, I start `run-benchmarks.exe tcp_pump1_client` <hich spawn two process: one client and one server (the server is an helper: tcp_pump_server).
So I don't think it's related but I will check that anyway.

[2016-02-05 16:15] mhdawson opened #711 "Add AIX to libuv testing"
We have added an AIX machine to the Node CI and I've got a job which runs the Node regression tests on that machine: https://ci.nodejs.org/job/node-test-commit-aix/

I'd like to add to the libuv regression tests as well. (https://ci.nodejs.org/job/libuv+any-pr+multi/)

The first thing to do is probably to figure out how long it will take to run on the machine as its temporary relatively small.

[2016-02-05 21:46] mhdawson commented on #711
Seems like it only takes 5 mins

https://ci.nodejs.org/job/libuv+any-pr+multi-mdawson/3/nodes=aix61-ppc64/

so I think its reasonable to just add AIX to the existing job.

@saghul is it ok if I add it ?

[2016-02-05 21:46] saghul commented on #711
:+1: Fine by me! Due to our limited manpower, we'll try our best, but chances are we occasionally break something so we'll request your help :-)

[2016-02-05 21:54] mhdawson commented on #711
Understood.  At least we'll get a heads up.  There are currently a number of failures already which did not seem to affect our Node support but we already are have @iWuzHere working those.  I'll plan to open issues in this repo for tests that fail once I add AIX so that work is visible and if anybody else wants to jump in they can

[2016-02-05 21:56] saghul commented on #711
Ack! Feel free to close this once you've added it. Thanks!

[2016-02-05 21:56] mhdawson commented on #711
will do

[2016-02-05 22:18] mhdawson opened #712 "AIX - condvar_1 and condvar_5 tests failing"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
`condvar_1` failed: timeout
Output from process `condvar_1`: (no output)
=============================================================
</PRE>

[2016-02-05 22:21] mhdawson opened #713 "AIX - failure in test-pipe-close-stdout-read-stdin"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
`pipe_close_stdout_read_stdin` failed: exit code 393222
Output from process `pipe_close_stdout_read_stdin`:
Assertion failed in test/test-pipe-close-stdout-read-stdin.c on line 86: uv_run(uv_default_loop(), UV_RUN_NOWAIT) == 0
Assertion failed in test/test-pipe-close-stdout-

[2016-02-05 22:24] mhdawson opened #714 "AIX - failure in test-tty.c"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
`tty` failed: exit code 393222
Output from process `tty`:
width=152 height=61
Assertion failed in test/test-tty.c on line 117: r == 0
=============================================================

[%  10|+  25|-   4|T   0|S   0]: tty_file
`tty_file` failed: exit code 393222

[2016-02-05 22:25] mhdawson commented on #714
Looks like this was possibly supposed to fix:

[2016-02-05 22:29] mhdawson opened #715 "AIX - failure in test-stdio-over-pipes"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
[%  11|+  25|-   5|T   0|S   0]: stdio_over_pipes
`stdio_over_pipes` failed: exit code 393222
Output from process `stdio_over_pipes`:
exit_cb
Assertion failed in test/test-stdio-over-pipes.c on line 56: term_signal == 0
</PRE>

[2016-02-05 22:31] mhdawson commented on #715
@saghul you can assign this one to @iWuzHere as he'll be looking it

[2016-02-05 22:33] mhdawson opened #716 "AIX - failure in udp_multicast_join6"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
`udp_multicast_join6` failed: exit code 393222
Output from process `udp_multicast_join6`:
Assertion failed in test/test-udp-multicast-join6.c on line 132: r == 0
</PRE>

I wonder if this one might be a machine setup issue.

[2016-02-06 10:44] txdv commented on #711
Is it possible to get access to the machines? I might want to investigate those bugs in the future

[2016-02-08 11:21] ujsxn commented on #703
No error when using the run-test program, I just test it manualy.
I will check the conf in the project.

[2016-02-08 15:28] mhdawson opened #717 "AIX - pipe_sendmsg failure"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

<PRE>
`pipe_sendmsg` failed: exit code 393222
Output from process `pipe_sendmsg`:
Assertion failed in test/test-pipe-sendmsg.c on line 86: pending == UV_NAMED_PIPE
=============================================================
</PRE>

[2016-02-08 15:30] mhdawson opened #718 "AIX - process_title failure"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

`process_title` failed: exit code 393222
Output from process `process_title`:
Assertion failed in test/test-process-title.c on line 40: strcmp(buffer, title) == 0
=============================================================

[2016-02-08 15:57] mhdawson commented on #718
Not sure if this is related to https://github.com/libuv/libuv/pull/616 but would have thought that disabled the test so not sure whey it is running/failing

[2016-02-08 16:02] mhdawson opened #719 "AIX - fs related issues"
failure in newly added tests runs for AIX

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/250/console

The current fs watch functionality on AIX needs a feature configured and some configuration which is not in place for the tests.  We also plan to revamp it to make is easier to use.

The first step in this issue is to confirm all the failures are related to the fs watch functional

[2016-02-08 18:44] mhdawson commented on #711
@txdv I can give you temporary access when you want to debug.  Just open an issue on this repo (include @mhdawson)  with the ssh public key you want me to use and then I'll create a user you can log in with that key.

[2016-02-08 18:45] mhdawson commented on #711
Closing this issue as AIX is added and I've created issues for all of the failures seen

[2016-02-08 18:45] #711 closed

[2016-02-10 22:25] LPGhatguy opened #721 "win: Support ANSI Codes in new Windows 10"
*This is copied from chalk/chalk#98; I was directed here.*

It appears that [ANSI color codes have arrived in Windows 10](https://twitter.com/shanselman/status/695738082209853440) in the fast ring insider builds.

Would it be possible to target these new builds with ANSI color and formatting codes? Would it be useful to do that?

[Detection of support should just be a flag](https://twitter.com/sha

[2016-02-11 23:12] whitlockjc commented on #719
Any way to collapse all of these into a single issue with a task like like we did with FreeBSD in #128?

[2016-02-11 23:34] mhdawson commented on #719
I assume you mean the ones in this issue as well as the AIX specific issues ?

[2016-02-11 23:58] whitlockjc commented on #719
I find it to be a little simpler to follow but it's not pertinent.  I just saw a number of AIX failures come in at the same time and figured I'd ask.  I'll let @saghul chime in.

[2016-02-12 01:14] 2ix commented on #550
I am able to create a `Release` version for windows with `vcbuild.bat` but how do I create a `Release` version for unix?

[code]

I've checked the files, can't figure it out. Maybe update documentation with how to build Unix Release?

[2016-02-12 08:32] saghul commented on #550
Hey Ryan, just sent a PR adding this :-) #722

[2016-02-12 08:34] saghul commented on #719
I'd have probably gone with a single issue because seeing issues never shrink is kinda frustrating at times, but since they have already been filled let's leave it as is.

[2016-02-12 08:35] saghul commented on #721
Since it can be detected at runtime, I guess pull requests are welcome :-)

[2016-02-14 05:45] vigith opened #727 "uv_spawn memory leak when command not found (libuv-1.8.0)"
I am seeing a memory leak when i do uv_spawn for which the options.file doesn't exist. I do know if we use [uv_strerror](http://docs.libuv.org/en/v1.x/errors.html#c.uv_strerror) it will leak for unknown error codes, but this is a known error code (even with uv_strerror commented out i still see the same leak).

More Context: I am writing a light weight remote execution program (daemon), since i am

[2016-02-14 05:58] yjhjstz commented on #727
related #551

[2016-02-16 08:09] saghul commented on #727
As I said on the mailing list, I think this is a false positive. I don't see how that function can return without freeing the pipes array.

Maybe valgrind gets confused? @bnoordhuis WDYT?

[2016-02-16 17:32] bnoordhuis commented on #727
Valgrind is probably complaining about the forked process.  It doesn't free `pipes` because why bother, it's going to call execve() anyway.

[2016-02-16 20:12] saghul commented on #727
I thought of that and added a free right before the execve, but it kept complaining... what gives?

[2016-02-16 21:09] bnoordhuis commented on #727
Try passing `--child-silent-after-fork=yes` to valgrind.

[2016-02-17 05:00] hrektts commented on #712
I have similar failure at condvar_1 and condvar_5 on a ppc32 Linux box as follows:
[code]
It seems to be caused by deadlock because the worker thread is run before the remaining parent thread is executed.

The following patch fixes this problem. However, it means that uv_cond_wait and uv_cond_signal are not tested.
[code]

[2016-02-17 07:52] saghul commented on #712
@hrektts mind sending that as a Pull Request? Thanks!

[2016-02-17 15:33] mhdawson commented on #712
Does it have anything to do with the sleep times ?
uv_sleep(100);

ie would it pass if the sleeps were longer ?

[2016-02-17 15:44] saghul commented on #712
I guess so, but generally we should wait for the condition to be set in a loop, to avoid spurious wakeups.

[2016-02-17 15:44] mhdawson commented on #712
Agreed was just trying to understand if there was a better option than just disabling

[2016-02-18 05:53] hrektts commented on #712
I was in the same situation as @mhdawson . Hope the PR resolve this problem. Please feel free to correcting any mistakes!

[2016-02-18 08:45] saghul commented on #727
@bnoordhuis yep, that did it. laso this small patch, but I'm not sure if we want to do that since we `execvp` right after:

[code]

[2016-02-18 11:02] bnoordhuis commented on #727
Yeah, not much point and probably not 100% effective, either.  To really make valgrind shut up we'd have to `uv_loop_delete()` the current event loop.

[2016-02-18 11:05] saghul commented on #727
Ah true that. Closing as wontfix then :-)

[2016-02-18 11:05] #727 closed

[2016-02-22 04:33] 2ix opened #730 "setsockopt unknown error with uv_fileno"
[code]

I'm unsure why I am getting `Error Unknown error -1` with `setsockopt`, is this a bug with `libuv` or am I doing something wrong?

[2016-02-22 08:20] saghul commented on #730
If `setsockopt` fails it return -1 and the error is set in `errno`. For that option level you have to use an integer, AFAIS, not a const char.

Also, FWIW, libuv will set SO_REUSEADDR automatically when you bind the tcp handle.

[2016-02-22 09:51] 2ix commented on #730
@saghul Sorry wasn't thinking straight. You're right `SO_REUSEADDR` is being applied in `libuv` when binding the tcp handle but errors with `address already in use` so I have tried a similar appoarch with this example below, but again the same `address already in use` error.

I can't figure out why either `libuv` or manually setting with `setsockopt` isn't working.

[code]

[2016-02-22 23:05] 2ix commented on #730
@saghul I have it working manually but `libuv` seems to cause `address already in use` when trying to do it internally. Below is a threaded example, please uncomment `#define MANUAL` for `libuv` to handle automagically to see the error.

[code]

[2016-02-23 08:16] saghul commented on #730
I'm confused. You initially mentioned SO_REUSEADDR, but your last example has SO_REUSEPORT. They have different implications depending on the platform, and libuv never sets SO_REUSEPORT for tcp handles.

If you are on Linux with a recent enough kernel to support SO_REUSEPORT and all the tcp sockets you bind to a given address set it the kernel will load balance amongst the sockets, but if you try

[2016-02-23 08:38] 2ix commented on #730
Ah I feel stupid, I meant `SO_REUSEADDR`. I've updated the example above, now it won't work. I must be missing something because now manual/libuv errors are consistent. Kernel 4.2.0

[2016-02-23 08:41] 2ix commented on #730
Looks like I've gotten confused myself, I thought `SO_REUSEADDR` was to allow the same port to be bound to by multiple threads. As you say, `SO_REUSEPORT` is what I wanted.

I apologise for wasting your time.

[2016-02-23 08:41] #730 closed

[2016-02-23 14:11] cjihrig opened #731 "Proposal: uv_getlogin()"
If the maintainers are OK with it, I'd like to take a shot at implementing a `uv_getlogin()` function.

I talked to @saghul about this a while back on IRC ([logs](http://logs.nodejs.org/libuv/2015-12-14#20:57:41.595)). He suggested creating a `uv_uid_t` containing a `char *` for the username, and a `uid_t` for the uid, which would be -1 on Windows. He also suggested opening an issue here to get mo

[2016-02-24 12:23] bnoordhuis commented on #731
The idea is to implement it as `getpwuid_(geteuid())`?  How are you going to copy out the username string when the `username` field is a `char*`?

Aside, I wouldn't call the struct `uv_uid_t` - it looks too similar to `uid_t`, which is not an aggregate type.

[2016-02-24 17:25] cjihrig commented on #731
@bnoordhuis I had pictured it working like `uv_os_homedir()` which calls `getuid()`, `getpwuid_r()` then copies the `pw_dir` field using `memcpy()`. Is there something special about the username that I'm missing?

[2016-02-24 18:01] bnoordhuis commented on #731
No, except that you mention "creating a `uv_uid_t` containing a `char *` for the username", which made me wonder who owns that memory.

[2016-02-24 18:10] cjihrig commented on #731
Ah, I see what you mean. The `uv_uid_t` (pending official naming) should probably own it.

[2016-02-24 19:49] bnoordhuis commented on #731
That could work but then we either need an accompanying `uv_getlogin_free()` or the username field should be a char array.

[2016-02-25 12:17] bnoordhuis opened #736 "linux: fopen() calls are not fork-safe"
[code]
Those should be using `open(filename, O_RDONLY | UV__O_CLOEXEC)` which can then optionally be passed to `fdopen()`.

For anyone wanting to work on this: keep in mind that the `open()` system call can fail with EINVAL on older kernels.  In that case you need to retry without the flag and call `uv__cloexec()` afterwards.  It's not race-free but it keeps the race window to a minimum.

[2016-02-25 15:56] iWuzHere commented on #718
from test-process-title.c
[code]

So am equally confused to why it failed.

However in later builds it is being skipped.
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/260/console

[code]

I guess this means that this issue can be closed?

[2016-02-25 15:58] iWuzHere commented on #714
From the latest build this is a passing test

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/260/console

[code]

[2016-02-25 16:01] iWuzHere commented on #715
Test is non-failing in build
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/260/console

[code]

[2016-02-25 16:04] iWuzHere commented on #716
This is also non-issue in recent builds
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/260/console

[code]

Can this issue be closed?

[2016-02-25 16:07] bnoordhuis commented on #716
Can and will.

[2016-02-25 16:07] #716 closed

[2016-02-25 16:08] saghul commented on #718
Yep, I guess so!

[2016-02-25 16:08] #718 closed

[2016-02-25 16:09] #714 closed

[2016-02-25 16:11] saghul commented on #715
Ack!

[2016-02-25 16:11] #715 closed

[2016-02-25 16:19] mhdawson commented on #716
We did apply an APAR so that might explain why some of these now pass

[2016-02-25 18:41] iWuzHere commented on #686
Can this issue be closed?
( doesn't fail in CI https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/260/console and the fix has landed )

[2016-02-25 19:39] iWuzHere commented on #687
On the community linux PPC BE  machine:

[code]

Vs a regular linux x86 machine ( my workstation )

[code]

The test is set to timeout after 5 seconds (default)

[2016-02-25 19:40] iWuzHere commented on #687
The reason the test "fails" is because it takes too long for all the threads to join back on the parent.

[2016-02-25 20:01] cjihrig commented on #731
I think it would be more straightforward to use a char array of size `LOGIN_NAME_MAX` (`UNLEN + 1` on Windows).

[2016-02-26 07:58] #686 closed

[2016-02-26 07:58] saghul commented on #686
@iWuzHere you are mkaing me very happy today :-)

[2016-02-26 11:37] Cheedoong opened #738 "Rate-limiting plan in libuv"
Speed or rate limiting is very useful in a lot of scenarios, for such I/O libraries.

One advantage of libev is the rate-limiting feature:
http://www.wangafu.net/~nickm/libevent-book/Ref6a_advanced_bufferevents.html

So does libuv have any plan on such features?

[2016-02-26 11:43] bnoordhuis commented on #738
You (as in: the libuv user) control that yourself through the speed by which you read or write.  It's not something that needs to be solved at the libuv level.

That's libevent, libev is a different project.

[2016-02-26 11:43] #738 closed

[2016-02-26 12:39] bnoordhuis commented on #731
I agree.  I don't think most platforms have a LOGIN_NAME_MAX constant (you'd have to call `sysconf(_SC_LOGIN_NAME_MAX)`) but you can probably get away with making it a `char username[257]`.

[2016-02-26 14:55] cjihrig commented on #731
Sounds good. Is there anything else that you'd like to see hashed out here, or am I good to start working on this?

[2016-02-26 15:20] bnoordhuis commented on #731
If the username and the uid are all that's needed, now and in the future, you should be good to go.  What about e.g. the gid?

[2016-02-26 16:36] cjihrig commented on #731
I'm open to suggestions. Seems simple enough to grab the gid from `getpwuid()`. However, the API would be straying further from `getlogin()`. I believe @saghul's original motivation for including the uid was that it is the important piece on Unix.

[2016-02-26 16:53] saghul commented on #731
I had a quick look at my usual source of inspiration: Python :-) Which provides the following: https://docs.python.org/2/library/pwd.html

So, /me wonders if we could make this return a complex object with a few fields (just for the current effective user):

- name
- uid
- gid
- shell
- homedir

"but we already have a way to get homedir!" I hear you say. Yes we do, but how about putting it all tog

[2016-02-26 20:15] bnoordhuis commented on #731
Factoid: `uid_t` and `gid_t` are unsigned on all UNIX platforms we support but some (the BSDs) store them as negative values in `/etc/passwd`, so e.g. -2 gets converted on load to 65534 or whatever the range of `uid_t` is.

[2016-02-27 17:06] #687 closed

[2016-02-29 14:45] cjihrig commented on #731
@bnoordhuis what would you recommend as the dummy value on Windows? Does the value matter a lot if we document that it is just a placeholder on Windows?

@saghul what would the value of shell be on Windows? Would it always be cmd.exe?

[2016-02-29 15:14] saghul commented on #731
@cjihrig it could be NULL to begin with, but there is cmd.exe, powershell, Windows SDK that I know of.

[2016-02-29 16:01] bnoordhuis commented on #731
I don't think it matters much.  -1 seems like a good value.

[2016-02-29 20:05] cjihrig commented on #731
If we're going to move to this more complex object that @saghul mentioned, do you think I should reconsider using a matching free function instead of character arrays? Right now, with arrays, the data structure would look like:

[code]

[2016-02-29 20:42] bnoordhuis commented on #731
I'd implement a free function, yes.

[2016-02-29 21:46] mhdawson opened #741 "test-tcp-close-while-connecting.c failing on pLinux"
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=ppcbe-fedora20/264/console
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=ppcle-ubuntu1404/264/console

Started failing on Feb 18, so only a few CI runs ago

<PRE>
[%  22|+  62|-   0|T   0|S   1]: tcp_close_while_connecting
`tcp_close_while_connecting` failed: exit code 6
Output from process `tcp_close_while_connecting`:
Assertion failed in te

[2016-02-29 22:58] saghul commented on #731
:+1:

[2016-03-01 16:11] iWuzHere commented on #741
Looking into it.

[2016-03-01 21:09] kthelgason commented on #736
I'd love to take this on if that's ok. Seems simple enough to start with :smile:

[2016-03-01 21:43] bnoordhuis commented on #736
Of course, go for it.

[2016-03-01 22:03] saghul commented on #736
Go for it, thanks for volunteering!
On Mar 1, 2016 22:09, "Kári Tristan Helgason" <notifications@github.com>
wrote:

[2016-03-02 22:31] iWuzHere commented on #713
This should be resolved as per pull request #688 and no longer fails in the build
https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/266/console

Can this issue be closed?

[2016-03-03 09:02] saghul commented on #713
Happy to do that!

[2016-03-03 09:02] #713 closed

[2016-03-03 18:44] iWuzHere commented on #741
Can this issue be closed? Should be resolved as of pull request #744.
Test is no longer failing in ci.

[2016-03-03 18:45] iWuzHere commented on #717
Looking into it.

[2016-03-03 19:22] #741 closed

[2016-03-03 20:24] bnoordhuis commented on #717
Fixed by a7009a0.

[2016-03-03 20:24] #717 closed

[2016-03-03 20:24] bnoordhuis commented on #741
Fixed by e76e213.

[2016-03-04 21:41] kthelgason opened #749 "linux: misleading indent or bug"
The following lines in `src/unix/linux-core.c` introduced in 6798876a6b2c2046d926bd2317284de920e6d124 exhibit a classic issue

[code]

The statement on line 601 will be executed regardless of whether `err == 0`. This may be intentional but in that case the indent is very misleading.
cc: @ljagiello @saghul

[2016-03-05 07:10] saghul commented on #749
@kthelgason good catch. There should be braces areound that if. We only want to execute that if there was no error, that way, err won't be overwritten and the cleanup code will take care of it. Do you want to send a PR?

[2016-03-05 07:58] kthelgason commented on #749
@saghul Yeah I figured this was not the intention. :smiley: I've opened a PR to fix this.

[2016-03-05 09:51] bnoordhuis commented on #749
Fixed in 80d9d86.

[2016-03-05 09:51] #749 closed

[2016-03-08 07:46] paulran opened #754 "after QUEUE_ADD(h, n) , then call QUEUE_FOREACH will infinitely loop"
wq_test.c
----
[code]

The program output:
[code]

[2016-03-08 08:09] kzjeef opened #755 "Android Build: needs build shared library for android."
Hi,

I need build a libuv for android shared library.

I have did some change for `android-configure`:

[code]

But I got following error when linking:

[code]

Could anyone give me some tip how to make libuv build as shared library for android ?

[2016-03-08 08:22] saghul commented on #755
Please use [the mailing list](http://groups.google.com/group/libuv) for questions.

[2016-03-08 08:22] #755 closed

[2016-03-08 08:22] saghul commented on #736
#743 landed, closing!

[2016-03-08 08:22] #736 closed

[2016-03-08 08:24] saghul commented on #754
You have to initialize the queues inside your `uv__work` structure. Please use [the mailing list](http://groups.google.com/group/libuv) for questions.

[2016-03-08 08:24] #754 closed

[2016-03-08 08:26] saghul commented on #459
Closing, see https://github.com/libuv/libuv/issues/705 for a similar problem and resolution.

[2016-03-08 08:26] #459 closed

[2016-03-09 17:00] iWuzHere commented on #712
Can this issue be closed?

https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/274/console

Doesnt fail in latest CI against v1.x

[2016-03-09 18:09] saghul commented on #712
Sure it can!

[2016-03-09 18:09] #712 closed

[2016-03-10 21:43] kthelgason commented on #615
I took a look at this and it's possible to trigger this bug by introducing a `sleep(3)` in the correct place. It seems that this bug is quite common as I took a look at [OpenBSD's implementation](https://github.com/syuu1228/openbsd-src/blob/master/lib/librthread/rthread_barrier.c) and they seem to be susceptible to this as well.

[2016-03-11 21:37] brizzbane commented on #401
Googled error, and found this issue.

Is there still a known bug somewhere?  Using pyuv.  Can post backtrace..

[2016-03-13 08:30] Keno commented on #191
Just for the reference of anybody looking at this later, adding `static` on that line fixes the immediate compilation failure as well.

[2016-03-14 08:37] saghul commented on #401
@brizzbane can you reliably reproduce it?

[2016-03-15 03:31] donnyhardyanto commented on #401
I also got this error all the time. As far that I know, I setup the server
for production, and somebody calling me the server cannot be contact, and
take a look, this error cause the node to crash.

I am using actionhero framework, only creating action that write to console
and setup Postman to bombard the action api for 2 process @10000 sequential
request requests, and my node/actionhero framewor

[2016-03-15 23:28] trankkilou opened #764 "Assertion failed in test/test-tcp-write-queue-order.c (write_cancelled_callbacks)"
on Debian jessie, fresh install
/tmp/libuv-1.4.2# uname -a
Linux webtop1 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u2 (2016-01-02) x86_64 GNU/Linux
during the make check

[%  17|+  43|-   0|T   0|S   0]: tcp_write_queue_order
tcp_write_queue_order failed: exit code 6
Output from process tcp_write_queue_order:
Assertion failed in test/test-tcp-write-queue-order.c on line 129: write_cancelled_

[2016-03-15 23:33] iWuzHere commented on #764
I'll try and take a look!

[2016-03-16 00:22] mhahn-sighthoundlabs opened #765 "uv_loop_close() reports busy if idle is used"
Looks like on the standard example

https://gist.github.com/mhahn-sighthoundlabs/dbf2e4036b170c8aaad8

uv_loop_close() always returns -16 ("busy"), not zero. There seems to be one IDLE handle left, with the flags set to 8192. Given the API to stop or clean things up respectively this problematic because one cannot tell whether there's something else pending.

Happens with release 1.8.0

[2016-03-16 09:13] bnoordhuis commented on #765
Not a bug, IMO.  There's an active (that is, open) handle so uv_loop_close() is right to return UV_EBUSY.  If you close instead of stop the idle handle, uv_loop_close() should succeed.

The documentation could perhaps be more explicit that.  It currently says "This function must only be called once the loop has finished its execution or it will return UV_EBUSY."  I'll file a pull request for that.

[2016-03-16 09:13] #765 closed

[2016-03-16 10:49] txdv commented on #764
Next time, could you put the output log in between ```(three backticks), then the whole output would be formatted in the same manner.

The line that you are talking is here: https://github.com/libuv/libuv/blob/v1.x/test/test-tcp-write-queue-order.c#L129

In the test we are creating 1000 little writes to try to force queuing, however in your case it did not work.

I think the test would succeed in

[2016-03-16 11:48] trankkilou commented on #764
Hello,

you're right
cat /proc/sys/net/ipv4/tcp_wmem
30000000	30000000	30000000

this value is high as I am performing benchmark.
Actually my friend and collegue (blackbelt in system and C programming) found out the problem already.
You may  check this value instead of hardcoded one in your test ?

kr,

julien

[2016-03-16 13:18] txdv commented on #764
[code]

I don't understand what you want to say...

On my simple machine I have:

[code]

4kb minimum, 16kb maximum per socket and ~0.86MB total for all buffers.

Now your test machine has 28MB as minimum, maximum and total. I fear that the test will not succeed nevermind how much you increase the REQ_COUNT in the test. Maybe increasing the buffer size will help.

Either way, the test failure does

[2016-03-16 13:36] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:36] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:37] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:37] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:37] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:37] ferrieux commented on #764
Hello, I work with Julien.
We agree that our settings are a bit extreme. However, please imagine being in the end-user's seat in such a situation; by "end-user" I mean the average userland developer who may not be familiar with such global settings, or even not have root credentials. The error message, from his standpoint, is cryptic (knowing nothing of libuv, I spent 10 minutes to figure it out),

[2016-03-16 13:39] trankkilou commented on #764
For info: increasing #define REQ_COUNT to 100000 was enough to successfully pass the test

[2016-03-16 14:05] txdv commented on #764
Nice suggestion, I think we can check the uv_write_buffer_size until it is > 0 or the counter increases to MAX_INT.

[2016-03-16 14:57] txdv commented on #764
I have created a pull request which ups the maximum req_count to 100k, I don't want to do more, because it already requires like a 10mb memory block just to fit the requests. Maybe it doesn't really require that much until really referenced.

Anyway, this should fix this test for 10 years or so until we all having 16TB ram is considered to be normal.

[2016-03-16 15:33] ferrieux commented on #764
Hum not sure about the 10 years: as you suspected the memory is not committed until used, and in some workloads (like ours) only a few sockets in the system will exercise that big depths. So the 10MB value is everything but the max... I like your suggestion of checking write_queue_size btw; that sounds more robust than bumping a constant ;-)

[2016-03-16 15:40] txdv commented on #764
I'm doing that already [here](https://github.com/libuv/libuv/pull/767/commits/ae61da075bc3f96701826bb2cb1671b619f4548c#diff-a25ed3c428dc2dafca964739478fdb7bR89), but I can't create an infinite sized block of requests [here](https://github.com/libuv/libuv/pull/767/commits/ae61da075bc3f96701826bb2cb1671b619f4548c#diff-a25ed3c428dc2dafca964739478fdb7bR44).

I can technically do something with malloc,

[2016-03-16 18:21] ferrieux commented on #764
OK. But instead of wasting resources, what about forcing the tested socket buffer size to a known value ? Something like  uv_send_buffer_size(handle,16384) ...

[2016-03-16 23:25] mhahn-sighthoundlabs commented on #765
But the loop exits or uv_run() returns respectively, because uv_idle_stop() got called, i.e. nothing should be active anymore closing should succeed. So how in this sample is someone supposed to bring the system into a state so that UV_BUSY is not returned? I don't see a solution given the current API - meaning if one uses idle closing won't work. Not so much of a drama for the default loop, but c

[2016-03-16 23:41] saghul commented on #765
You need to `uv_close` the idle handle. Otherwise the loop still has a reference to it.

[2016-03-16 23:58] iWuzHere commented on #721
I would like to try and work on this (to get some experience on the windows side). However I cant seem to find much information on this outside of the twitter conversation. Is there some documentation you can point me towards as far as getting started with this goes? (I have already signed up for windows insider builds)

[2016-03-17 06:41] txdv commented on #764
lol, probably the best idea.

[2016-03-17 12:03] dkrikun opened #769 "win: uv_send_buffer_size() failed"
`uv_send_buffer_size()` fails occasionaly with error code `WSAENOTSOCK` for a udp socket.

libuv version: 1.8.0
Windows 7 x64, Visual Studio 2015.

[2016-03-17 12:05] dkrikun opened #770 "win: what is the resolution of uv_timer"
What is the resolution of `uv_timer` on windows?

[2016-03-17 12:24] txdv commented on #770
You should ask questions in the mailing list or stackoverflow.

Also consider looking at the documentation first: http://docs.libuv.org/en/v1.x/timer.html

[2016-03-17 12:26] txdv commented on #769
Libuv creates the socket at the last possible moment. Try, after creating the socket, to send a packet somewhere (the content and the target is not important). Then set the buffer size. It should work then.

[2016-03-17 12:53] dkrikun commented on #770
No problem.

Also, the docs lack that info, so maybe it could be added?
On Mar 17, 2016 14:25, "Andrius Bentkus" <notifications@github.com> wrote:

[2016-03-17 13:57] okuoku commented on #721
See https://msdn.microsoft.com/en-us/library/mt638032%28v=vs.85%29.aspx for MSDN reference.

I'm not really sure how do we integrate it into libuv though.. As you know, libuv has their own ANSI emulation in `win/tty.c`, so I guess just checking whether or not `ENABLE_VIRTUAL_TERMINAL_PROCESSING`(0x4) enabled (with `GetConsoleMode`) and just disable libuv's emulation according on it is what I could

[2016-03-17 13:57] txdv commented on #770
I don't understand what you mean:

[2016-03-17 14:34] dkrikun commented on #770
Will it fire exactly after timeout milliseconds, or it might happen e.g
after timeout+1 milliseconds?
On Mar 17, 2016 15:57, "Andrius Bentkus" <notifications@github.com> wrote:

[2016-03-17 14:50] txdv commented on #770
Depends on how much stuff you do on your in your other callbacks.

If your loop has only timers(a reasonable amount) it will pretty much always be executed immediately. If you have some callbacks which take a long time to compute (lets say 50ms) and you want your timer to fire every 25ms, then the timer will only be called after the 50ms because the computation is blocking the event loop.

[2016-03-17 16:19] kthelgason commented on #769
Shouldn't `uv_send_buffer_size()` force creation of the socket, or record the setting and lazily apply it when the socket is created?

Or perhaps just a warning added to the docs?

[2016-03-17 19:34] txdv commented on #769
The underlying socket api needs the network family in the creation of the socket. There is also uv_udp_init_ex which immediately created  the socket.

[2016-03-17 19:38] dkrikun commented on #769
I guess, it would be best if libuv could handle setting buffer size without forcing socket creation. After all, it is an implementation detail that the socket is created lazily.

[2016-03-17 19:38] dkrikun commented on #770
Thanks, that pretty much answers the question.

[2016-03-17 19:38] #770 closed

[2016-03-17 19:44] txdv commented on #769
That would require an extra field in the handle or a different approach.

[2016-03-17 21:45] brizzbane commented on #401
@saghul I realized that the error started happening after I did queue_work(), so I stopped calling that way, and it went away.  Figured it was one thread trying to communicate to another?

[2016-03-17 22:33] iWuzHere commented on #721
Well just got a win10 vm setup, currently updating it to latest fast ring insider build. Once I have build environment setup I'll try it out and see what happens!

[2016-03-18 10:31] saghul commented on #721
@iWuzHere Thanks for volunteering! Alas I won't be able to help you much here...

[2016-03-18 10:34] saghul commented on #401
@donnyhardyanto I'm sorry, but I didn't get any of what you said. So far nobody managed to come up with a reliable test for this, so there is not much we can do.

@brizzbane libuv is not thread-safe, so you can't call most uv_ functions inside the queue_work function. That might explain it.

[2016-03-18 10:36] saghul commented on #769
Closing, not a bug. The socket needs to exist in order to be able to set the buffer, I recommend using `uv_udp_init_ex`, which also saves you from getting EMFILE in unexpected places, since the socket would have already been created.

[2016-03-18 10:36] #769 closed

[2016-03-18 19:42] kthelgason commented on #615
I have fixed this issue (I think) in the android implementation in `pthread-fixes.c` but there is another completely different implementation of the same function for OS X in `thread.c`. Would it make sense to coalesce these so we don't have to maintain two different versions of the same code? @saghul

[2016-03-18 22:09] seishun opened #771 "Document the encoding of paths in filesystem functions"
Currently, the [documentation](http://docs.libuv.org/en/v1.x/fs.html) doesn't state anything about the contents of the `const char *` parameters. This can lead to confusion and two possible interpretations:
1. It's the filename exactly as stored in the filesystem. True on Linux and OS X, false on Windows.
2. It's UTF-8. True on Windows, partially true on OS X, true under normal circumstances on Li

[2016-03-19 11:40] bnoordhuis commented on #615
@kthelgason Code deduplication is (almost) always a good thing.

[2016-03-19 12:05] kthelgason commented on #615
That was my thinking. It's not immediately obvious to me how to best go about this though. @bnoordhuis would you like to see a separate file with the barrier implementation that's just included on those architectures where it's not implemented by default?

[2016-03-19 12:09] kthelgason commented on #615
also, does the CI do android builds? I don't have an android device handy and no way to test that part.

[2016-03-19 12:27] bnoordhuis commented on #615
A separate file is probably easiest; it could be a header-only implementation that is included conditionally.

We don't test on Android, there are no Android devices in the CI matrix.

[2016-03-19 17:54] dkrikun commented on #769
I think this should be documented in `uv_send_buffer_size()`.

[2016-03-21 08:49] saghul commented on #769
Feel free to open a documentation PR :-)

[2016-03-21 16:51] Fishrock123 opened #773 "Issue & milestone for 2.0?"
afaik there will need to be a 2.0 release at some point (soon?) could we use a github milestone to track what needs to be done and then link it to an issue like this one?

cc @saghul / @cjihrig and refs: https://github.com/nodejs/node/pull/3594#issuecomment-199179828

[2016-03-21 18:05] cjihrig commented on #773
I think @saghul could answer this better, but I'm under the impression that the next release will be 1.9. There is currently a `v2` label and a `v1.next` milestone. I'm unaware of how up to date and accurate they each are.

[2016-03-21 21:37] saghul commented on #773
As Colin pointed out, there is no "official" plan for 2.0 as of yet. I (with my individual hat) had many things in mind for 2.0, but now I think that was a bit too ambitious and we'll have to make changes more gradually.

That said, the current state of affairs is as follows:
* v2 label: PRs which we cannot merge onto v1.x because they break the ABI. Since we haven't made master diverge they shoul

[2016-03-21 23:30] jbergstroem commented on #773
Just curious: are there any plans to coincide libuv 2.0 with Node.js 6.0?

[2016-03-22 06:40] txdv commented on #773
What were the initial features you wanted to put into libuv 2.0?

[2016-03-22 11:11] saghul commented on #773
@jbergstroem nope.

[2016-03-22 11:12] saghul commented on #773
@txdv kinda everything I wrote a LEP about :cry:

[2016-03-22 12:54] txdv commented on #773
There is only one accepted lep - create sockets early - and it is already implemented.

Or am I missing something?

[2016-03-22 13:52] saghul commented on #773
Yes, that was an easy one. I mean the pending ones.

[2016-03-22 15:27] txdv commented on #773
You mean these: https://github.com/libuv/leps/pulls

[2016-03-22 16:29] aldehir opened #774 "Support for polling kernfs attribute files"
I would like to work on support for polling kernfs attribute files through the use of `uv_poll_t`. Before doing so, I'd like to get the blessing of the libuv maintainers for the proposed changes.

As documented [here](https://github.com/torvalds/linux/blob/master/fs/kernfs/file.c#L768-L781),

the content and then you use 'poll' or 'select' to wait for
the content to change.  When the content chang

[2016-03-22 21:07] iWuzHere commented on #719
Fixed a number of these issues in PR #739 and PR #776

This requires ahafs to be mounted by running the following command as root:
[code]

Output from make check

[code]

Note ```emfile``` and ```fs_futime``` are not fs watch related failures, and I am investigating them separately.

This brings us down to a total of 5 failures related to fs watch.

Not sure if this will show up in CI as I am not

[2016-03-22 23:12] iWuzHere commented on #719
Fixed ```fs_event_getpath```

The only remaining fs watch related failure is ```fs_event_close_in_callback```

Output from make check:

[code]

[2016-03-23 10:22] bnoordhuis commented on #774
Hi @aldehir, thanks for getting in touch.  I'm personally leaning towards -1 as long as there is only a single, platform-specific use case, but perhaps the other maintainers feel differently.  @libuv/collaborators?

[2016-03-23 12:46] saghul commented on #774
I agree with @bnoordhuis

[2016-03-23 13:24] #693 closed

[2016-03-23 13:37] saghul commented on #681
Fixed in #691.

[2016-03-23 13:37] #681 closed

[2016-03-23 13:41] saghul opened #778 "Preparing the 1.9.0 release"
I went through the issues and open PRs and prepared the v1.x milestone, which will be 19.0. The tentative release date is 29-30 of March (I'll be gone after then so I won't have my release key available for a while).

If #528 is not ready we can drop it from the milestone.

/cc @libuv/collaborators

[2016-03-23 13:55] bnoordhuis commented on #778
Maybe move it forward two or three days so we can do a patch release in case of regressions?  I could do one in theory but it's been so long since I last did one that I'd probably botch it.

[2016-03-23 14:05] saghul commented on #778
I can't really move it forward, I'm afraid. The 30th my computer goes in a box and won't go out of it until min - late April. I'll try to get a VM with my key setup so I can do it while traveling.

[2016-03-24 05:33] blitmap opened #780 "proposal: support blocking/synchronous operations on Windows TCP/UDP streams"
Hi!

I'm currently trying to integrate libuv with a project that already abstracts socket engines and threading quite well.  I want to make use of libuv because we'd gain IOCP support on Windows, and it would improve this projects' separation of concerns.

I cannot entirely make use of libuv as blocking socket operations are not supported on Windows.  It's funny because the underlying `HANDLE` is

[2016-03-24 07:32] Gottox commented on #778
#528 has been superseeded by #779.

[2016-03-24 11:17] fusion809 opened #781 "Building libuv without sphinx"
Hi,

Is it possible to build this library without sphinx? According to the README sphinx is used to build the documentation, well I don't need the documentation, so is it possible to disregard the sphinx dependency? I ask because I am creating a package for libuv in my Open Build Service Arch_Extra project (and no I can't just use the libuv package in the [community] repo of Arch Linux, due to OBS

[2016-03-24 11:28] bnoordhuis commented on #781
I'm not sure what you mean.  `sh autogen.sh && ./configure && make` builds just the library, nothing else; no tests, no documentation.

[2016-03-24 11:28] saghul commented on #781
Sphinx is only required for building the documentation, as the README says. Whether you build it with autotools or GYP, Sphinx is not required.

[2016-03-24 11:29] #781 closed

[2016-03-24 15:32] saghul opened #783 "aix: build is broken"
[code]

I'm reasonably certain https://github.com/libuv/libuv/commit/c7c8e916b86d2b168e97b04d7b4c8913322c8329 broke it.

/cc @iWuzHere

[2016-03-24 19:12] iWuzHere commented on #783
Will look into it!

[2016-03-24 21:29] iWuzHere commented on #783
So I'm not seeing ```POLLRDHUP``` declared anywhere in AIX
According to the commit message its an event flag that is set however it is not in poll.h or pollset.h
Would it be possible for @santigimeno to point me to where he got the information that AIX uses this.

Also I can not access the CI run ( get a 404 ) from PR https://github.com/libuv/libuv/pull/691

Defines in poll.h
[code]

[2016-03-24 21:39] iWuzHere commented on #783
See also this (for 6.1)
https://www.ibm.com/support/knowledgecenter/ssw_aix_61/com.ibm.aix.basetrf1/poll.htm?lang=en

And this (for 7.1)
https://www.ibm.com/support/knowledgecenter/ssw_aix_71/com.ibm.aix.basetrf1/poll.htm?lang=en

[2016-03-24 21:41] iWuzHere commented on #783
One option would be to just remove it from the AIX defines and it would default to this:
[code]

And it looks like 0x2 is unused by poll ( see above ). Not sure what the ramifications would be though

[2016-03-24 21:50] mhdawson commented on #783
Any chance we can back out the commit to get AIX compiling again while we figure out if there is an equivalent available for AIX ?

[2016-03-24 21:56] mhdawson commented on #783
May be that we need an additional define.

From
http://aix.polarhome.com/service/man/?qf=POLL&af=0&tf=2&of=Mandriva&print=1

would seem to say we'd need:

 #define _GNU_SOURCE
       #include <poll.h>

[2016-03-24 22:15] mhdawson commented on #783
Build here to see if that change helps: https://ci.nodejs.org/job/libuv+any-pr+multi/nodes=aix61-ppc64/294/console

[2016-03-24 22:17] mhdawson commented on #783
Still not finding UV__POLLRDHUP so the info on that page may have been a red herring

[2016-03-24 22:21] iWuzHere commented on #783
We already compile with ```_GNU_SOURCE```

On our machine

[code]

[2016-03-24 22:32] mhdawson commented on #783
As an FYI  - both myself and @iWuzHere will be away on Friday as its a holiday here in Canada

[2016-03-25 00:04] ibc opened #784 "gyp: Undefined variable uv_library in deps/libuv/uv.gyp"
I'm adding libuv as a dependency in a `gyp` based project:

* foo.gyp:

[code]

Then I run `gyp -d foo.gyp` and get this error:

[code]

However `uv.gyp` clearly adds its own `common.gypi` (in `sources`) which clearly defines a default value for `uv_library`:

[code]

NOTE: I'm running this stuff in OS X. Is it related to this [GYP bug](https://github.com/libuv/libuv/blob/v1.x/gyp_uv.py#L47):

[co

[2016-03-25 00:18] ibc commented on #784
I've also checked this similar old [issue](https://github.com/joyent/libuv/issues/609) and have created a `common.gypi` in my root folder and added it to the `sources` of my `foo.gyp`. It contains:

[code]

It does not work, same error.

[2016-03-25 00:20] ibc commented on #784
Sorry, according to the similar [issue](https://github.com/joyent/libuv/issues/609) I've should call `gyp -Icommon.gypi`. Indeed it works... Magic...

[2016-03-25 05:10] saghul commented on #783
No problem. I'm also away until Tuesday, but we won't make a release
without a fix for this.
On Mar 24, 2016 23:32, "Michael Dawson" <notifications@github.com> wrote:

[2016-03-25 09:24] santigimeno commented on #783
@iWuzHere it's totally my fault. I only tested in `SmartOS` and as the `POLL` defines of `solaris` and `aix` where together I supposed that much. I should have never supposed anything. Sorry for the trouble :(. Let me know if there's anything I can do to help.

[2016-03-25 11:26] bnoordhuis commented on #784
Sounds like it's resolved?  I'll close.

[2016-03-25 11:26] #784 closed

[2016-03-25 17:42] ibc commented on #784
Yep. It seems that the magic under `common.gypi` is accepted as it is :)

[2016-03-26 10:36] #783 closed

[2016-03-26 18:10] cynecx opened #786 "Segfault when immediately closing async handle after init"
I am currently working on an addon for node and it requires libuv's async feature but somehow I am getting a segfault when creating an async handle and immediately destroying it.

    static uv_async_t asyncHandle;

    static void Callback(uv_async_t* handle) {
    }

    void Function(const Nan::FunctionCallbackInfo<v8::Value>& info) {
      uv_async_init(uv_default_loop(), &asyncHandle, Callbac

[2016-03-26 20:41] cjihrig commented on #786
Would you mind asking general questions like this on the mailing list?

[2016-03-26 22:15] cynecx commented on #786
@cjihrig Sorry, this seemed like a bug to be that's why I opened this issue in the first place.

[2016-03-27 03:59] guodong opened #788 "uv_ip4_addr returns error"
[code]

[2016-03-27 09:40] bnoordhuis commented on #786
I've replied to your post on the mailing list.  Barring evidence to the contrary, I'll close this as not-a-bug.

[2016-03-27 09:40] #786 closed

[2016-03-27 14:00] elfring opened #789 "reserved identifier violation"
I would like to point out that identifiers like "[`__comp`](https://github.com/libuv/libuv/blob/ddd7e04fd6442ae0edba6fd64dbe416be5bca86b/include/tree.h#L160)" and "[`uv__work`](https://github.com/libuv/libuv/blob/8d11aacb79472009189c35e8953d0fa316bfd202/include/uv-threadpool.h#L30)" [do eventually not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL51-CPP.+Do+not+declare+or+

[2016-03-27 16:59] bnoordhuis commented on #789
No thanks.

[2016-03-27 16:59] #789 closed

[2016-03-27 17:50] elfring commented on #789
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoid undefined behaviour?")?

[2016-03-28 18:11] mhdawson commented on #783
The answer I got from the AIX team is that it is not supported. But for now I agree with leaving tests as failing so that we take another look as part of our work to close out the remaining AIX issues.

[2016-03-29 00:30] jsheely opened #791 "fs.watch causes endless loop on Windows (wrong file reported)"
See https://github.com/libuv/libuv/pull/682

An example of the problem is demonstrated in project: https://github.com/jsheely/fs-watch-windows

[2016-03-29 07:58] saghul commented on #788
Please use the mailing list for questions. As a side note, this is heavily used in our tests without a problem.

[2016-03-29 07:58] #788 closed

[2016-03-29 08:05] saghul commented on #791
Duplicate of #682.

[2016-03-29 08:05] #791 closed

[2016-03-29 08:30] saghul commented on #778
Alright, I managed to get a Debian VM setup with all my keys and release paraphernalia, so I can now do the release when ready, no time preassure.

[2016-03-29 09:32] lperkov opened #793 "testing libuv applications"
Hi!

We are using libuv in a few projects and I'm curious what would be the best practices to properly implement unit testing on asynchronous functions with callbacks such as the case with libuv.

Specifically we have been using [cmocka](https://cmocka.org/) and have good experience with it. It would be awesome to somehow integrate libuv and cmocka!

It would be appreciated if somebody has already

[2016-03-29 12:19] #731 closed

[2016-03-29 17:39] lucasterra opened #794 "[1.8.0] uv_write inconsistency on Windows"
Hello, see the following code:

[code]

On Windows, if you call [uv_write](http://docs.libuv.org/en/v1.x/stream.html#c.uv_write) on a [pipe](http://docs.libuv.org/en/v1.x/pipe.html) stream with `nbufs > 1` it will return `ENOTSUP` (_operation not supported on socket_). The same code on Unix will work fine.

That's because [uv_pipe_write_impl(...)](https://github.com/libuv/libuv/blob/v1.x/src/win/p

[2016-03-29 22:39] mhdawson opened #795 "Add linuxOne to libuv tests"
I'm adding linuxOne machines (Linux on System Z) to the CI for Node/libuv.  There is still some setup like ccache to be complete, however, the libuv tests are running/passing.

https://ci.nodejs.org/job/node-test-commit-linuxone-mdawson/nodes=rhel72-s390x/15/console

So I wanted to suggest we add to the regular libuv CI runs.

If I get the ok I can go ahead and add.

[2016-03-30 06:48] saghul commented on #795
Sure, go ahead!

Since we are here, can I ask for per-platform configurations as well, please? The idea being that if a patch only applies to OSX I could trigger a build only on the OSX machines, or windows, or Linux, etc. Thanks!

[2016-03-30 13:28] cjihrig commented on #793
@lperkov can you move this question to the [mailing list](http://groups.google.com/group/libuv)?

[2016-03-30 13:28] #793 closed

[2016-03-30 19:29] mhdawson commented on #795
Thanks, added linuxOne to the existing job and created new jobs as described in:

[2016-03-30 19:29] #795 closed

[2016-04-01 00:17] lperkov commented on #793
done.

[2016-04-01 21:35] santigimeno opened #799 "`tcp_close_accept` test is flaky on `SmartOS`"
The `tcp_close_accept` test has been flaky in `SmartOS` for a while. See https://ci.nodejs.org/job/libuv+any-pr+multi/297/:

[code]

I've been looking into it and have found what I think is inconsistent behavior of `SmartOS` handling `connect` errors. In this test, just after the last connection is tried, the server socket is closed (see [code](https://github.com/libuv/libuv/blob/v1.x/test/test-tc

[2016-04-02 06:32] santigimeno commented on #799
I have tried sending data in this connection, but strangely it didn't fail even though the connection has not been *accepted*  by the server. Running `netstat -an` prints an `ESTABLISHED` connection in only one direction:

[code]

[2016-04-02 06:32] bnoordhuis opened #800 "windows: support sub-second precision in uv_fs_futimes()"
See https://github.com/nodejs/node/issues/2069 for background.  Something like the patch below should address it:
[code]

[2016-04-02 06:44] bnoordhuis commented on #799
I didn't test in great detail but does this patch work?
[code]

[2016-04-02 07:14] santigimeno commented on #799
Yes, I had already tried something similar but moving the `uv_close` after the `uv_tcp_init` so the last fd was reused and it worked, but I wasn't sure if it changed the purpose of the test.
If you consider the change valid I can send a PR. Thanks

[2016-04-02 16:35] piscisaureus commented on #800
lgtm at face value, but I don't have a windows box atm so I can't test it.

Also I would like to see a test for this.

[2016-04-02 16:57] ibc opened #801 "[website] Use a responsive Sphinx theme"
http://docs.libuv.org/en/v1.x/

Not an expert in Sphinx so I cannot help too much, but AFAIK there are responsive themes for Sphinx.

Or may be I'm the only who reads API documentations when traveling via subway :)

[2016-04-02 21:41] kthelgason commented on #801
Site looks fine to me in mobile safari, text is nice and readable.

Then again my phone is huge so YMMV :)

[2016-04-02 21:54] ibc commented on #801
This is NOT a responsive design. Two columns when in portrait mode is not "nice". Two completely different text sizes (in left and right column) is not "nice":

<img width="366" alt="captura de pantalla 2016-04-02 a las 23 49 29" src="https://cloud.githubusercontent.com/assets/16191/14229201/a1f65716-f92d-11e5-8ab6-ed8bd127e179.png">

The "search" field and "GO" button are not usable:

<img width=

[2016-04-03 08:24] bnoordhuis commented on #799
I _think_ it still tests what it's supposed to test (adding a new file descriptor with the same value as one that's just been removed shouldn't produce events on the old handle) but now it reuses the server's file descriptor instead of one of the client connections.  Maybe @indutny can comment, he's the original author.

If it's not a good fix, I suggest we simply ditch the test.  It tests its inv

[2016-04-03 10:50] saghul commented on #801
I'll see is there is a better theme we can use. I initially chose this one
because it's built-in and color-matches well with the logo.
On Apr 2, 2016 13:57, "Iñaki Baz Castillo" <notifications@github.com> wrote:

[2016-04-03 10:50] saghul commented on #801
Check this one out: http://notes.saghul.net
On Apr 3, 2016 07:49, "Saúl Ibarra Corretgé" <saghul@gmail.com> wrote:

[2016-04-03 10:53] ibc commented on #801
Looks ugly but seems responsive :)

[2016-04-04 22:00] indutny commented on #799
@bnoordhuis I believe your description is correct.

[2016-04-04 22:01] vleschuk opened #806 "src/unix/stream.c:786: uv__write: Assertion `fd_to_send >= 0' failed"
Hello,

We are writing an async server using libuv and have recently encountered a problem. In some cases (haven't manage to localize yet: it's hard to reproduce and it happens only with high load) the following assert is triggered:

src/unix/stream.c:786: uv__write: Assertion `fd_to_send >= 0' failed

It happens during uv_write2() call when we pass accepted fd to child processes:

[code]

Here is

[2016-04-04 22:18] santigimeno commented on #799
Ok. I had misread @bnoordhuis comment. His proposed change also fixes the test. I'll close my PR.

[2016-04-05 15:14] cjihrig commented on #773
I think this can be closed. Check the milestone and label for updates.

[2016-04-05 15:14] #773 closed

[2016-04-06 05:50] santigimeno opened #808 "`fs_event_close_in_callback` fails on SmartOS"
This test is always timing out:
[code]
I think that the reason might be that the functionality this test is checking is not supported by `port events`  for the same reason it is not supported by `kqueue`
[code]
It would be great if someone could confirm (or not) this.

[2016-04-06 10:36] yjhjstz opened #809 "timers: improve performance proposal"
Right now, libuv implement `timers` use tree-based algorithm.

why don't try hash time wheeler algorithm[1], like the linux kernel do[2].

[1].http://www.cs.columbia.edu/~nahum/w6998/papers/sosp87-timing-wheels.pdf
[2]. http://lwn.net/Articles/156329/

[2016-04-06 11:14] saghul commented on #809
Feel free to give it a try! Then we'll need some numbers to see which one we pick :-)

[2016-04-06 11:17] saghul commented on #778
Ohai! So, AFAIS everything that had to land for 1.9.0 landed already. Unless anyone opposes I plan to do the release tonight. (my tonight, I'm on GMT-3 at the moment)

@libuv/collaborators please let me know if there is anything important we need to wait for, as I haven't been able to catch up with email these past days.

[2016-04-06 19:22] nullimpex opened #810 "uv_os_homedir() in src/unix/core.c returns ENOENT for "fake" /etc/passwd file"
I'am using [niutech/node.php](https://github.com/niutech/node.php.git). It allows running node.js apps via PHP scripts on shared hosting. It also allows running npm to install node.js packages.

npm uses libuv and here is the problem

uv_os_homedir() tries to determine user home directory. First it checks some environ vars, then it tries to read /etc/passwd file. Since the passswd file on my share

[2016-04-06 19:35] cjihrig commented on #810
Why not just set one of the environment variables that is already checked to a value that works for your application?

[2016-04-06 19:47] nullimpex commented on #810
Apache configuration on my shared hosting limits setting values only to variables which names begin with PHP_ :(
Hey, how about adding PHP_HOME to uv_os_homedir()? :)

[2016-04-06 21:50] saghul commented on #810
libuv cannot guess your home directory if all it gets are lies :-) I'm closing this since there is nothing that we can do about such spartan environment.

[2016-04-06 21:50] #810 closed

[2016-04-07 00:28] yjhjstz commented on #809
I'd like to try.

[2016-04-07 11:24] saghul commented on #778
Done!

[2016-04-07 11:24] #778 closed

[2016-04-07 14:11] mtorromeo opened #812 "get_passwd test failure"
This homedir assertion fails probably because the home directory of the user is just `/`

Thanks!

[code]

[2016-04-07 16:20] saghul commented on #799
So, should we close this then?

[2016-04-07 16:21] santigimeno commented on #799
No, the test is still flaky, but applying the patch @bnoordhuis should fix it

[2016-04-07 16:24] saghul commented on #799
Ah, ok.

[2016-04-08 15:10] #812 closed

[2016-04-08 21:59] lucab opened #816 "Possible regression in 1.9.0 on sparc64, poll_* testcases"
(Preliminary report, this still needs to be properly triaged)

It looks like 1.9.0 may have introduced a regression on sparc64, as the testsuite now reproducibly fails on multiple builders for that arch with the following trace:
[code]
For further inspection, full build log from Debian autobuilders is available [here](https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=sparc64&ver=1.9.0-1&s

[2016-04-08 23:09] santigimeno commented on #816
The regression was probably introduced by my commit https://github.com/libuv/libuv/commit/c7c8e916b86d2b168e97b04d7b4c8913322c8329 :(. Would it be possible adding some `fprintf` to try to find out what's going on?

[2016-04-09 07:18] lucab commented on #816
@santigimeno I think your guess could be on-spot. Looking at the kernel, it looks like `POLLRDHUP` is defined everywhere as 0x2000, except for sparc{32,64} where it is 2048 (0x800): https://github.com/torvalds/linux/blob/master/arch/sparc/include/uapi/asm/poll.h

Can't we use the constant provided by libc/kernel if available, and only fallback to the hardcoded value if not?

[2016-04-09 08:42] bnoordhuis commented on #816
https://github.com/libuv/libuv/pull/817

[2016-04-10 11:12] niyamaka opened #818 "New use case"
Hello. I have a use case not contemplated in libuv.
It's the case when you don't want accept a new connection (uv_listen, on_connection_db).
This is a possible patch:
int uv_not_accept(uv_stream_t* server) {
  if (server->accepted_fd == -1)
    return -EAGAIN;
  uv__close(server->accepted_fd);
  server->accepted_fd = -1;
  return 0;
}

Regards
Niyamaka

[2016-04-10 12:45] saghul commented on #818
I don't think we want to support that usecase. I'm -1.

[2016-04-10 13:44] cjihrig commented on #818
Also -1.

[2016-04-10 14:58] Fishrock123 commented on #809
I took a look at the current timers algo, and it quite efficient.

I find the first article you linked to rather dated. I've read though the entire paper before for node's higher-level impl. I suggest you also do some reading of [my extensive comments in node's timers impl](https://github.com/nodejs/node/blob/master/lib/timers.js#L14-L85) for reference, although I'm not entirely sure the same thin

[2016-04-10 16:52] bnoordhuis commented on #818
Can you explain why that approach is preferable over `uv_accept`+ `uv_close`?

[2016-04-11 00:25] saghul commented on #818
To add to Ben's comment, note that the connection was already technically accepted.

[2016-04-11 03:06] yjhjstz commented on #809
yes, I have done this mostly, reference to the linux core. @Fishrock123
code: https://github.com/yjhjstz/libuv/tree/v1.x-time-wheel

benchmark result is below:
before:
[code]
after:
[code]

And I add a benchmark to test just start million timer and stop them just before timeout. Also see in the branch https://github.com/yjhjstz/libuv/tree/v1.x-time-wheel

before:
[code]
after:
[code]
 This case is

[2016-04-11 03:14] Fishrock123 commented on #809
I'd prefer if we tried to make the benchmark at least somewhat realistic.

For the benchmark you just made, can you make sure you are timing out one in every, say, 5k timers? Also make sure you are not using continuously larger timeouts. Testing with a couple set timeout durations (say, 50, 180, 340 ms), and also random 1-1k ms timeouts would be appreciated.

Please keep in mind that this implemen

[2016-04-11 03:19] yjhjstz commented on #809
Sure, but first, I must solve how to implement `uv__next_timeout` precise or in a smart way, can you help?

[2016-04-11 07:34] yjhjstz commented on #809
https://github.com/yjhjstz/libuv/tree/v1.x-time-wheel almost complete except window platform.
[code]
Can @saghul @Fishrock123 give some advice or help improve that.

[2016-04-11 07:59] bnoordhuis commented on #809
@yjhjstz It's probably easiest if you open a pull request with your work so far.  Perhaps you can add a benchmark that stresses the timer wheel's worst case?

I'm afraid I don't understand what your question is.

[2016-04-11 08:05] yjhjstz commented on #809
Thx @bnoordhuis , I will add worst case and send a PR then.

[2016-04-11 08:53] #816 closed

[2016-04-11 09:43] owt5008137 opened #820 "Compile failed in mingw64"
I'm failed to compile libuv v1.9.0 in mingw64. but it works when I use libuv v1.8.0.

My environment:

+ mingw64: msys2, mingw64_shell
+ libuv version: v1.9.0

error messages here:

[code]

[2016-04-11 10:10] bnoordhuis commented on #820
Does it work when you `make -f Makefile.mingw`?  Does it work when you revert commit 60db5b5a1bb446e4b8a6d15ce277d5f7987bf07a?

[2016-04-11 10:14] saghul commented on #820
I think I ran into this bit forgot to follow up :-S Looks like MinGW lacks
some definition?
On Apr 11, 2016 06:43, "OWenT" <notifications@github.com> wrote:

[2016-04-11 10:51] owt5008137 commented on #820
@bnoordhuis, @saghul  It works after I add -DWIN32_LEAN_AND_MEAN to Makefile.mingw(revert [60db5b5](https://github.com/libuv/libuv/commit/60db5b5a1bb446e4b8a6d15ce277d5f7987bf07a))

[2016-04-11 11:13] niyamaka commented on #818
In my use case, it's more clean don't accept the connection in on_connection_cb because the system has reached his maximum client connection permitted.
Call uv_accept + uv_close is less clean because in fact uv_accept is called in another function (accept_connection()).
Source in https://bitbucket.org/yuneta/c-core/src/51d18e20a910/src/c_tcp_s0.c?at=default&fileviewer=file-view-default

[2016-04-11 14:49] bnoordhuis commented on #818
That's not very compelling.  Libuv has already accepted the connection when your callback is called; `uv_not_accept()` or `uv_reject()` would be cosmetic only, the underlying mechanism would still be the same.

Given Colin's and Saúl's -1s, I'll close.

[2016-04-11 14:49] #818 closed

[2016-04-11 16:08] niyamaka commented on #818
For me it's logic. You have a positive action. You haven't got the negative action.
And you are forcing me to assign unnecessary resources (taking about millions actions).
But don't warry, I'm happy. I'll hack libuv again.
Great job anyway.

[2016-04-12 07:01] gireeshpunathil opened #824 "Crash in uv__async_event"
**Environment**
=> node 4.x or later, but looking at the libuv changes in the async area, I think it should be applicable to any version greater than 0.12
=> libuv 1.8.0
=> Linux x64, but I am able to reproduce in PPC linux as well. I haven't tried in other platforms, but looking at the problem symptom, looks like this will fail in all 64 bit platforms with weakly consistent memory models (such as

[2016-04-12 07:45] llafuente commented on #824
Note: The link don't work. copy and paste the url...

btw: is node necessary-related to the crash ?

[2016-04-12 08:01] bnoordhuis commented on #824
I've fixed the link in the bug report.  The relevant code:
[code]
You're creating the `uv_async_t` on a thread that's not the main thread; only `uv_async_send()` is thread-safe.  Closing, not a libuv bug.

[2016-04-12 08:01] #824 closed

[2016-04-12 08:18] gireeshpunathil commented on #824
@bnoordhuis , thanks for looking into this. Is the necessity for uv_async_t creation be on main thread documented anywhere?

[2016-04-12 09:56] bnoordhuis commented on #824
@gireeshpunathil It's described in `docs/src/design.rst` and `docs/src/async.rst` (grep the first document for 'thread'.)

[2016-04-12 10:01] gireeshpunathil commented on #824
thanks!

[2016-04-12 12:39] #820 closed

[2016-04-12 22:17] mhdawson opened #827 "move PPC BE testing from fedora to ubuntu"
We've moved the PPC BE machines for Node.js from fedora to ubuntu so I'll do the same for libuv as we will likely complete remove the fedora machines.  Opening this so that libuv contributors are aware I'm making this change.

[2016-04-12 22:22] mhdawson commented on #827
Changes made, run to validate ok with change:

https://ci.nodejs.org/job/libuv-test-commit-linux/27/

[2016-04-12 22:25] mhdawson commented on #827
Not yet complete but running ok an PPC platforms passed so closing

[2016-04-12 22:25] #827 closed

[2016-04-13 08:02] bnoordhuis opened #829 "uv_interface_addresses: support 64 bits MAC addresses"
IPv6 interfaces can have a 64 bits MAC address (EUI-64) but libuv currently only supports MAC-48.

Changing the size of `uv_interface_address_t.phys_addr` from 6 to 8 bytes constitutes an ABI change so this cannot be done until libuv v2.

See https://github.com/nodejs/node/issues/5629#issuecomment-209292832 for background.

[2016-04-13 12:30] saghul commented on #827
Thanks for the heads up!

[2016-04-14 01:41] #555 closed

[2016-04-14 04:19] yjhjstz opened #830 "threadpool: idle_threads counter isn't thread-safe"
[code]
`idle_threads` is outside the `mutex`? should we use atomic operation?

[2016-04-14 08:50] sindresorhus opened #831 "Add `gecos` to `uv_passwd_t`"
Related: https://github.com/nodejs/node/pull/6104#issuecomment-207728469

On OS X and Linux the [`gecos` field](https://en.wikipedia.org/wiki/Gecos_field) contains the user's fullname. Like `username`, it would return `null` on Windows.

I personally need it for my [`fullname`](https://github.com/sindresorhus/fullname) module.

-

// @silverwind

[2016-04-14 09:09] kthelgason commented on #830
When a thread wakes from `uv_cond_wait` it reacquires the mutex.

[2016-04-14 09:15] yjhjstz commented on #830
thanks. @kthelgason

[2016-04-14 09:15] #830 closed

[2016-04-14 09:24] bnoordhuis commented on #831
That's an ABI change so I'm tagging this for v2.0.0.  Pull requests welcome, please link back to this issue.

[2016-04-14 11:41] njman opened #832 "Request for a build on Cygwin platform"
Hi,

In the latest Cygwin release 2.5.0, the `pthread_barrier/pthread_barrierattr` has been supported. Please see <https://cygwin.com/ml/cygwin-announce/2016-04/msg00020.html>:

 New APIs: pthread_barrierattr_init, pthread_barrierattr_setpshared,
 pthread_barrierattr_getpshared, pthread_barrierattr_destroy,
 pthread_barrier_init, pthread_barrier_destroy, pthread_barrier_wait.

Can the Cygwin platf

[2016-04-14 13:03] saghul commented on #832
Is that the only thing that's required? If so feel free to send a PR, but I
don't think we can support it in an "official" capacity, as in, you'll have
to fix it if we accidentally break it.
On Apr 14, 2016 08:41, "njman" <notifications@github.com> wrote:

[2016-04-14 14:08] njman commented on #832
The Neovim will benefit this request if upstream would support it. See [Compiling under Cygwin](https://github.com/neovim/neovim/issues/873).
In principle, **libuv** should support as more platforms as possible if it will take much less effort.

[2016-04-14 14:21] bnoordhuis commented on #832
We used to support (well, "support") cygwin until almost exactly three years ago (commit 7f8130a from April 2013), when we dropped it because it had been broken for almost a year without anyone complaining.  We concluded that the intersection of cygwin users and libuv users was a rounding error and not worth the effort.

Like @saghul said, we'll accept pull requests but we won't officially support

[2016-04-14 14:36] njman commented on #832
Got it, thank you, both.

[2016-04-14 14:36] #832 closed

[2016-04-15 10:07] #610 closed

[2016-04-15 22:21] kthelgason commented on #829
Is there a case to be made for making all structs a pointer to an internal struct to make it easier to make this sort of change while maintaining ABI compatibility?

[2016-04-16 08:47] bnoordhuis commented on #829
From an ABI maintenance perspective, yes, that would be much easier, but one of libuv's design goals was to be as much zero-copy / zero-alloc / zero-indirection as possible.  (Whether that's worth the trouble is something reasonable people can disagree on.)

An approach we've taken in the past is to add unused filler fields to structs that we can cannibalize without breaking API/ABI in a stable re

[2016-04-16 10:18] kthelgason commented on #829
Ok, I see. Thanks for clarifying.

Adding unused fields proactively seems like a reasonable approach. Something to keep in mind for 2.0 perhaps :)

[2016-04-21 17:37] joaocgreis opened #839 "libuv Windows CI: Win 10 + VCBT"
I suggest that the `libuv-test-commit-windows` should test 3 configurations:

- Windows 2008 R2 with Visual Studio 2013
- Windows 2012 R2 with Visual C++ Build Tools 2015
- Windows 10 with Visual Studio 2015

This covers the 3 OS's and the 3 compilers currently available in CI.

I started a test run for this at https://ci.nodejs.org/view/libuv/job/reis-libuv-windows/3/ . Windows 2008 is good (it's

[2016-04-21 17:47] saghul commented on #839
Sounds good to me!

No objections.

I don't think this is known.

[2016-04-21 17:47] saghul commented on #839
Oh, and thanks, Joao! :+1:

[2016-04-21 17:55] saghul commented on #806
When you call `uv_write` we do some checks and then queue the request. Now, it's possible that the handle which is queued is closed before it's sent out (that is a bad thing!) so under load, when requests take long to be processed, this can happen.

I think this is a bug in libuv. We could check if the handle is closing or closed, and in that case, end the request as cancelled.

[2016-04-21 18:30] #764 closed

[2016-04-22 18:02] iWuzHere commented on #719
Can this issue be closed?
As of https://github.com/libuv/libuv/pull/838 there should only be the `emfile` and ``POLLRDHUP`` failures
Current run on AIX: https://ci.nodejs.org/job/libuv-test-commit-aix/nodes=aix61-ppc64/41/console

[2016-04-23 07:05] #719 closed

[2016-04-23 07:06] saghul commented on #719
Done! Great work on fixing all these AIX issues!

[2016-04-23 09:51] GregGodin opened #840 "libuv Windows : uv_fs_init changes default file reading behavior of the current process."
It changes the _fmode global variable, and thus, in windows, it changes the behavior of std::ifstream.
Reading text like this :

[code]

produce stuff with \n carriage returns before the call uv_fs_init, and gives stuff with \r\n after the call of uv_fs_init (the ifstream doesn't default to text mode anymore).

[2016-04-24 17:01] esxgx opened #842 "win: call uv_tcp_read_start is unsafe when libuv in UV__HANDLE_CLOSING trigger write_cb"
...
int uv_tcp_read_start(uv_tcp_t* handle, uv_alloc_cb alloc_cb,
    uv_read_cb read_cb) {
  uv_loop_t* loop = handle->loop;

  handle->flags |= UV_HANDLE_READING;
....
which crashes my program.
Is it undefined behaviour to call uv_read_start after uv_close?

[2016-04-24 22:49] kthelgason commented on #11
Can this issue be closed now that 217f81b has landed?

[2016-04-24 22:54] cjihrig commented on #11
Probably. But, `uv_get_passwd()` only works for the current user. It would be nice to work for arbitrary users, but I ran into some trouble with the Windows implementation.

[2016-04-25 05:07] esxgx commented on #842
In my program, I call uv_close in httpconn_close, but I'm sure that another read_cb (EOF) received immediately after it called httpconn_close(uv_close).  I'm so confused about the problem.
....
httpconn_close: start http 26EC4B0 handle=0x26ec4c8   -> uv_close
httpconn_close: end http 26EC4B0 handle=0x26ec4c8
httpconn_close: start http 26EC4B0 handle=0x26ec4c8

Breakpoint 1, uv_close (handle=0x26ec

[2016-04-25 05:16] #842 closed

[2016-04-25 08:30] saghul commented on #842
Yes.

[2016-04-25 08:39] saghul commented on #11
Let's close it with "patches with more enhancements are welcome". There is no better way to start the week than with less issues :-)

[2016-04-25 08:39] #11 closed

[2016-04-25 09:01] saghul commented on #840
/cc @piscisaureus

[2016-04-25 15:53] mhdawson commented on #719
@iWuzHere I don't see other issues covering emfile and POLLRDHUP for AIX?  Can you point me to them ?  If they don't exist then I think we need either this Issue or some other issue tracking them.

[2016-04-25 17:57] iWuzHere commented on #719
But the title of this issue states that this is for fs watch related functionality, which neither of those failing tests are related to.

I can open new issues for them

[2016-04-25 18:02] iWuzHere opened #844 "AIX - POLLRDHUP related issues"
From https://ci.nodejs.org/job/libuv-test-commit-aix/nodes=aix61-ppc64/41/console

[code]

For reference:
https://github.com/libuv/libuv/pull/785
https://github.com/libuv/libuv/issues/783
https://github.com/libuv/libuv/pull/691

Would it be possible to have this issue assigned to me?
(creating separate issue as discussed in https://github.com/libuv/libuv/issues/719)

[2016-04-25 18:03] iWuzHere opened #845 "AIX - emfile failing test"
From https://ci.nodejs.org/job/libuv-test-commit-aix/nodes=aix61-ppc64/41/console

[code]

Would it be possible to have this issue assigned to me?
(creating separate issue as discussed in https://github.com/libuv/libuv/issues/719)

[2016-04-25 18:04] iWuzHere commented on #845
Issue occurs in `uv__emfile_trick` where after freeing the spare fd we get a `EAGAIN` error from `uv__accept`

[2016-04-25 18:37] mhdawson commented on #719
Thanks, new issues makes sense to me, just want to make sure they are tracked

[2016-04-26 04:15] piscisaureus commented on #840
Agree that the _fmode change has no place in libuv. It's also superfluous, since libuv doesn't use CRT i/o functions. So go ahead, and kill uv_fs_init().

Unfortunately this is an ABI change, so we can't release it until libuv 2.0 drops, whenever that is.
E.g. I'm pretty sure that node.js would be affected in certain edge cases (e.g. certain warnings and errors are written using `write(2, ...)`, s

[2016-04-26 07:09] saghul commented on #840
Hum, is it really an ABI change from libuv's prespective? Node could continue to do what libuv did in a next semver-major and would just find libuv doing The Right Thing?

[2016-04-26 07:29] saghul commented on #845
We can't assign issues unless you have write access to the repo :-S At any rate, consider all AIX issues yours :-)

[2016-04-26 07:32] saghul commented on #794
@piscisaureus do you know / remember if there was some system limitation here?

[2016-04-26 07:38] #615 closed

[2016-04-26 07:46] saghul commented on #780
I guess a patch which which completes [uv_stream_set_blocking](http://docs.libuv.org/en/v1.x/stream.html?highlight=blocking#c.uv_stream_set_blocking) on Windows would be ok.

I really don't want to add the equivalent API for UDP though.

The good news is that you can take the fd/HANDLE of a uv handle with `uv_fileno` and do it yourself!

[2016-04-26 17:10] piscisaureus commented on #794
Windows doesn't support writing multiple buffers to a pipe in a single syscall. Of course libuv could write the buffers one by one; we just never got around to implementing this, and node has no need for it.
A patch would be more than welcome.

[2016-04-26 17:10] piscisaureus commented on #840
@saghul Yes, what you said.

[2016-04-28 18:05] isaacs commented on #11
Is it worth opening a new issue to do this for arbitrary users, or is that a `WONTFIX` feature?

I get asked occasionally to support `~username/some/path` in node-glob, and that'd require arbitrary user support.  If we're never going to get it, then I can just say "sorry, not happening".  But if that's worth digging into and supporting eventually, it seems like a new issue?

[2016-04-28 18:15] cjihrig commented on #11
I'd love to support arbitrary users.

@piscisaureus or @orangemocha any clue how this would work, or if it is really feasible on Windows?

[2016-04-28 18:22] saghul commented on #11
@isaacs FWIW, here is how Python does it on Windows: https://github.com/python/cpython/blob/master/Lib/ntpath.py#L295-L337

I wouldn't mind having this in libuv, on Unix we'd use the pw family of functions.

[2016-04-28 18:52] cjihrig commented on #11
@saghul is there an alternative that doesn't rely on environment variables? It looks like that code assumes that all users home directories are in the same place. Can Windows users move their home directories?

[2016-04-29 07:26] saghul commented on #11
@cjihrig TBH I have no idea.

[2016-05-02 23:01] jasongin commented on #800
The patch from @bnoordhuis above isn't quite sufficient. I just submitted a PR with a complete fix and updated test cases.

[2016-05-03 09:46] notorand-it opened #850 ""make check" compilation warnings (64bit Linux, gcc v6.0.0) for library v1.9.0"
These are the warmings I get during compilation (3 sections):

[code]

[code]

[code]

[2016-05-03 09:51] notorand-it opened #851 "Two tests fail in Linux"
Under Ubuntu 16.04, with kernel
[code]
and gcc -v reporting
[code]
 the command make check fails like this:
[code]

[2016-05-03 09:52] saghul commented on #851
Yous system claims to be able to lookup the address for "xyzzy.xyzzy.xyzzy." is that so?

[2016-05-03 09:57] notorand-it commented on #851
I have no idea. I simply run "make check".
That weird address is in the test code:

[code]

[2016-05-03 10:07] saghul commented on #851
I know. What the test does is validate that `getaddrinfo` fails for invalid domains. But your system says otherwise.

What does `host xyzzy.xyzzy.xyzzy.` return on your system?

[2016-05-03 10:35] notorand-it commented on #851
[code]
It's weird! `host` answers differently from `nslookup` ...

[2016-05-03 10:38] saghul commented on #851
I'd say it a quirk in your system / resolver. That hostname doesn't really exist.

[2016-05-03 10:46] notorand-it commented on #851
My system is Ubuntu 16.04 and appears to run `dnsmasq` as a resolver.
By forcing an external DNS the `make check` gets through.
I have opened a security bug to Ubuntu team for dnsmasq!

[2016-05-03 10:52] saghul commented on #851
Ok, I'm going to close this as it's not a libuv issue then.

[2016-05-03 10:52] #851 closed

[2016-05-03 11:50] orangemocha opened #852 "tty issues when switching to raw mode on Windows"
While investigating https://github.com/nodejs/node/issues/5384 and a host of related issues, we have discovered a few issues and incompatibilites with the current Windows implementation of tty in libuv.

1. Switching to raw mode doesn’t work reliably. This is by far the most severe issue, and the cause of arrow keys not working on Windows per recent user reports. Libuv is relying [on CloseHandle](

[2016-05-03 14:51] txdv commented on #851
At my work place we have some strange network configuration which resolves basically every non-existent hostname. I figure you have the same problem

[2016-05-03 22:16] vtjnash commented on #264
I looked into this and think that it is a bug in the test code. Due to https://github.com/libuv/libuv/pull/166/files#diff-7be27b71e7f7a6d2c40c447747db1231R2035, it is expected that `len == 0`, so this new test has been doing an OOB memory read of `buf[len - 1]`

[2016-05-03 22:32] kthelgason opened #854 "remove ABI compatibility padding from `pthread_barrier_t` for v2.0"
I'm opening this issue mostly to remind myself that this is something that should probably be done.
The pointer+padding workaround adds an additional layer of indirection which I believe goes against the stated goals of the project.

[2016-05-04 00:03] tkelman commented on #832
You can run Cygwin on AppVeyor. Note that the pthread barrier isn't the only missing thing in Cygwin, it also doesn't support unix style async IO so you'd have to make a hybrid of unix style build with windows style asyncio.

[2016-05-04 06:43] saghul commented on #832
We use IOCP on Windows, so that shouldn't be a problem. As @bnoordhuis
said, there was no critical mass to support Cygwin, and nobody stepped up
to maintain it.
On May 4, 2016 01:03, "Tony Kelman" <notifications@github.com> wrote:

[2016-05-04 06:46] saghul commented on #264
Can you send a PR?
On May 3, 2016 23:16, "Jameson Nash" <notifications@github.com> wrote:

[2016-05-04 07:07] tkelman commented on #832
It would end up being a bit of an ugly hybrid between unix pieces and windows pieces, which makes the maintenance issue a bit worse. People do ask about running libuv (or node) on the Cygwin mailing list once in a while. Cross-compiling from Cygwin with `--host=x86_64-w64-mingw32` works great, we do that all the time for Julia.

[2016-05-04 17:03] vtjnash commented on #264
Yeah, I need to finally move a number of local fixes to pull requests (rebasing https://github.com/JuliaLang/libuv/commits/julia-uv1.9.0 is a bit cumbersome).

For cross-reference, the `pipe_getsockname_blocking` bug is also https://github.com/libuv/libuv/issues/376 and https://github.com/libuv/libuv/issues/529

[2016-05-04 18:12] vtjnash opened #856 "win: replace `uv_file` API"
On Windows, a file descriptor is emulated in user-space as a wrapper around the real Win32 API. Indeed, the first operation libuv almost always must do is to throw away the wrapper (by calling `uv__get_osfhandle`). However, since the wrapper is implemented in user-space, this adds unnecessary overhead, makes the API less flexible, and is potentially error-prone (it assumes that the caller and libu

[2016-05-05 09:34] saghul commented on #856
This would definitely be something for 2.0. While your reasoning sounds ok to me, I don't have enough Windows specific knowledge to make a good judgement call here, so I'll defer to our Windows overlords @piscisaureus and @orangemocha.

[2016-05-05 09:36] saghul commented on #264
Cool, we can kill a few birds with a single stone then :-)

[2016-05-05 11:44] bnoordhuis commented on #854
Added to the v2.0.0 milestone.

[2016-05-05 19:38] saghul commented on #852
Sounds good to me! As for b), it looks quite complex, I'd got here if we have no other choice, I trust your judgement there. :+1:

[2016-05-05 21:24] #844 closed

[2016-05-06 21:53] piscisaureus commented on #852
I know the CloseHandle() trick doesn't work since windows 8 any more (I'm not aware of any reliability issues with Windows 7 though) but as @orangemocha said, there aren't really any good alternative ways to cancel a line buffered read.

Most of the time node got away with it by making sure to never start reading in line buffered mode in the first place; when we start up the repl just switch to ra

[2016-05-07 11:49] kthelgason commented on #348
I think this issue can be closed. It's a duplicate of #850

[2016-05-07 12:13] kthelgason commented on #850
regarding the `-Wpedantic` errors about test files where there is only code for a subset of platforms, should those files perhaps not be built on the platforms where they are empty?

[2016-05-07 19:33] #348 closed

[2016-05-07 21:31] saghul commented on #850
I'd rather add an ifdef inside the test which calls RETURN_SKIP on the platforms where it doesn't apply. This is what we do for individual tests inside files with multiple tests, IMHO we should also apply it here.

[2016-05-07 21:34] saghul commented on #852
Thanks for your insights Bert!

[2016-05-07 21:50] kthelgason commented on #850
Ok. Is the thinking there to make it easier to potentially add tests for those platforms in the future, or is it just a question of consistency?

[2016-05-08 09:42] txdv commented on #850
This looks less intrusive than ifdefs, as in, less lines to add or remove

[2016-05-08 12:18] saghul commented on #850
Not really, because it also need to be applied to the GYP file, thus duplicating code.

[2016-05-08 23:06] kthelgason commented on #850
@saghul how do you feel about adding `-Wno-long-long` to `configure.ac` to silence these warnings? IMO it's adding a lot of noise and drowning out possibly legitimate warnings.

[2016-05-09 08:22] saghul commented on #850
I'd be fine with that, but only for the run-tests target. We should do the same on uv.gyp.

[2016-05-09 11:42] dmicunov opened #863 "uv_loop_close() returns -16 after uv_close()"
Trying to write simple client/server application.
When server gets SIGINT signal, loop should be closed.
In example below, it always returns -16:

https://github.com/dmicunov/libuv-socket-example/blob/master/server.c

Thus there is a memory leak reported by Valgrind:

`==4328==
==4328== HEAP SUMMARY:
==4328==     in use at exit: 128 bytes in 1 blocks
==4328==   total heap usage: 121 allocs, 120 fr

[2016-05-09 12:09] orangemocha commented on #852
Thanks for your input, @piscisaureus !

There might have always been a race condition there. Even if you just do `process.stdin.setRawMode(true)`, the mere initialization inside the process.stdin getter runs this code https://github.com/nodejs/node/blob/c490b8ba54df6c730f7bfd02aaafe7c34f571f9e/src/node.js#L665-L716.

The first line in that range triggers a line buffered read, with the following co

[2016-05-09 12:14] orangemocha commented on #852
@piscisaureus I am not sure... is that realistic? Are you suggesting that most users don't read from stdin directly, but rather use the readline module? In any case, it would be a significant breaking change and it would have to go through some deprecation period.

Re-implementing buffered line read in libuv in terms of raw mode would have to be motivated by the opportunity to emulate the unix beh

[2016-05-09 13:15] saghul commented on #863
The error is UV_EBUSY, which means you have not closed all resources before calling `uv_loop_close`: http://docs.libuv.org/en/v1.x/loop.html?highlight=uv_loop_close#c.uv_loop_close. Hence the leak.

[2016-05-09 13:15] #863 closed

[2016-05-09 15:00] txdv commented on #863
Use uv_strerror to get normal error messages instead of numbers.

[2016-05-09 18:25] piscisaureus commented on #852
Well, people read from stdin. But do people really read from the *console* in line buffered mode?
Note that your typical `echo foo | node bla.js` is unaffected, since stdin is a pipe in this case and not a console.

It is my sense that it's not a useful goal. But I don't know everything, so if there is evidence to the contrary I will change my opinion.
It'd also be a little weird though as node wo

[2016-05-09 18:41] piscisaureus commented on #721
Possible? sure!
Useful? not sure - libuv already supports ansi escape codes, right?

[2016-05-10 04:35] txdv commented on #721
It is super useful! Don't listen to that man, his life is all gray.

[2016-05-10 21:52] denzmenz opened #865 "porting to qnx"
Hi,

Our requirement is to run node-js on QNX.
Is libuv the only dependency that is preventing node-js  to run on QNX?

node-0-10 previously supported QNX.

What would be the scope for porting libuv to QNX 6.6? Can this be implemented using select, poll or ionotify?

-Denzil

[2016-05-10 23:38] saghul commented on #865
Context: https://groups.google.com/forum/#!topic/libuv/eYQNxm_7mlM

[2016-05-11 08:44] bnoordhuis commented on #865
We'll accept patches that add QNX support (provided they meet our standards) but you'll be on the hook for maintaining it.

Same goes for node.js: if it's not part of the CI matrix, it's unsupported.  Maintenance falls on the shoulders of whoever steps up.  If it bitrots, it's going to get the ax sooner or later.

Take a look at src/unix/aix.c to get a feeling of what a port entails.

Presumably.

[2016-05-11 22:16] iWuzHere commented on #845
So currently whats happening:

### Linux
Enter `uv__server_io`
We attempt `uv__accept` -> fails with `EMFILE`
Go into `uv__emfile_trick`
Free spare fd
Call `uv_accept` -> succeeds
Close `peerfd`
Call `uv_accept` (since in loop)  -> fails with `EAGAIN`, exit loop
Re-open spare fd and save as emfile fd  -> succeeds
Leave `uv__server_io`

In `uv__tcp_connect`
`getsockopt` returns 0 for error -> test

[2016-05-11 22:46] iWuzHere commented on #845
So found out something interesting

### linux

[code]

This is in `uv__server_io`
Our client socket ( hard coded 31 in this case as it always will be for this test case ) has no error before and after our first attempt at `uv__accept` (determining if we need to do emfile trick )

### AIX
[code]

Same scenario as linux (above) but this time after our first `uv__accept` fails with `EMFILE` the clien

[2016-05-12 07:21] saghul opened #867 "Prepare 1.9.1"
After https://github.com/libuv/libuv/pull/866 lands I want to make a release so Node 6 gets a working Windows console.

This is what we have so far (nothing is semver minor, AFAIK):

28d160f darwin: make thread stack multiple of page size
a8840fb darwin: work around condition variable kernel bug
e397caa win: remove unneeded condition
46d84ea win: simplified UTF16 -> UTF8 conversions
4c945f4 win: i

[2016-05-12 07:39] yjhjstz commented on #867
👍

[2016-05-12 07:54] bnoordhuis commented on #867
Doesn't 6f17a61 ("win: add maxrss, pagefaults to uv_getrusage()") qualify as semver-minor?

[2016-05-12 07:57] saghul commented on #867
Maybe... it just fill up a couple of fields that were previously unpopulated on Windows. We can make that 1.10, I'm fine with that.

[2016-05-12 08:01] bnoordhuis commented on #867
Grey area, I agree.  I'll leave it up to you.

[2016-05-12 08:58] saghul commented on #845
I'm not familiar enough with AIX to make a judgement call, but if failing
to accept() a connection triggers an error on the client socket I guess the
EMFILE trick will never work, so we might as well skip it there.
On May 12, 2016 00:46, "Imran Iqbal" <notifications@github.com> wrote:

[2016-05-12 09:12] bnoordhuis commented on #845
Does that mean the AIX kernel sends a RST to the client?  Because if that is the case, then yes, calling `uv__emfile_trick()` isn't that useful (although not particularly harmful either.)

[2016-05-12 19:42] iWuzHere commented on #845
Looks like we are getting a RST to the client here is the following tcdump output on linux and aix

### linux

[code]

### AIX

[code]

The last line with `loopback.9123 > loopback.43178: R,`  is the RST packet, [source](https://fwknowledge.wordpress.com/2013/03/05/tcpdump-flags/)

I'll create a PR for skipping the test on AIX

[2016-05-12 21:12] #845 closed

[2016-05-13 00:50] lws-team opened #871 "windows installer silent / automated install"
Hi -

I want to add libuv to our Appveyor build testing for libwebsockets.

I found that you prepare windows packages already (thanks to Roger Light).

However testing them with wine, there doesn't seem to be any way to get them to install silently / with no prompts.  Openssl packages can be installed unattended in appveyor using "/silent /verysilent /sp- /suppressmsgboxes".

Can we maybe enable u

[2016-05-13 06:04] txdv commented on #871
7z can extract the libuv.dll contained in the installer

[2016-05-13 06:11] saghul commented on #871
I have no idea how the insaller works, TBH, so I'm afraid I cannot help you there. I'd take a patch, if it's small enough.

PS: libwebsockets user here, thanks for your work!

[2016-05-13 07:10] lws-team commented on #871
Ah glad you're getting something from lws.  For my part lws is increasingly using libuv both for epoll and for simple cross-platform support.

I'd be happy if I could provide a patch, but I don't have or want windows to try it out.

Although supporting unattended install would be best, txdv has a good point.  It should be enough to use 7z to get the dll out and then host the dll myself and fetch i

[2016-05-13 16:13] cjihrig commented on #867
@saghul I'm interested in seeing how the release process goes. Is it documented somewhere?

[2016-05-13 16:32] saghul commented on #867
It's basically using this tool: https://github.com/libuv/libuv-release-tool plus uploading the exe files generated by appveyor. We can do a screen-sharing session if you want!

[2016-05-13 16:35] cjihrig commented on #867
Sure, that sounds good. It would probably be good if we put together something like https://github.com/nodejs/node/blob/master/doc/releases.md too.

[2016-05-13 16:43] saghul commented on #867
Sure, let's do that on Monday then.

[2016-05-14 05:19] piscisaureus commented on #721
lol

[2016-05-14 05:20] piscisaureus commented on #721
But seriously, @txdv & @iWuzHere.
I'm happy that someone took notice and wants to update libuv to support new features.
However I really don't get it, what functionality does this add/change? please educate me

[2016-05-14 15:27] brickgao opened #872 "libuv Windows: compile errors with Windows 7 x64"
Hi,

The version of `libuv` I used is `v1.9.0`.

I built it with `Windows 7 x64 SP1` and `Visual Studio Express 2010`.

When I used `vcbuild.bat release` to build it, I got some errors:

[code]

In C89, we should declare/initialize all local variables at the beginning of a code block, so https://github.com/libuv/libuv/blob/v1.9.0/src/win/fs-event.c#L72 may cause such compile errors.

Is it okay to

[2016-05-14 20:42] kthelgason commented on #872
I don't speak for the project, but I would assume that any PR fixing compile errors for a platform is well regarded.

[2016-05-14 21:23] saghul commented on #872
@brickgao yes, this would be a welcome fix!

[2016-05-15 00:33] lws-team commented on #871
I was able to use 7z to unpack your install image and use it as a zip in appveyor successfully.

Thanks a lot for the advice!

[2016-05-15 00:33] #871 closed

[2016-05-15 04:03] brickgao commented on #872
@saghul Thanks for replying, I found it has been already fixed in branch `v1.x`.

[2016-05-15 04:03] #872 closed

[2016-05-15 12:48] saghul opened #873 "unix,fs: scandir results are not freed with the system allocator"
When calling ``scandir``, the result array of ``struct dent``s is allocated with the system allocator, but we free it with ``uv__free``.

Windows does not have this problem because we emulate it and use ``uv__malloc`` to allocate memory.

[2016-05-15 13:23] nevernet commented on #644
[code]

[2016-05-15 13:31] saghul commented on #644
I cannot reproduce this. What versions of autotools are you using? How did you install it?

[2016-05-15 13:31] nevernet commented on #644
@saghul Could you tell me when and how the *.Tpo will be generated?

[2016-05-15 13:32] saghul commented on #644
I have no idea. It's autotools who does that.

[2016-05-15 13:33] nevernet commented on #644
[code]

[2016-05-15 13:34] nevernet commented on #644
[code]

[2016-05-15 13:34] nevernet commented on #644
[code]

[2016-05-15 13:35] nevernet commented on #644
@saghul  i have been posted related tools info, please help me checked.

install libuv by following steps:
[code]

[2016-05-15 13:57] nevernet commented on #644
@saghul i have been solved this issue by upgrade the version of libtool.
the real reason is the conflicts of my local libtool.

default libtool is /usr/local/bin/libtool, but version is 2.2.x
after i install new version of libtool via brew,  but the libtool is still not linked to the "brew libtool"

solved it by following commands:
[code]

[2016-05-16 04:58] iWuzHere commented on #721
I *think* it's so we dont end up emulating tty's on windows.
I just offered to work on it to get some more windows experience! :stuck_out_tongue:

[2016-05-16 07:47] DrPizza commented on #852
The Windows 10 update coming some time later this year makes changes of some kind to the console subsystem (the background being the new Linux subsystem which at the very least needs Windows to be as good as a vt100, sigh). I don't know if this will manifest in any API-level changes (though the ability to use ANSI escape codes might be useful for output, at least) but it may make this

more feasib

[2016-05-16 17:30] joaocgreis commented on #839
Moving forward here, now that https://github.com/libuv/libuv/pull/868 has landed, I can change the labels under https://ci.nodejs.org/job/libuv-test-commit-windows/ to `win2008r2-vs2013` and `win2012r2-vcbt2015`. @saghul can I go ahead and do it?

`win10-vs2015` still has to be considered as work in progress because of the failures in Windows 10.

[2016-05-16 17:32] saghul commented on #839
@joaocgreis sounds good! even if there are some tests failing, IMHO it's a good idea to have `win10-vs2015` active to track the progress.

[2016-05-16 17:41] joaocgreis commented on #839
@saghul adding Windows 10 means that every build from now on will be red. Collaborators might get used to Windows being always red and forget to check the other two configurations that should pass. Is that desirable?

[2016-05-16 17:43] saghul commented on #839
The libuv team is a lot smaller than the Node team, it's easier to tell everyone what to look for :-) Also this puts the pressure on you folks to iron out the issues! :trollface:

[2016-05-16 17:51] joaocgreis commented on #839
Done, added the 3 labels. Here is a test run: https://ci.nodejs.org/job/libuv-test-commit-windows/55/

[2016-05-16 18:02] saghul commented on #839
Thanks Joao! Seems to be "working" (the Jenkins part, that is).

[2016-05-16 18:02] #839 closed

[2016-05-16 18:11] #873 closed

[2016-05-16 21:06] #852 closed

[2016-05-16 22:27] saghul commented on #867
So, 1.9.1 is out. I'ma making the Node PR now.

[2016-05-16 22:27] #867 closed

[2016-05-17 10:34] saghul commented on #831
Closing in favor of #834.

[2016-05-17 10:34] #831 closed

[2016-05-17 10:35] saghul commented on #809
Closing in favor of #823, let's continue the discussion there.

[2016-05-17 10:35] #809 closed

[2016-05-17 10:37] saghul commented on #800
Closing in favor of #849.

[2016-05-17 10:37] #800 closed

[2016-05-17 10:38] saghul commented on #865
Closing since there is nothing actionable from our side. I subscribe to what Ben said.

[2016-05-17 10:39] #865 closed

[2016-05-17 10:40] #774 closed

[2016-05-17 10:41] saghul commented on #703
No follow-up, closing.

[2016-05-17 10:41] #703 closed

[2016-05-17 10:42] saghul commented on #582
Nothing actionable here? Closing. Holler if we need to reopen this.

[2016-05-17 10:42] #582 closed

[2016-05-17 10:43] saghul commented on #552
No follow-up, closing. If someone wants to work on this, feel free to send a PR with the API design / implementation.

[2016-05-17 10:43] #552 closed

[2016-05-17 10:45] saghul commented on #397
No follow-up, closing.

[2016-05-17 10:45] #397 closed

[2016-05-17 10:46] saghul commented on #322
Closing in favor of #729.

[2016-05-17 10:46] #322 closed

[2016-05-17 10:54] saghul commented on #117
I'm going to close this as "wontfix". libuv is packaged for many distros and we haven't heard any problems so far, this just complicates the release process without giving us much in exchange.

[2016-05-17 10:54] #117 closed

[2016-05-17 10:56] saghul commented on #34
No follow-up, closing. Feel free to open a PR when ready.

[2016-05-17 10:56] #34 closed

[2016-05-17 11:14] jbergstroem commented on #117
Not disagreeing but the win is that every system that wants to build this would need less dependencies for the added action of `make dist`.

[2016-05-17 14:24] stevengj commented on #322
@saghul, the ordinary github practice would be to have the PR automatically close this issue when it is merged.  (This will happen if the commit or the issue description includes something like `closes #322`.)

[2016-05-17 14:56] saghul commented on #322
I don't disagree, but I also don't like to see duplicates.

[2016-05-17 16:38] stevengj commented on #322
A PR is not a duplicate of an issue; it is the solution to the issue.

[2016-05-17 18:36] leodutra commented on #552
Oh God... please send Jesus to implement this.

[2016-05-18 22:29] iWuzHere commented on #721
So sorry for the delay (had to clear AIX stuff off my plate) just getting around it to.
Have some example code in https://github.com/iWuzHere/poc-win10ansi

First compiled without the flag ``ENABLE_VIRTUAL_TERMINAL_PROCESSING`` and asserts, ran the code.
Then compiled and ran the code as is without commenting out anything

Got this:
![Screenshot](http://i.imgur.com/PbwNy1r.png)

[2016-05-18 22:55] iWuzHere commented on #721
Okay so unfortunately I dont think this will work, or at least I dont know how to make this work ( maybe some ifdef's? )

So in `uv_tty_set_mode` we have the following code

[code]

So `ENABLE_ECHO_INPUT` has the same value as `ENABLE_VIRTUAL_TERMINAL_PROCESSING` (0x4)
And coincidentally (i think?) the input maps seem to map to the output flags
https://msdn.microsoft.com/en-us/library/windows/desk

[2016-05-18 23:49] LPGhatguy commented on #721
This feature would also solve #439 and #440 for newer Windows builds, which would be handy.

[2016-05-19 06:00] txdv commented on #721
So it is working out of the box?

[2016-05-19 19:45] iWuzHere commented on #721
So I thought I could use `GetVersionEx` to try and see if we are using windows 10 v1511 or newer, but its not much help

[code]

This is for:
![Screenshot](http://i.imgur.com/Z3aPYTV.png)

Looks like windows has gone and made it quite weird to get information version:
https://msdn.microsoft.com/en-us/library/windows/desktop/dn481241(v=vs.85).aspx

[2016-05-19 20:00] iWuzHere commented on #721
Managed to get this:

`Windows version: 10.0.14342`
From using `GetFileVersionInfo` and `VerQueryValue` on kernel32.dll

And from [here](https://en.wikipedia.org/wiki/Windows_10_version_history) we find out the build number of 1511 should be `10.0.10586`
Though im not seeing anything about having ansi support in the changelogs

[2016-05-19 23:21] iWuzHere opened #882 "Watching a directory for file modification (ie. writing to a file) is unsupported on AIX"
While working on the fswatch related stuff for AIX I came across the following:

Currently with ahafs, if you watch a directory the only events you can get are the following:

[code]
([source](https://www.ibm.com/support/knowledgecenter/ssw_aix_71/com.ibm.aix.osdevice/aix_ev_in_predef_moddir.htm))

What this does not allow, how ever is the option of monitoring a file under the directory for a chan

[2016-05-20 07:41] bnoordhuis commented on #882
kqueue on the BSDs has more or less the same issue and we don't try to paper over that.  You quickly end up with a poor reimplementation of fam or gamin.

I think the contract is fairly well understood by libuv users:

1. `uv_fs_event_t` is efficient but a best-effort attempt.
2. `uv_fs_poll_t` is costlier but more accurate and portable.

[2016-05-20 08:23] saghul commented on #882
Agreed with @bnoordhuis. A documentation PR would be nice to let other know about the limitation though.

[2016-05-22 16:34] vavrusa opened #883 "uv_poll_init() doesn't work for kqueue fds"
Versions affected: since 1.2.2 (reproduced on 1.9.0)
Platform: BSDs and OS X

## Problem

`uv_poll_init()` enforces that socket is set to non-blocking mode, but ioctl is N/A for kqueue pollfd so it returns an error. This blocks nesting/embedding other event loops or polling mechanisms in libuv where kqueue is used.

## Steps to reproduce

1. Create a `kq = kqueue()` pollfd
2. Create `uv_poll_t` an

[2016-05-23 04:55] kazuho commented on #517
+1 to having this feature.

In HTTP/2, it is generally a good idea to decide what to send _after_ the socket becomes writable, since the server might receive a request of a higher priority while the write side is blocked.  In such case, the server should send the response to new new request when the socket becomes writable.

Without this PR, HTTP/2 servers cannot be implemented that way.

[2016-05-23 06:00] kangjoni76 commented on #517
+1,

cheers

[2016-05-23 08:31] bnoordhuis commented on #883
While we can fix that in libuv (and we probably should), I don't think it would help you much. You can't usefully nest kqueue file descriptors (on OS X anyway) because the nested fd is immediately reported as readable, regardless of whether there are actual events available.  It's not like epoll, where events bubble up.

It's possible Apple fixed that in the most recent XNU release but a quick loo

[2016-05-23 16:55] vavrusa commented on #883
It'd help me a lot. It is indeed reported as readable and that's fine as the nested loop finds out there are no events and yields. Next wakeup happens when there are actual events on the kqueue. Right now I had to hack it a little bit, as in - I have to open the uv_poll_t on a throwaway file descriptor and then switch it with the kqueue before `uv_poll_start(...)`, but that requires fiddling with

[2016-05-23 17:02] saghul commented on #883
@bnoordhuis I guess we could ignore the error here: https://github.com/libuv/libuv/blob/v1.x/src/unix/poll.c#L62 kind-of setting the fd non-blocking best-effort.

[2016-05-24 13:06] saghul commented on #854
A fix already landed in #875.

[2016-05-24 13:06] #854 closed

[2016-05-24 15:14] #883 closed

[2016-05-24 15:55] vavrusa commented on #883
Neat, thank you!

[2016-05-24 16:04] vavrusa commented on #419
It's been a while (🍂❄️🌱), any update on this by a chance?

[2016-05-24 16:23] saghul commented on #419
I'm afraid not, sorry :-(

[2016-05-27 22:13] iWuzHere commented on #721
Created pull request https://github.com/libuv/libuv/pull/889

[2016-05-29 03:17] neevek opened #891 "fatal error: pthread-barrier.h: No such file or directory"
I am trying to build with libuv on Debian(2.6.32-042stab113.11, gcc 4.9.2),  failed with:

    In file included from /usr/include/uv.h:62:0,
                 from test.c:2:
    /usr/include/uv-unix.h:61:30: fatal error: pthread-barrier.h: No such file or directory
    # include "pthread-barrier.h"

I found that the file `pthread-barrier.h` was in `libuv/include` but was not installed in system inc

[2016-05-29 08:58] saghul commented on #891
That's weird. That file is only needed for Android and OSX, where we use our pthread_barrier_t fallback implementation. How did you compile and install libuv on your system?

[2016-05-29 15:30] neevek commented on #891
This is how I built libuv on debian:

    git clone --depth=1 https://github.com/libuv/libuv.git
    cd libuv
    sh autogen.sh
    ./configure --prefix=/usr
    make && make install

Also I built my code with the following CFLAGS, but I don't think that would affect libuv:

    -c -Wall -O0 -g -std=c99

[2016-05-29 17:21] saghul commented on #891
Does `make check` work for you?

[2016-05-29 22:02] kthelgason commented on #891
The conditional include is based on whether `PTHREAD_BARRIER_SERIAL_THREAD` is defined. Do you have libc6 installed? Can you post the output of `./configure`?

[2016-05-29 22:20] kthelgason commented on #891
Also, does building your code with `-pthread` solve the problem? I suspect it will.

[2016-05-30 03:03] neevek commented on #891
@saghul `make check` passed in spite of some warnings.
@kthelgason , adding `-lpthread` did not help.

Output of `./configure --prefix=/usr`:

    ichecking for a BSD-compatible install... /usr/bin/install -c
    checking whether build environment is sane... yes
    checking for a thread-safe mkdir -p... /bin/mkdir -p
    checking for gawk... gawk
    checking whether make sets $(MAKE)... yes

[2016-05-30 04:22] milani commented on #335
What is the status of this issue?

[2016-05-30 06:43] lucab commented on #335
To the best of my knowledge, this issue is still open and affect both 0.10.x and 1.x. I'm still carrying an [ad-hoc patch](https://sources.debian.net/src/libuv1/1.9.1-1/debian/patches/mips-epoll_pwait.diff/) (the one proposed in #351) in Debian for it.

[2016-05-30 07:25] saghul commented on #891
I cannot reproduce this. I installed libuv on my Debian Sid system to /usr/local, then made a simple test program which just called `uv_run` and compiled it as follows:

[code]

[2016-05-30 08:19] neevek commented on #891
OK, I found the culprit, it is the `c99` option that causes the error, after changing it to `gnu99`, the code compiles now.
But it is weird, why can `c99` get `PTHREAD_BARRIER_SERIAL_THREAD ` defined?

[2016-05-30 08:41] bnoordhuis commented on #891
We can probably fix that by adding `-D_POSIX_C_SOURCE=200112` to the cpp flags.  The gyp build already does that.

@neevek Try adding that to your local build flags.

[2016-05-30 08:49] bnoordhuis commented on #891
I had a look and I don't think we actually need to change anything.  We already set `-D_GNU_SOURCE` (which subsumes `-D_POSIX_C_SOURCE=200112`) but overriding CFLAGS through the environment of course removes that.

I'll close, not a libuv issue.  @neevek Just add either define to you local flags and you should be good to go.

[2016-05-30 08:49] #891 closed

[2016-05-30 19:05] starius opened #895 "pc file: move Windows system libraries to Libs.private"
See https://github.com/libuv/libuv/pull/841#issuecomment-222391703

IMHO, the following change in generated libuv.pc is needed:

[code]

[2016-06-02 14:22] #882 closed

[2016-06-03 08:18] kthelgason commented on #850
I think this can be closed in light of https://github.com/libuv/libuv/commit/89f01a41ab71b3f539247bfb54e15f8dc2c395f8

[2016-06-03 08:25] #850 closed

[2016-06-03 08:59] niukey opened #897 "FAIL: test/run-tests"
FAIL: test/run-tests
======================================================
1 of 1 test failed
Please report to https://github.com/libuv/libuv/issues
======================================================
Makefile:4086: recipe for target 'check-TESTS' failed
make[1]: *** [check-TESTS] Error 1
make[1]: Leaving directory '/home/xing/fuwq/libuv'
Makefile:4342: recipe for target 'check-am' failed
make