[2016-06-03 09:07] saghul commented on #897
Please paste the output of the actual failing test, ie, everything before this message.

[2016-06-03 09:10] niukey commented on #897
=============================================================
[%  60|+ 175|-   0|T   0|S   0]: getaddrinfo_fail
`getaddrinfo_fail` failed: timeout
Output from process `getaddrinfo_fail`: (no output)
=============================================================
[%  74|+ 215|-   1|T   0|S   0]: poll_close_doesnt_corrupt_stack
`poll_close_doesnt_corrupt_stack` skipped
Output from process `poll_close_

[2016-06-03 09:17] saghul commented on #897
This implies a problem with your system. The test tries to resolve a nonexistent domain, so it should fail immediately. We have seen networks where DNS resolvers return something even for this broken address. Nothing to worry about. Thanks for reporting though!

[2016-06-03 09:17] #897 closed

[2016-06-07 18:19] rmg opened #899 "uv_translate_sys_error in v0.10 does not translate/propagate ENFILE"
I'm not sure if there's any motivation to cut another v0.10.x release, so I haven't even bothered with the 1-line patch to fix this. I'm mostly reporting this for the benefit of people searching for it.

The giant switch statement in src/unix/error.c does not include a translation for `ENFILE` to `UV_ENFILE`, even though `UV_ENFILE` is defined.

Where I've seen this manifest is in node v0.10.x in

[2016-06-07 18:21] saghul commented on #899
I'm not sure how other @libuv/collaborators feel, but unless Node really needs us to make a new release (I can do that), libuv 0.X is dead to me.

[2016-06-08 08:03] msoula opened #900 "unix: add uv_tcp_user_timeout fonction"
Hi,

I'm working on a nodejs server that declares a tcp streaming endpoint. To detect dead peers, I needed to add a function that let dev set TCP_USER_TIMEOUT value that specifies the maximum amount of time in ms that transmitted data may remain unacknowledged before TCP will forcefully close the
corresponding connection and return ETIMEDOUT to the application.

For this, I had to modify both node

[2016-06-08 08:10] saghul commented on #900
FWIW, you can already do that without modifying libuv. You could even write a Node binary addon to do it: using `uv_fileno` you can get the real file descriptiptor (or Windows HANDLE) of a libuv handle, and then you can `setsockopt` on it.

On Node `foo._handle.fd` will give yout the fd, you're just missing setting the socket option part.

[2016-06-08 08:27] msoula commented on #900
I thought I have to patch libuv to call system functions such as `setsockopt`.
Do you know how to do this in nodejs?

[2016-06-08 08:52] saghul commented on #900
You need to write a binary addon for Node which takes the fd and calls `setsockopt` on it with the option you want.

[2016-06-08 10:50] msoula commented on #900
Great, my addon is perfectly working. I didn't know about this mecanism.
So I guess we can close this issue since I've manage to modify socket option without having to patch libuv or nodejs.

Thanks for you help @saghul!

[2016-06-08 10:50] #900 closed

[2016-06-08 15:58] cjihrig commented on #899
Unless it's causing real problems, I don't think we should bother for Node 0.10.

[2016-06-08 17:20] indutny commented on #899
-0 from me.

[2016-06-09 21:15] saghul opened #906 "Make one more libuv 0.10 release"
- [x] https://github.com/libuv/libuv/pull/903
- [x] https://github.com/libuv/libuv/pull/904
- [x] https://github.com/libuv/libuv/pull/905

~~After these lands let's do one last 0.10 and call it a day. You've served us well, 0.10, we'll never forget you.~~ :fire: :fire: :fire:

**UPDATE**: we'll keep it in security-fixes-only mode until Node 0.10 is EOL.

/cc @libuv/collaborators @rvagg

[2016-06-10 08:00] bnoordhuis commented on #906
I would like to keep it on life support until the end of the year, to coincide with the EOL of node.js v0.10, just in case a critical bug or security flaw shows up.

[2016-06-10 08:02] saghul commented on #906
Oh, ok. I'll update #905.

[2016-06-10 21:18] iWuzHere commented on #906
Sounds good to me!

[2016-06-11 08:04] saghul commented on #906
I updated #905, PTAL.

[2016-06-11 10:28] saghul commented on #906
PRs landed. I'll make the release on Monday. If anyone has comments or something else needs to be included, please let me know.

[2016-06-12 00:11] saixmh commented on #550
How to make static on Mingw?
I want to use static lib by it.

[2016-06-12 00:55] saghul commented on #550
If you build it using autoconf, you'll have a resulting .a file in .libs/ you can link with that.

[2016-06-12 01:33] saixmh commented on #550
Thank-you very much. It works well.

[2016-06-13 11:40] saghul commented on #899
Fixed in #904

[2016-06-13 11:40] #899 closed

[2016-06-13 18:47] iWuzHere opened #911 "aix: -Wattributes warnings during build"
As found out in PR: https://github.com/libuv/libuv/pull/908

The issues seems to be `-fvisibility=hidden` which we are compiling with by default.
Auto tools checks for it as seen here:

[code]

Console output:
[code]

Without `-fvisibility=hidden`
[code]

I'm not too entirely sure why are not checking with `-Werror`
in configure.ac we have : `CC_CHECK_CFLAGS_APPEND([-fvisibility=hidden])`
Which sh

[2016-06-13 19:08] iWuzHere commented on #911
So ran a test with the following change:
https://github.com/iWuzHere/libuv/commit/58b13b0dcc120faba25d48be9500a210c28c4bfa
CI for AIX: https://ci.nodejs.org/job/libuv-test-commit-aix/nodes=aix61-ppc64/71/console
output is much cleaner!

Will open up PR

[2016-06-13 19:40] iWuzHere opened #913 "PPCBE: fs_futime test failing"
Just noticed on our PPC BE machine (ppcbe-ubuntu1404):
https://ci.nodejs.org/job/libuv-test-commit-linux/nodes=ppcbe-ubuntu1404/65/console
[code]

Assigning to myself to look into.

[2016-06-13 19:48] iWuzHere commented on #913
Can't recreate the failure locally, make check passes

[code]

[2016-06-13 20:47] iWuzHere commented on #913
We seem to be getting a value set in our `st_atime.tv_nsec` field on the community machine which is causing the failure (don't have gdb doing it the ol' fashioned `printf` way :stuck_out_tongue: )

[code]

[2016-06-13 21:51] saghul commented on #906
Release is a go! I'll close this and make a PR to Node.

[2016-06-13 21:51] #906 closed

[2016-06-13 23:16] iWuzHere commented on #913
added some more printf's in ```uv__fs_futime```

[code]
Not really sure where the ts.tv_nsec value is coming from

[2016-06-14 18:56] iWuzHere commented on #913
So this is an overflow issue.

code added in fs.c
[code]

On the failing machine
[code]

On passing machine

[code]

Its not being linked against 64 bit glibc

passing machine
[code]

failing machine

[code]

[2016-06-14 19:10] iWuzHere commented on #913
So instead of casting to `unsigned long` (not guaranteed to be 8 bytes) casting to `uint64_t` solves the issue.

Will create PR

[2016-06-15 07:04] love19862003 opened #915 "in Linux why the client loop must same as server loop"
i used per thread per loop.
i used tcp listen in a thread with a loop ,and i want to run the client in another thread (another loop) for net io service.
but when i call function uv_accept . that is a assert with in the file  src\unix\stream.c .
------------------------------------------------------------------------------
int uv_accept(uv_stream_t* server, uv_stream_t* client) {
  int err;

  /* T

[2016-06-15 07:44] saghul commented on #915
This is by design. The libuv loop is not thread safe, so you can't initialize a handle that belongs to a loop from another. This was never possible. If you where relying on it because there was no assert at some point, that was a mistake, I'm afraid.

The behavior is now properly documented [here](http://docs.libuv.org/en/v1.x/stream.html#c.uv_accept) and has been since v1.0.

Note to self: remove

[2016-06-15 07:44] #915 closed

[2016-06-15 07:55] love19862003 commented on #915
OK。 thanks. i am now used it in the same loop .   but i am worry Inefficiency in the loop with so much client connections in the same loop to call read and write .

2016-06-15

love19862003

发件人：Saúl Ibarra Corretgé <notifications@github.com>
发送时间：2016-06-15 15:44
主题：Re: [libuv/libuv] in Linux why the client loop must same as server loop (#915)
收件人："libuv/libuv"<libuv@noreply.github.com>
抄送："fanny

[2016-06-15 08:00] saghul commented on #915
Don't worry about that. The polling mechanisms we sue have been designed for high load. More threads won't necessarily help.

[2016-06-15 08:02] love19862003 commented on #915
OK . thanks very much  for you help.

2016-06-15

love19862003

发件人：Saúl Ibarra Corretgé <notifications@github.com>
发送时间：2016-06-15 15:44
主题：Re: [libuv/libuv] in Linux why the client loop must same as server loop (#915)
收件人："libuv/libuv"<libuv@noreply.github.com>
抄送："fanny.wu"<love19862003@163.com>,"Author"<author@noreply.github.com>

This is by design. The libuv loop is not thread safe, so you ca

[2016-06-15 15:45] #913 closed

[2016-06-15 21:27] #911 closed

[2016-06-15 23:47] iWuzHere commented on #342
I don't think anyone is currently working on this, I don't mind giving it a try, but it wont be high priority for me and will probably take a while since I'm not too used to windows dev.

[2016-06-20 14:42] paohui0117 opened #920 "A confusion about uv_pipe_queue_read"
line 1127 in win\pipe.c:

if (!RegisterWaitForSingleObject(&req->wait_handle,
            req->u.io.overlapped.hEvent, post_completion_read_wait, (void*) req,
            INFINITE, WT_EXECUTEINWAITTHREAD))
why use req->u.io.overlapped.hEvent instead of req->event_handle?Could someone tell me？
Thank you very much.

[2016-06-20 18:52] bnoordhuis commented on #920
Can you use the mailing list for questions?  We try to keep the issue tracker restricted to bug reports, feature requests and pull requests, to keep the S/N ratio high.  Thanks.

[2016-06-20 18:52] #920 closed

[2016-06-23 16:25] neevek commented on #425
I run into this same problem for blindly reusing the `uv_write_t` object.

@saghul I think it would be useful to mention in the documentation that `uv_write_t` should not be reused without careful memory management.

[2016-06-23 16:32] saghul commented on #425
@neevek mind submitting a documentation PR?

[2016-06-23 16:34] eljefedelrodeodeljefe opened #923 "fs: recursive mkdir"
I know this is gonna be a huge bike shed, but I wanted it to post at least for search engine visibility:

Have minimal recursive `mkdir` or `mkdir -p` for the API? There is a matching function in `shell32.dll`, [go has it](https://golang.org/src/os/path.go?s=488:535#L9), `make` has it buil-in, `gcc` doesn't, and JS implementations look clumsy.

Downstream, in node terms I wouldn't call it an addit

[2016-06-23 16:37] saghul commented on #923
[Python also has it](https://docs.python.org/2/library/os.html#os.makedirs), FWIW.

[2016-06-23 16:42] eljefedelrodeodeljefe commented on #923
Ah, also weirdly there is `uv__mkdir_p` for AIX [here](https://github.com/libuv/libuv/blame/b9324acb75153cfd386d4dd6433b19b69ff6d99e/src/unix/aix.c#L524-L548) (I had to look up what AIX is though, so please don't quote me).

[2016-06-23 23:24] iWuzHere commented on #923
Yeah, that was added so that we could create directories so that we could properly use AHAFS for file watching stuff

[2016-06-24 00:21] neevek commented on #425
@saghul I will do it later.
But I am still confused because I changed my code and I reuse the `uv_write_t` object only after `uv_write_cb` is called, I assume that when the callback is called, the libuv internal is done with the `uv_write_t` object, but it seems not, the segfault still occurs. why?

[2016-06-24 00:45] saghul commented on #425
After the callback fires it should be fine to reuse it, if not, there is a bug somewhere. A test case would definitely help.

[2016-06-24 08:37] ronkorving opened #925 "feature request: fs copy"
Apple just announced a new file system that will have new system calls for optimized copies (they're instant, and don't require reading/writing all file/directory data). I think it would be a great opportunity for libuv (and by extension Node) to expose a copy API that can tap into that.

More info in this WWDC talk: https://developer.apple.com/videos/play/wwdc2016/701/

[2016-06-24 08:45] bnoordhuis commented on #925
As a rule of thumb, libuv only exposes functionality that can be reasonably implemented on a majority of the supported platforms.

[2016-06-24 08:52] ronkorving commented on #925
file copy can be implemented on all platforms, right? And the more file system knowledge you have, the more optimal it can be implemented (in the case of macOS Sierra, very optimally). That's where libuv can shine, right?

[2016-06-24 09:16] saghul commented on #925
I think having a `uv_fs_copyfile` would be a good addition. Windows has CopyFile, but Unix is a jungle, as per usual. For example, see: http://stackoverflow.com/questions/2180079/how-can-i-copy-a-file-on-unix-using-c

OSX has copyfile(3) since 10.5, so I'd assume *they* take care of making it as fast as possible in their own file system.

@ronkorving you just volunteered to write the code, right?

[2016-06-24 09:57] ronkorving commented on #925
Challenge accepted :) (may take some time though)

[2016-06-24 18:42] cjihrig commented on #626
@jorangreef anything to report on this?

[2016-06-25 06:51] neevek commented on #425
@saghul Your are right, it was a bug in my code. And I just submitted a documentation PR~

[2016-06-25 22:16] cjihrig commented on #315
Is there a reason that `uv_get_process_title()` doesn't return `ENOBUFS` and `EINVAL` in these cases? I can work on it, if we want to go that route.

[2016-06-26 08:29] saghul commented on #315
@cjihrig I'd say go for it!

[2016-06-27 09:48] eljefedelrodeodeljefe commented on #923
Dragging in a critical voice I assume: @bnoordhuis

[2016-06-27 10:17] bnoordhuis commented on #923
I'm not dead set against it but why?  The npm package works perfectly fine.  Why reinvent the wheel?

[2016-06-27 10:26] eljefedelrodeodeljefe commented on #923
I knew you are not rigorously against it, but a wise mind anyhow :) Since it is avery basic task, something I believe usesr expect to work out of the box in the overall concept of `mkidr` in UNIX. Also take the libuv-case: the authors deemed it necessary to implement it theirselves, they have no `npm`.

The argument is: if it becomes customary it should be manifested to reduce intrinsic risk due t

[2016-06-27 12:47] cjihrig commented on #923
Is the goal just to get this in libuv, or into Node as well. I think there is a decent chance of this getting into libuv, but you're going to meet a lot of resistance in Node.

[2016-06-27 12:49] eljefedelrodeodeljefe commented on #923
libuv. If node wants to take, it would be a welcomed side effect.

[2016-06-29 14:25] cjihrig commented on #79
@mscdex is this still a thing you'd like to have?

[2016-06-29 14:30] mscdex commented on #79
Sure.

[2016-06-29 14:42] vtjnash commented on #856
Bump. Please let me know whether you would merge this.

[2016-06-30 07:06] classfellow opened #930 "terrible design bug"
----------------threadpool.c-----------------
int uv_queue_work(uv_loop_t* loop,
uv_work_t* req,
uv_work_cb work_cb,
uv_after_work_cb after_work_cb) {
if (work_cb == NULL)
return UV_EINVAL;

uv__req_init(loop, req, UV_WORK);
req->loop = loop;
req->work_cb = work_cb;
req->after_work_cb = after_work_cb;
uv__work_submit(loop, &req->work_req, uv__queue_work, uv__queue_done);
return 0;
}
void uv__work_

[2016-06-30 07:09] bnoordhuis commented on #930
Working as intended, please read the documentation first.

[2016-06-30 07:09] #930 closed

[2016-06-30 07:16] classfellow commented on #930
Sorry,thing like it is not a bug.

[2016-06-30 07:49] classfellow opened #931 "Ask a question, how to post a task to main thread in node.Please my codes."
void RcibHelper::PrintLogs(const std::string & info, async_req * req){
if (fp_){
std::string content = info + "\n";
fputs(content.c_str(), fp_);
}
//TODO use direct way
uv_queue_work(uv_default_loop(),
&req->req,
DoNopAsync,
(uv_after_work_cb)AfterAsync);
}

PrintLogs runs in a new thread that created when my c++ module required. But uv_queue_work actually only can be invoked on the main thread.

[2016-06-30 07:57] classfellow commented on #931
[code]
`PrintLogs` runs in a new thread that created when my c++ module required. But uv_queue_work actually only can be invoked on the main thread.

Is there a way to do same thing safely?

[2016-06-30 08:01] bnoordhuis commented on #931
Can you use the mailing list for questions?  We try to keep the bug tracker focused on development of libuv itself.

I'll give you a hint though: read up on `uv_async_send()`.  Good luck.

[2016-06-30 08:01] #931 closed

[2016-06-30 08:15] saghul commented on #930
Please refrain from making such comments if you haven't at least spent the time to understand how things work. If in doubt, you can ask on the mailing list.

[2016-06-30 12:51] txdv commented on #930
also put code in ``` blocks

[2016-07-01 02:04] baisai opened #932 "about accept multiple loops"
i want to run multiple loops and listen one port
but aceept  server socket and client handle must be running on the same loop.
is there a way accept client socket running other loop or multiple loops listen the same port

[2016-07-01 03:27] metalwood opened #933 "How to control the transmission speed under libuv?"
As we all know, libuv is an asynchronous network library, it will do its best to send out the data, however, in some cases, we can not take all the bandwidth, transmission speed needs to be controlled at the specified value, how to do this with libuv api?

[2016-07-01 08:09] saghul commented on #933
You can stop writing in your application after a certain amount of bytes have been queued. You can check that with http://docs.libuv.org/en/v1.x/stream.html#c.uv_stream_t.write_queue_size

PS: Please use the mailing list for questions, we try to keep the issue tracker for bugs and feature requests.

[2016-07-01 08:09] #933 closed

[2016-07-01 08:12] saghul commented on #932
There is no way to accept a client on another loop. There are a number of things you can do:

- create the listener handle, then create X new loops, send the handle to them using uv_write2 and listen in all of them
- if you're on Linux (> 3.9 IIRC), create X new loops and bind a handle to the same IP and port using SO_REUSEPORT
- have a single loop accept all incoming connections and send them to

[2016-07-01 11:04] baisai commented on #932
thank you for your answer
do you mean to use name pipe to send the handle?
en...i have test for uv_listen in A loop thread and uv_accept in B loop thread. it work in windows success!!!
i think use name pipe send handle in the same process may be a little slowly
would libuv can providing this support?

[2016-07-01 11:04] baisai commented on #932
thank you for your answer
do you mean to use name pipe to send the handle?
en...i have test for uv_listen in A loop thread and uv_accept in B loop thread. it work in windows success!!!
i think use name pipe send handle in the same process may be a little slowly
would libuv can providing this support?

[2016-07-01 11:24] saghul commented on #932
I don't see libuv providing support for this anytime soon. The only reason why it "works" on Windows is the lack of an assert. It's not thread-safe, so your application may break in unexpected ways. Don't do that.

As for speed: don't guess, benchmark.

[2016-07-01 11:25] saghul commented on #932
Closing this as "not an issue, works as intended".

[2016-07-01 11:25] #932 closed

[2016-07-01 13:06] SipSeb opened #934 "two assertions failed when backporting debian package to wheezy"
Hi,

I'm trying to backport the package from debian-jessie-backports (1.9.0) to wheezy. The build is fine, however, there are two tests that fail:

[code]

Is this a wheezy problem or a libuv problem?

[2016-07-01 13:31] saghul commented on #934
Hard to tell. They are TCP related tests... do they consistently fail? Our buildbots use Jessie and various other distros and flavors and I haven't seen those failures.

[2016-07-01 16:13] SipSeb commented on #934
"TCP related tests" reminded me of the pretty restrictive firewall in front of the build machine. So I tried it again on a machine without firewall, and it worked. Sorry for opening the bug report.  ;)

[2016-07-01 16:13] #934 closed

[2016-07-02 12:35] eljefedelrodeodeljefe commented on #923
FWIW, added a PR. Implementation is trivial, but the mkdir-API would be decently fixed, imo.

[2016-07-02 12:38] eljefedelrodeodeljefe commented on #925
@ronkorving I have a one and a decent setup for dev. If you do a PR I can submit a PR to your branch.
Always given that this is able to move forward...

[2016-07-02 13:32] ronkorving commented on #925
Awesome, much appreciated! Let's make this happen!

[2016-07-07 11:10] PrinceDhaliwal opened #939 "Test failed: Assertion failed in test/test-getaddrinfo.c on line 43: status < 0"
Here is the relevant information on running `make check`:
[code]
I am using Ubuntu 16.04 - LTS. I ran the command twice but still the test failed.

[2016-07-07 13:42] cjihrig commented on #939
Does `xyzzy.xyzzy.xyzzy.` resolve to something on your system?

[2016-07-07 14:23] saghul commented on #939
This is a problem in your network. It returns something for the domain we made up for the test. There are a number of occurrences of this if you search through the issue tracker. Long story short: not a bug.

Closing.

[2016-07-07 14:23] #939 closed

[2016-07-09 07:42] strrchr opened #941 "Some minor compiling defects"
[code]

[2016-07-09 08:07] bnoordhuis commented on #941
https://github.com/libuv/libuv/pull/942

The first one is somewhat genuine: `flags` is not set when you pass invalid arguments to `uv_tty_set_mode()`.  Arguably a case of GIGO but I'll add a path that returns UV_EINVAL.

The others are false positives.  The compiler you use is not smart enough to figure out that `path_len` is set and used under the same set of conditions.  I've simplified the cond

[2016-07-09 12:08] ogapo commented on #203
Would it make more sense to implement DNS resolution (on linux at least) using getaddrinfo_a (http://man7.org/linux/man-pages/man3/getaddrinfo_a.3.html) so it can be properly cancelled rather than trying to club the whole thread?

[2016-07-09 12:25] saghul commented on #203
@ogapo Not really. AFAIK getaddrinfo_a is implemented using threads anyway. Our implementation runs on the threadpool and is already cancelable (if it's not running yet). What is currently not implemented is making this running requests unref-able so the event loop can end early.

[2016-07-10 03:50] indutny opened #945 "Use `git-secure-tag` for releases"
This provides stronger security guarantees for signed tags, will also make things more secure for `gypkg` 😉

See: https://github.com/nodejs/node/pull/7603
See: https://github.com/indutny/git-secure-tag

cc @bnoordhuis @saghul @libuv/collaborators

[2016-07-10 07:50] bnoordhuis commented on #945
This guy, always peddling his wares.

Saúl is our prime releaser, it's up to him.

[2016-07-10 09:59] saghul commented on #945
I'll take a look.

[2016-07-10 14:17] dragonahao opened #946 "You need to install gyp in build/gyp first. See the README."
It occurred when i compile android

Cleaning up...
Done.
You need to install gyp in build/gyp first. See the README.

[2016-07-10 14:35] dragonahao commented on #946
i add gyp in windows with python2.7 ,then it occurred
gyp\__init__.py", line 37 print '%s:%s:%d:%s %s' % (mode.upper(), os.path.basename(ctx[0]),
what happen ?

[2016-07-10 15:56] indutny commented on #945
Thank you!

[2016-07-11 09:01] saghul commented on #946
Can you please indicate the commands you're running and what the actual output really is? FWIW I don't think compiling for Android on Windows is supported.

[2016-07-12 00:03] Zert opened #947 "uv_write_cb called repeatedly after uv_write"
Hello
When I make multiple (5-10) uw_write calls for TCP sockets in the same time (well, may be milliseconds between them), sometimes I have a very strange behaviour of uw_write_cb callback: it seizes a whole loop and repeatedly called with status=0 (what is normal) until program interrupted by Ctrl+C.
What kind of information should I provide you to find what is wrong?

[2016-07-12 00:16] cjihrig commented on #947
Ideally, code to reproduce the bug, as well as libuv version and OS info.

[2016-07-12 08:32] saghul commented on #947
Are you using multiple threads? Reusing uv_write_t structures?

[2016-07-12 08:40] Zert commented on #947
Single thread

No

[2016-07-12 09:47] saghul commented on #947
Then that shouldn't happen. Can you make a test case which demonstrates the issue? Our test suite uses uv_write extensively and I'm not aware of such issue at the moment. Thanks!

[2016-07-12 09:49] Zert commented on #947
Yes, I need to extract this code out of my project, it is not too easy though

[2016-07-13 16:24] Zert commented on #947
I've corrupted memory, sorry :(

[2016-07-13 16:24] #947 closed

[2016-07-14 13:50] #315 closed

[2016-07-15 13:59] cjihrig commented on #523
Can this be closed? It looks like `UV_VERSION_IS_RELEASE` is [currently](https://github.com/libuv/libuv/blob/840a8c599ec1f138992a538f5b8109f91f31805e/include/uv-version.h#L36) `0`. The release process also has instructions [now](https://github.com/libuv/libuv-release-tool/blob/2236bc95fde5f710cca8afd317526b4dc9bf9118/README.md), including step 9, which makes sure this is set back to `0`.

[2016-07-16 06:45] saghul commented on #523
Ideally I'd like to close this once it's automatic, as it was before.

On Jul 15, 2016 15:59, "Colin Ihrig" <notifications@github.com> wrote:

[2016-07-20 21:12] StefanKarpinski commented on #856
This is a fairly crucial issue for being able to deal with files on Windows. Can someone please reply to this?

[2016-07-21 07:13] saghul commented on #856
I'll look at this more in deep by next week, sorry folks.

[2016-07-23 03:23] lucab commented on #925
For reference, Linux 4.5 gained [copy_file_range(2)](https://kernelnewbies.org/Linux_4.5#head-6df3d298d8e0afa8e85e1125cc54d5f13b9a0d8c).

[2016-07-23 03:31] lucab commented on #708
I guess this is somehow OS-dependent, as I don't have any conversion warnings on [Debian arm64 builders](https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=arm64&ver=1.9.1-1&stamp=1464550613).

[2016-07-23 20:07] knopp opened #955 "Wrong printf format specifier width when building windows x64"
`libuv\src\win\fs-event.c(408): warning C4477: '_snwprintf' : format string '%.*s' requires an argument of type 'int', but variadic argument 2 has type 'std::size_t'`

`file_info->FileNameLength / sizeof(WCHAR)` is 64bit, but printf expects int precision

i.e. add extra cast
`file_info->FileNameLength / (DWORD)sizeof(WCHAR)`

[2016-07-24 05:42] txdv commented on #955
Dont you want to write the patch?

[2016-07-24 11:13] knopp commented on #955
Sorry, where I my manners :) I'll submit pull request later today.

[2016-07-28 11:46] saghul commented on #856
Sorry for the delay. I had a look at this and have some questions:

I understand the multiple CRT problem, but what is the flexibility we are lacking here? Is that overhead measurable?

IMHO `uv_file` is kinda a Unix-ism, since "everything is a file", I'd go for `uv_os_fd_t` or something similar. On Unix it would be an `int` and on Windows it would be a `HANDLE`. IIRC `SOCKET` can be cast to `HAND

[2016-07-28 15:30] vtjnash commented on #856
For example, reference discussion at https://github.com/libuv/leps/pull/2#discussion_r21122363. In general, there are Windows API's that aren't available through the CRT. This results in the need for extra effort to, for example, write a simple implementation of `pipe`: https://github.com/libuv/libuv/blob/b12624c13693c4d29ca84b3556eadc9e9c0936a4/test/test-spawn.c#L1568

Yes, they're the same size.

[2016-07-28 16:21] saghul commented on #856
That's good. We could have some defines a la `UV_STDIN_FD` et al, which map to `STDIN_FILENO` on unix and those you mentioned on Windows.

I meant in the child. Or maybe I'm confused and it's a Unix thing? AFAIS Node use NODE_CHANNEL_FD environment variable for the children get the fd and can communicate with the parent: https://github.com/nodejs/node/blob/master/lib/internal/child_process.js#L269

[2016-07-28 17:25] vtjnash commented on #856
This is modeled after the Unix thing. It's possible to pass more than 3 handles to a child via a call to DuplicateHandle (https://msdn.microsoft.com/en-us/library/windows/desktop/ms724251(v=vs.85).aspx) after the child has started, but any `fd` number would be assigned by the mscvrt library in the child only if you called `_open_osfhandle` on the handle. There's no way to map a fd across to an arb

[2016-07-29 07:37] saghul commented on #856
I see. My question is about how we would do it after the change. Now, AFAIS, because we use CRT fds they are allocated in order, and we know the 4th entry in the stdio array will have fd 3, so one can export a variable indicating this fact, but if we switch to using HANDLE, this won't be predictable, and it's not yet clear to me how we would signal the child that there is an IPC channel setup.

[2016-07-29 14:20] vtjnash commented on #856
I discovered I misspoke: there is no \*documented\* way to pass a fd to the child, so I didn't realize libuv is using a little trick. For a child program compiled against the Microsoft C runtime, there's a magic buffer (Reserved2) which can be set to contain a list of the HANDLEs. These HANDLEs will be reopened as file descriptors by the child CRT in the order they are given in the list.

[2016-07-30 00:25] ZyX-I commented on #79
I used `uv_translate_sys_error` because libuv lacks `read()`/`write()` and `readv()`/`writev()` syscall wrappers (or they are not listed in documentation). I am not using existing `uv_fs_read`/`uv_fs_write` because they require seek support and they require me to track position in the file what I have no reasons to do (kernel *already* tracks it). If there were these wrappers I would not need `uv_

[2016-07-30 00:43] ZyX-I commented on #79
To be more clear: `uv_translate_sys_error` was needed because I am mixing libc and libuv syscall wrappers. Current convention for the module where these wrappers are wrapped by Neovim code is “return libuv errors”, so alternatives to translating error codes are

1. Break convention and allow some functions to return system errors. Not acceptable because this will definitely lead to confusion (easy

[2016-07-30 08:52] #941 closed

[2016-07-30 09:54] saghul commented on #79
@ZyX-I https://github.com/libuv/libuv/issues/79#issuecomment-69339518 PRs are welcome :-)

[2016-07-31 13:38] tigranbs opened #961 "uv_accept in one thread and uv_read_start from other thread"
Hi I'm trying to develop network application with `multithreaded` network read write requirement.
I've implemented a lot with `libuv`, but now I can't find any resource to solve multithreaded issue.

I have `thread A` which is running only server binded socket and I want to use it  only for accepting connections, and after having connection accepted I want to start reading from `thread B` which is

[2016-08-01 09:00] saghul commented on #961
What you need to do is send the handle over to the other thread and start reading there. See [uv_write2](http://docs.libuv.org/en/v1.x/stream.html#c.uv_write2).

PS: In the future please use the mailing list for questions.

[2016-08-01 09:00] #961 closed

[2016-08-01 15:42] saghul commented on #946
no follow up, closing

[2016-08-01 15:42] #946 closed

[2016-08-01 16:18] cjihrig commented on #955
@knopp friendly ping.

[2016-08-01 16:28] knopp commented on #955
I thought I had forgotten something.

https://github.com/libuv/libuv/pull/963

[2016-08-02 08:26] saghul opened #965 "[v2] Learn / adjust based on the Electron integration"
I had looked into this long ago, but yesterday's [blog post](http://electron.atom.io/blog/2016/07/28/electron-internals-node-integration) prompted me to document this.

Electron integrates the libuv and Chromium event loops, by polling the libuv event loop in a thread.

They do, however, patch libuv to get notified about when an i/o handle is added to the loop, to restart the polling (on Unix): ht

[2016-08-02 15:52] cjihrig commented on #965
Just out of curiosity, how would `CREATE_NO_WINDOW` interact with the existing `UV_PROCESS_WINDOWS_HIDE`?

[2016-08-02 16:05] saghul commented on #965
One seems related to console apps and the other one to any application?

[2016-08-04 13:01] saghul opened #972 "[v2] Remove Windows LSP support?"
libuv seems to try very hard to work even when LSPs are in place. Apparently they are not so widely used these days and [deprecated](https://en.wikipedia.org/wiki/Layered_Service_Provider#Deprecation_and_LSP_bypass), so I guess we could drop support for those and delete some code. (I'm into deleting code lately).

@piscisaureus @orangemocha WDYT?

[2016-08-04 13:43] orangemocha commented on #972
deferring to @joaocgreis

[2016-08-04 15:33] #955 closed

[2016-08-04 18:32] vtjnash opened #973 "tty code changes controlling terminal"
The explicit call to `open(tty)` may change the controlling terminal to the current process (on some platforms? observed on OS X, but not linux), even if that's not desirable for the caller. There should be no need to explicitly change the controlling terminal, since it'll inherit the original setting even if all of the fds are closed. Thus, I think we should add the explicit flag to disable this:

[2016-08-05 03:42] vtjnash opened #976 "kevent backend calls abort under load"
there's a hard-coded limit of 1024 events in the kevent backend. beyond that, it appears to call abort (https://github.com/libuv/libuv/blob/7b07d18ad91ed2db58644185f1eaa60fdc7303af/src/unix/kqueue.c#L133)

for example:
[code]

[2016-08-05 07:40] txdv commented on #976
Does kevent return EINTR in this case? I see that libevent is checking for that error code.

https://github.com/libevent/libevent/commit/1fd34ab424b45f48dfeece108910978c79a8b7f6#diff-7f7fe4e102bac9c4ac2a28cb4d1e1ffeR312

[2016-08-05 08:08] saghul commented on #976
@vtjnash I'll try to reproduce it later today. What errno are you getting there? We have tests with more than 1024 tcp handles, so I'm not sure that's the cause here.

[2016-08-05 08:22] bnoordhuis commented on #976
I don't think kevent() can return EINTR when eventlist == NULL (a quick check of the xnu sources seems to confirm that) but we should perhaps handle EBADF, ENOENT and ENOMEM.

EBADF can happen if another thread concurrently closes a file descriptor that is in the changelist.

I don't know how or if we'd handle ENOENT, that probably either indicates a bug in libuv or that something outside libuv is

[2016-08-05 09:41] wnself opened #977 "Compile libuv‘s run-Benchmarks or run-tests occur link error!"
![image](https://cloud.githubusercontent.com/assets/16532317/17432804/bb2d9088-5b33-11e6-8529-94b8b3b214b3.png)

[2016-08-05 09:45] saghul commented on #977
Can you try the latest v1.x branch? This should be fixed already IIRC.

[2016-08-05 09:55] bnoordhuis commented on #973
I realize libuv is depending on platform-specific behavior but I'm a little concerned O_NOCTTY might cause regressions when combined with the UV_PROCESS_DETACHED uv_spawn() flag.

Because it calls setsid(), O_NOCTTY means the child process would no longer get a controlling tty.  I have a hard time coming up with a fix that maintains compatibility under that scenario.

That goes both ways, though.

[2016-08-05 14:57] vtjnash commented on #973
Yes, but the other session that was being controlled by this terminal can't reliably regain control, causing them to lose their STDIO when it exits.

@Keno proposed that we can add a flag to `uv_spawn` that specifies which fd (if any) should be used as the controlling terminal after the `setsid` call.

[2016-08-05 16:00] bnoordhuis commented on #973
That sounds reasonable but anything that changes the API or ABI in a non-backwards compatible way can not land in v1.x, only v2.x.

[2016-08-05 16:30] vtjnash commented on #973
Sure, I'm just hoping that by v2.x that we can land enough of the fixes from our Julia fork that we can start using master.

[2016-08-05 16:43] vtjnash commented on #976
I think it's returning EPIPE, but since `eventlist == NULL`, my limited understanding is that that prevents it from returning which specific fd in the changes list had hit this condition.

[2016-08-05 16:53] saghul commented on #973
2.0 won't happen overnight, so I too hope we can get all your fixes in!

[2016-08-05 20:54] hokein opened #978 "va_start behavior in uv_loop_configure is undefined."
there is a a `-Wvarargs` warning when compiling `libuv` with clang.

[code]

Note that `option` type is `uv_loop_option` which is an enum. This violates the promotion rules
for passing the value to `va_start`, so the behavior of `va_start` is undefined here. From C standard 7.16.1.4:

For more details, you can refer to https://www.securecoding.cert.org/confluence/display/cplusplus/EXP58-CPP.+Pass+

[2016-08-06 03:50] bnoordhuis commented on #978
I assume the fix is to rewrite it to `va_start(ap, (int) option)`?  It would take a very sadistic compiler to turn the current code into actual UB though, IMO.

Out of curiosity, with what clang version is that?  3.9.0?

[2016-08-06 04:05] bnoordhuis commented on #976
Interesting.  I didn't see any code paths in the kevent() system call that could lead up to EPIPE although I did spot a bug in xnu 2782.40.9 where it can erroneously return EPERM.

Is the abort reproducible with the binaries from http://julialang.org/ and with what OS X version (`uname -a`) are you seeing it?

[2016-08-06 11:15] hokein commented on #978
@bnoordhuis Thanks for the reply.

`va_start(ap, (int) option)` isn't a correct fix, IMO. The promotion rule is still in `va_start`. I don't know whether there is a fix without changing `uv_loop_option` interface.

[2016-08-06 14:18] bnoordhuis commented on #978
Can you explain when it would make a material difference?  `sizeof(uv_loop_option) == sizeof(int)` and they're both integral types so I'm having a hard time seeing how default argument promotion could turn bad.  Clang's warning borders on language lawyering, IMO.

That would break source compatibility so it's not an option for the v1.x branch but it could be considered for the v2.x branch.

[2016-08-07 02:59] bigeasy commented on #923
Curious as to why there isn't a way to build something like this as a package, add-on,etc. I'm getting (re-)oriented with `libuv`. I'm wondering if there's a project best-practice or package system that works well with it.

[2016-08-08 23:22] #977 closed

[2016-08-09 12:16] #376 closed

[2016-08-09 12:16] #529 closed

[2016-08-09 12:17] saghul commented on #264
I landed a PR which fixes the pipe_getsockname_blocking failure: #981 . Since this has been around for quite a while, I'm going to close it. Please open a new issue if tests are failing with latest v1.x branch.

[2016-08-09 12:17] #264 closed

[2016-08-09 15:21] Choonster opened #982 "Compilation Failing on MinGW (Windows 10)"
libuv: a6acc822452b07564c0440bdb7909b7edc805013 (latest commit on branch `v1.x`)
OS: MINGW32_NT-6.2 (MSYS shell on Windows 10)

Compilation errors:
[code]

[Full test output](https://gist.github.com/Choonster/44ec6c4029f44ec5a908759255e56a5f)

Steps to reproduce:
[code]

[2016-08-09 15:32] bnoordhuis commented on #982
Does it work with mingw64?  We dropped support for mingw32 last week, see commit 4613cc916a99674bc562090eacdb6259cafce765.

[2016-08-09 15:40] saghul commented on #982
@bnoordhuis That's on master though, on v1.x we technically still support the older MinGW. That said, it's kind-of "support it yourself", so the PRs are welcome rule applies, I guess :-)

[2016-08-09 15:46] saghul commented on #982
@Choonster any reason why you are not using / can't use MSYS2? It's so much better these days.

[2016-08-09 16:16] Choonster commented on #982
I just reinstalled MinGW to confirm that #264 was fixed. There seem to be quite a few forks and related projects, so I wasn't sure which version of MinGW/MSYS to install.

I'll try this on MinGW-w64 and MSYS2.

[2016-08-09 16:20] saghul opened #983 "Document the supported platforms"
I'd like us to have a SUPPORTED_PLATFORMS.md file with the following content, linked from the README. This is just a starting point, let's work through it and I'll make a proper PR:

------------------------------------------------------------------------------------------

# Supported platforms

|  System | Support type | Supported versions | Notes |
|---|---|---|---|
| GNU/Linux |  Tier 1 | Linu

[2016-08-09 16:24] saghul commented on #982
@Choonster No worries. I can really recommend the MSYS2 installer: https://msys2.github.io/ It'll get you up and running in no time and it comes with pacman from ArchLinux ported to Windows so you can install stuff easily from the command line.

[2016-08-09 18:43] bnoordhuis commented on #983
For linux, I'd put the baseline at kernel 2.6.18 and glibc 2.5.  We have centos5 bots in our CI matrix that cover that configuration.

I don't think we've ever made any promises w.r.t. freebsd except latest -STABLE.  I'm open to extending it to STABLE-1 because that probably covers 95% of the freebsd user base but we don't currently have fbsd9 machines in our matrix.

I'd be perfectly happy relega

[2016-08-09 20:36] Choonster commented on #982
What's the supported way to build libuv in MSYS2?

If I run this:
[code]

I get this error from `make`:
[code]

[2016-08-09 21:28] saghul commented on #982
do `make -C out/Debug`

or use autoconf if you prefer.

[2016-08-09 21:36] saghul commented on #983
Updated.

I set it to 9, since we support < 10 in v1.x and 9 is still supported until the end of the year.

Done.

I'll put up a PR tomorrow so it's easier to comment on.

[2016-08-09 23:12] Choonster commented on #982
If I run `make -C out/Debug` instead of `make -C out`, I get this error:
[code]

If I run this:
[code]

I get a [large number of compilation errors](https://gist.github.com/Choonster/bc8519949215cbdafb34d9a5b2056ac0).

Am I doing something wrong?

[2016-08-09 23:48] saghul commented on #982
Hum, that's weird. What do you have in the out/ directory, when using GYP? (no need to specify -f make when generating, I think)

For the autoconf build, maybe you're missing the win32headers package? (I think it was called that way).

I'll try to test it myself in a pristine environment and let you know.

[2016-08-10 01:11] Choonster commented on #982
The only file in the out/ directory after running GYP is [this Makefile](https://gist.github.com/Choonster/6e4b4d3ce5bf6b144f5097bc0ba7f06e).

[2016-08-10 04:01] zhjzjnb opened #985 "crash for help"
Hello everyone.
We are using the libuv(uv_version_string:0.10.15,uv_version:2575) on ubuntu 12.04 and have recently encountered a problem. In some cases (haven't manage to localize yet: it's hard to reproduce and it happens only with high load) the following crash is triggered:
from gdb bt

Program terminated with signal 11, Segmentation fault.
#0  syscall () at ../sysdeps/unix/sysv/linux/x86_64/s

[2016-08-10 04:27] yjhjstz commented on #985
please generator a core file.

[2016-08-10 10:04] bnoordhuis commented on #985
Is there any chance you can update to the latest v1.x release or at least the latest v0.10 release?  v0.10.15 was released three years ago, a lot of bug fixes have gone in since that time.

Note that the v0.10 release line is near its end of life.  If updating is a chore, you might as well target v1.x from the get go.

[2016-08-10 12:07] sailfish009 opened #988 "fix compile error in vs2015"
i rechecked the case, it is bug.
link the libs does not help.
https://github.com/libuv/libuv/pull/987

uv-win.h

#if _MSC_VER >= 1900
#undef stdin
#undef stdout
#undef stderr
_CRTIMP extern FILE _iob[];
#define stdin   _iob
#define stdout  (_iob+1)
#define stderr  (_iob+2)
#endif

[2016-08-10 12:25] saghul commented on #988
You really need to give us more information here. It all boils down to: can you compile libuv iteself with the provided vcbuild.bat file? Can you run the tests? If the answer to those is "yes" then the problem lies in **your** application, and the right place to ask questions would be the mailing list. At any rate, I can't help you without more information.

[2016-08-10 13:01] bnoordhuis commented on #983
Maybe mention that fbsd9 is tier 2 in that it's not tested regularly but we'll keep it in working shape until the end of the year.

[2016-08-10 15:24] txdv commented on #983
How is the linux musl combination tested? Android?

[2016-08-10 16:58] saghul commented on #983
@txdv Tier 2, it's not tested. It can be easily tested with any of the ubuntu bots by installing musl-tools and exporting some env variables though.

[2016-08-10 17:10] txdv commented on #983
Is there some write up on how to do that?

[2016-08-10 17:22] bnoordhuis commented on #983
We have an alpine/musl buildbot for node.js now.  It could be extended to test libuv as well.

No android so far: https://github.com/nodejs/build/issues/359

[2016-08-10 21:13] saghul commented on #983
Do what? Compile with musl? Copying my own notes:

First install the musl-gcc wrapper (on Debian):

[code]

Now set some environment variables:

[code]

(in this case I think you can leave the CFLAGS out, and the resulting binary will be linked with the musl runtime library)

[2016-08-10 21:14] saghul commented on #983
Oh, great! I'll open an issue in nodejs/build then

[2016-08-10 22:20] #988 closed

[2016-08-10 22:37] saghul commented on #983
PR: #991

[2016-08-11 00:09] sailfish009 commented on #988
the answer is yes, but problem exist in libuv.
i don't need help, above fix works for me.

[2016-08-11 06:26] llafuente commented on #983
How about having some #ifdef magic to raise some readable errors on unsupported platform, pointing to SUPPORTED_PLATFORMS.md or libuv doc

[2016-08-11 06:59] saghul commented on #983
Not sure we'd like that. It's possible libuv actually works in other platforms (I think HP-UX was sort-of working) so I'd rather try and if compilation fails they'll come.

[2016-08-11 21:52] saghul commented on #982
Ok, I rebuilt my MSYS2 environment from scratch. Here is how to do it with autotools:

- Start the MinGW-w64 Win64 shell (this is important, the MSYS2 shell won't do)
- Install the gcc toolchain and development tools:  `pacman -S mingw-w64-x86_64-toolchain base-devel`
- Do the autoconf dance

Looks like GYP doesn't quite work (out of the box, that is) with MinGW, so you're better off using autotoo

[2016-08-12 21:49] #983 closed

[2016-08-13 17:03] Choonster commented on #982
After installing those packages it now compiles using autoconf (with some warnings), but the `fs_symlink_dir` test is failing.

I've uploaded the build and test output [here](https://gist.github.com/Choonster/cbf095a1504c9a0f4e46d214e3692bc5).

[2016-08-15 18:44] jasongin opened #995 "lstat on Windows fails for "Macintosh HD" network share"
This was originally reported as https://github.com/nodejs/node/issues/5160. The impact as described there is that nodejs on Windows is unable to load script files from a "Macintosh HD" network share. (Spaces in the share name are actually irrelevant, despite the issue title.)

From debugging I found that the call to `DeviceIoControl(..., FSCTL_GET_REPARSE_POINT, ...)` in `fs__readlink_handle()` re

[2016-08-16 09:03] #995 closed

[2016-08-17 10:21] bnoordhuis opened #998 "unix: non-async-signal-safe functions in child fork"
From `man 2 fork`:

The following functions are called in `uv__process_child_init()` that are not marked async-signal-safe:
1. `ioctl()`, indirectly through `uv__nonblock()` - call `uv__nonblock_fcntl()` instead.
2. `setgroups()` - but unlikely to be an issue in the real world.
3. `execvp()` - problematic because it can do things like malloc memory.

Assigning to `environ` is in the "better don't"

[2016-08-17 10:36] bnoordhuis commented on #998
`execvp()` can be simulated by calling `getenv("PATH")` before calling `fork()` (if the path of the binary to spawn is relative), defaulting to `confstr(_CS_PATH)` if it's NULL.  Then, in the child fork,  try to `execve(component + argv0)` them in sequence.

[2016-08-18 07:46] saghul opened #1002 "sunos: fs_event_close_in_callback fails"
It's the only failing test. @libuv/sunos maybe you could take a look so we have a green build?

[2016-08-18 08:23] santigimeno commented on #799
Fixed by https://github.com/libuv/libuv/commit/4b58985370cd6aa13f10b390b7694e891abff974 that implements the solution proposed in https://github.com/libuv/libuv/issues/799#issuecomment-204658185 by @bnoordhuis

[2016-08-18 08:23] #799 closed

[2016-08-18 08:23] santigimeno commented on #1002
Duplicate of https://github.com/libuv/libuv/issues/808

[2016-08-18 09:09] saghul commented on #1002
@santigimeno oh, thanks for pointing it out!

[2016-08-18 09:09] #1002 closed

[2016-08-18 09:10] saghul commented on #808
@libuv/sunos any chance you can look at this? It's the only failing test atm.

[2016-08-18 11:54] jbergstroem opened #1003 "tcp_close_while_connecting is flaky on centos5"
A few fails the last ten runs:
- https://ci.nodejs.org/view/libuv/job/libuv-test-commit-linux/nodes=centos5-32/102/console
- https://ci.nodejs.org/view/libuv/job/libuv-test-commit-linux/nodes=centos5-32-gcc41/103/console
- https://ci.nodejs.org/view/libuv/job/libuv-test-commit-linux/nodes=centos5-32-gcc41/101/console

[2016-08-18 11:55] jbergstroem opened #1004 "tty_file fails on alpine34"
This is because `/dev/tty` isn't available. I will look at changing mode on our test boxes but I'll file a PR to skip similar to the tty test as well.

[2016-08-18 12:02] jbergstroem commented on #1004
Example run: https://ci.nodejs.org/view/libuv/job/libuv-test-commit-linux/nodes=alpine34-x64/103/console

[2016-08-18 12:14] jbergstroem opened #1006 "test runner: support writing to file"
The "final" step in getting jenkins to eat tap test output is writing it to a file so we can have the tap parser pick it up.

[2016-08-18 12:24] saghul commented on #1006
Can't Jenkins do: `make check > foo 2>&1` ?

[2016-08-18 12:32] jbergstroem commented on #1006
Yes, but that would mean that reviewing the console logs won't be available which is at least pretty common in nodejs land. If you're cool with it I can set it up!

[2016-08-18 12:34] jbergstroem commented on #1006
Also, I recall `make check` outputting some debug info as well -- we probably need to move that out -- perhaps introduce a `make check-ci`?

[2016-08-18 12:45] saghul commented on #1006
Hum. How did we do this in the past? I recall we did have TAP output at some point. (or am I mistaken?)

[2016-08-18 12:46] jbergstroem commented on #1006
@saghul the current stdout is tap, we just haven't picked it up from jenkins.

[2016-08-18 12:50] saghul commented on #1006
Oh. Then I guess I dreamed about it :-) I would have sworn we had TAP interpretation / processing in the past.

[2016-08-18 13:19] jbergstroem commented on #1006
Perhaps Ben worked with the jobs; I didn't at least.

[2016-08-18 18:22] misterdjules commented on #808
@saghul Yes, it's on my list of things to look at. Is this blocking anything?

[2016-08-18 18:29] cjihrig commented on #808
@misterdjules I don't think it's blocking anything, just wouldn't have to manually inspect the CI results.

[2016-08-18 21:42] saghul commented on #808
@misterdjules Nope, but since it's now the only failing test I thought I'd call in the cavalry :-)

[2016-08-18 22:19] misterdjules commented on #808
Sounds good, I'll take a look tomorrow at the latest, and I'll keep you posted! Thanks for the heads up once again 👍

[2016-08-18 23:58] #1003 closed

[2016-08-19 00:07] saghul commented on #1004
Hum, I don't see that one failing, but I do see tty_pty fail, is that the one you meant?

[code]

[2016-08-19 23:40] misterdjules commented on #808
That test is timing out on SmartOS because event ports do not support watching for changes in files within directory by just watching the directory, and not the files.

It could be made to work on SmartOS by adding files into the directory `watch_dir` instead of writing to existing files.

However, I don't think i understand the purpose of the `fs_event_close_in_callback` test: it seems that other

[2016-08-20 08:30] bnoordhuis commented on #808
It checks that no more callbacks are made after the handle is closed.  Also, it's an explicit test for a particular behavior, and as we all know, explicit > implicit.

[2016-08-21 02:11] piscisaureus commented on #972
That sounds like a good idea.

You could make libuv always sidestep them by explicitly requesting the msafd provider when creating a socket. The WSASocket function takes an argument to specify the provider.

The question is what you would do if you got a non-afd socket handed to uv_tcp_open() or uv_poll_init(). I guess libuv should do a provider check and reject nonstandard sockets?

[2016-08-21 11:29] saghul commented on #972
Hey Bert, thanks for chiming in!

Great, I'll check that.

I'd say so, yes.

[2016-08-22 10:19] saghul commented on #972
@piscisaureus Question: we need to find the right `WSAPROTOCOL_INFO` to pass to `WSASocket` in order to select the AFD provider. The only way I found to do that is to use `WSAEnumProtocols`, then filter the results by `iAddressFamily` and see if `ProviderId` matches one of the 3 magical GIDs. Is this the right way to go? If so, can we cache these structures? (As in, we can find them at startup tim

[2016-08-22 10:35] piscisaureus commented on #972
Hi @saghul,

I assumed even that the values for WSAPROTOCOL_INFO could just be a hard-coded, but after reading the docs again I'm not quite sure. But certainly the values should be looked up only once and then be cached.

I think you need to look up only two providers (tcp and udp). The third one mentioned in poll.c is for raw/ip sockets but libuv doesn't support creating those.

Last but not leas

[2016-08-22 11:21] saghul commented on #972
@piscisaureus Thanks Bert, will do! 👍

[2016-08-22 16:09] saghul opened #1009 "fs_event_watch_dir_recursive fais on Windows 10"
[code]

This is the only failing test on Windows 10 after the anniversary update, which seems to have fixed other test failures.

[2016-08-22 17:38] misterdjules commented on #808
I had missed that it closes the `uv_fs_event_t` handle after a smaller number of events than the number of files changed, thanks for the clarification. The test definitely makes sense to me now that I know what I was missing. I'll submit a PR to fix the test asap.

[2016-08-22 18:32] misterdjules commented on #808
Created #1011 that I believe fixes that issue.

[2016-08-23 09:14] hh9527 opened #1013 "uv_try_write returns UV_EAGAIN when ECONNRESET?"
[code]

when client RESET, `uv_try_write` returns UV_EAGAIN, and next `uv_write` **crash**.
gdb info:
[code]

[2016-08-23 13:05] txdv commented on #1013
You posted the stack, but what is the actual crash message?

[2016-08-23 14:33] hh9527 commented on #1013
@txdv My mistake, the program crashed with a SIGPIPE. I have update the comment.

[2016-08-23 15:11] saghul commented on #1013
@hh9527 you need to ignore SIGPIPE, otherwise your program will crash if you try to write to a closed socket. If you ignore SIGPIPE you'll get EPIPE error.

[2016-08-23 15:11] #1013 closed

[2016-08-24 09:08] saghul opened #1015 "Preparing the 1.10.0 release"
[The milestone](https://github.com/libuv/libuv/milestone/6) is almost complete, so I guess we can release 1.10.0 early next week.

Changes up until now:

* fe29921 Add SHA to ChangeLog
* 67f4d1c Now working on version 1.9.2
* c5622a1 doc: add cjihrig GPG ID
* 36a024d win,build: fix compilation on old Windows / MSVC
* c0fdc71 darwin: fix setting fd to non-blocking in select(() trick
* c5c419f unix:

[2016-08-24 09:08] saghul commented on #1015
Oh, cc @libuv/collaborators

[2016-08-24 09:58] bnoordhuis commented on #1015
Looks good.  I think we're almost at a point where the z/os port is usable?  That makes for two new platforms in one minor release.  Nice, is nice.

[2016-08-24 10:03] saghul commented on #1015
Yep, I think so, @jBarz can confirm.

It's also a nice round number :-)

[2016-08-24 11:23] cjihrig commented on #1015
👍 I'm still open to doing the release if it can wait until Thursday (traveling).

[2016-08-24 11:27] saghul commented on #1015
@cjihrig Sure, it can wait. We can do it together since it will be your first. I'll just line up the ducks in the meantime :-)

[2016-08-24 13:29] jBarz commented on #1015
I still have to issue PRs for the following platform specific functions :-)
They will reside in src/unix/os390.c
Not sure if we can code review them all in time for the milestone.
I will start creating the PRs anyway.

uv__platform_loop_init
uv__platform_loop_delete
uv__hrtime
uv_exepath
uv_get_free_memory
uv_get_total_memory
uv_resident_set_memory
uv_uptime
uv_cpu_info
uv_free_cpu_info
uv_interfa

[2016-08-24 13:30] jBarz commented on #1015
Let me know if it is preferable to have them all in one PR.

[2016-08-24 13:39] saghul commented on #1015
IF they will mostly affect the platform specific file then make them a single PR. FWIW I don't mind delaying the release a bit for z/OS support to be complete, we are not in a rush...

[2016-08-24 13:42] jBarz commented on #1015
Ok. Good to know that!
They are all platform specific so will issue one single PR soon.

[2016-08-24 13:52] indutny commented on #1015
Unrelated, but... git-secure-tag this time?

[2016-08-24 13:54] saghul commented on #1015
I'll evaluate it for the next, I promise :-)

[2016-08-25 00:39] jasonwilliams200OK commented on #342
@iWuzHere, @orangemocha mentioned here: https://github.com/nodejs/node/pull/1568#issuecomment-132157405 that they have this ticket as a task in their TODO queue. Perhaps someone has already started working on it?

That's like a national anthem of node.js community :stuck_out_tongue_winking_eye:  (jk)

[2016-08-25 09:14] #808 closed

[2016-08-26 10:03] saghul opened #1017 "Document uv_fs_realpath quirks"

[2016-08-26 18:30] joshgav commented on #972
@clca, sorry to bug you, but do you perhaps know what motivated including LSP to begin with?

@saghul - does this date from the original release of libuv or was it a later addition?

Doing due diligence to make sure we don't break something which depends on it.

[2016-08-26 20:06] saghul commented on #972
It was there pretty early on if not from the get go.

This is for v2, and when we release it v1.x will still be maintained,
though we will switch the main focus to v2.

Microsoft has deprecated LSPs a while ago, and Windows 10 apps bypass them
anyway, so those still wanting to use them are ignoring the big sign on the
wall :-)

On Aug 26, 2016 19:30, "Josh Gavant" <notifications@github.com> wrote:

[2016-08-26 20:07] saghul commented on #972
That was of course for those who come and read the issue. You know that already @joshgav :-)

[2016-08-27 06:38] DerDakon opened #1019 "Compilation on HP/UX fails because UV_BARRIER_STRUCT_PADDING is not defined"
CMake has now integrated a copy of libuv, which lead to this [compilation failure on HP-UX](https://open.cdash.org/viewBuildError.php?onlydeltap&buildid=4521322):

"/scm/eberge/cmake-nightly/mytests/CMake/Utilities/cmlibuv/include/pthread-barrier.h", line 56: error #2020: identifier "UV_BARRIER_STRUCT_PADDING" is undefined
    char _pad[UV_BARRIER_STRUCT_PADDING];

[2016-08-27 09:07] #1019 closed

[2016-08-29 17:08] dibyendumajumdar opened #1022 "uv_mutex_t implementation is recursive on Windows but non-recursive on UNIX?"
Hi

I noticed by looking at the code that the uv_mutex_t implementation is recursive on Windows, but on UNIX platforms the attribute PTHREAD_MUTEX_ERRORCHECK is set which means that the mutex will error out if locked recursively.

I think that supporting recursive locking is preferable in general as it avoids deadlocks when the same thread acquires the mutex multiple times. Is there a reason why t

[2016-08-29 17:12] saghul commented on #1022
Related (if not the same): https://github.com/saghul/pyuv/issues/216

[2016-08-29 17:20] saghul commented on #1022
I don't have a strong opinion here. Consistency would be nice though. At any rate I don't think we can make this change in the v1.x series.

[2016-08-29 18:04] bnoordhuis commented on #1022
Changing uv_mutex_init() so you can opt in to PTHREAD_MUTEX_RECURSIVE might be an acceptable change but making it the default is not.  It's too easy for bugs to go unnoticed that way.

http://www.zaval.org/resources/library/butenhof1.html is an insightful critique on recursive locks.  I won't try to summarize it here but the main takeaway is that recursive locking is almost always a code smell: if

[2016-08-29 18:23] dibyendumajumdar commented on #1022
Hi

I happen to disagree with the statement that recursive locks are bad. In fact a recursive lock requires the caller to unlock the same number of times as they locked, so it is not true that one loses track of locking scheme etc. It is a very deliberate design choice that make code simpler in many scenarios where the same resource needs to be locked in multiple places.

In any case - whichever w

[2016-08-29 20:10] dibyendumajumdar commented on #1022
One way to provide users the option might be to add a new init function - uv_mutex_init_recursive(). This would create a recursive mutex. The existing uv_mutex_lock()/uv_mutex_trylock()/uv_mutex_unlock() functions on Windows would need to be modified to raise an error (abort() ?) if the lock is not recursive and is acquired or released more than once. You will need probably a recursion enabled fla

[2016-08-30 02:26] bnoordhuis commented on #1022
Adding a recursion check on Windows may or may not be a good idea but it's not something we can do in the v1.x branch as it would break ABI (and - arguably - API.)

Not exactly, it depends on the mutex type.  POSIX guarantees deadlock with PTHREAD_MUTEX_NORMAL and an EDEADLK error with PTHREAD_MUTEX_ERRORCHECK but it's undefined behavior with PTHREAD_MUTEX_DEFAULT mutexes.

Some pthreads implement

[2016-08-30 03:01] iWuzHere commented on #342
Alright so began looking at the issue, here is the current information that is not being populated

[code]

Some fields have been marked as `(unmaintained)` as those are not populated in linux (may be populated in other operating systems).

Been reading up on the `<pdh.h>` stuff and it doesn't (at least from what I've seen) seem to give total numbers but mostly per second numbers, i.e. if I want t

[2016-08-30 03:10] iWuzHere commented on #342
![filesystem reads and write](https://i.imgur.com/UAVOXCy.png)

I guess that's how we would go about getting `ru_inblock` and `ru_outblock` but again this is per second data not total. I wonder if multiplying by process run time in seconds would give us the data we are interested in

[2016-08-30 03:12] iWuzHere commented on #342
Just leaving this here as a probably useful link
http://www.appadmintools.com/documents/windows-performance-counters-explained/

[2016-08-30 08:01] jasonwilliams200OK commented on #342
Another useful resource: https://github.com/openvswitch/ovs/blob/master/lib/getrusage-windows.c

[2016-08-30 08:37] dibyendumajumdar commented on #1022
Hi

Unfortunately Mr Butenhof does not really justify his claims with real examples.

I think that you need both types of mutexes. I would agree that one should not use a recursive
mutex without a proper design rationale for it. I personally use them in certain scenarios where
code is made cleaner/simpler due to them.

Saying recursive mutexes are bad is like saying reference counting is bad - bec

[2016-08-30 08:49] saghul commented on #1022
I think I'd be ok with us adding recursive mutexes on v2. Nothing is black or white, I've used the myself every now and then.

It could be a `flags` argument to `uv_mutex_init` for instance:

[code]

@bnoordhuis  WDTY? Would you be willing to write a patch @dibyendumajumdar ?

[2016-08-30 08:59] dibyendumajumdar commented on #1022
@saghul hi, happy to submit a patch if there is agreement to proceed. However suggest making the change in a way that existing code does not break. So maybe introduce a new mutex type, or add a new init function if using the current type.

Of course the semantics of existing code would be tightened to say that the mutex is not recursive.

[2016-08-30 09:13] saghul commented on #1022
@dibyendumajumdar I suggested the change for v2, which will be a major release so we can do breaking changes there. We cannot so this for v1.x because of our stable ABI and backwards compatible API guarantees.

[2016-09-01 08:04] saghul opened #1025 "[v2] remove suggested_size from alloc_cb?"
Our allocation callback has got that `suggested_size` parameter since the dawn of time, but it doesn't really do much since for the most part (except Windows in a couple of places) it's set to 64K.  It seems to throw some pople off, thinking they always need 64K.

So I wonder: should we remove it and have the user allocate as much as they want?  We can just work with it no problem.

I thought if m

[2016-09-01 08:56] bnoordhuis commented on #1025
I think I'm okay with removing it as long as the documentation suggests some good default so people aren't left guessing.

I agree.  On kqueue-based systems we know how much data is available (it's in `ev->data` and we record it as `w->rcount`) but we don't act on it because by the time we process it more data may be available, necessitating more system calls to drain the kernel buffer.

[2016-09-01 11:25] txdv commented on #1025
It was discussed that on linux ioctl FIONREAD was too much overhead for no benefit. Ram is cheap, allocating enough of a buffer in userspace is good enough.

[2016-09-01 12:19] cjihrig commented on #1015
@saghul still want to release today?

[2016-09-01 12:59] saghul commented on #1015
Let's wait for @jBarz to finish the z/OS port so we can call libuv 1.10 as Enterprise Ready (R). :-)

[2016-09-01 13:17] jBarz commented on #1015
I am aiming to submit PR by tomorrow. :-)

[2016-09-01 13:26] saghul commented on #1015
Excellent!

[2016-09-02 07:59] #1017 closed

[2016-09-02 08:16] saghul opened #1027 "Improve documentation"
Some  people (even seasoned developers) get thrown off by our documentation, let's try to fix that!

- [ ] Add descriptions of what each funcion does, aside from linking the man page
- [ ] Add an example for each handle at the top of its file, and for the individual function after their description
- [ ] Add a "getting started" section
- [ ] Document parameters and possible return values for all f

[2016-09-02 08:21] bnoordhuis commented on #1027
cc @nikhilm for the "Evaluate our relationship with the uvbook: see if we can collaborate somehow, in case we want to add parts of it to our docs" part.

[2016-09-02 08:23] bagder commented on #1027
I would like to be able to search for a function like for example `uv_tcp_connect` and end up on a page describing this function **only** - or at least primarily it should of course link to other relevant sections of the docs when I want to venture further.

Right now, when I google for this function I find http://docs.libuv.org/en/v1.x/tcp.html as the top result, which is a huge thing that forces

[2016-09-02 08:28] saghul commented on #1027
@bagder I'm not sure that's possible with Shinx, but I'll have a look.  What should be possible, is that the results point directly to the function: http://docs.libuv.org/en/v1.x/tcp.html#c.uv_tcp_connect that will still take you to the big page, but right where the function is, and it will be highlighted.

[2016-09-02 08:30] bagder commented on #1027
In my case, I started my dive into libuv with a search for a "libuv example http client" or "libuv tcp client" to get me started (since I only want a very basic test for something I'm working on). Only to find several examples - nothing official or on the libuv.org site ... that were all for the old API and as a newcomer to the API, translating from the old to the new in an example code turned out

[2016-09-02 14:13] bagder commented on #1027
Let me take you through some further dwindling down this road with me.

`uv_read_start` is documented to take an alloc callback, `uv_alloc_cb`. The documentation for the latter says:

First, the explanation for what size to use is highly confusing. It gets a suggested size but we can just set whatever. The docs doesn't help a lot here. Then it says **user must fill the supplied uv_buf_t**, so I ch

[2016-09-02 14:21] saghul commented on #1027
@bagder You're absolutely right.  Not that it matter much at this stage, but our current docs are basically a port of what originally were comments in header files, plus some improvements.  Obviously not enough of them.

The suggested size on the allocation callback has been a source of confusion, you we're actually going to get rid of it: https://github.com/libuv/libuv/issues/1025 for the next ma

[2016-09-02 14:41] bagder commented on #1027
Thanks. I ended up with a tiny and stupid [HTTP 1.0 example](https://gist.github.com/bagder/c30e00e4f9839eec452069fb47955a99)

[2016-09-02 15:47] nikhilm commented on #1027
Thanks @bnoordhuis. Will be away for Labor Day weekend, but I'm watching the thread. Happy to help contribute. Anything in particular I should start doing?

[2016-09-02 16:16] amitguptagwl commented on #401
I am facing same issue.

Summary of what I am doing: I have written a npm package. When a http request comes, it reads response from a relevant file -> process the response -> send it back to client. I was reading the file in async mode and then processing the response. It was causing following error and stopping my application;

node: ../src/tcp_wrap.cc:61: static v8::Local<v8::Object> node::TCPW

[2016-09-02 16:17] saghul commented on #1027
@nikhilm Thanks for your willingness to help!  There is nothing actionable at the moment.  We first need to figure out what story we want to tell, where / if there is overlap with your work, and how we can combine efforts.  A quick non-binding question: would you be open to discussing merging your work in libuv in some shape or form?  We could arrange it for you to help maintain it.

[2016-09-02 16:27] nikhilm commented on #1027
Of course!

On Fri, Sep 2, 2016 at 9:18 AM, Saúl Ibarra Corretgé <
notifications@github.com> wrote:

--
Nikhil

[2016-09-02 17:14] saghul commented on #1027
Excellent.  It may take a while to come up with a plan to move forward, the dicsussion will happen here.

[2016-09-04 10:18] ankur-anand commented on #1027
There is repo [libuv-dox](https://github.com/thlorenz/libuv-dox), by [Thorsten Lorenz](https://github.com/thlorenz), May be you can check with the @thlorenz. as his libuv-dox is also pretty nice for some part. I've started digging into libuv more, and will be happy to help on this.

[2016-09-04 15:22] ngkaho1234 opened #1029 "libuv fails to be built with android-ndk-r12b after merging 7b9e25a9"
Output of android-configure:
['-Dtarget_arch=arm64', '-DOS=android', '-f', 'make-android', '/home/ngkaho1234/Workspace/volmgr/libuv/uv.gyp', '-I', '/home/ngkaho1234/Workspace/volmgr/libuv/common.gypi', '--depth=.', '-Goutput_dir=/home/ngkaho1234/Workspace/volmgr/libuv/out', '--generator-output', '/home/ngkaho1234/Workspace/volmgr/libuv/out', '-Dhost_arch=x64', '-Duv_library=static_library']

Outpu

[2016-09-04 18:48] saghul commented on #1029
@ngkaho1234 can you try https://github.com/libuv/libuv/pull/1030 ?

[2016-09-04 18:49] saghul commented on #1027
@ankur-anand good point! We have it on the readme, but I had forgotten about it, thanks!

[2016-09-05 02:47] axot opened #1031 "uv__write may leaks?"
I added 2 debug print into uv__write,
[code]
There are some case cause `req->write_index == req->nbufs` never be ture.

Some logs, leak pattern.
[code]

no leaks logs
[code]

I'm using NodeJS 5.7.1, does this issue already fixed in latest libuv?

[2016-09-05 02:53] #1031 closed

[2016-09-05 08:12] #1029 closed

[2016-09-05 19:16] CurlyMoo opened #1032 "Properly implementing POLLPRI interrupt reading"
The question below was due to my own stupidity :sweat_smile: Currently discussing how to implement POLLPRI interrupt handling.

------

I'm trying to implement libuv into pilight. One important aspect of pilight is the ability to read and write to GPIO, I2C and Serial devices. I'm currently working on the serial hardware module.

Some small snippets of the relevent code:
[code]

In the `open_cb` c

[2016-09-05 19:29] CurlyMoo commented on #1032
Damn, i think i overlooked a piece of my code. I had the `SetCommTimeouts` set to `1000ms`. Somehow this interferes with the way libuv reads fs operators. I didn't have this problem in my old code, but well, maybe that was wrong in the first place.

I now use:
[code]

Sorry for bothering you. But, if you got any advice in how to optimize serial reading and writing with libuv, advice is always welc

[2016-09-06 08:10] saghul commented on #1032
How many fs requests are you sending at once? Note that the default threadpool (fs operations run in the threadpool) size is 4, which means requests will have to wait if you queue up more than 4 operations. Also note that each operation will make a roundtrip to the threadpool, so it will always be alower than running the given operation synchronously. (if you look at the time taken by each operati

[2016-09-06 20:00] CurlyMoo commented on #1032
I've had a look at the code and i believe it shouldn't be more difficult than adding a `POLLPRI` to each `POLLIN` inside the unix `core.c`, `kqueue.c`, and `stream.c`. As far as i know devices either output `POLLPRI` or `POLLIN` for a single event, never both. So that means that just complementing `POLLIN` shouldn't cause any double reads.

I will test that code soon in development.

[2016-09-07 09:10] saghul opened #1034 "[v2] reevaluate uv_buf_init?"
While working on some doc updates I noticed `uv_buf_init` feels a bit weird now. In the past (0.x) the buffer members where deemed "readonly" and this function was used all across, both for writing (when creating the uv_buf_t for uv_write) and reading (since alloc_cb had to return a uv_buf_t struct). Now that's no longer the case for reading, since alloc_cb already provides a buffer struct which t

[2016-09-07 09:13] saghul opened #1035 "[v2] rename uv_idle_t"
Its name has always been really misleading, let's fix that now that we can. Strawman proposal: **uv_spin_t**, since that's what it does: it makes the loop spin.

Thoughts? @libuv/collaborators

[2016-09-07 09:52] indutny commented on #1035
idk, if this is less confusing... Leaving this up to the rest of @libuv/collaborators

[2016-09-07 09:53] indutny commented on #1034
I think this change has much bigger complications for old users than profits.

[2016-09-07 09:54] indutny commented on #1034
Also, consider cross-version support. People may want to support multiple versions of libuv at once.

[2016-09-07 09:56] saghul commented on #1034
That shouldn't be an issue, you can define this function with another name and use it, it's 2 lines!

[2016-09-07 15:54] indutny commented on #1034
Let's pile up defines! :)

[2016-09-07 16:41] misterdjules opened #1036 "add platform-specific issue/PR labels"
[As discussed in the PR that documented supported platforms](https://github.com/libuv/libuv/pull/991#issuecomment-239249436), I'd like the libuv project to add platform-specific issue/PR labels for all supported platforms, and libuv collaborators to use these labels when an issue/PR is specific to one or more of these platforms.

The primary motivation for me is to make searching through SmartOS s

[2016-09-07 17:39] iWuzHere commented on #342
As for the remaining 3 values (`ru_minflt`, `ru_nvcsw` and `ru_nivcsw`) I do not see a way to get the required information on windows.

That being said, unless unless someone knows how to get that information, I think this issue should be closed.

[2016-09-07 17:43] saghul commented on #342
Agreed, @iWuzHere feel free to close it. Maybe make a documentation PR indicating the unsupported fields?

[2016-09-07 17:44] iWuzHere commented on #342
I'll do that tonight!

[2016-09-07 20:45] CurlyMoo commented on #1032
Ok, i tested my first approach in complementing `POLLIN` with `POLLPRI` but that doesn't work. The kernel let's you choose what you want to trigger. When you want to read with `POLLIN` the kernel will just pass the current state of the interrupt (high or low). You can poll this as fast as you want. Only in case of the `POLLPRI` will the kernel only communicate state changes and thereby reducing th

[2016-09-07 21:22] saghul commented on #1032
How portable would all that be? Another approach is to add it to `uv_poll_t`, which is more "barebones".  It doesn't provide all the features `uv_stream_t` has, but I consider this case on the edge and wouldn't want to compromise on the general case.

[2016-09-08 03:11] bnoordhuis commented on #1036
I added a few labels and gave them the same name and colors as their nodejs/node counterparts.

nodejs/node only seems to have 'solaris', not 'smartos', so I followed that here but feel free to create one.

[2016-09-08 03:23] bnoordhuis commented on #1035
We could simply remove it.  Idle handles duplicate timers with a zero timeout, the only difference is that they run after pending callbacks instead of before.

Node.js uses them to implement `setImmediate()` but I think it could - and should - hang them off the big `setTimeout()` timer.  Right now you have this weird situation where a) `setTimeout()` timers run, b) some other callbacks run (mostly

[2016-09-08 03:30] jBarz commented on #1015
sorry about the delay. PR has been submitted.

[2016-09-08 03:32] bnoordhuis commented on #1034
The main reason we have `uv_buf_init()` is because the order of the fields is different on Windows (len+base instead of base+len.)

I'm fine really with its current prototype.  It's a little inconvenient to use from a FFI because it returns a struct but that is really just a paper-cut issue.

[2016-09-08 03:38] misterdjules commented on #1036
Thank you!

It seems I don't have permissions to create labels, probably because I'm not part of any team with access to the libuv/libuv repository.

[2016-09-08 05:03] CurlyMoo commented on #1032
So that would mean manually processing all the reads and writes? In that case i do need to add the `UV_PRIORITIZED` in `uv_poll_event`. It's indeed the kind of `barebones` handling i was probably looking for.

[2016-09-08 08:12] saghul commented on #1032
That's what I had in mind, yes.

[2016-09-08 08:15] saghul commented on #1034
I know, but that's so we can cast them, right? It doesn't affect how we initialize the fields.

Ok then, since you and Fedor are not much in favor and I'm not dead set on it, let's drop it.

[2016-09-08 08:15] #1034 closed

[2016-09-08 08:20] saghul commented on #1035
I have used them when integrating the libuv event loop with others, such as Python's asyncio.  I used it to drain a callback queue, while allowing some other stuff to run.

Now, truth be told, I could have probably used a repeating timer with zero timeout, yeah.

I'd be cautious about removing the handle, but the fact that Node doesn't actually need it makes a good point.

[2016-09-08 08:37] kroggen commented on #1035
Hi guys!

Will this not affect `process.nextTick()`?

The node.js documentation says:

[2016-09-08 22:44] CurlyMoo commented on #1032
And here it is #1040

[2016-09-09 08:47] bnoordhuis commented on #1036
Okay, added a smartos label.  The color was scientifically derived with `echo -n smartos | sha1sum | cut -b1-6`.

I added a 'linux' label using the same process because apparently we didn't have one.  I'll close but let me know if anything else needs to be done.

[2016-09-09 08:47] #1036 closed

[2016-09-09 09:09] #1032 closed

[2016-09-11 02:50] justinmchase opened #1042 "Download binaries?"
According to the documentation it says:

As far as I can see there is only a windows installer available.  Is it possible to just get the binaries in a zip? I looked for a little while but haven't been able to find them.

Thanks.

[2016-09-11 02:52] eladn opened #1043 "Enforcing poll timeout without a timer"
Is it possible to set a timeout for a poll event, so that if the event has not been triggered by the time the timeout reached, the handler would be called with a 'timeout' status? (In libevent, one can pass a timeout value to the event_add(...) method, so I'm wondering if it is possible in libuv as well)
If not, i thought to create a dedicated timer that would cancel the poll event after timeout r

[2016-09-11 08:40] bnoordhuis commented on #1043
Yes and yes, that is the way to do it in libuv.

Can you post questions to the mailing list next time?  We try to keep the issue tracker focused to just bug reports and feature requests.  Thanks!

[2016-09-11 08:40] #1043 closed

[2016-09-11 21:06] #342 closed

[2016-09-12 09:49] saghul commented on #1042
This was brought up once in the past, and IIRC the resolution was that they can be easily extracted from the exe.  Have tried looking into that?  I really don't see the point in releasing 2 sets of binaries for Windows...

[2016-09-12 10:08] saghul opened #1044 "Document uv_handle_t.type"
It's missing from the documentation: http://docs.libuv.org/en/v1.x/handle.html?highlight=uv_handle_t#public-members

[2016-09-12 10:16] txdv commented on #1044
https://github.com/libuv/libuv/blob/v1.x/include/uv.h#L407

[2016-09-12 10:48] saghul commented on #1044
@txdv so?

[2016-09-12 10:50] txdv commented on #1044
Just putting a direct link to the field in the code

[2016-09-12 11:24] bnoordhuis opened #1045 "unix: don't use alphasort in uv_fs_scandir()"
alphasort() uses strcoll() in some libcs (notably glibc and musl) which makes it locale-sensitive.

Replace it with a simple strcmp-based lexicographic comparison for consistent behavior across platforms.

[2016-09-12 15:15] justinmchase commented on #1042
I just ran the installer and pulled out the binaries into my repo and then uninstalled.

If I had a say I'd vote for just a zip or tar.gz with the binaries in it. Preferably one for each platform and deployed to github as a release. If the binaries were available per platform then I could easily write a script that just pulls them down during initialization.

The way it is now, I will have to manu

[2016-09-12 15:59] #1045 closed

[2016-09-12 20:27] saghul commented on #1042
I was under the impression you could "unzip" the installer.  I may off base here though.

We don't really ship binaries.  We just release the source, except for that Windows installer, which is deemed "experimental".  We also don't use (nor plan to switch to using) GitHub releases, so that's most likely not going to happen.

Out of curiosity: is there a reason why you rather have binary libuv rele

[2016-09-13 03:51] justinmchase commented on #1042
Thanks for talking it through.

I never thought to try to unzip the .exe I'll give it a try and see what happens. It's a little strange, but if it works that's cool.

I'm actually trying to see how far I can get without having VS installed at all. I'm using this:
http://landinghub.visualstudio.com/visual-cpp-build-tools

It basically installs the compile tools and libs and headers but no visual st

[2016-09-13 06:15] hh9527 commented on #1022
@saghul
when will v2 land (or beta release) ?

[2016-09-13 07:18] saghul commented on #1022
No ETA as of yet, sorry.

[2016-09-13 22:29] joshgav commented on #972
Thanks @saghul. I also contacted @clca out-of-band and he felt it was fine to remove it too. So LGTM!

[2016-09-14 01:32] agauniyal commented on #1027
A set of short examples would help tremendously to newcomers since some of us tend to dive into examples and then look up the individual api descriptions once we get familiar with the way things are done.

[2016-09-14 07:09] saghul commented on #972
Excellent! Can I thouble either of you for the code review once I finished the patch?

[2016-09-14 07:41] saghul commented on #1042
It's really hard to provide binaries for Unix platforms, so we just don't. Also, for better or worse, many applications seem to statically link libuv so that also helps.

On Windows, however, the situation is trickier.  With the package you mentioned you should be able to compile libuv, except for the fact we require Python.  The alternative would be to include the VS solution file in the repo, bu

[2016-09-14 07:41] #1042 closed

[2016-09-14 10:30] joaocgreis commented on #972
@saghul you can trouble me as well!

[2016-09-14 10:33] saghul commented on #972
Excellent! Thanks @joaocgreis!

[2016-09-14 13:57] justinmchase commented on #1042
I understand, I have a dream that one day we will all be using package managers for native libraries... but until that day I'll keep building these things as I need them. Thanks.

[2016-09-14 14:01] swat-cat opened #1051 "libuv fails to be built with android-ndk"
Output of android-configure:
['-Dtarget_arch=arm', '-DOS=android', '-f', 'make-android', '/Users/max_ermakov/libuv/uv.gyp', '-I', '/Users/max_ermakov/libuv/common.gypi', '--depth=.', '-Goutput_dir=/Users/max_ermakov/libuv/out', '--generator-output', '/Users/max_ermakov/libuv/out', '-Dhost_arch=x64', '-Duv_library=static_library']

Output of make -C out:
In file included from ../test/test-fs.c:23:0

[2016-09-14 21:02] txdv commented on #1042
Microsoft releases a binary nuget package with libuv  linux(x64), osx, windows(arm, x86, x64) binaries: https://www.nuget.org/packages/Libuv/

Just press Download and then open the downloaded file with a zip archiver of your choice. The linux binaries are all the same on 1.9.0.

Not the most official way, but better than nothing.

[2016-09-15 00:35] justinmchase commented on #1042
Wow that's awesome! Exactly what I was looking for. I didn't think to look there. I suppose they use it for their forked node builds?

Msft for the win?

[2016-09-16 06:31] saghul commented on #985
No follow-up, closing.

[2016-09-16 06:31] #985 closed

[2016-09-16 06:36] saghul commented on #246
Closing. Feel free to reopen if you manage to reproduce it.

[2016-09-16 06:36] #246 closed

[2016-09-17 09:39] baremetalfreak commented on #1051
@swat-cat could you test if #1056 solves the problem?

[2016-09-18 04:02] plafer commented on #79
I'll implement the `read()/write()` and `readv()/writev()` wrappers on the unix side!

What names would we use here, considering we're already using `uv_fs_read()` and `uv_fs_write()` for `preadv()` and `pwritev()`?

[2016-09-18 07:56] saghul commented on #79
Hi Philippe,

Is this related to the `uv_read` proposal? I think it's too early on to ge contributions on it until we have the first bits inplace. Bert will write those and if no further issues are identified we'll come up with a plan for the next steps.

I understand this can be a bit frustrating, but as someone who already worked in a `uv_read` implementation, we need to lay on some groundwork s

[2016-09-18 15:49] plafer commented on #79
My apologies, I misinterpreted what the "good first contribution" was about - I was indeed talking about the `uv_read` proposal. However, I'm just as ready to give a shot at the `uv_translate_posix_error()` and `uv_translate_win32_error()`. I'll start working on a PR right away!

[2016-09-18 17:03] saghul commented on #79
Excellent, thanks! Sorry if something was unclear.

On Sep 18, 2016 5:49 PM, "Philippe Laferrière" <notifications@github.com>
wrote:

[2016-09-19 09:50] swat-cat commented on #1051
#1056 solves the problem. Thank you. Issue could be closed.

[2016-09-19 10:15] #1051 closed

[2016-09-19 22:15] #1009 closed

[2016-09-21 12:16] Globik opened #1062 "Bad file descriptor on windows"
Why uv_pipe_open(loop, 3) always gives error of bad file descriptor on a windows machine?
is there any adecvate examples for windows developing ? Not just for linux.
I am looking in to the test directory and see only samples under linux.

[2016-09-21 12:46] saghul commented on #1062
Where does that fd come from?  On Windows we https://msdn.microsoft.com/en-us/library/ks2530z6.aspx internally to get the associated file handle.

[2016-09-21 13:20] Globik commented on #1062
Fd coming from command line argument to the child program where int fd = 3.

[2016-09-21 13:35] Globik commented on #1062
Is there an equivalent test for windows platform like this in a file
https://github.com/libuv/libuv/blob/b12624c13693c4d29ca84b3556eadc9e9c0936a4/test/test-close-fd.c
?

[2016-09-21 13:43] saghul commented on #1062
See this: https://github.com/libuv/libuv/blob/v1.x/test/test-pipe-getsockname.c#L208

The key difference is that the fd you are passing was opened in another process, right?  I may be wrong, but IIRC Windows keeps a fd mapping per process, so that fd  3 has no meaning in the one you're trying to use uv_pipe_open on.

[2016-09-21 13:59] moteus commented on #1062
In fact each runtime has its own table of fd->handle. And if you use e.g. msvcrt.dll each dynmic module will have its own table.

[2016-09-21 14:16] saghul commented on #1062
@Globik can we close this now?

[2016-09-21 14:54] Globik commented on #1062
Yes.

[2016-09-21 14:59] #1062 closed

[2016-09-21 23:53] #1044 closed

[2016-09-22 08:43] txdv opened #1063 "[v2] uv_pipe_connect"
I don't know if I am allowed to make v2 proposals, but the definition of [uv_pipe_connect](https://github.com/libuv/libuv/blob/v1.x/include/uv.h#L695) was always a thorn in my eye and it was a rather small annoyance, too little for breaking api changes. [uv_tcp_connect](https://github.com/libuv/libuv/blob/v1.x/include/uv.h#L538) returns an int, uv_pipe_connect doesn't (it queues all errors encount

[2016-09-22 10:11] saghul commented on #1063
Yep, that's a welcome improvement! Since we are here though, we should also take a size, so abstract sockets work out of the box.

[2016-09-22 10:25] txdv commented on #1063
How do abstract sockets work now?

[2016-09-22 10:34] txdv commented on #1063
[code]

If we the connect signature is changed (size_t len added) then the bind signature has to be changed too?

[2016-09-22 10:43] saghul commented on #1063
They kinda don't.  You have to create them yourself and then pass the fd to `uv_pipe_open`.

Yep.  We should use some special value like -1 if you don't want to compute the length yourself, maybe.

[2016-09-22 11:15] txdv commented on #1063
0 maybe? Or just <= 0 ?

[2016-09-23 09:42] saghul opened #1065 "Put libuv on a diet"
So far the diet libuv has been doing is working:

[code]

But we can do better.  LESS CODE, MOAR BETTER.
- [x] Unify `uv__req_init`
- [ ] Use a queue to store requests on Windows
- [ ] Try to unify handle flags?
- [ ] Remove duplicated structture field definition

This is an ongoing effort, if you see an opportunity for unifying code and reducing duplication please leave a comment to update the li

[2016-09-23 09:49] txdv commented on #1065
Maybe pull out the same stuff out of UV_LOOP_PRIVATE_FIELDS in uv-win.h and uv-unix.h?

[2016-09-23 17:20] alexhultman opened #1068 "Linux: uv_timer_start seems to depend on last known time point"
I have found this strange behavior with timers in libuv:

[code]

The timer callback is called 0ms after call to uv_timer_start, but if I remove the sleep it triggers 5 seconds after call to uv_timer_start. It seems the time point is not updated when calling uv_timer_start. I can "fix" this by running the loop before calling uv_timer_start.

I'm using this Fedora package: libuv-devel-1:1.7.5-2.fc2

[2016-09-23 18:15] bnoordhuis commented on #1068
Call `uv_update_time(loop)` in scenarios like that.  Updating libuv's idea of "now" can be expensive so it postpones that until it must (mostly around polling for events.)

[2016-09-23 18:15] #1068 closed

[2016-09-23 20:12] jasongin opened #1069 "win: uv_fs_read & uv_fs_write may leak request data buffers"
I found the source of the memory leak reported at https://github.com/nodejs/node/issues/7191

When a large number of buffers (>4) is passed into [uv_fs_read()](https://github.com/libuv/libuv/blob/v1.x/src/win/fs.c#L1943) or [uv_fs_write()](https://github.com/libuv/libuv/blob/v1.x/src/win/fs.c#L1979), a new buffer is [dynamically](https://github.com/libuv/libuv/blob/v1.x/src/win/fs.c#L1960) [alloca

[2016-09-24 05:48] alexhultman commented on #1068
Do you get this report often? I couldn't find any documentation of the behavior here http://docs.libuv.org/en/v1.x/timer.html

[2016-09-24 08:06] saghul commented on #1068
@alexhultman We actually don't.  Adding a note to the documentation never hurts.  Would you be up to making a documentation PR?

[2016-09-24 08:35] saghul commented on #1069
Good catch! Can you add a "Refs" pointing to the node issue in the PR?  Thanks!

[2016-09-24 10:32] alexhultman commented on #1068
Yeah I could add it in a while.

[2016-09-25 04:00] ilimei opened #1071 "where the uv_prepare_invoke function's body?"
these functions only find define no body
void uv_prepare_invoke(uv_loop_t* loop);
void uv_check_invoke(uv_loop_t* loop);
void uv_idle_invoke(uv_loop_t* loop);

[2016-09-25 04:15] ilimei commented on #1071
i found it
UV_LOOP_WATCHER_DEFINE

[2016-09-25 04:51] bnoordhuis commented on #1071
Correct.  Can you post questions to the mailing list next time?  Thanks.

[2016-09-25 04:51] #1071 closed

[2016-09-25 04:56] ilimei commented on #1071
ok,im sorry for that

[2016-09-26 18:55] jasongin commented on #1069
OK, I added the "Refs" line to the commit description.

[2016-09-27 07:37] #1069 closed

[2016-09-27 18:33] nikhilm opened #1072 "uv_write documentation unclear about buffer lifetime and layout requirements."
1) `uv_write2`, and by extension, `uv_write`, perform a copy of `bufs` into an internal buffer of the `uv_write_t`. This is done via a memcpy starting at `bufs` and being `n * sizeof(bufs[0])`, which requires that the buffers be contiguous and equally sized. The documentation at http://docs.libuv.org/en/v1.x/stream.html does not capture this requirement. This could lead to corruption bugs in the b

[2016-09-27 19:28] vcunat commented on #1072
No, `bufs` is an array of `uv_buf_t` which are tiny structs, each containing a pointer and size. I see no implied requirement on the **pointed-to** buffers.

I personally believe it's unavoidable to have to postpone releasing the buffers until after completion, unless libuv wanted to pay a nontrivial performance penalty, which might also noticeably hit my use case of [knot resolver](https://github

[2016-09-28 07:07] saghul commented on #1072
@vcunat is correct.  What we copy is the `uv_buf_t` structures not the actual content of the buffers.  Those can be of different sizes or whatever, there is no requirement.

I agree we should clarify this.

[2016-09-28 07:10] saghul commented on #1072
To clarify 2), libuv does try to do the write immediately, which may succeed, but the completion status is always deferred to the callback, in order to provide a consistent API.  The buffers can only be freed after the callback is called, and they should be held by the user, since libuv nullifies its reference.

[2016-09-29 09:22] vcunat commented on #1072
See #1074.

[2016-10-02 11:05] CurlyMoo opened #1077 "win: uv_poll_init not discriminating between file and socket descriptors"
Calling `uv_poll_init` with a socket fd fails with an invalid socket message. This happens because inside the `uv_poll_init` an `uv__get_osfhandle` is used to translate the file descriptor to an os handle. This however, should not happen in case of socket handlers.

[code]

The `uv_poll_init` call should therefor descriminate between the two handlers and based on the result, do the translation.

I

[2016-10-02 11:31] saghul commented on #1077
On Windows we work with `SOCKET` handles, not CTR fds, hence the call to `uv__get_osfhandle`.  Where did you get the fd from?

Alternatively, if you already have a `SOCKET` you can pass it to `uv_poll_init_socket`.

[2016-10-02 14:55] eladn opened #1078 "Lacks in documentation of `uv_poll_t`"
I think the official documentaion should address the following issues:
1. The callback will be called over-and-over again, AS LONG AS the given fd/socket is still readable/writable (depending on the given events given to poll). Particullary in each of the following scenerios:
   (a) The callback did not conduct a read/write at all when the socket is readable/writable.
   (b) The callback made a re

[2016-10-02 17:29] CurlyMoo commented on #1077
[code]
In connect_cb
[code]

But indeed `uv_poll_init_socket` is probably what i was looking for.

[2016-10-02 19:32] saghul commented on #1077
Note that what you are trying to do is not supported.

A handle "owns" its fd, so if you "steal" it you'd be dancing in undefined
behavior territory.

On Oct 2, 2016 18:30, "CurlyMoo" <notifications@github.com> wrote:

[2016-10-02 19:37] CurlyMoo commented on #1077
Understood, After i start the poll, i stop using the other handles. I believe that should be safe. This is the best solution for handling ssl for now, because it works on both Windows and Unix.

[2016-10-03 07:29] saghul commented on #1077
It's not.  It may abort() on Unix, because having 2 handles for the same fd is not supported.  Windows can be a bit more forgiving due to its structure, but as I said, you are on your  own.

I really encourage you to check `uv_link_t`.  It's the implementartion we are going to "bless" and it doesn't use any undefined behavior in libuv.

[2016-10-03 07:30] saghul commented on #1077
Closing this sinde it's not a libuv issue.  On Windows `uv_poll_init` should be used for CRT fds and `uv_poll_init_socket` for `SOCKET` handles.

[2016-10-03 07:30] #1077 closed

[2016-10-03 14:14] cjihrig commented on #1078
@eladn would you care to open a PR?

[2016-10-03 14:40] Globik commented on #95
Abou it I say , that freezes and blocks writable pipe on windows. I am not alone.

[2016-10-03 14:52] Globik commented on #95
@piscisaureus  and in node.js is there a this flag to create overlapped pipe for the child process?

[2016-10-03 14:57] Globik commented on #95
You libug guys so write in your docs, that io piping is NOT non-blocking on windows!

[2016-10-03 15:05] saghul commented on #95
@Globik You either learn how to participate in an online community with respect or I'll start deleting your comments.

[2016-10-03 16:42] CurlyMoo commented on #1077
So the other option would be to setup the socket outside libuv and passing the fd to the poll init?

[2016-10-03 16:48] saghul commented on #1077
Correct.

[2016-10-04 07:23] eladn commented on #1078
I will.
1. Should I commit into master or v1.x ?
2. Is that the last relevant version?
https://github.com/libuv/libuv/blob/v1.x/docs/src/poll.rst
I noticed here: http://docs.libuv.org/en/v1.x/poll.html the `API` section is written, but it's not appears to be in git.

[2016-10-04 08:19] saghul commented on #1078
Thanks!

v1.x please.

Yes.

Note that GitHub doesn't render RST very well, open it in raw mode or with your editor of choice and you'll see the content.

[2016-10-06 19:07] vtjnash opened #1080 "uv_thread_create not robust against bad RLIMIT_STACK values (macOS)"
On macOS, `uv_thread_create` expects `RLIMIT_STACK` to be a valid value for `pthread_attr_setstacksize`, but that isn't necessarily true (pthread requires that the stack be specified in multiples of the page size, but rlimit does not).

Simple repro:
[code]

from https://github.com/JuliaLang/julia/issues/18818

[2016-10-06 19:24] bnoordhuis commented on #1080
What version are you using?  What you describe was fixed in #864, which was released in v1.9.1.  You can cherry-pick commit 28d160f if you need.

[2016-10-06 19:42] vtjnash commented on #1080
An older version :). That looks like a good fix for us, thanks.

[2016-10-06 20:46] #1080 closed

[2016-10-09 09:31] ugiwgh opened #1081 "How to build it on cygwin?"
How to build it on cygwin?

[2016-10-09 16:24] saghul commented on #1081
Cygwin is not a supported platform.  We support native Windows and MinGW builds on the Windwos platform.

[2016-10-09 16:24] #1081 closed

[2016-10-09 17:05] #1072 closed

[2016-10-09 19:58] breznak opened #1082 "Consider CMake build support"
I believe cmake is more popular and matured build system, would you consider switching over to it?
https://gyp.gsrc.io/docs/GypVsCMake.md

[2016-10-09 20:44] cjihrig commented on #1082
Please see the conversation in https://github.com/libuv/libuv/pull/952. I believe we're going to stay where we are for now. Thanks anyway though.

[2016-10-09 20:44] #1082 closed

[2016-10-10 10:01] ugiwgh opened #1083 "crash on redhat 5"
#0  0x00000037c6630015 in raise () from /lib64/libc.so.6
#1  0x00000037c6631980 in abort () from /lib64/libc.so.6
#2  0x0000000000449517 in uv__signal_global_init () at src/unix/signal.c:62
#3  0x00000037c720b37d in pthread_once () from /lib64/libpthread.so.0
#4  0x0000000000447062 in uv_loop_init (loop=0x53bd) at src/unix/loop.c:33
#5  0x000000000044354c in uv_default_loop () at src/uv-common.c:5

[2016-10-10 10:03] bnoordhuis commented on #1083
A debug build will probably give a more meaningful stack trace but if I had to guess, I'd say creating the signal pipe fails.  What do you see when you run your program through strace?

[2016-10-10 10:08] ugiwgh commented on #1083
[root@localhost pagentd_bin]# strace
....
brk(0)                                  = 0x14874000
mmap(NULL, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x2aaaaaaab000
uname({sys="Linux", node="localhost.localdomain", ...}) = 0
access("/etc/ld.so.preload", R_OK)      = -1 ENOENT (No such file or directory)
open("/usr/local/Cellar/libuv/1.9.1/lib/tls/x86_64/libpthread.so.0", O_RDON

[2016-10-10 10:17] ugiwgh commented on #1083
static void uv__signal_global_init(void) {
  if (uv__make_pipe(uv__signal_lock_pipefd, 0))
    abort();

61  if (uv__signal_unlock())
62    abort();
}

[2016-10-10 10:21] bnoordhuis commented on #1083
Let me guess, your kernel is x86_64 2.6.18?

That is the pipe2 system call but it returns a very odd value.  It should either return zero or an error (i.e. value < 0 or MSB set) but instead it returns 125 hex or 293 in decimal.  It's a known bug in old kernels that affects strace, see https://github.com/libuv/libuv/issues/80.

It's not fatal when not tracing but it makes it more complicated to deb

[2016-10-10 10:27] ugiwgh commented on #1083
Did you mean that I build a debug libuv?

[2016-10-10 10:29] bnoordhuis commented on #1083
Yes.

[2016-10-10 10:30] ugiwgh commented on #1083
I use  ./configure --with-pic. What is  arguments I should add?

[2016-10-10 10:31] ugiwgh commented on #1083
./configure --help
`configure' configures libuv 1.7.5 to adapt to many kinds of systems.

Usage: ./configure [OPTION]... [VAR=VALUE]...

To assign environment variables (e.g., CC, CFLAGS...), specify them as
VAR=VALUE.  See below for descriptions of some of the useful variables.

Defaults for the options are specified in brackets.

Configuration:
  -h, --help              display this help and exi

[2016-10-10 10:36] bnoordhuis commented on #1083
Try `./configure CFLAGS="-g -O0" && make` but please upgrade to libuv v1.9.1 first.  v1.7.5 is over a year old.

[2016-10-10 10:37] ugiwgh commented on #1083
at src/unix/linux-inotify.c:172
172       uv__handle_init(loop, (uv_handle_t*)handle, UV_FS_EVENT);
(gdb) print *(int *) __errno_location()
pagentd: src/unix/core.c:806: uv__io_start: Assertion `w->fd >= 0' failed.
Cannot access memory at address 0xffffffffaaac8a20
(gdb) print errno
$1 = 0

[2016-10-10 10:40] bnoordhuis commented on #1083
What does the backtrace look like?  If it crashes in `uv__handle_init()` then the culprit is most likely a bug in your program.

[2016-10-10 10:42] ugiwgh commented on #1083
./configure --prefix=/usr/local/libuv/1.9.1 --with-pic CFLAGS="-g -O0"

(gdb) bt
#0  0x00000037c6630015 in raise () from /lib64/libc.so.6
#1  0x00000037c6631980 in abort () from /lib64/libc.so.6
#2  0x000000000044e173 in uv__signal_global_init () at src/unix/signal.c:59
#3  0x00000037c720b37d in pthread_once () from /lib64/libpthread.so.0
#4  0x000000000044e19a in uv__signal_global_once_init () at

[2016-10-10 10:45] ugiwgh commented on #1083
(gdb) run
The program being debugged has been started already.
Start it from the beginning? (y or n) y

Starting program: /root/..........
[Thread debugging using libthread_db enabled]
[New Thread 46912496241280 (LWP 6605)]
[New Thread 1084229952 (LWP 6606)]
[New Thread 1094719808 (LWP 6607)]
[New Thread 1105209664 (LWP 6608)]
[New Thread 1115699520 (LWP 6609)]
[New Thread 1126189376 (LWP 6610)]
[

[2016-10-10 10:47] bnoordhuis commented on #1083
Okay, so it's the `uv__make_pipe()` function call that is failing.  Am I right it's taking the `errno != ENOSYS` path?  You can find it in src/unix/process.c.  Put a breakpoint right after the `uv__pipe2()` system call and check errno.

[2016-10-10 10:55] ugiwgh commented on #1083
(gdb) bt
#0  uv__make_pipe (fds=0x6ff9e8, flags=0) at src/unix/process.c:161
#1  0x000000000044e16a in uv__signal_global_init () at src/unix/signal.c:58
#2  0x00000037c720b37d in pthread_once () from /lib64/libpthread.so.0
#3  0x000000000044e19a in uv__signal_global_once_init () at src/unix/signal.c:67
#4  0x000000000044a5fb in uv_loop_init (loop=0x6ff660) at src/unix/loop.c:33
#5  0x0000000000445

[2016-10-10 11:01] bnoordhuis commented on #1083
Huh, errno 2 is ENOENT.  What kernel are you running?  What does `uname -a` print?

[2016-10-10 11:03] ugiwgh commented on #1083
Linux localhost.localdomain 2.6.18-8.el5 #1 SMP Fri Jan 26 14:15:14 EST 2007 x86_64 x86_64 x86_64 GNU/Linux

[2016-10-10 11:08] bnoordhuis commented on #1083
I'm inclined to suspect a bug in your kernel.  ENOSYS is expected because your kernel is too old to understand the pipe2 system call but ENOENT is not.

2.6.18-8 is almost ten years old, try upgrading to 2.6.18-398.  It's a spring chicken in comparison, at just over two years of age.

If that is not an option for you, you could set `static int no_pipe2 = 1` in src/unix/process.c, that will skip th

[2016-10-10 11:11] ugiwgh commented on #1083
Thank you very much.

[2016-10-10 11:12] bnoordhuis commented on #1083
No problem.  I'll close the issue, good luck.

[2016-10-10 11:12] #1083 closed

[2016-10-10 11:17] ugiwgh commented on #1083
It's crash again.

(gdb) bt
#0  0x00000037c6630015 in raise () from /lib64/libc.so.6
#1  0x00000037c6631980 in abort () from /lib64/libc.so.6
#2  0x0000000000455ead in uv__io_poll (loop=0x6ff660, timeout=778)
    at src/unix/linux-core.c:227
#3  0x0000000000446fdb in uv_run (loop=0x6ff660, mode=UV_RUN_DEFAULT) at src/unix/core.c:354

[2016-10-10 11:19] bnoordhuis commented on #1083
I'm going to guess it's a similar issue: missing system call acting weirdly.  You know now how to debug it at least.

[2016-10-10 11:20] ugiwgh commented on #1083
OK

[2016-10-10 16:14] CompileMaster opened #1084 "[v1.9.1] uv_pipe_init(loop, &queue, 1) fails in windows, why?"
i want use ipc 1 to pass  handles.
uv_pipe_init(loop, &queue, 0) is success,but it can't pass handles.

[2016-10-10 16:44] saghul commented on #1084
You must specify the ipc parameter to 1 in order to pass handles.  If you set it to zero it won't work.  That's what the parameter is for.

PS: Please, use the mailing list for questions.

[2016-10-10 16:44] #1084 closed

[2016-10-11 00:46] strrchr opened #1085 "Will read_cb be called immediately after alloc_cb for uv_read_start?"
I found node_http_parser.cc allocates a single buffer for multiple parsers.
[code]
Will read_cb be called immediately after alloc_cb for uv_read_start, especially in Windows IOCP?

[2016-10-11 07:44] saghul commented on #1085
Yes, for a given stream. On Windows it's possible to get alloc_cb and
read_cb intertwined, but from the perspective of a single stream, they will
always come one after the other.

PS: Please use the mailing list for questions next time.

On Oct 11, 2016 01:46, "strrchr" <notifications@github.com> wrote:

I found node_http_parser.cc allocates a single buffer for multiple parsers.

  static void OnA

[2016-10-11 07:45] #1085 closed

[2016-10-11 07:52] ugiwgh opened #1086 "uv__epoll_create1 does no return -1 on redhat5"
The uv__epoll_create1 does not return -1 on redhat5, so uv__epoll_create won't be run forever.

Linux localhost.localdomain 2.6.18-8.el5 #1 SMP Fri Jan 26 14:15:14 EST 2007 x86_64 x86_64 x86_64 GNU/Linux

[2016-10-11 09:00] saghul commented on #1086
Have you tried updating the kernel to some version from this decade as Ben
suggested? :-)

On Oct 11, 2016 08:52, "ugiwgh" <notifications@github.com> wrote:

[2016-10-11 10:25] ugiwgh commented on #1086
I code a standard OS program. So, I cannot update the kernel.

[2016-10-11 10:32] bnoordhuis commented on #1086
You don't even need to update to a newer version but at least update to the latest patch release, 2.6.18-398.

[2016-10-11 10:52] ugiwgh commented on #1086
The problem is that my customers donot want to update the kernel.

[2016-10-11 11:13] txdv commented on #357
@saghul you can close this now, since https://github.com/libuv/libuv/commit/912d42b7285fc29869472106d1c736f34ac91521

[2016-10-11 11:40] bnoordhuis commented on #1086
That's too bad but it means we can't offer support.  I'll close the issue.

[2016-10-11 11:40] #1086 closed

[2016-10-11 11:40] #357 closed

[2016-10-11 11:47] txdv commented on #1086
It is impossible to fix this without using a newer kernel version.

[2016-10-11 23:49] AaronCAlbers opened #1087 "uv_getaddrinfo memory leak"
According to Mac Instruments there appears to be a memory leak in uv_getaddrinfo().

Even a bare bones simple example appears to leak. The culprit seems to be from "uv__getaddrinfo_work" .

[code]

![screen shot 2016-10-11 at 6 02 52 pm](https://cloud.githubusercontent.com/assets/20759340/19292955/29bf8da2-8fdd-11e6-88c4-208f7b6d6701.png)

[2016-10-12 06:06] ugiwgh commented on #1086
OK. Thanks a lot.

[2016-10-12 07:07] saghul commented on #1087
I think that's a false positive.  Since you are using the default loop and never destroying it, there is stuff which is allocated but never freed. I had a quick look at our getaddringo code and I can't find any memory allocation we don't free.

Any chance Instruments can give some better information? As in, where was the memory allocated, for example.

[2016-10-12 08:22] bnoordhuis commented on #1087
Can you `uv_loop_delete(loop)` on exit and retry?  Also, valgrind (when it works on OS X) might give more useful output.

[2016-10-12 08:46] AaronCAlbers commented on #1087
No effect.

[code]
![screen shot 2016-10-12 at 2 41 04 am](https://cloud.githubusercontent.com/assets/20759340/19303336/79a8ebea-9025-11e6-86fc-00593bd5e992.png)

Instruments does give more information but I am not sure what all you need.
![screen shot 2016-10-12 at 2 44 44 am](https://cloud.githubusercontent.com/assets/20759340/19303433/e5a06314-9025-11e6-8bd3-c51e34dbd178.png)

[2016-10-12 08:54] bnoordhuis commented on #1087
The stack trace leading up to the allocation would help.  Valgrind records it; don't know about Instruments.

[2016-10-12 16:31] AaronCAlbers commented on #1087
Bytes Used	Count		Symbol Name
 273.69 KB     100.0%	67	 	thread_start
 273.69 KB     100.0%	67	 	 _pthread_start
 273.69 KB     100.0%	67	 	  _pthread_body
 273.69 KB     100.0%	67	 	   uv__thread_start
 273.69 KB     100.0%	67	 	    worker
 273.69 KB     100.0%	67	 	     uv__getaddrinfo_work
 273.69 KB     100.0%	67	 	      getaddrinfo
 258.39 KB      94.4%	22	 	       si_addrinfo
 257.94 KB

[2016-10-12 17:19] bnoordhuis commented on #1087
It's a bit hard to interpret but it looks like internal bookkeeping not being freed.  What does it look like when you call getaddrinfo() and freeaddrinfo() directly?  For better fidelity, try calling getaddrinfo() from uv_queue_work() so it runs in a separate thread.

[2016-10-12 19:12] AaronCAlbers commented on #1087
It appears the leak happens in this implementation of getaddrinfo() on Mac OS X Sierra. Any recommendations?

[code]
![screen shot 2016-10-12 at 1 09 52 pm](https://cloud.githubusercontent.com/assets/20759340/19324178/7ad56068-907d-11e6-96b2-abd8399cf456.png)

[2016-10-13 04:37] bnoordhuis commented on #1087
If it is a one-time leak, it's probably nothing to worry about.  If it happens on every getaddrinfo() call, your best (and probably only) option is to report it Apple and hope for the best.

Since this is not under libuv's control, I'll go ahead and close the issue.

[2016-10-13 04:37] #1087 closed

[2016-10-13 17:53] iWuzHere commented on #721
I guess this issue can be closed now as of #889
Closing now unless there are any objections

[2016-10-13 17:53] #721 closed

[2016-10-14 05:15] saghul commented on #721
Oh, I had forgotten about this one 👍

[2016-10-14 23:30] alexhultman opened #1095 "Improve memory usage of uv_poll_t"
Hey I just made a proof of concept implementation of the uv_poll_t component of libuv and I was able to reduce the memory usage from 160 bytes per poll to 32 bytes. Performance seems to also be better.

This resulted in 1 million websockets per 202 mb of user space memory as compared to 355 mb with the current official uv_poll_t implementation. It seems to be a fair amount of room for improvement

[2016-10-15 08:24] txdv commented on #1095
Where is the code?

[2016-10-15 17:03] alexhultman commented on #1095
I just made a very basic prototype to test with. It basically just wraps epoll (I only made a Linux prototype). I get that 32 bytes might be a little extreme but 160 should definitely be open for improvements.

[2016-10-16 04:59] saghul commented on #1095
We wrap the polling mechanism with uv__io_t, I'm not sure we want to get
away from that and repeat the code... But even an early patch may show
where you're going and if it would be acceptable, so an early PR would be
welcome.

On Oct 15, 2016 19:03, "Alex Hultman" <notifications@github.com> wrote:

I just made a very basic prototype to test with. It basically just wraps
epoll (I only made a Linux

[2016-10-16 21:52] #79 closed

[2016-10-17 09:45] bnoordhuis commented on #1095
Nothing actionable so I'll close but like @saghul said, open a pull request and we'll take it from there.

[2016-10-17 09:45] #1095 closed

[2016-10-17 10:11] bnoordhuis opened #1099 "win: pipe IPC is blocking"
[This line](https://github.com/libuv/libuv/blob/d5db277/src/win/pipe.c#L1336) seems to be responsible.

My uneducated guess is that `ipc_header_req` should be heap-allocated and use overlapped I/O but it also needs to be sequenced with the WriteFile() call further down.

Refs: https://github.com/nodejs/node/issues/7657

[2016-10-17 23:25] joaocgreis commented on #982
For anyone still looking for a solution for the original issue with MinGW, it may be to copy the implementation of `_InterlockedOr` from an old version of MinGW-w64: https://sourceforge.net/p/mingw-w64/mingw-w64/ci/3d41592c81b83f383d85b2bd17aa0de8c791632a/tree/mingw-w64-crt/intrincs/ilockor.c to `src/win/tty.c`. But the tests fail, not sure if because of this.

[2016-10-18 00:17] saghul commented on #982
I think this issue got derailed a bit, so I'm going to close it. @Choonster if you see tests fail, please open a new issue, since this one dealt with compilation related issues.  Thanks!

[2016-10-18 00:17] #982 closed

[2016-10-19 16:55] cjihrig commented on #923
Since #935 was closed, I'm going to close this too.

[2016-10-19 16:55] #923 closed

[2016-10-19 16:56] cjihrig commented on #923
@bigeasy you could be a pioneer for @saghul's libuv-extras idea.

[2016-10-19 18:11] cjihrig commented on #71
No follow up. @saghul can this be closed?

[2016-10-19 18:49] bnoordhuis commented on #71
Let's close.

[2016-10-19 18:49] #71 closed

[2016-10-19 20:10] saghul commented on #923
Indeed!

On Oct 19, 2016 13:56, "Colin Ihrig" <notifications@github.com> wrote:

[2016-10-19 21:33] bigeasy commented on #923
Sounds like fun. I'll check back in on the weekend with it's my coder me time.

[2016-10-19 23:40] saghul commented on #1015
@cjihrig I can be around to make the release until sometime Saturday, then I'm off on vacation. Maybe we can do this tomorrow? (I'm at Buenos Aires at the moment).  I guess we'll land the z/OS support in 1.10.X, unless you're ok doing the release completely alone :-) WDYT?

[2016-10-19 23:47] cjihrig commented on #1015
I'm fine with shipping without z/OS. I don't think there is any real rush to have support for it. I'm OK trying to do the release alone, but would 2 or 3PM US Eastern (I think that is 3 or 4PM in Buenos Aires) work for you tomorrow?

[2016-10-23 04:39] kangjoni76 opened #1103 "uv_setup_args process_title.len assertion"
uv_setup_args process_title.len assertion error ?
To reproduce here is my source

[code]

trying ./uv1 yields following assertion as of libuv git commit 0d586b7dd856f2088b477e58be5d481723fc105b , tested on centos 6.8.
[code]
Is this intended?

[2016-10-23 09:30] bnoordhuis commented on #1103
Here is the assertion that you hit:
[code]
The comment explains it: the expectation is that the argv elements are next to each other in memory.  They aren't in your test case.

[2016-10-23 09:47] kangjoni76 commented on #1103
but none assertion happen on win7 btw.

[2016-10-23 10:00] bnoordhuis opened #1104 "Add one-shot signal handler mode"
See https://github.com/nodejs/node/issues/9050.  It can be useful to have a one-shot version of `uv_signal_start()` that resets the signal handler when the signal is received.

For anyone wanting to work on this, API and ABI compatibility should be preserved if you target the v1.x branch.

[2016-10-23 10:05] bnoordhuis commented on #1103
That's because the mechanism is quite different on Windows.  I'll go ahead and close the issue.

[2016-10-23 10:05] #1103 closed

[2016-10-23 19:13] mk-pmb commented on #1104
To avoid confusion: The first few posts are about sync program structure. The "SIGINT once" part starts at [my 2nd post](https://github.com/nodejs/node/issues/9050#issuecomment-255557608).

[2016-10-24 02:54] ugiwgh opened #1105 "uv_timer comes 1ms early"
I use clock_gettime to get time.
I set 999ms interval at 1477277026001. But it comes at 1477277026999, 1ms early.

[2016-10-24 06:03] txdv commented on #1105
just pass 999 + 1

[2016-10-24 06:13] ugiwgh commented on #1105
Why to pass 999 + 1 ?

[2016-10-24 06:14] txdv commented on #1105
to come 1ms later

[2016-10-24 06:18] ugiwgh commented on #1105
That's not a good idea. The 1ms early comes from a test data. There is no theory support.

[2016-10-24 06:21] ugiwgh commented on #1105
If I set after 999ms to run, it's easly to understand after 1000ms to run. But it's hard to understand after 998ms to run.

[2016-10-24 11:03] bnoordhuis commented on #1105
Your bug report is rather incomplete.  Can you post:

1. A standalone test case.
2. The output of `uname -a`.
3. The version of libuv that you are using.
4. Everything else that might be relevant.

[2016-10-24 14:45] cjihrig commented on #1015
This happened. v1.10.0 is available. Please let me know if it's broken

[2016-10-24 14:45] #1015 closed

[2016-10-24 15:38] Remainfox opened #1107 "When the server is sending a large amount of data to the client, the client is suddenly closed."
my program is liking this.

when server is running, if new  client connect server, the connect_cb  will create a timer to send media data to client on time, but the media data is big , when client closed

the question is appear !

=====   uv_write error :  ECANCELED - operation cancled  =====

my libuv version is V1.9.1,  i  run pragram on ubuntu 16.04 .

Wrong print information is located in afte

[2016-10-24 16:26] jessicaquynh commented on #1025
Hello! I am new to this project and C, but I would love to learn more.

Does anybody mind if I take this as my first contribution?

[2016-10-24 16:36] txdv commented on #1025
Go ahead.

[2016-10-24 17:47] bnoordhuis commented on #1107
Can you post your question to the libuv mailing list?  We use the issue tracker for tracking bug reports against libuv, not for general support.  Thanks.

[2016-10-24 17:47] #1107 closed

[2016-10-25 01:15] Remainfox commented on #1107
ok

[2016-10-25 03:07] ugiwgh commented on #1105
gcc test_uvtimer.c -I /usr/local/Cellar/libuv/1.9.1/include  /usr/local/Cellar/libuv/1.9.1/lib/libuv.a -lpthread -lrt
`include <uv.h>

#include <stdio.h>
#include <sys/types.h>
#include <time.h>

static uv_timer_t g_sched_timer;
static struct timespec time_offset = {0, 0};
int64_t utils_timer_now_ms() {
  struct timespec ts;
  clock_gettime(CLOCK_REALTIME, &ts);
  ts.tv_sec += time_offset.tv_sec;

[2016-10-25 10:06] bnoordhuis commented on #1105
I'm a little confused.  `/usr/local/Cellar` suggests OS X + Homebrew but your uname says it's a RHEL6 box.

Regardless, I think you have a bug in your calculations.  Here is a revised test case:
[code]
You may (and probably will) see timer overruns on the order of 10 ms but that is courtesy of your operating system's scheduler, not libuv.  You could try tweaking `prctl(PR_SET_TIMERSLACK)` and the

[2016-10-25 10:18] ugiwgh commented on #1105
If it comes early, it won't runs function. And thus, it will drop one second data.

[2016-10-25 10:23] ugiwgh commented on #1105
It's do RHEL6. I just throw it to /usr/local/Cellar.

[2016-10-25 10:46] bnoordhuis commented on #1105
Ah, okay.  I don't quite understand this though:

Timer overruns are a fact of life; you should expect them and be prepared to deal with them.  Timers firing early however should never happen.  Do you see that with the code I posted?

[2016-10-25 10:46] ugiwgh commented on #1105
I have just test your code.
ms=1000 slack=0
ms=1000 slack=0
ms=1000 slack=0
ms=1001 slack=1
ms=1000 slack=0
ms=1000 slack=0

[2016-10-25 10:48] ugiwgh commented on #1105
The os is vmware machine. It's that reason?

[2016-10-25 10:52] bnoordhuis commented on #1105
That could very well be it.  Virtualization software emulates the system clock.  Maybe it's misconfigured or has a bug.

The fact that you get good numbers with the code I posted is encouraging though.

[2016-10-25 10:57] ugiwgh commented on #1105
I have use uv_now. And it much more better.

[2016-10-25 11:09] bnoordhuis commented on #1105
Good.  By the way, you were using CLOCK_REALTIME but that clock may be subject to skew, i.e., it can jump back and forth in time.  Next time you probably want to use CLOCK_MONOTONIC.

I'll go ahead and close out the issue.

[2016-10-25 11:09] #1105 closed

[2016-10-26 14:02] ayuval opened #1108 "inconsistently between windows and gnu for static lib"
In the uv.h file we have a definition for UV_EXTERN

for windows if we do not define `BUILDING_UV_SHARED` or `USING_UV_SHARED` the result will be
`define UV_EXTERN /* nothing */`
But...
for `__GNUC__ >= 4`
we will get
`# define UV_EXTERN __attribute__((visibility("default")))`
so if we want to build a **static lib** for windows and android
for windows there will be no decorators
but for Android
we

[2016-10-26 16:18] bnoordhuis commented on #1108
Yes, and?

[2016-10-26 21:07] mbroadst opened #1109 "is it possible to open a pipe only for writes?"
It would appear that libuv hardcodes's the created stream to read/write, as well as signs up the fd for POLLIN/POLLOUT: https://github.com/libuv/libuv/blob/1a96fe33343f82721ba8bc93adb5a67ddcf70ec4/src/unix/pipe.c#L155

Is this just a limitation, or something nobody ever needed before? :)

Thanks!

[2016-10-27 07:48] ayuval commented on #1108
I suggest to make a change to UV_EXTERN definition in uv.h
Add new ifdef UV_STATICLIB

In case the sorce is compiled with the UV_STATICLIB definition
the value of UV_EXTERN for **all** the plafrorm will be
#define UV_EXTERN /* nothing */

I will add the change in the pull requests

the change is backword compatible

This is my suggestain for the new definition for UV_EXTERN
#ifdef UV_STATICLIB
# d

[2016-10-27 07:52] ayuval commented on #1108
going to add new pull request

[2016-10-27 08:42] txdv commented on #1109
I have trouble understanding this question.

[2016-10-27 08:57] txdv commented on #1108
can you put the code in comments between ``` ```?

[2016-10-27 09:03] ayuval commented on #1108
not sure i understand what do you mean

[2016-10-27 09:22] txdv commented on #1108
The difference between:

[code]

and

#TAG

[2016-10-27 09:36] ayuval commented on #1108
done

[2016-10-27 13:16] mbroadst commented on #1109
@txdv `uv_pipe_connect` currently calls `uv__stream_open` with `UV_STREAM_READABLE | UV_STREAM_WRITABLE`, and `uv__io_start` with `POLLIN | POLLOUT` in a non-configurable way. Is that because nobody has needed to open the pipe as a "simplex" socket before, or because there are existing limitations that require the pipe be opened duplex like this?

[2016-10-27 14:39] shuguoyang opened #1111 "Does libuv simultaneous accept has the thundering herd problem on linux?"
Does libuv simultaneous accept has the thundering herd problem on linux?  and how can I custom the simultaneous accpet load balance? thanks!

[2016-10-28 07:20] bnoordhuis commented on #1111
If you add the same listen socket to multiple event loops, yes.

If your kernel is new enough, you can create the file descriptor yourself and set the SO_REUSEPORT socket option on it, then pass it to libuv with `uv_tcp_open()`.

Can you post questions to the mailing list next time?  We use the issue tracker strictly for bug reports.  Thanks.

[2016-10-28 07:20] #1111 closed

[2016-10-29 07:44] txdv commented on #1109
Can you elaborate on the advantages on having a simplex socket?

[2016-10-29 08:22] bnoordhuis commented on #1109
Yes.  If you have a reasonable use case we can look into it.  Alternatively, if you call socket() + connect() yourself, you can create a uv_poll_t handle with the polling mode you want.

[2016-10-29 14:31] #1109 closed

[2016-10-29 19:50] jessicaquynh commented on #1025
Hi there,

I'm still getting familiar with the codebase etc. I just wanted to make sure I'm on the right path.

Thus far I've [removed](https://github.com/jessicaquynh/libuv/commit/94bc9caa5b15dc39d9d67ab17618719c6e69ff59) `suggested_size` from the typedef. And I'm working on removing the parameter from the `src` and `tests`; but I am encountering allocation failures on the tests where I've replac

[2016-10-29 19:54] bnoordhuis commented on #1025
@jessicaquynh Can you define "allocation failures" or give an example of where it's failing for you now?

[2016-10-29 20:11] jessicaquynh commented on #1025
Yes certainly.

This is one error output from `test-ping-pong.c`:
[code]
Similar error output occurs for the tests `tcp_ping_pong_v6` and `pipe_ping_pong`.

[2016-10-29 20:34] bnoordhuis commented on #1025
That message suggests you introduced a bug somewhere.  Perhaps round up your current work-in-progress and open a pull request so others can help you look at it.

[2016-10-29 20:53] jessicaquynh commented on #1025
Thanks @bnoordhuis, I have taken your recommendation and opened a [pull request](https://github.com/libuv/libuv/pull/1114). I look forward to any feedback!

[2016-10-31 00:07] rvagg opened #1115 "Ignoring error on pipe cleanup"
This is not something I've actually encountered, I'm mainly interested in the philosophical reasoning behind this, if there is one.

In src/unix/pipe.c:

[code]

The `unlink` could fail but it's ignored. This is most probably safe to do but such a failure could also be passed back up to the caller to let them know all is not right. Is it ignored because it's too hard to do this or because it's not

[2016-10-31 01:43] saghul commented on #1115
It may mean another process opened the pipe themselves. In addition, we
have no way of reporting this since it happens as part of closing the pipe.

Saúl

On Oct 31, 2016 07:07, "Rod Vagg" <notifications@github.com> wrote:

[2016-10-31 01:54] rvagg commented on #1115
thanks!

[2016-10-31 01:54] #1115 closed

[2016-10-31 11:19] santigimeno commented on #1104
WRT the 2nd example in https://github.com/nodejs/node/issues/9050#issuecomment-255557608:

[code]

is it correct to assume that if this one-shot signal handler is implemented and 2 consecutive SIGINT are received, the process will exit after the second `SIGINT` but the SIGINT listener will not run because the loop hasn't moved forward?

[2016-10-31 11:32] bnoordhuis commented on #1104
@santigimeno Correct, the second SIGINT simply terminates the process.

[2016-11-01 05:32] jinmel commented on #925
I am currently looking in to this issue. I think we should discuss what the interface would be for uv_fs_copyfile. copy_file_range(2) in unix has offset parameters whereas copyfile(3) in OSX and CopyFileEx in windows does not.

[2016-11-01 05:35] jinmel commented on #925
I am currently looking in to this issue. I think we should discuss what the interface would be for uv_fs_copyfile. copy_file_range(2) in unix has offset parameters whereas copyfile(3) in OSX and CopyFileEx in windows does not.

[2016-11-01 14:59] sam-github commented on #925
I'm not at all clear what this issue is discussing.

Is it for make a copy of actual files on-disk? That is what Windows `CopyFile()` does.

Or is it for zero-copy transfer of data between file *descriptors* (or their Windows equivalent)? That is what `sendfile()`, `splice(), and `copy_file_range()` do.

And I couldn't watch the WWDC link in the issue on Chrome on Linux, maybe its Mac-only?

[2016-11-02 06:29] ronkorving commented on #925
It's for copying files on disk. Right now (in Node) you would open one file and through user land buffers of user-defined size copy data chunk-by-chunk. There are syscalls that should be able to do a better job at this. On top of that (and that was the trigger for this), on macOS with AppleFS file copy is *very* cheap as it's copy-on-write (meaning you can copy a 1 GB file in microseconds).

[2016-11-03 03:31] xsq007 opened #1118 "fs.watch prevents a directory being cleaned on Windows OS"
Use fs.watch  to build a tool to watch files and folder changes.
Now there is  a folder with 2 subfolders and tens of files.
When I tried to remove the folder by pressing Shift+Delete keys (Windows OS),  the files were removed but the folders still existed.

Someone told me it was related with file locking mechanism on Windows and possibly dependent on libuv.  Wondering if it is possible to clean

[2016-11-03 05:11] txdv commented on #1118
stop  watching the dir?

[2016-11-03 05:20] xsq007 commented on #1118
Need to watch file and folder changes continuously,  and even monitor file deletions, so cannot stop watching.

[2016-11-03 11:13] moteus opened #1119 "Pass Windows handles as STDIO to child process."
Now it possible send only file descriptors but not real HANDLE.
My usecase is run `php-cgi` which expect SOCKET as stdin handle
and INVALID_HANDLE_VALUE as stdout/stderr.
Yes in such case you can not use regular IO function to work with such
handle and have to use `send`/`recv`.
For now I use `_open_osfhandle` to wrap HANDLE. But it requires build
libuv and target app with same C runtime. And it d

[2016-11-03 11:18] bnoordhuis commented on #1119
Can you post a detailed outline of what you think needs to be changed?

[2016-11-03 11:28] moteus commented on #1119
This is example how to [pass socket to `php-cgi.exe`](https://github.com/deemru/php-cgi-spawner/blob/master/src/php-cgi-spawner.c#L78-L82). So we have SOCKET object and we need just use it as stdio handle. SOCKET is inheritable so we do not need duplicate it but if use some other types may be it require also duplicate it. It needs only if you build libuv with static C runtime. Then there no way us

[2016-11-03 11:33] bnoordhuis commented on #1119
What I mean is, can you post a concrete proposal for improving the libuv API?  Keep in mind that if you want to see it land in v1.x, it can't break API or ABI.

Yes, that looks like a bug to me.

[2016-11-03 11:43] moteus commented on #1119
I think about just add one more flag `UV_INHERIT_HANDLE` wich may be same as `UV_INHERIT_FD` for non Windows systems.

[2016-11-03 13:08] bnoordhuis commented on #1119
I think that is acceptable.  Do you want to open a pull request?

[2016-11-03 17:54] sam-github commented on #1119
Why not make `UV_INHERIT_FD` do on Windows what it does on non-Windows? Why another flag?

[2016-11-03 18:19] bnoordhuis commented on #1119
Because that would be a backwards incompatible change.

[2016-11-03 18:30] sam-github commented on #1119
Ah, right, its a no-op right now on Windows?

If this lands, maybe for the next major the two flags can be made identical.

[2016-11-03 19:23] bnoordhuis commented on #1119
No, it's not a no-op.  It extracts the underlying HANDLE from a CRT file descriptor.

[2016-11-04 06:18] moteus commented on #1119
Windows has both `file descriptors` and `HANDLES` and they may have some usage.
E.g. fs 0,1 and 2 is quite safe use to pass current stdio handles because they usially not changed during
execution and all copies of CRT point to same handles. Without this it require calls `GetStdHandle` to get
this handles. But when you want pass some other handle and safer use HANDLE.

[2016-11-04 09:34] XeCycle opened #1122 "getaddrinfo on Windows segfaults when node == service == null"
[This line](https://github.com/libuv/libuv/blob/v1.x/src/win/getaddrinfo.c#L264) checks the input, and should return an EINVAL if `node == service == null`; [here](https://github.com/libuv/libuv/blob/v1.x/src/win/getaddrinfo.c#L381) we tries to free a possibly allocated buffer, but if we came from that check line, `req->alloc` is very likely uninitialized, and can contain values other than null.

[2016-11-04 09:45] bnoordhuis commented on #1122
Looks like a bug to me.  The check should just `return UV_EINVAL` instead of `goto error`.

[2016-11-04 09:55] bnoordhuis commented on #1122
https://github.com/libuv/libuv/pull/1123

[2016-11-04 11:15] jinmel commented on #925
When would kernel level copy file feature be introduced in bsd?
I am working on this issue but I am still wondering that I need to implement for all archs when I add a new uv_fs interface to get merged into main line

[2016-11-04 11:55] llafuente commented on #925
don't need to be a syscall but need to be implemented so in those archs: read and write

[2016-11-04 12:12] jinmel commented on #925
@llafuente you mean like uv_fs_sendfile_emul?

[2016-11-04 13:24] llafuente commented on #925
I mean emulate what copy does, using uv_fs_read & uv_fs_write
maybe need to use uv_fs_chmod & uv_fs_chown if permissions are preserved, I don't know, just to summarize

[2016-11-05 16:37] mad-rain opened #1125 "win: uv__loops_remove memory leak"
Hi.

There is a memory leak in uv__loops_remove, appears when removing last loop from the list.

Execution goes to loop_removed label without freeing uv__loops list.

[code]

Andrew.

[2016-11-07 08:16] gabrielschulhof opened #1126 "SSIZE_T redefinition is (again?) a problem on win32"
I'm trying to build an addon on appveyor, and I'm getting the error mentioned in joyent/libuv#702. Node.js version is 6.9.1.

https://ci.appveyor.com/project/gabrielschulhof/iotivity-node/build/1.0.7#L330

[2016-11-07 10:27] skypjack opened #1127 "uv-win.h should include fcntl.h"
`uv-unix.h` explicitly includes `fcntl.h` and flags like `O_CREAT`, `O_RDWR` and some others are accessible to the users by simply including `uv.h`.
On the other side, `uv-win.h` doesn't include `fcntl.h` and `_O_CREAT`, `_O_RDWR` and the others are not imported. Users must include both `uv.h` **and** `fcntl.h` in their sources.
I'd suggest to explicitly include `fcntl.h` in `uv-win.h` for consist

[2016-11-07 13:34] cjihrig commented on #1126
From reading the linked issue, it seems like the reporter fixed the problem by removing a `#define` from their code.

[2016-11-07 13:48] gabrielschulhof commented on #1126
Aaah, I see that one of the libraries on which I depend has that line in it. I was under the mistaken impression that it was an old version of libuv from which the line had to be removed. Thanks for setting me straight!

[2016-11-07 13:48] #1126 closed

[2016-11-08 00:16] knanu opened #1128 "SSL support"
It's very annoying that there's no maintained SSL support for libuv. There's tls-evt, but it's buggy and not maintained anymore.

I want to move away from libevent for various reasons, and libuv would be a no-brainer, if it had SSL support.

[2016-11-08 06:40] sunlock21 opened #1129 "udp on windows is not aio"
libuv udp on windows is not using asynchronous io, just using unblock mode. they two are not the same. unblock udp on windows is not the highest io rate.

[2016-11-08 07:34] txdv commented on #1129
https://github.com/libuv/libuv/blob/v1.x/src/win/udp.c#L436-L450

Are you sure about that? This code block looks to me like it is using IOCP if it doesn't immediately succeed.

[2016-11-08 08:56] sunlock21 commented on #1129
Yes, I am sure.  IOCP not means AIO.  First ,udp in libuv created  never using WSA_FLAG_OVERLAPPED. Next, uv_active_udp_streams_threshold is a dead value zero, every recv using flag: MSG_PEEK, zero buf, IOCP here, just for detect data coming or not, then,do a  real recv data. Third, GetQueuedCompletionStatusEx is not using perfectly.  And, it is not able to  multiple recv or read in the same time.

[2016-11-08 09:24] txdv commented on #1129
Do you want to write a patch fixing this?

[2016-11-08 09:58] bnoordhuis commented on #1128
TLS support was discussed at the summit in Amsterdam last September.  Our position is that we are unlikely to integrate TLS in libuv itself but we are open to hosting external contributions under the libuv umbrella in the https://github.com/libuv/libuv-extras repository.

The problem I see with TLS in libuv core is that we either say "we only support openssl" (or gnutls, or nss, or gskit, or mbedt

[2016-11-08 10:11] bnoordhuis commented on #1129
Does it make sense to use AIO for UDP?  Does the NT kernel block when it can't send the datagram right away or does it queue it up?

[2016-11-08 10:52] sunlock21 commented on #1129
When I try to get  higher io bitrate in 10gb network,  I got a program using udp AIO,  but I cannot reach my target. So I try to using libuv to do it ( I think it's so good ), but it got more poor.  then, I  study the libuv codes.  Maybe It does not aim this.

[2016-11-08 11:08] bnoordhuis commented on #1129
Maybe it's different on Windows but on UNIX systems, if you simply want to pump out datagrams at the highest possible rate, the event loop model is a poor fit because of the latency it introduces.  Standard operating procedure is to have one or more dedicated threads that simply call sendmsg() in a loop.

[2016-11-08 15:42] nuuman commented on #1128
Just my 2 cents: A leaky abstraction layer is a *lot* better than no SSL support.

[2016-11-08 20:13] cadrian opened #1131 "SIGSEGV on linux / armhf"
I am trying to use libuv on the "armhf" architecture (a Cubie Board II running Debian).
The version of libuv is 1.9.1-3.
The software using libuv is [Circus](https://github.com/cadrian/circus).
When I try to run it, it stops with a **SIGSEGV**.

Using Valgrind, I have this trace:

[code]

Did I miss something? BTW it works perfectly on amd64.

Thanks for your help,

[2016-11-08 20:22] iWuzHere commented on #1131
Would it be possible to get a back trace from gdb?

[2016-11-09 07:31] cadrian commented on #1131
I'd be happy to provide it, but I need some help: is there a way to get such a trace postmortem? I cannot run gdb on the live process because it is triggered by a CGI wrapper and its life span is very short…

[2016-11-09 08:02] JackDrogon opened #1132 "Check noatime in uv__make_pipe"
In the skip condition， only check nonblocking。 I think that using pipe with atime is high overhead.
So Should libuv  check it in uv__make_pipe?

[2016-11-09 08:18] txdv commented on #1132
Can you link to the lines of codes you are referring to?

[2016-11-09 08:26] JackDrogon commented on #1132
Ok. [uv__make_pipe](https://github.com/libuv/libuv/blob/v1.x/src/unix/process.c#L151-L181)。 In the code， not check atime. I find libuv using pipe to passing message in the prcoess, this don't need atime. It's better to set noatime for the pipe.

[2016-11-09 08:50] bnoordhuis commented on #1132
Are you talking about `fcntl(fd, F_SETFL, O_NOATIME)`?  You will have to convince me with numbers that it makes an actual difference on file descriptors created with pipe2().

[2016-11-09 08:51] bnoordhuis commented on #1131
`ulimit -c unlimited` to turn on core dumps, then inspect the core with `gdb ./exe corefile`.  If the core file doesn't show up in the current working directory, check `sysctl kernel.core_pattern`.

[2016-11-09 10:12] bnoordhuis commented on #1125
I think that's intentional, the idea is to avoid allocating/freeing too much.  Is that a problem for you?

[2016-11-09 10:13] johanneswuerbach opened #1133 "Graceful termination on process on Windows"
Currently all child processes are forcefully killed on Windows https://github.com/libuv/libuv/blob/d9d207774ea1f734310982300e55dd64b3f5682b/src/win/process.c#L1167-L1189, which doesn't allow to perform any kind of cleanup in the child process.

Instead of always forcefully terminating, a https://msdn.microsoft.com/en-us/library/windows/desktop/ms632617(v=vs.85).aspx message should be send when pos

[2016-11-09 10:24] moteus commented on #1133
There also `GenerateConsoleCtrlEvent` function may be useful in some cases.

[2016-11-09 10:37] johanneswuerbach commented on #1133
I'm currently working around this by spawning `taskkill` https://technet.microsoft.com/en-us/library/bb491009.aspx without `/F` https://github.com/testem/testem/blob/441504a48cbc4c51bfeaf7ac1ce9e3ffb6867e5e/lib/utils/process.js#L117-L133, which seems to do the right thing for non-headless processes.

[2016-11-09 10:41] moteus commented on #1133
If you send WM_CLOSE app may also ask about confirm about closing with message box.
Its not bad or good. Just need to remember.

[2016-11-09 10:52] bnoordhuis commented on #1133
Pull requests welcome.  They should probably be against the master branch because it sounds like a backwards incompatible change in behavior.

[2016-11-09 19:45] sam-github commented on #1133
WM_CLOSE sounds awful, if it pops up a box, that isn't compatible with window, and that child processes sometimes pop up terminals is already a source of complaint, adding a confirmation box is going the wrong way.

I don't have easy access to Windows ATM, but I was pretty sure that one or both of SIGINT/SIGTERM/SIGHUP (I don't see signs of the latter in the code) was emulated enough by libuv that

[2016-11-09 21:14] cadrian commented on #1131
Thanks for the tips.

[code]

[2016-11-09 21:31] johanneswuerbach commented on #1133
My use-case is to terminate browser processes so I can't really influence the code.

Maybe WM_QUIT https://msdn.microsoft.com/en-us/library/windows/desktop/ms632641(v=vs.85).aspx would be more appropriate, but as I'm not a windows dev this is only an idea and not a recommendation

[2016-11-10 02:12] mad-rain commented on #1125
Thanks for reply. I don't think that memory leak can be intentional. I see it every time when my app exists.  I'm using only one default loop and uv_loop_close is called at the end.

If you check logic of the uv__loops_remove function, you will find out that it doesn't free uv__loops array when no loops are left.

[code]

Andrew.

[2016-11-10 03:16] qipeng090 commented on #1128
polarssl can use

[2016-11-10 06:10] JackDrogon commented on #1132
@bnoordhuis, I didn't test pipe2, I tested pip before a long time. This is the data before on linux kernel 2.6.18-164.el5.  See this [gist](https://gist.github.com/JackDrogon/b9571701c7df15b19311e1f96c94007d).
touch_atime need a bit more time than pipe_writev && pipe_readv.

[2016-11-10 07:47] txdv commented on #1132
Can't you just call fcntl(fd, F_SETFL, O_NOATIME) on the pipe fd after you created it with libuv? I grepped through the linux kernel for NOATIME and it seems like only ext4 supports it. I feel like this an optimization that the user should do on his own.

[2016-11-10 09:18] bnoordhuis commented on #1131
Odd that valgrind prints a file name and line number but gdb doesn't.  Can you try a libuv.so debug build?  I think the debian package is libuv1-dbg.

FWIW, [here](https://github.com/libuv/libuv/blob/v1.9.1/src/threadpool.c#L84) is the line of code that valgrind points to.  My hunch is that it's some kind of memory corruption in your application.  QUEUE_REMOVE updates a couple of pointers.  It tri

[2016-11-10 09:32] JackDrogon commented on #1132
Pipe's noatime isn't related to fiesystem. It only  depends on os. I think uv__make_pipe should check noatime flag. In uv__make__pipe function, it only checks nonblock. Users maybe set flag to be noatime which is passing to uv__make_pipe, but libuv ignore it. And libuv use pipe as signal locking and uv__async. I think these should be setting to be noatime.

[2016-11-10 09:43] cadrian commented on #1131
Thanks for the answer. I will try ASAP—but maybe not before next week; three-day week-end IRL coming…

About the debug, the dbg package is already installed. But I remember that gdb wrote a bunch of strange messages about some debug version ("Dwarf error"?? it looked funny so I remember that at least). I will check that too. (I have no access to that machine right now)

And yes, I am quite confide

[2016-11-10 11:16] bnoordhuis commented on #1132
I ran `perf record -c 25000 -e cpu-clock ./a.out 2500000` on your benchmark and did `perf diff` afterwards but I don't see a discernible difference on my 4.7.9-200.fc24.x86_64 system.

I changed your code to call fcntl() on both pipe descriptors but that made no difference.  The with/without O_NOATIME output of `perf stat -r25 ./a.out 2500000` isn't markedly different either.

Maybe there is a ati

[2016-11-10 11:50] bnoordhuis commented on #1125
Yes, that's the idea: for programs that start one or more loops, do some work, close them again, repeat, it would result in unnecessary allocate-free-allocate cycles.  I'm not saying it's a worthwhile optimization per se but that's the motivation behind it.

That's why I asked if it was a problem for you.  Changing the implementation is less compelling when it's because of a tool complaint than wh

[2016-11-11 02:43] JackDrogon commented on #1132
In the example, most time is wasted on `.text.acpi_processor_idle`. It's about 95.2466%s. I give all the data.
with pipe
[code]

without atime
[code]

There is some difference between them, but is little. I think it's meaningful to optimize， because it's easy to write the releated code and libuv is a  underlying network library that can do more to imporve the performance. I will test it in the new

[2016-11-11 02:50] JackDrogon commented on #1132
I use oprofile to profile the difference. @bnoordhuis  You can try to use it to benchmark.
I will use a newer kernel to test it.

[2016-11-11 17:18] iWuzHere opened #1135 "Introduced regression on windows Node.js v7.1.0"
My change here https://github.com/libuv/libuv/pull/889 has caused some issues to pop up in node 7.1.0

See https://github.com/nodejs/node/issues/9542

[2016-11-11 20:52] cjihrig commented on #1135
@bnoordhuis is https://github.com/nodejs/node/issues/9542#issuecomment-259813312 the proper fix for this?

[2016-11-11 21:21] iWuzHere commented on #1135
Thats a quick fix. sets it to `UV_UNSUPPORTED` so my code is never called.

[2016-11-12 20:37] kayakyakr opened #1137 "uv.errname crashing on Windows Subsystem for Linux"
Trying to use node on WSL, aka Bash on Windows, specifically with the ember-cli. I'm receiving an exception in net.js which is not surprising considering that Windows hasn't implemented all of the subsystem calls.

The issue is that libuv seems to be crashing when it goes to look up the error code being thrown by net.js. Here is the error:

[code]

This occurs in node 4, 6, and 7 across a bunch of

[2016-11-13 00:18] nuuman commented on #1128
@qipeng090 how? bio's?

[2016-11-13 09:01] bnoordhuis commented on #1137
Can you use `node debug` to check what the value of `err` is at the time of the exception?

[2016-11-13 09:17] bnoordhuis commented on #1135
What @iWuzHere said.  I think we should revert 58ccfd4 for now, do a release, then revisit.

[2016-11-13 10:20] digitalinfinity commented on #1135
I'm no expert in this codebase, but I took a look at the original commit and also debugged the react-native scenario. What I see is that, in the problematic case, uv_tty_write_bufs is getting called with a buffer whose length is 0. Before #889, this was ok- however, after #889, MultiByteToWideChar is being called with cbMultibyte set to 0 in the problematic case, and it returns an error which casc

[2016-11-13 11:04] digitalinfinity commented on #1135
On second thoughts, decided to learn how to contribute to libuv- opened #1139- please let me know if I made any mistakes

[2016-11-13 18:30] kayakyakr commented on #1137
@bnoordhuis I'm not familiar with node's debug. I can launch into the debugger, but can't seem to attach it to the right line of code deep in node's native execution.

[code]

None of the combinations I can think of work. I would have to rebuild node to set a debugger statement in there and I'm not really set up to rebuild node right now.

[2016-11-13 20:00] kayakyakr commented on #1137
Looks like the call for node 8.0.0 pre (node master) gives more information.

`Error: connect Unknown system error -32767 /usr/local/var/run/watchman/kayakyakr-state/sock`

But that's a good enough improvement: it no longer crashes and tells what is going wrong.

[2016-11-13 20:00] #1137 closed

[2016-11-14 21:36] cadrian commented on #1131
The bug was indeed mine, I [found it](https://github.com/cadrian/circus/commit/df8052fa4b31ce76c39ed9d16fb590e7e16efbb8). Sorry.

Thanks for your patience.

[2016-11-14 21:36] #1131 closed

[2016-11-15 10:34] dkrikun commented on #181
I am not able to observe this behavior. I set a timer with a repeat value of 1000 ms, which blocks for 200 ms. Then I print current time in the beginning of the callback and it shows that the callback is invoked each 1200 ms.
How it could be possibly explained?

[2016-11-15 11:28] bnoordhuis commented on #181
@dkrikun Can you file a new issue and include a test case?

[2016-11-15 14:47] Qantas94Heavy opened #1140 "Public key for signing libuv-v1.10.0.tar.gz file?"
Hi, I've followed the steps in [MAINTAINERS.md](https://github.com/libuv/libuv/blob/v1.x/MAINTAINERS.md) in order to try and verify "libuv-v1.10.0.tar.gz", including importing all of the keys listed by using the git blobs, but can't seem to find one that matches "RSA key FF47D5E4AD8B4FDC", which is what is show using the command `gpg --verify libuv-v1.10.0.tar.gz.sign`. Was one of the keys listed

[2016-11-15 15:02] cjihrig commented on #1140
That was me. I have two keys, and apparently used the wrong one. I'll update the MAINTAINERS file.

[2016-11-15 15:31] #1140 closed

[2016-11-15 15:46] bnoordhuis commented on #1135
The discussion in https://github.com/nodejs/node/issues/9542 suggests there is still a regressions so I'm reopening the issue.  I've updated the revert in #1138 to include the changes from #1139.

[2016-11-16 11:20] dkrikun opened #1142 "Unexpected timer behavior"
From what I understand from the docs, a timer shall take its callback execution time into account when. However, from the following test case I observe otherwise.

[code]

You can see that the callback is called each 6000 msec.

[2016-11-16 13:14] bnoordhuis commented on #1132
@JackDrogon Any luck testing on a newer kernel?

[2016-11-16 13:49] bnoordhuis commented on #1142
I think I may have explained it confusingly in #181 and that ended up more or less verbatim in the documentation.  I've added the doc label, documentation pull requests welcome.

In your example, if you call `uv_update_time()` at the end of the timer callback, it runs again in five instead of six seconds.  The timer is rearmed relative to libuv's idea of now and that needs to be updated in long ru

[2016-11-16 14:06] dkrikun commented on #1142
Ktx

[2016-11-16 14:06] #1142 closed

[2016-11-16 16:59] sam-github opened #1144 "feature request: enable observation and troubleshooting of the work queue/thread pool usage"
What kind of information can libuv expose to give an indication of work queue depth/thread utilisation/over utilisation?

I'd like to know the work queue depth over time, which implies (if non-zero) that there are no free threads in the pool. Actually, I guess there are two numbers: queued but not in progress, and in-progress.

Maybe it would also be useful to know number of free threads, but if t

[2016-11-16 21:16] sledgeh opened #1145 "Does libuv receive multicast packets from local network without subscription?"
We know: in flat network every packet is send to all ETH ports. So multicast packets could be received without subscription. Does libuv operate with them?
How can I know target address of UDP packet if it is multicast?

[2016-11-17 12:04] bnoordhuis commented on #1145
Can you post questions to the mailing list?  We reserve the bug tracker for, well, bugs.  Thanks.

[2016-11-17 12:04] #1145 closed

[2016-11-17 14:50] cjihrig commented on #1135
Closed in #1138 by https://github.com/libuv/libuv/commit/8cbabaa81709562de68bcac0554e4e7af2f72cf6.

[2016-11-17 14:50] #1135 closed

[2016-11-17 22:00] alexhultman opened #1146 "Get notified when all polls have been handled"
A missing feature I would like to see is the ability to register a callback that gets called after all polls have had their callbacks handled after epoll_wait returned. This is useful when trying to batch multiple ready polls into bursts of broadcasts or anything similar.

Currently I use a timer to simulate a rough equivalent but it has a lot of latency compared to what this feature could offer.

[2016-11-17 22:04] alexhultman commented on #1146
Well, a more general feature would be a "tick callback" - something called right before the loop will block again. That way you know that everything that was ready has been handled. Alternative names can be "sleep callback", "block callback", etc.

[2016-11-17 23:54] #1128 closed

[2016-11-18 11:01] bnoordhuis commented on #1146
Don't uv_prepare_t and uv_check_t handles work for you?

[2016-11-18 11:07] alexhultman commented on #1146
Oh wow. *facepalm*

[2016-11-18 11:07] #1146 closed

[2016-11-18 19:30] sledgeh commented on #1145
Here is the best place to place questions. Somebody will find your answer with search engine. Mailing list are for 90s.

[2016-11-18 20:03] bnoordhuis commented on #1145
Either use the mailing list or don't but please don't comment in this issue again.  Next time I'll simply lock the conversation and block you from posting here.

[2016-11-22 01:31] 1st1 opened #1148 "uv_poll_close should invalidate the FD immediately"
`uv_stream_close` calls `uv__io_close`, which, in turn, calls `uv__platform_invalidate_fd` which removes the FD from epoll.  So as soon as we close the stream, the underlying FD is removed from epoll.

`uv_poll_close` doesn't call `uv__io_close`, which causes issues like https://github.com/MagicStack/uvloop/issues/61.   In the linked issue, the FD (let's call it `FD{poll}`) that was used with a po

[2016-11-22 03:17] liudf0716 commented on #100
TLS support is very important

[2016-11-22 07:05] saghul commented on #100
I move to close this.  The plan is to land TLS support in libuv-extras, when ready, not here.  Thoughts @libuv/collaborators ?

[2016-11-22 09:09] bnoordhuis commented on #100
I agree.  I'll close out the issue.

[2016-11-22 09:09] #100 closed

[2016-11-23 12:33] bnoordhuis commented on #1148
Do you mean `uv_poll_stop()` rather than `uv_poll_close()`?  I don't think that's an acceptable change.  The contract with the user is that libuv borrows the file descriptor until `uv_poll_stop()` is called, after which ownership returns to the user.

From the documentation:

[2016-11-23 12:43] moteus commented on #1148
I am not sure that uv_poll should close FD. E.g. I use libuv to poll ZeroMQ sockets. To do this ZeroMQ provide some internal descriptor. This is from doc

[2016-11-23 14:02] saghul commented on #1148
Agreed with @bnoordhuis on not actually closing the fd.  `uv__io_close` doesn't close the fd though: https://github.com/libuv/libuv/blob/v1.x/src/unix/core.c#L890-L896  So I think @1st1 is right and we should *forget* about the fd while not closing it.

[2016-11-23 14:49] gvanem commented on #56
I'm deeply impressed by libuv. But this test also fails for me on Win-10 using MinGW. I.e.
[code]

[2016-11-23 19:02] 1st1 commented on #1148
I'm not talking about closing the FD. I'm talking about immediately stopping epolling it in `uv_poll_stop` and `uv_poll_close`. The current code in libuv causes bugs/CPU burn if the duped socket is closed **after** calling `uv_poll_close` - this needs to be fixed.

Thanks! I'll make a PR.

[2016-11-25 05:32] gauravh278 opened #1153 "Issue with initial timer expiry started with uv_timer_start"
I have a C application and in that i do have a uv_loop. At some time in my applcation, i start a timer as shown below.
    assert(uv_timer_init(&link->loop, timer)==0);
    assert(uv_timer_start(timer, modbus_ctl_periodic_monitor, 0, 1000)==0);
some times after starting the timer as shown above, it works correctly as in timer immediately starts and i get the callback and thereafter i get the callb

[2016-11-25 08:05] saghul commented on #1153
How are you running your libuv loop? I see there are other libraries involved, any chance you are running a blocking function in a libuv callback?

[2016-11-25 16:21] gauravh278 commented on #1153
Thanks for responding.

    uv_loop_init(&link->loop);
    uv_poll_t *poll = dslink_calloc(1, sizeof(uv_poll_t));
    {
        uv_poll_init(&link->loop, poll, link->_socket->socket_ctx.fd);
        poll->data = link;
        uv_poll_start(poll, UV_READABLE, io_handler);
    }
    uv_timer_t *ping = dslink_calloc(1, sizeof(uv_poll_t));
    {
        uv_timer_init(&link->loop, ping);
        ping->

[2016-11-25 16:36] saghul commented on #1153
How exactly? I see you run the loop with UV_RUN_DEFAULT so you can't call uv_run again, uless you stop it first, it's not recursive.

[2016-11-25 21:20] gauravh278 commented on #1153
How exactly? I see you run the loop with UV_RUN_DEFAULT so you can't call uv_run again, uless you stop it first, it's not recursive.

As i have loop pointer (&link->loop), i dont call uv_run again. Basically at some later point when i want to create and start a new timer, i just initialize a new timer using uv_timer_init (specifying the loop pointer &link->loop) and start it with uv_timer_start. T

[2016-11-25 21:40] saghul commented on #1153
Do you do this from another thread?

[2016-11-25 21:59] gauravh278 commented on #1153
Yes.

[2016-11-26 11:01] saghul commented on #1153
I'm afraid you voided the warranty.  Libuv is not thread-safe, so creating
a timer from another thread is not supported.  It may break in many ways,
or misbehave as you observed.

This is by design.

Saúl

On Nov 25, 2016 22:59, "gauravh278" <notifications@github.com> wrote:

[2016-11-26 11:03] saghul commented on #1153
I'm closing the issue since it's not a libuv problem.  If you need help finding ways to make your program use libuv safely please use the mailing list and we'll hel you there. Thanks!

[2016-11-26 11:03] #1153 closed

[2016-11-26 11:06] gauravh278 commented on #1153
Thanks for pointing it out.

[2016-11-26 11:11] gauravh278 commented on #1153
Just in case you can quickly share your thoughts.
So in case if i want to start a timer (for something) from a different thread, as per your explaination, it looks like i have 2 options:-
1.) Either create a new libuv loop and then start a timer using that loop.
or
2.) Use some other timer library/API to start a time.

Let me know if my understand is correct.

[2016-11-28 07:51] bnoordhuis commented on #1153
@gauravh278 That's correct.  You can also coordinate with the other thread using uv_async_send() but see the documentation for caveats.

[2016-12-01 12:02] bzoz commented on #1133
There is an "How To Terminate an Application "Cleanly" in Win32" article here: https://support.microsoft.com/en-us/kb/178893. It says, that a proper clean way is to send `WM_CLOSE` to all windows of given app. There even is code sample that could be used. What we could do is use this method for `SIGTERM` and keep the old one (`TerminateProcess`) for `SIGKILL`.

We can also have libuv send `WM_CLOS

[2016-12-01 13:13] bnoordhuis commented on #1133
@bzoz Can it be implemented without changing the API or the ABI?  If the answer is 'no', e.g. because you need to add a timer handle somewhere, we don't need to be having this discussion.

[2016-12-03 09:38] saghul opened #1157 "Support creating symlinks without elevated privileges"
https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/

[2016-12-05 14:47] debosvi opened #1159 "pthread barrier header not installed on unix'like platform"
Unix dedicated header 'uv-unix.h' needs 'pthread_barrier.h', nut not accessible in '/usr/include'.
It seems that pthread_barrier.h is not installed on unix platform.
Should it be? I think so.

On windows platform (mingw32), no particular issue.

Issue found on v1.10.1 release.

[2016-12-05 14:53] saghul commented on #1159
What platform are you running on?  Currently that header is installed only on Android, macOS and AIX.

[2016-12-05 14:55] debosvi opened #1160 "pthread_rwlock_t undefined on unix platform (ubuntu 16.10) with libuv 1.10.1 rebuild"
With simple inclusion of 'uv.h', gcc complains about 'pthread_rwlock_t' type unknown.

In file included from /home/vincent/usr/include/uv.h:62:0,
                 from /home/vincent/bozCommand/comps/libuv/files/test/helloworld.c:3:
/home/vincent/usr/include/uv-unix.h:137:9: error: unknown type name ‘pthread_rwlock_t’
 typedef pthread_rwlock_t uv_rwlock_t;
         ^~~~~~~~~~~~~~~~

[2016-12-05 15:18] saghul commented on #1160
How are you compiling your application?  Does libuv (and the test suite) compile?

[2016-12-06 07:12] debosvi commented on #1159
on mingw32, built by vcbuild script

[2016-12-06 07:14] debosvi commented on #1160
of course my lib is built and installed.
I used autogen and configure (by default) to install on $HOME/usr prefix.
'make check' succeeded without any issues.

/home/vincent/usr/include/uv.h installed header.
/home/vincent/bozCommand/comps/libuv/files/test/helloworld.c is my file to compile.

[2016-12-06 07:15] debosvi commented on #1160
my platform is ubuntu x64 16.10 with only native compiler gcc.

[2016-12-06 08:23] saghul commented on #1159
Sorry, that is not supported.  On MinGW we support the Makefile.mingw makefile and autotools.

[2016-12-06 08:23] #1159 closed

[2016-12-06 08:24] saghul commented on #1160
Can you paste your example code and how you're compiling it?  The test suite uses locks, so the problem must be elsewhere.

[2016-12-06 09:33] debosvi commented on #1160
#include <stdio.h>
#include <stdlib.h>
#include <uv.h>

int main() {
    uv_loop_t *loop = malloc(sizeof(uv_loop_t));
    uv_loop_init(loop);

    printf("Now quitting.\n");
    uv_run(loop, UV_RUN_DEFAULT);

    uv_loop_close(loop);
    free(loop);
    return 0;
}

[2016-12-06 09:50] txdv commented on #1160
what is the exact command line you are using to compile?

[2016-12-06 11:24] debosvi opened #1161 "what's about installing headers with prefix"
Since there are many headers files, what's about using a prefix suc as 'uv'.

for example in C source file,

#include <uv/uv.h>

which is also applicable for all others
#include <uv/tree.h>
#include <uv/uv-win.h>
#include <uv/uv-unix.h>
#include <uv/uv-threadpool.h>

[2016-12-06 16:00] saghul commented on #1161
I wouldn't oppose such change, but I'd keep the mail file uv.h. The rest of the files can go inside a uv/ folder.  tree.h might be too generic to have without a prefix, for one.

[2016-12-06 18:51] jasongin commented on #1157
Directory symlinks already can be created without admin privileges on Windows by using the `UV_FS_SYMLINK_JUNCTION` flag with `uv_fs_symlink()`. The Node.js `fs.symlink()` API exposes that functionality using a type of `'junction'`.

Is this request referring to *file* symlinks?

[2016-12-06 20:31] saghul commented on #1157
@jasongin Yes, this refers to file symlinks.  Ideally we'd always use the flag to do it without elevation, if it's supported, making it transparent to the user.

[2016-12-07 08:31] saghul commented on #626
Closing due to inactivitiy.  If this is still an issue someone will actively work on, holler and we'll reopen.

[2016-12-07 08:31] #626 closed

[2016-12-07 16:04] kroggen opened #1162 "Message Framing or Message-based Communication"
Many applications need to communicate using messages instead of streams. This is present on nanomsg and zeromq. I was wondering why libuv does not support this.

As I have not found a lightweight solution (no websockets, just 4 bytes length-prefixed message framing) I developed one and released under MIT license here:

https://github.com/litesync/libuv_message_framing

I am trying to make the impl

[2016-12-07 16:26] kroggen commented on #1025
I suggest to pause this for a while.

The reason the suggested_size is not used is mainly because it is not required on streams, but it is required on message-based communication.

I implemented a length-prefixed message framing for libuv with an alloc_cb in which the suggested_size must be respected, at least as the minimum size.

Even if this message framing code is not integrated in libuv but u

[2016-12-07 17:25] saghul commented on #1025
@kroggen

The suggested size can still be picked by you, currently libuv suggests a hardcoded value, which doesn't give us much.  libuv won't do anything with that suggested size, it will use the size for the buffer you initialized, be that larger or smaller than the suggested one.

The API change is minimal, it will happen in a *major* release, and you'll be able to easily ifdef it.  We'll have m

[2016-12-07 18:10] charlesUnixPro opened #1163 "FIOCLEX and FIONCLEX undefined building under MSYS2"
git clone https://github.com/libuv/libuv.git
cd libuv
sh autogen.sh
./configure
make
  CC       src/unix/libuv_la-core.lo
src/unix/core.c: In function ‘uv__cloexec_ioctl’:
src/unix/core.c:542:25: error: ‘FIOCLEX’ undeclared (first use in this function)
     r = ioctl(fd, set ? FIOCLEX : FIONCLEX);
                         ^
src/unix/core.c:542:25: note: each undeclared identifier is reported only

[2016-12-07 19:05] sam-github commented on #1162
You are building an ad-hoc custom protocol on top of TCP, which is fine, but why would it get adopted by libuv? The world is full of protocols, they can be implemented on top of uv, like yours is.

If you like implementing protocols, perhaps read http://www.rfc-editor.org/rfc/rfc3117.txt

[2016-12-07 19:57] kroggen commented on #1162
When we use nanomsg and zeromq we don't need to implement our own protocol. Message-based communication is there ready to be used.

So why not also in libuv?

Note that this implementation does not force others to use it. The stream interface is still there and we can also implement other message-based protocols. But it is useful to have at least a simple and lightweight one already available.

An

[2016-12-07 21:14] saghul commented on #1162
Because libuv is a cross-platform i/o abstraction library, it doesn't (and won't) implement application layer protocols. libuv provides applications with the transport capabilities, in the form of streams (TCP, pipes and TTY) and UDP, and it's completely up to them to implement a protocol on top.

The fact that your example is completely self-contained (which is a great thing!) further strengthens

[2016-12-07 21:14] #1162 closed

[2016-12-07 21:17] saghul commented on #1163
Are you using the MSYS shell of the MinGW shell?

[2016-12-07 21:47] fsantanna commented on #818
Hi,

Sorry for resurrecting this issue, but I reached here by searching Google for `uv_reject`.

If the symmetry argument by @niyamaka is not compelling, how should we properly simulate `uv_reject`?

I'm currently doing this:
[code]

With this intent:
[code]

Is this reasonable?

Thanks

[2016-12-07 21:59] saghul commented on #818
@fsantanna Yes, that's correct.  The important part here is that by the time the connection callback is called the fd was already accepted in the background, so `uv_accept` just initializes the handle with the already accepted fd.

[2016-12-07 23:08] charlesUnixPro commented on #1163
MSYS.

[2016-12-07 23:51] bnoordhuis commented on #1163
Can you try this patch?  You'll need to do the autogen+configure+make dance afterwards.
[code]

[2016-12-08 00:21] charlesUnixPro commented on #1163
Many errors, starting with:

  CC       src/win/libuv_la-async.lo
In file included from src/win/internal.h:29:0,
                 from src/win/async.c:25:
src/win/winapi.h:4151:6: warning: ISO C90 doesn’t support unnamed structs/unions [-Wpedantic]
     };
      ^
src/win/winapi.h:4157:5: error: unknown type name ‘NTSTATUS’
     NTSTATUS Status;
     ^

Many of the subsequent errors look like they

[2016-12-08 00:33] bnoordhuis commented on #1163
What is CC?  `make V=1` should tell you.  If it's mingw, does `make -f Makefile.mingw` work?

[2016-12-08 00:39] charlesUnixPro commented on #1163
make V=1

libtool: compile:  gcc  ....

$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-pc-msys/5.3.0/lto-wrapper.exe
Target: x86_64-pc-msys
Configured with: /msys_scripts/gcc/src/gcc-5.3.0/configure --build=x86_64-pc-msys --prefix=/usr --libexecdir=/usr/lib --enable-bootstrap --enable-shared --enable-shared-libgcc --enable-static --enable-version-specific-ru

[2016-12-08 01:11] yihuang opened #1164 "support destructor in uv_key_create."
It's useful to cleanup thread local objects.

[2016-12-08 08:19] saghul commented on #1163
I don't think we support the MSYS gcc. We do support MinGW (the w64 variant).  Why are you using MSYS gcc?

[2016-12-08 08:29] saghul commented on #1164
Is this a request? An intention to write the code yourself? An order? IIRC this isn't easy to implement on Windows.

[2016-12-08 08:52] yihuang commented on #1164
Sorry for the poor info. I'm willing to write the code, it would be quite simple for pthread. I don't know about windows though.

[2016-12-08 08:56] saghul commented on #1164
Good to hear :-)  Being a cross-platform library, we need support for Windows too before merging.

[2016-12-08 10:48] bnoordhuis commented on #1163
Does this patch help?
[code]
I'll second what @saghul said that we don't support mingw32 (and therefore msys-gcc) so if this doesn't fix it, you should switch to mingw-w64.

[2016-12-08 10:58] bnoordhuis commented on #1164
On Windows, we use TlsAlloc/TlsFree.  I don't think there is a documented way to have per-thread destructors that wouldn't be libuv-specific (i.e., that extends to threads not created by libuv.)

[2016-12-08 14:20] bnoordhuis commented on #1132
No follow-up.  I'll go ahead and close the issue.

[2016-12-08 14:20] #1132 closed

[2016-12-08 16:45] charlesUnixPro commented on #1163
At some point, some piece of documentation said (or I read it as saying) to use the MSYS shell..

I am a UNIX guy; I know *nothing* about Windows. I don't know the difference between the two shells.

I have a *huge* UNIX application that I would like to get running under windows. It was written with portability in mind; i.e. using libraries like libuv  to isolate the OS specific functions, so this

[2016-12-08 17:01] saghul commented on #1163
Hey @charlesUnixPro, let's see if we can sort this out :-)

Yes, you want to use MSYS2, but when compiling stuff you plan on distributing, you want to use the MinGW-w64 toolchain.  It's confusing, I know, but that's the way it is.

I think you are missing the `win32api-headers` package, which you can install with `pacman`.  Install it and let's see if that works.

[2016-12-08 17:03] bnoordhuis commented on #1163
Also, use `make -f Makefile.mingw` when building with mingw-w64.

[2016-12-08 17:31] charlesUnixPro commented on #1163
With the second patch, sysgen, configure, make clean -f Makefile.mingw, make -f Makefile.mingw: NTSTATUS undefined.

pacman -Q shows:

msys2-w32api-headers 5.0.0.4732.6172d2f-1

pacman -Ss doesn't show any other w32api headers.

-- Charles

[2016-12-08 18:27] kroggen commented on #1162
OK. If it can be completely self-contained it is good indeed.

But I was not able to implement the handle closing. Can someone give me some tips to improve it?

Where is the best place to store private data for the application layer protocol?

I thougth about these 2 options:

1. use stream->data

2. extend the uv_tcp_t, like this:

[code]

As I want to support so TCP as pipes, the first part of t

[2016-12-08 23:26] kroggen commented on #1162
I realized that uv_read_cb is not fired when uv_close is called.

More info here:

[uv_close does not cause invocation of uv_read_cb?](https://groups.google.com/forum/#!topic/libuv/QXP_Ko6PMzs)

So, how to release the resources in the case libuv calls alloc_cb but not uv_read_cb?

Can this happen?

If this does not happen, then it is done!

[2016-12-09 06:54] catroot opened #1165 "Loop slippage feature"
Is there possible to realize configurable slippage for loop? I.e. defining a time quant for the loop and limit loop handlers to takeover the loop for a max quants, then bypass overdued handler to the next loop round?

This feature will allow to avoid lags for handlers with massive computations at huge load and loop will behave more smoothly.

[2016-12-09 08:26] saghul commented on #1165
As I said [here](https://github.com/saghul/pyuv/issues/226#issuecomment-265089851) I don't think it's possible to implement that.

[2016-12-09 08:28] catroot commented on #1165
Sad.

[2016-12-09 08:36] saghul commented on #1165
Do you have any suggestions?  I just don't know *how* this would work, at all.  How would you stop a running function if it goes beyond its allocated time slot and who is the entity resposible to do that?  The only way I know how to (sort of) do it is by using a form of cooperative multitasking, but that doesn't work in all cases, for instance it won't work with CPU bound  tasks, or it would requi

[2016-12-09 08:39] saghul commented on #1162
If alloc_cb is ever called, read_cb will be called.

[2016-12-09 09:03] catroot commented on #1165
Single threaded solution has no other way instead of recursion. The one loop round must be called from the handler cb function, this can be done explicitly in cb code at any time for now via handler.loop.run(UV_RUN_NOWAIT).  But this is not the same thing as i'm asking for.

To achieve slippage inside a loop we need a some kind of a partial wrapper, which will wrap callback to the middle of any lo

[2016-12-09 09:19] kroggen commented on #1162
Thank you!

[2016-12-09 10:07] saghul commented on #1165
The libuv loop is not recursive.  You cannot call `uv_run` from within `uv_run`.  Well, you *can*, but it's not designed to work that way and things will break.

I'm not sure what you mean here.  It's still not clear to me what would make a function to stop running.

Yeah.  You can use a `uv_async_t` to communicate with the loop thread.  Just make sure you can `uv_async_init` in the loop thread.

[2016-12-09 10:07] #1165 closed

[2016-12-09 10:36] catroot commented on #1165
I`m talking about explicit way. Something must be called from inside handlers callback to trigger it.

[2016-12-09 11:00] saghul commented on #1165
In that case you should be able to do it without any cooperation from libuv: use `uv_queue_work` and attach some "state" to your work instance.  Send the work request and after you deem appropriate claim to finish but setting the state to something you know.  Then in the `after_work_cb` check what the state is and re-schefule the work request or finish.

Wouldn't this solve your usecase?

[2016-12-09 11:06] catroot commented on #1165
This is exactly what i mean.

[2016-12-09 19:14] charlesUnixPro commented on #1163
I suspect the problem is a broken MinGW-64 install -- the installer gave me a lot of grief, and I may very well have busted something, so I think that should wait until the broken installer gets sorted.

So I'm solving this from the other direction. I have successfully built my application (and libuv) on a UNIX box using the MinGW cross-compiling tools, and am perfectly content with not being able

[2016-12-09 19:21] bnoordhuis commented on #1163
Google for "dll load order", there are some good articles out there.  The directory of the .exe is usually a safe bet.

[2016-12-09 20:14] charlesUnixPro commented on #1163
Copied libuv-1.dll to the cwd...

Operator's console...

[code]

Telneting in:

[code]

It works...

libuv rocks!

Thank you all very much for the help and advice.

-- Charles

[2016-12-11 14:07] saghul commented on #1163
I'm glad you go it working Charles! Closing this then.

[2016-12-11 14:07] #1163 closed

[2016-12-12 10:19] bzoz commented on #1133
By using Windows thread pool for hosting delayed call to `TerminateProcess` this can be done without changing neither API nor ABI. Draft of the implementation is here: https://github.com/janeasystems/libuv/commit/3e64a3e4acb26f5ca5962d1c395048f4738af800.

There are however other problems. It seems there is no clean way to send CTRL-C nor CTRL-BRK to another process. There are workarounds [(related

[2016-12-12 15:02] sam-github commented on #1133
Would it? windows doesn't have signals, uv emulates them for some very specific circumstances, but general IPC isn't among them. I think it just has to be documented. IIRC, SIGINT/TERM are just turned into TerminateProcess, and then (but only for child processes), uv modifies the exit status to look like they terminated by signal as they would have on unix.

[2016-12-13 15:27] sarkiroka commented on #294
Can you show a *simple* example for a native trigger (for example posix message queue, or any interrupt, or timer, or anything) send an event to nodejs thread safe way?
I use uv_queue_work too, and sometimes my code are core dumped.

[2016-12-13 17:57] whisper-bye opened #1169 "about memory manage, alloc_cb and write_cb"
My program recorded some logs, I noticed some times that write_cb callback function not very timely, I mean it is not malloc-free-malloc-free repeats, it is malloc-malloc-malloc and after a while free-free-free. sorry for my poor English, I hope I have made it clear.

[code]

[2016-12-13 18:10] saghul commented on #1169
You seem to be writing a proxy-like application.  If you cannot write as fast as you read then this will happen, you need to deal with the backpreassure.  Writes are queued in libuv if writing inline doesn't work.  If you don't want to queue writes you can use `uv_try_write` to attempt to make a write inline.

PS: Please use the mailing list for questions, we use the GH bug tracker for issues and

[2016-12-13 18:10] #1169 closed

[2016-12-13 22:38] charlesUnixPro commented on #1163
I scrubbed every trace of MSYS and MinGW from my system and reinstalled MSYS2, carefully following the instructions, and am now able to build.

This issue was apparently caused by an installation error on my part.

-- Charles

[2016-12-14 00:36] saghul commented on #1163
Good to know! 👍

[2016-12-16 01:22] yihuang commented on #1164
The library pthread-win32 has implemented key destructor, would you consider to use that library for win32?

[2016-12-16 02:49] yihuang opened #1170 "Make check handle runs before the callbacks."
Currently, check handle runs after ``uv__io_poll``, which poll io events and call the io callbacks.
In my case, it would be much more useful if check handle can run right after poll io events, and before executing all the callbacks. So I can use prepare handle and check handle to wrap all the user codes.
Can we change the behavior of check handle or add some new kind of handles to do this.

[2016-12-16 07:47] saghul commented on #1170
I don't think we can, since it works like this by design.  Prepare handles run before i/o and check handles run after it, that's the invariant and I don't see that changing.

I don't understand this.  If the i/o callbacks would run *after* the check handle callbacks, what exactly would you be wrapping?

Can you explain what you're trying to accomplish?  Maybe we can find a different approach :-)

[2016-12-16 07:52] saghul commented on #1164
I don't think so, it's LGPL licensed:

General Public License (LGPL).

Also, I'm reasonably sure (I just took a quick look) that the only way for destructors to work is if threads were started with that library only similar to what Ben said earlier.

[2016-12-16 07:59] yihuang commented on #1164
Yes, it's simulated that way like Ben said earlier. I guess I should close this issue, and people can still implement their own destruction if the thread is created by themselves.

[2016-12-16 07:59] #1164 closed

[2016-12-16 08:12] yihuang commented on #1170
Currently, I have only one use case for this, to record all the time spend by user code in one frame(loop), exclude the time speed on poll wait.

[2016-12-16 08:19] saghul commented on #1170
Then this approach wouldn't work either because that would not count the time spent in timer, idle handles, and many other things which are i/o driven like async handles.

Maybe you can do this:

[code]

Then use a prepare / check pair to compute the amount of time spent in i/o and substract it from the calculation of an entire loop tick.

Would that work for you?

[2016-12-16 08:19] yihuang commented on #1170
I'm using libuv in client side GUI framework, and it would be helpful to identify the slow frames, maybe it's not that useful for server application.

[2016-12-16 08:28] yihuang commented on #1170
I don't understand your suggestion, basicly I have some timers runs at a stable frenquency, an async to handle inter Thread communications, some infrequent network activity. I don't want too many things happen in one loop, if that happens, I will try to distribute  them in different loops or background thread.

[2016-12-16 08:34] saghul commented on #1170
What I suggested is a way to measure how long a loop iteration takes, without counting i/o.  It basically consists on meassuring an entire loop iteration, by running it with UV_RUN_ONCE instead of UV_RUN_DEFAULT and then using a prepare / chek pair to compute how much was spent in i/o alone.  Then do the math and you'll have the duration of a loop iteration, excluding i/o.

I'm not sure if that is

[2016-12-16 08:56] yihuang commented on #1170
``UV_RUN_ONCE`` don't block if there is progress, but will block if there is no progress, right?
I only want to exclude the time spend on the blocking poll call, I guess I just want to include all the time spend on cpu.
I can understand if that's not covered.
I want to clarify myself with some pseudocode:

[code]
I only want to exclude the time spend on the system poll api call, not the whole part

[2016-12-16 08:58] saghul commented on #1170
Correct.

I think I now see your usecase, but it's too much on the edge, I'm afraid.

[2016-12-16 16:23] rgagnon24 opened #1171 "async.c:136: uv__async_io: Assertion `n == sizeof(val)' failed."
I am randomly seeing "node: ../deps/uv/src/unix/async.c:136: uv__async_io: Assertion `n == sizeof(val)' failed." on CentOS 7 with node 4.6.2

I researched the C file, and the code seems to not make sense.... https://github.com/libuv/libuv/blob/v1.x/src/unix/async.c#L103

There are 2 uses of the call `wa->cb() `that don't appear to be equivalent....

The "normal" one that happens at line 143:
`wa->

[2016-12-16 16:28] cjihrig commented on #1171
Do you happen to have code to reproduce the problem? Also, can you try with the latest version of Node?

[2016-12-16 16:30] bnoordhuis commented on #1171
On linux, the file descriptor is an eventfd.  Reading from an eventfd should always return 8 bytes: it's a 64 bits counter, the number of writes since the last read.

What value does `n` have when you hit the assert?

[2016-12-16 16:36] rgagnon24 commented on #1171
This is the problem... I don't know where the code is dying since I am just running a node express app that does many different things... It runs daemonized, and randomly just stops running without anything in any log file.

The only time I see the error is if I happen to still be in the console I started the process from when it dies.

I don't know the value of "n" since that is INSIDE libuv

[2016-12-16 16:41] rgagnon24 commented on #1171
For the alignment issue that code is trying to avoid, why isn't it copying `n` into `val`, so that the call `wa->cb(loop, wa, val);` would be equivalent to the one below it?

[2016-12-16 16:43] bnoordhuis commented on #1171
If you turn on core dumps (`ulimit -c unlimited`), you'll get a core dump that you can inspect in gdb.

They're not the same thing.  `n` is the number of bytes that are available for reading, `val` is the actual bytes.

[2016-12-16 16:44] rgagnon24 commented on #1171
Correct... They are not the same thing... which is why I was wondering why the call to wa->cb() is using different things.

I will setup to get core dumps and see what happens

[2016-12-16 19:29] Fishrock123 opened #1172 "Better error when a file descriptor is watched twice"
Currently this causes an assertion failure crash as described in this node issue: https://github.com/nodejs/node/issues/3604

It's been a while since there was action on the Node.js issue, so i thought it would be a good idea to bring it over here for visibility.

[2016-12-19 04:18] rgagnon24 commented on #1171
Ugh.  File finally core dumped, but the core file might not be helpful.  I'm a lot more familiar with C than the workings of gdb, but here is what I have at the moment:

[code]

[2016-12-19 11:15] bnoordhuis commented on #1171
You will want to run that debuginfo-install command to obtain the debug symbols.  Once you have them installed, select the `uv__async_io` frame with `frame 4`, then `info locals`.

[2016-12-19 11:25] debosvi commented on #1160
gcc -Wall -Werror -o test main.c

[2016-12-19 11:29] debosvi commented on #1160
sorry complete command line is
/usr/bin/cc   -I.include/public -I.include -I./comps/fork/files/include -I/usr/include  -Wmissing-prototypes -Wbad-function-cast -Wshadow -Wfloat-equal -Wswitch-default -Wno-unused-result -O0 -ggdb   -std=c99 -Wall -Wextra -Wmissing-declarations -Wwrite-strings -Wunknown-pragmas -Wformat-security -Wstrict-aliasing -Wreturn-type -Wmissing-noreturn -o comps/fork/files/

[2016-12-19 12:20] bnoordhuis commented on #1172
It's not as easy to fix as one might think.

Option 1 is to make `uv__io_start()` and `uv__io_stop()` fallible but I expect that will shift the abort to the caller in many cases, simply because there is no way forward on error.

Option 2 is to support multiplexing.  We can probably do that without breaking ABI but it's going to be a lot of work and stands a reasonable chance of introducing regress

[2016-12-19 15:55] rgagnon24 commented on #1171
Thanks for the information....

here's the result:
[code]
and the content of the troublesome frame:
[code]

Interestingly enough, I was kind of expecting `n` to be a  multiple of `sizeof(val)` instead of 0

[2016-12-19 16:10] rgagnon24 commented on #1171
It looks to me as if the `read()` call is returning `0 `for `EOF`, the `#ifdef` section is not built to expect that

[2016-12-19 16:25] rgagnon24 commented on #1171
Probably should have also included the content of `w` and `wa` at the time:

[code]

[2016-12-20 02:23] InsidiousMind commented on #1025
Has this been solved yet? I'm on break and will be for the next 5ish weeks. I'd love to start contributing, and I would be more then willing to tackle this issue as a first. I see that @jessicaquynh has opened a pull request, but i'm not entirely sure of the status. It seems that it has not been totally finished. Is this still a work-in-progress?

[2016-12-20 07:28] txdv commented on #1025
Just no follow up by jessica.

[2016-12-20 14:52] jessicaquynh commented on #1025
Hey! I believe the last review I received was on some documentation changes. I squashed the changes so I don't think it showed up (I'm quite new to contributing, so I'm not sure how the process goes!).

Would anybody be able point to anymore changes to be done to land this?

[2016-12-20 15:53] rgagnon24 commented on #1171
Could this problem be a combination of the EOF on read() and how the "deasync" node module operates?  I happen to be using deasync in places in the application, and note the deasync project also has an issue open similar to this title: https://github.com/abbr/deasync/issues/34

[2016-12-21 03:25] InsidiousMind commented on #1035
Took this as my first contribution, and as an opportunity to learn the codebase a bit. I felt as if uv_spin_t was the name to use considering the situation and so implemented it accordingly (at least so I think, i'm sure you guys will have a better idea).
#1173 for the PR

[2016-12-21 07:06] txdv commented on #1025
I'm sorry! I guess no follow up by the libuv maintainers, the patch compiles, the test do not return anything, the code looks ok.

[2016-12-21 21:50] saghul commented on #1025
@jessicaquynh Sorry for the silence.  It's definitely on the radar.  I've personally been quite overworked lately so I didn't have much time to review, but I'll eventually get to it.

[2016-12-21 22:07] saghul commented on #1172
FWIW, I'd like to see Option 2 implemented for v2 for example.

[2016-12-21 22:08] saghul commented on #1160
You need to have -lpthread.  Or use pkg-config and get the required flags out of the installed pc file.

Closing since it's not a libuv issue.

[2016-12-21 22:08] #1160 closed

[2016-12-22 07:25] txdv commented on #1172
That seems like a change with no real benefit to me.

Why would someone want to watch one file descriptor multiple times?

Also, should this work across two different loops? That would make the implementation even harder.

[2016-12-22 08:30] saghul commented on #1172
To watch for different events.  Some libraries offer functions for watching fds for readability / writability, and it's easier to work with those by using different poll handles, for example.

Also, libev did this, so porting an application is easier if our semantics are more aligned.

Last, failing with an assert is just ugly.

Not it won't. Different loops have different uv__io_t arrays, so even

[2016-12-22 12:37] mika-fischer opened #1174 "CTRL_LOGOFF_EVENT and CTRL_SHUTDOWN_EVENT should be mapped to SIGHUP on Windows"
The comments in [src/win/signal.c](https://github.com/libuv/libuv/blob/v1.x/src/win/signal.c#L116-L119) say: `These signals are only sent to services. Services have their own notification mechanism, so there's no point in handling these.`

Unfortunately it's not correct that these signals are only sent to services. In fact they are also sent to normal console applications when the user logs out or

[2016-12-22 17:25] jessicaquynh commented on #1025
@saghul No problem! Thank you for the review sent in.

[2016-12-25 11:55] fhalde opened #1176 "Feature request: System time change notification"
Will it be great to have a feature wherein our node apps can detect change in system time? I recently came across a `time_change_notify` system call, but it doesn't seem to be available in all linux kernels.

[time change notify](https://lwn.net/Articles/403004/)

[2016-12-25 15:50] bigeasy commented on #923
Did this ever happen using the extension mechanism?

[2016-12-25 17:36] cjihrig commented on #1176
To get into libuv it would likely have to be supported in some fashion on all platforms that we support, including Windows.

[2016-12-25 18:08] fhalde commented on #1176
@cjihrig makes sense! I don't think such feature is adopted in other os's
closing this issue

[2016-12-25 18:08] #1176 closed

[2016-12-25 19:29] ntd commented on #978
`uv_loop_option` is an enum and the compiler can choose to use a short (or even a char) as internal representation, so the above assumption can be wrong. For instance, even with gcc, you will likely break the build by enabling [`-fshort-enums`](https://gcc.gnu.org/onlinedocs/gcc/Code-Gen-Options.html#index-fshort-enums-1251).

[2016-12-25 19:44] sam-github commented on #1176
I don't even think its adopted by linux, its just a proposal at this point, near as I can tell.

[2016-12-27 16:27] defunctzombie opened #1177 "[question] edge or level triggered"
Is the interface on linux/osx edge or level triggered?

Looking at the TCP/Stream api I am trying to find a way to be notified when a socket is "ready for reading" and then do a pull based read on however much data can be read at that time. The only interface I see in the docs is a two step, allocate callback and data callback.

[2016-12-28 07:17] txdv commented on #1177
Are you using uv_poll?

[2016-12-28 16:12] defunctzombie commented on #1177
Not explicitly, just using the standard uv_run and default loop.

On Wed, Dec 28, 2016 at 2:17 AM Andrius Bentkus <notifications@github.com>
wrote:

[2016-12-28 16:48] rgagnon24 commented on #1171
Any comments about my suggested patch above?

[2016-12-29 13:36] cedarwu opened #1178 "support unix domain socket of type SOCK_DGRAM (UDP) ?"
Unix domain is provided through uv_pipe in libuv, and uv_pipe_t is a subclass of uv_stream_t.
Then how can I implement unix domain socket based on DGRAM(UDP) ?
I found some advise to create the socket manually and pass it to uv_pipe_open. However, when I try this way, uv_pipe_bind return EINVAL. If I bind the socket myself without uv_pipe_bind, then uv_listen return ENOTSUP.
Anyone could give an e

[2016-12-29 20:52] sam-github commented on #1178
Is https://github.com/bnoordhuis/node-unix-dgram/blob/master/src/unix_dgram.cc the example you are looking for?

[2016-12-30 05:22] cedarwu commented on #1178
Thanks a lot.
The example is exactly what I need~
It comes from nodejs unix dgram module, what a good idea.

[2016-12-30 05:22] #1178 closed

[2016-12-30 11:17] syberrus opened #1179 "uv_fs_event_getpath returns wrong size"
doc says:
int uv_fs_event_getpath(uv_fs_event_t* handle, char* buffer, size_t* size)
Changed in version 1.3.0: the returned length no longer includes the terminating null byte, and the buffer is not null terminated.

however that is not true in case if buffer is not enough:

  if (required_len >= *size) {
    *size = required_len + 1;
    return UV_ENOBUFS;
  }

in that case, length still includes

[2016-12-30 11:24] syberrus commented on #1179
the same applies for uv_fs_poll_getpath

[2016-12-30 13:59] txdv commented on #1179
Do you want to write a fix for this?

[2016-12-30 18:02] cjihrig commented on #1179
This was discussed in #674 and #690. Probably elsewhere too. I think we settled on null terminating and returning string length on success, and returning buffer size on `UV_ENOBUFS`.

[2017-01-02 07:35] saghul commented on #1177
@defunctzombie libuv uses level triggering internally.  If you want an interface to that to manually do reads and writes yourself have a look at [the poll handle](http://docs.libuv.org/en/v1.x/poll.html).  Cheers!

[2017-01-02 07:35] #1177 closed

[2017-01-02 07:41] saghul commented on #923
I'm afraid not.

[2017-01-04 16:42] ballapete opened #1180 "No build on PPC Mac OS X 10.4.11, Tiger"
First error:

`src/unix/fs.c: In function 'uv__to_stat':`
`src/unix/fs.c:785: error: 'struct stat' has no member named 'st_birthtimespec'`
`src/unix/fs.c:786: error: 'struct stat' has no member named 'st_birthtimespec'`
`make: *** [src/unix/libuv_la-fs.lo] Error 1`

This is due to unknown members `st_birthtim.tv_*`:

`  dst->st_birthtim.tv_sec = src->st_birthtimespec.tv_sec;`
`  dst->st_birthtim.t

[2017-01-04 16:43] cjihrig commented on #1180
10.4 is not supported. Please see https://github.com/libuv/libuv/blob/v1.x/SUPPORTED_PLATFORMS.md

[2017-01-04 21:44] #1180 closed

[2017-01-08 18:41] targos opened #1182 "Make a new 1.x release?"
There are several issues in Node.js waiting for it:
https://github.com/nodejs/node/issues/9464
https://github.com/nodejs/node/issues/9690

[2017-01-08 19:06] cjihrig commented on #1182
@libuv/collaborators thoughts? I can do it tomorrow if no one opposes.

[2017-01-08 21:32] #1122 closed

[2017-01-09 08:53] bnoordhuis commented on #1182
Positively charged.

(That is, +1.)

[2017-01-09 08:59] santigimeno commented on #1182
+1

[2017-01-09 15:12] bzoz commented on #1174
SGTM!

[2017-01-09 19:01] cjihrig commented on #1182
Just released version 1.10.2. PR to Node on the way.

[2017-01-09 19:26] cjihrig commented on #1182
I'm running into a [problem](https://github.com/libuv/libuv/pull/1073#issuecomment-271381671) on my Mac with the new release, so holding off on updating Node for now.

[2017-01-09 22:15] cjihrig commented on #1182
I believe this was just an issue with my machine, and have opened a Node PR at https://github.com/nodejs/node/pull/10717.

[2017-01-09 22:15] #1182 closed

[2017-01-09 22:45] saghul commented on #1182
@cjihrig that could be caused by my patch which added using clock_gettime on macOS >= 10.12.  However, it shouldn't have been compiled in your machine which was running 10.11...

[2017-01-09 22:49] cjihrig commented on #1182
@saghul yea, see my comments on #1073.

[2017-01-10 01:59] lzpong opened #1183 "[bug]uv_queue_work crash , and the `after_work` is not always work !!"
run the code ,then input key `enter` a few times,will crash:
uv_queue_work crash on `threadpool.c::woeker(void*arg)`
line:95 --> `w->work(w) `
w->work is null
and the `after_work`  is not always work !!
`all the code:`
[code]

[2017-01-10 11:24] bnoordhuis commented on #1183
You have a bug in your code, you reuse the `uv_work_t` before libuv is done with it, i.e., before `after_work` is called.  Please post follow-up questions to the mailing list if you have them, we don't use the bug tracker for general support.

[2017-01-10 11:24] #1183 closed

[2017-01-11 01:33] NatalieWolfe commented on #1065
Unifying the idle, prepare, and check handles into a single handle distinguished by some enumeration may be good. Their interfaces are all the same, differing only in which queue they go into. Something like:

[code]

[2017-01-11 01:41] cgyarvin opened #1185 "No apparent way to fsync a directory"
When I try to open a directory with uv_fs_open() and O_RDONLY, I get UV_EISDIR.

However, AFAIK there's no safe way to create a durable file under POSIX without fsyncing a directory that contains the inode.  This means you can't write an ACID database in pure libuv.

Is a uv_fs_fsyncdir() or something like it a possibility?

[2017-01-11 01:45] cgyarvin commented on #1185
Never mind, I'm an idiot - I had the wrong flags.  It works fine with O_RDONLY, not so fine with O_RDWR.

[2017-01-11 01:45] #1185 closed

[2017-01-11 05:26] bnoordhuis commented on #1065
@NatalieWolfe Their implementations are generated through x-macros so they are already pretty compact (before macro expansion at least.)

It's probably possible to unify the Windows and UNIX implementations though.  src/unix/loop-watcher.c and src/win/loop-watcher.c have many commonalities.