[2015-04-25 16:24] saghul commented on #331
Those problems where solved after 1.4.2. You can just fetch latest v1.x or
wait for a release.
On Apr 25, 2015 16:57, "allspace" <notifications@github.com> wrote:

[2015-04-26 14:03] allspace commented on #100
TLS is important for libuv.

[2015-04-27 06:04] deleisha commented on #100
Was planning to work on it once issue #275 is in place.

[2015-04-28 06:23] lucab opened #334 "[v0.10] General regression on arm64"
libuv 0.10.28 was building and passing all tests on arm64 debian autobuilders (last tried on 2015-02-25).

With the latest upload of 0.10.36, the testsuite is now failing in multiple places (~150 tests failing):
 * https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=arm64&ver=0.10.36-1&stamp=1430172460
 * https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=arm64&ver=0.10.36-1&stamp=143

[2015-04-28 06:30] lucab opened #335 "uv_loop_configure regression on mips/mipsel"
A new `loop_configure` test has been recently backported into v0.10 branch.

With the latest upload of 0.10.36, this test seems to be failing on debian mips and mipsel autobuilders:
- https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=mips&ver=0.10.36-1&stamp=1430173093
- https://buildd.debian.org/status/fetch.php?pkg=libuv&arch=mipsel&ver=0.10.36-1&stamp=1430177717

As this is reliably fai

[2015-04-28 07:27] saghul commented on #334
Hi @lucab can you try applying this patch? https://github.com/libuv/libuv/commit/1d8332f7e6afb43daa08d643166c9e0cbdfa51a2

It made it to v1.x, but wasn't backported to v0.10. If tests pass I'll apply it there as well.

[2015-04-28 08:38] saghul commented on #335
/cc @bnoordhuis any idea?

[2015-04-28 09:24] lucab commented on #334
I'll do as soon as I've access to the arm64 porterbox, thanks for the hint.

[2015-04-28 10:44] bnoordhuis commented on #335
Hard to tell.  I speculate that the epoll_pwait() system call fails but I don't have the hardware at hand to verify.

[2015-04-28 11:12] lucab commented on #335
I can perform some specific checks as soon as I have access to the mips/mipsel porterboxes. Otherwise, we can manage to get you direct access to the machines as described here https://dsa.debian.org/doc/guest-account/

[2015-04-28 11:24] bnoordhuis commented on #335
If you can get the test (not the test runner) strace'd, that should hopefully reveal the issue.  That's `strace test/.libs/run-tests loop_configure loop_configure` with the autotools build.

[2015-04-28 14:54] bnoordhuis commented on #333
Yes and no but mostly no.  Once you have a file descriptor that refers to the serial port, you need to make ioctl() calls to set the line rate, parity, etc.  Libuv won't (and can't) do that for you.

Maybe have a look at https://github.com/voodootikigod/node-serialport?

[2015-04-28 14:54] #333 closed

[2015-04-28 18:36] lucab commented on #334
[code]

All tests passing on arm64 with above patch. Please backport, I'll wait for it in the next release.

[2015-04-28 19:00] lucab commented on #335
This is v0.10, building directly from Makefile. I tried on a fifth (mips64) porterbox machine, and it reliably fails there too. Kernel and glibc are as follow:
[code]

I straced the test as follow (which I think it's equivalent to what you were asking):
[code]

This is the central part of the strace (runner startup omitted):
[code]

According to the [current linux-mips syscall table](http://git.ke

[2015-04-30 09:22] #331 closed

[2015-04-30 09:29] bnoordhuis opened #338 "clang-format or bust?"
I think we all agree that pointing out style issues during code review is tedious, time consuming and off-putting to new contributors.

I propose we start using clang-format from now on and initial churn be damned.  It should not affect existing pull requests because we can just run those through git-clang-format.

We'll need to agree on the clang version to use.  I suggest the latest stable, 3.6.

[2015-04-30 10:00] saghul commented on #338
When we tried results where mixed, but having a consistent style would be A Good Thing (TM). So +1 from me. FWIW I'm using Debian Sid and I have clang 3.4-3.7 in the repos, so 3.6 works for me.

[2015-04-30 15:30] coderkevin commented on #275
Hello, I was hoping to bump this a bit, as I've written and updated the LEP for it a few times here:

https://github.com/coderkevin/leps/blob/custom_uv_streams/XXX-custom-uv-streams.md

Also, I've been working a bit with the implementation I mention in the LEP.  So far, I've got a custom stream implemented in a test using a socketpair where one socket is the custom stream and the other is external

[2015-04-30 20:32] saghul opened #339 "uv_write returns error synchronously on Windows"
Ref: https://github.com/iojs/io.js/pull/1563#issuecomment-97716588
Patch: https://gist.github.com/saghul/e05b99b1b16a7c9c15e9

I'll work on a test, shouldn't be hard to write.

/cc @piscisaureus

[2015-05-01 13:26] jnicholls commented on #275
@coderkevin I'll take a look at this early next week, thanks for working on it!

[2015-05-02 20:28] secrettriangle opened #340 "Blocking stdin read on OSX in iojs and node 0.11 and 0.12 but not 0.10"
See slap-editor/slap#156. [dtruss output](https://gist.github.com/secrettriangle/f45e83ed6e6ffe96605c) with reproduction steps on the bottom.

Possibly related: #304

[2015-05-04 09:40] mauvm commented on #195
@vveerrgg Thanks, that also worked for me! I'd suggest others to use this slightly less intrusive version first though:

[code]

[2015-05-04 12:36] llafuente commented on #338
+1

I prefer a batch file that update format like: https://github.com/llafuente/string.c/blob/master/format.sh
Reasons:
* Available when cloning
* Version check if needed
* Exclude files/path

[2015-05-04 21:46] secrettriangle commented on #304
Any progress here?

[2015-05-05 05:16] ghost opened #342 "Improve uv_getrusage with Windows Performance Data Helper <pdh.h>"
* http://www.microsoft.com/msj/1299/pdh/pdh.aspx (1999)
* https://msdn.microsoft.com/en-us/library/windows/desktop/aa373088.aspx
* http://stackoverflow.com/a/64166/863980

Please make use of `<pdh.h>` to get fields matching those obtained from `getrusage()` on Unix, so to avoid this kind of disparity: https://github.com/iojs/io.js/pull/1568/files#diff-b8683bd937113f052f1698c61ed8c10d.

Thank you.

[2015-05-05 06:04] saghul commented on #304
AFAIK nobody has investigated this deeply yet.
On May 4, 2015 23:46, "Dan Kaplun" <notifications@github.com> wrote:

[2015-05-05 06:05] saghul commented on #342
Mind sending a PR? That would be great! At any rate, thanks for the links!
On May 5, 2015 07:16, "Peter Jas" <notifications@github.com> wrote:

[2015-05-05 09:00] saghul commented on #340
Duplicate of #304

[2015-05-05 09:00] #340 closed

[2015-05-05 09:06] saghul commented on #304
I did some quick digging with the following test case which seems to exhibit the issue, albeit not always:

[code]

Attaching with GDB shows the following backtrace:

[code]

Here is my understanding of what's going on:
* Since this is OSX and we are using a TTY, i/o is performed in the auxiliary thread and select is used
* Input is detected on the TTY
* The select thread calls uv_async_send to wa

[2015-05-05 09:09] saghul commented on #217
Closing in favor of #304, it's actually the same problem.

[2015-05-05 09:09] #217 closed

[2015-05-05 10:03] indutny commented on #304
@saghul mm... test case? ;)

[2015-05-05 10:17] deleisha opened #343 "compilation warning on libuv"
Perhaps, happens when assert is not enabled.

CC(target) out/Release/obj.target/libuv/deps/libuv/src/uv-common.o
../deps/libuv/src/uv-common.c: In function âuv_loop_deleteâ:
../deps/libuv/src/uv-common.c:535:7: warning: variable âerrâ set but not used [-Wunused-but-set-variable]
   int err;
       ^

[2015-05-05 10:29] saghul commented on #343
We could stick a (void)err; to squelch it, I guess.

[2015-05-05 11:17] alexlamsl commented on #339
iojs/io.js#1512 still reproducible in `iojs 2.0.0` - may be it is waiting for this to be fixed as well?

[2015-05-05 16:42] saghul commented on #339
I don't know if the patch linked here got floated in iojs, it's not yet
included in libuv.
On May 5, 2015 13:18, "Alex Lam S.L." <notifications@github.com> wrote:

[2015-05-05 19:49] silverwind commented on #339
It didn't, and as far as I understand, @indutny did include only a partial change of the io.js-side so far wich alone wasn't enough as a fix.

I'd be great if this fix could be included in 1.5.0.

[2015-05-05 20:32] saghul commented on #339
@silverwind I will include it.

[2015-05-05 20:37] saghul commented on #339
Landed in f880023. CI run showind a green Windows build: https://jenkins-iojs.nodesource.com/view/libuv/job/libuv+any-pr+multi/91/

[2015-05-05 20:41] saghul commented on #343
Fixed in 710fcf7, thanks!

[2015-05-05 20:41] #343 closed

[2015-05-05 20:48] #339 closed

[2015-05-05 20:53] silverwind commented on #339
Awesome, thanks!

[2015-05-05 20:56] indutny commented on #339
@saghul may I ask you to send a PR once you'll do a release?

[2015-05-05 21:13] indutny commented on #339
Sure, thank you very much!

[2015-05-05 21:17] #323 closed

[2015-05-05 22:56] secrettriangle commented on #304
@indutny, I think @saghul [mentioned](https://github.com/libuv/libuv/issues/304#issuecomment-99001249) a test case above:

Bear in mind that this bug is not consistent, so it takes a few tries to reproduce.

[2015-05-06 13:03] notorand-it commented on #296
Just fresh installed 64bit (K)Ubuntu 15.04. That's not an upgrade.
Recompiled v1.4.2 and ...

[code]

[2015-05-06 20:29] saghul commented on #334
Landed the backport in 8f931a2.

[2015-05-06 20:29] #334 closed

[2015-05-08 06:56] simon-sz opened #346 "make check failed libuv 1.5.0"
[%  24|+  61|-   0|T   0|S   1]: tcp_oob
`tcp_oob` failed: exit code 6
Output from process `tcp_oob`:
Assertion failed in test/test-tcp-oob.c on line 59: nread > 0

======================================================
1 of 1 test failed
Please report to https://github.com/libuv/libuv/issues
======================================================
make[1]: *** [check-TESTS] 错误 1
make[1]: Leaving di

[2015-05-08 08:21] notorand-it commented on #296
v1.5.0 shows the very same problem.
v.1.4.0 doesn't.
The issue must be in the code, not in the system.

[2015-05-08 08:35] notorand-it opened #348 "Tests: warning: ISO C90 does not support ‘long long’ [-Wlong-long]"
While running "make check" I get these warnings:
[code]
I presume a higher standard (-std= option) needs to be used at least for tests.

[2015-05-08 08:35] saghul commented on #296
Just tested on a freshly installed Ubuntu 14.04.2 (64 bit). All tests pass. Sorry, I just cannot reproduce this :-(

[2015-05-08 08:38] saghul commented on #346
Duplicate of #258

[2015-05-08 08:38] #346 closed

[2015-05-08 08:46] notorand-it commented on #296
Just tested v1.5.0 on a freshly installed kubuntu 15.04 64bit. Tests fail as with v1.4.1 and v1.4.2.
Just tested v1.4.0 on the same system and all tests passed.
I am not using Ubuntu server. On Ubuntu server 14.04.2 LTS 64bit v1.5.0 works.

[2015-05-08 09:58] notorand-it commented on #296
I can consistently reproduce the problem also under my Ubuntu 14.04.02 64bit server.
I compiled the sources with 2 different users in 2 different directories: root and a normal user.
Then I run "make check" on both (more or less) at the same time.
Both tests fail.
Then I run "make check" for each user separately. Both tests pass.
There needs to be some kind of locking under Kubuntu that interferes

[2015-05-08 10:04] saghul commented on #296
I don't know, but this sounds like a problem in the environment and not the code. I'll test latest desktop Ubuntu nevertheless.

[2015-05-08 11:03] deleisha commented on #296
Will you mind giving us a strace output.

[2015-05-08 13:51] notorand-it commented on #296
How do I get an "strace output"?
In the meantime I have found that there is an unnoticed core file in my directory.
It's identified as:
[code]
I deleted everything, untarred the sources and run the "make check" once more.
Tests kept failing:
[code]
I got the core dumped with the the debugger reporting this stack:
[code]

I hope this helps.

[2015-05-08 15:36] deleisha commented on #296
I can reproduce it on my sys. and working on it. Let me check if this is reproducible in home and continue working.

On Centos 7, both autotool build and gyp fails but at different places.
I am using 1.x trunk

[2015-05-08 17:55] jfyne commented on #304
:+1:

[2015-05-11 04:54] deleisha commented on #296
Ok, gdb is showing d_type as zero. and HAVE_DIRENT_TYPES is properly set.
As I lack the fluency in libuv code base. Somebody can chime in why ``` d_type ==0```

[code]

[2015-05-11 14:53] lucab commented on #335
Bumping, as this regression is currently blocking newer libuv0.10 migration across debian suites.

I collected some facts, but as I'm new to these internals, I'd like someone to double check my findings.

Commit fa0b08ff switched epoll_pwait sigmask size calculation from using portable types to an hardcoded uint64_t. mips signal are a bit weird (eg. SIGPROF is 27 everywhere, but 29 on mips). In pa

[2015-05-11 15:08] saghul commented on #335
Nice find! I guess that could be it. I think @bnoordhuis is a bit swamped these days, he'll probably come back to this when he's got the time.

[2015-05-11 15:43] bnoordhuis commented on #335
Sorry, I think I missed the notification for @lucab's second-to-last comment.  I don't have much time at the moment but I would be okay with a patch that drops the epoll_wait/epoll_pwait system call wrappers for their glibc equivalents.  I originally added them as workarounds for ancient 2.6.x installs with broken system headers.

[2015-05-12 09:50] saghul commented on #296
Installed Xubuntu 15.04 (64 bits). Still, all tests pass. Both building with autotools and with GYP.

For the life of me, I have no idea how to reproduce this.

[2015-05-12 10:24] notorand-it commented on #296
It's clearly something related to KDE, neither to GNOME, nor to XFCE.
I am talking about KDE (as installed and run under Kubuntu) since the very beginning.
I have been using autotools only, no GYP.
@saghul could you please try KDE with Kubuntu (I would avoid to install KDE on top of XFCE at least at this stage)?
It could be related to the whole system but, as stated in the past, v1.4.0 passes all

[2015-05-12 11:48] saghul commented on #296
It cannot possibly be related to KDE, since libuv has nothing to do with it. It could be a glibc define issue, but that should have showed up also on *buntu.

The reason for the failure is that the test got strengthened in https://github.com/libuv/libuv/commit/3ddfb4a9cc73fc9fc11576a83da9449630f6f634.

[2015-05-12 13:46] deleisha commented on #296
@saghul
glibc seems to be fine on my system. HAVE_DIRENT_TYPES is properly set and ```d_type ==0``` is the culprit.
I tried to debug but get lost in the middle of some MACROS.
Do you have any idea where/how the ```d_type``` value is set in libuv? or could it be that test uses a global struct which got written over changing the value of ```d_type```

@notorand-it :
I got the same failure as that of

[2015-05-12 13:59] notorand-it commented on #296
@saghul That'd be quite strange: the base system (kernel+libraries+compilers) for Kubuntu is the same as Ubuntu Server, Ubuntu (GNOME) and a number of other Ubuntu-related distributions.
The differences could be not in the base system but rather in the other parts that should not interfere with compile-time checks but rather with runtime stuff. As far as stuff like dirent, semaphores, shared memor

[2015-05-12 14:04] saghul commented on #296
I'm at a conference, so I installed a Kubuntu machine, just in case the universe was falling apart. Tests pass.

The only thing that could explain this is if you installed your system on a partition type which is not supported by getdents, and thus the kernel would give you DT_UNKNOWN.

THe default install uses ext4, and works for me. Also, none of the test bots (and I think we have 6 different Ub

[2015-05-12 14:11] notorand-it commented on #296
I use XFS over a RAID0 device in my Kubuntu machines. I use EXT4 over a RAID1 device in mu Ubuntu Server machine. So maybe you @saghul  hit the spot.
But I have been using XFS since ages now and, more important, v1.4.0 still works in my current system, while v1.5.0 doesn't.

Anyway, from my manges I read at getdents(2):
[code]

[2015-05-12 14:27] saghul commented on #296
@notorand-it well, there we go!

As I said, 1.4.0 had a relaxed test, id didn't explicitly check for DT_DIR, it checked for DT_DIR **or** DT_UNKNOWN, that's why it fails for you.

getdents is used internally by scandir, which is where the latter gets the data from. As you can see, XFS is not supported:

[code]

Closing since it's not a libuv issue but a host one.

[2015-05-12 14:27] #296 closed

[2015-05-12 14:48] notorand-it commented on #296
That makes sense, @saghul
So, returning DT_UNKNOWN in the tests is not a fault in its own.
I think "make check" shouldn't fail such a test but revert to the old behavior (v1.4.0).
Or you should have a "make pedantic_check" enforcing the new check policy.
In my opinion.

[2015-05-12 20:51] lucab commented on #335
@bnoordhuis from what I understood, something like lucab/libuv@de298f5. Not touching `epoll_wait` as I have no issues with it.

[2015-05-12 22:06] bnoordhuis commented on #335
@lucab That looks alright to me at a quick glance although I'd be perfectly fine with dropping the system call wrappers altogether.  Can you PR your changes?

[2015-05-13 13:46] brodybits opened #352 "Not all dependencies work with Visual Studio Express (2013) for Windows (without Windows SDK)"
The include files `winsock2.h`, `mswsock.h`, and perhaps `ws2tcpip.h` are not supported by Visual Studio *Express*, causing problems with node-gyp (see TooTallNate/node-gyp#625).

[2015-05-13 14:16] brodybits commented on #352
I was able to work around this issue by making the following changes to `C:\Users\Chris\.node-gyp\0.12.2\deps\uv\include\uv-win.h` and `C:\Users\Chris\.node-gyp\0.12.2\deps\uv\include\uv.h` on my system (showing as git diff):

[code]

and

[code]

In addition to cleanup, we would have to declare the structures in another include file that will build on both mingw(32/64) and Windows Studio (and pro

[2015-05-13 14:39] saghul commented on #352
Can you build and run libuv and the test suite? I have never had Visual Studio Pro (or whatever the paid version is called these days) and I could build it just fine.

[2015-05-13 14:47] brodybits commented on #352
Which version of Visual Studio are you using?

[2015-05-13 14:49] saghul commented on #352
I've used 2012, 2013 and 2015, all express.

[2015-05-13 14:52] brodybits commented on #352
There must be something strange. Here is what happens when I try to build:

[code]

and the same error repeats for many files!

[2015-05-13 15:23] bnoordhuis commented on #352
Do you happen to have the Windows SDK installed as well?  You may have to set `GYP_MSVS_VERSION=2013e` in the environment in order for GYP to pick up the right toolchain.

[2015-05-13 15:43] brodybits commented on #352
Looking at https://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx I think I installed VS Express 2013 for Windows (not Windows Desktop), which is what I need for Cordova (plugin) development since it supports Windows Store and Windows Phone.

https://developer.mozilla.org/en-US/docs/Windows_SDK_versions tells me that VS Express 2013 for Windows Desktop does include the Windows S

[2015-05-13 15:50] bnoordhuis commented on #352
I don't use Windows or VS frequently enough to comfortably make that claim.  The SDK is enough to build libuv (you don't even need VS in that case) but I'm fuzzy on the differences between the different Express flavors.

[2015-05-13 16:07] brodybits commented on #352
Sorry to be a pain here, but I would like to be able to build `node-gyp` and other projects that are run by an application that is using libuv (such as node.js) without having to install an additional Windows (Desktop) SDK. The changes that I have given show that it is possible to let someone use a project such as `node-gyp` without the extra Windows dependencies and hide more internals from the u

[2015-05-13 17:19] saghul commented on #352
No idea, sorry. I always installed the Desktop edition, FWIW.
On May 13, 2015 17:43, "Chris Brody" <notifications@github.com> wrote:

[2015-05-14 10:30] saghul commented on #352
@piscisaureus, @orangemocha, could you please give us some advice here? I just lack the knowledge to make a correct judgement call.

[2015-05-15 12:52] orangemocha commented on #352
@brodybits you should be able to check in the VS IDE, in the Help->About menu.

And yes, you need the Windows **Desktop** version of VS Express to build libuv.

Alternatively, you can use Visual Studio Community Edition. It supersedes Visual Studio Express and you can develop for mobile/store & desktop all in one edition. See a comparison here: https://www.visualstudio.com/en-us/products/visual-st

[2015-05-15 13:16] saghul commented on #352
Thanks for chiming in and clarifying, @orangemocha. Much appreciated! Closing then.

[2015-05-15 13:16] #352 closed

[2015-05-15 14:00] brodybits commented on #352
Closing then.

Thanks guys, I will try it when I get a chance.

[2015-05-17 17:31] cyisfor opened #357 "timer.c heap for timers: unix only?"
I was looking at the (rather large) amount of code differing between the windows and the unix versions, expecting to see things like IOCP and #include <windows.h> and Wsaapietc, but in timer.c I noticed that the unix version had been converted to use a heap instead of an RB tree back around 2013, but the windows version had not. Using a heap makes sense because of the O(1) lookup for the first tim

[2015-05-17 21:41] bnoordhuis commented on #357
I think we simply never came around to updating the Windows code.  @piscisaureus Does that sound about right?

[2015-05-18 01:48] cynron commented on #357
https://github.com/joyent/libuv/pull/1476

[2015-05-18 03:36] piscisaureus commented on #357
What @bnoordhuis said sounds about right. Also, I don't recall looking at @cynron's PR ever, should we land that?

[2015-05-18 04:34] saghul commented on #357
IIRC the numbers weren't great, but I think the tests exhibited the worst
case scenario.

I'd be +1 to landing if there is no performance penalty, but might have to
dance around the ABI compatibility.
On May 18, 2015 05:37, "Bert Belder" <notifications@github.com> wrote:

[2015-05-18 07:16] cyisfor commented on #357
No hurry or anything. It was just something curious I noticed. Thanks for the quick response!

[2015-05-18 15:33] notorand-it commented on #296
The make check needs to allow for a different file system to run onto.
I mean, my $HOME lies within an XFS tree. All other OS lies within a BRTFS tree.
How can I run make check? How can I exclude that single test?
My system should qualify for a clean check. But the current test fails because it's being run withing my $HOME. If I could run it in, say, /tmp, it would pass.
Any hint?

[2015-05-18 15:41] saghul commented on #296
Well, bad luck, I'm afraid :-S

I don't know what else to say. If the kernel doesn't support if and the test fails on some systems at least we know the test is correct. The way it was before, it hid problems (the field was never populated on Windwows), that's why I strengthened it.

That said, I'd probably accept a patch which skips the test if it's run on a non-supported filesystem, though writin

[2015-05-18 15:56] notorand-it commented on #296
I understand I am unlucky. My system is evaluated from my $HOME file system which is XFS.
/var and /tmp is EXT4. But I cannot test in /tmp not in /var.
[code]
My kernel supports also BTRFS!
What's the objective of the test?
Is it a system(-wide) test? If so, you shouldn't run the test in a specific (random) directory.
As it's now the test is being run into one random directory among a number of di

[2015-05-19 09:55] saghul commented on #295
Closing, since it's not a libuv issue.

[2015-05-19 09:55] #295 closed

[2015-05-19 09:56] #263 closed

[2015-05-19 10:09] saghul commented on #301
@bnoordhuis I've been looking at this a bit, and I can't see how the diff you pasted fixes it, because we'd never call `uv__udp_run_completed` then (on close aside).

Why do you think splitting the queue doesn't solve it? We could do that at the top of `uv__udp_run_completed` and at the end, check if `write_completed_queue` is empty. If so, we don't stop the io handle for POLLOUT, because there ar

[2015-05-19 10:18] bnoordhuis commented on #301
I don't recall the details but I remember that QUEUE_SPLIT didn't have any effect.  If you revert https://github.com/nodejs/io.js/commit/18d457bd3408557a48b453f13b2b99e1ab5e7159, benchmark/net/dgram.js should start busy-looping again.

[2015-05-19 10:26] saghul commented on #301
I'll give it a shot, thanks!

[2015-05-19 15:09] MadLittleMods commented on #295
I am still interested in a solution but I understand the close.

[2015-05-22 14:04] allspace opened #361 "Question: user data pointer in callback functions"
libuv uses callback functions to give user a chance to run his/her own code for some events.

but, in those callback functions, there is no parameter for transferring user data.

So, how to transfer data across different functions?

this may be especially an issue when I have to encapsulate libuv using c++ where I have to transfer "this" pointer across different functions.

[2015-05-22 14:14] bnoordhuis commented on #361
Can you direct questions to [the mailing list](http://groups.google.com/group/libuv)?  Cheers.

[2015-05-22 14:14] #361 closed

[2015-05-22 19:01] secrettriangle commented on #304
Any progress?

[2015-05-23 11:46] Coder-chen opened #362 "I have some questions with the macro QUEUE in the queue.h"
In the src :
  #define QUEUE_NEXT(q)    (* ( QUEUE  **  )  &((*(q))[0]))
  Why cast the pointer &((*(q))[0]) to the ( QUEUE** ) ?
  could i just  #define QUEUE_NEXT(q)   (*(q))[0]) .

[2015-05-23 12:34] bnoordhuis commented on #362
See commit 05204648 for the reasons why.  Can you post questions to the mailing list next time?  Thanks.

[2015-05-23 12:34] #362 closed

[2015-05-23 12:53] Coder-chen commented on #362
oh,I am sorry, If i have questions next time,I will use mailing list.I am a newer to use github,sorry to disturb you!!! thanks to solve the problems!!!

[2015-05-23 13:35] bnoordhuis commented on #362
No problem. :-)

[2015-05-24 13:09] Coder-chen commented on #362
hi,sorry to distrub you again,
Could you give me the address of mailing list of the libuv? I cannot find it in this project...thanks a lot.

[2015-05-24 18:03] bnoordhuis commented on #362
Of course.  It's http://groups.google.com/group/libuv or libuv@googlegroups.com.

[2015-05-25 09:11] saghul commented on #304
Nope, sorry.
On May 22, 2015 21:01, "Dan Kaplun" <notifications@github.com> wrote:

[2015-05-25 09:51] bnoordhuis commented on #304
FWIW, I can confirm the issue but that's where I stopped.

[2015-05-25 11:08] Coder-chen commented on #362
Thanks very much !!!

[2015-05-25 18:13] indutny commented on #304
Looking.

[2015-05-25 18:25] indutny commented on #304
OK, this is what seems to be happening:

Both `uv__read()` and `select()` call are running in parallel for some reason... Guess you know what happens next, `select()` emits new `uv__read()` right when the first one returns.

Looking more deeply into it.

[2015-05-25 19:16] mhdawson opened #364 "Delayed process exit when dns query is in progress"
See https://github.com/joyent/node/issues/25349 for specific details.

A process using libuv trying to exit will hang until dns resolution completes.  In the case of Node it was reported as occurring when process.exit(1) is called and a dns query is still running.

Opening to get input on whether trying to fix this in libuv makes sense.

[2015-05-25 20:09] indutny commented on #304
I have a fix. Will push it in a moment.

[2015-05-25 20:22] indutny commented on #304
Should be fixed by https://github.com/libuv/libuv/pull/365, sorry for not handling it earlier!

[2015-05-25 20:54] secrettriangle commented on #304
:+1: @indutny :metal:

[2015-05-25 20:55] bnoordhuis commented on #364
It's a known issue.  There is no good way to cancel the query except by killing the thread and that can lead to instability.

It might be possible to reap the thread with pthread_cancel() but then threads need to take great care to set PTHREAD_CANCEL_DISABLE whenever they do something that can lead to data loss (basically everything that is not transient.)

[2015-05-25 21:00] mhdawson commented on #364
In the process.exit case since the overall process is about to exit anyway, how about just leaving the threads running and avoiding cleaning up structures it may still touch ?  Its not pretty but would avoid delaying the exit process.

[2015-05-25 21:02] bnoordhuis commented on #364
That would lead to data loss if there are in-flight requests doing file operations.

[2015-05-25 21:18] indutny commented on #304
Fix landed in 7005d29. Let's release it, @saghul !

[2015-05-25 21:18] #304 closed

[2015-05-25 21:25] VABAV opened #366 "ENOTTY is missing from UV_ERRNO_MAP"
See title.

[2015-05-25 22:14] mhdawson commented on #364
I guess the same (data loss) might be true if the user sends a SIGINT or SIGTERM as the default handlers don't wait for the threads to terminate.

In the case of process.exit() one option would be document that it tries to exit as safely as possible and as a result a delayed exit might be possible.

Another option might be to only wait for threads if they are doing potentially unsafe operations bu

[2015-05-26 08:13] saghul commented on #304
I don't see why we need to rush a release now, there are other things I'd like to see for 1.6.0.

[2015-05-26 08:16] saghul commented on #366
Continues in #367

[2015-05-26 08:16] #366 closed

[2015-05-26 08:19] saghul commented on #11
We now have `uv_os_homedir` thanks to @cjihrig. Can we close this now or is anything else wanted? NOte that if you ask for it you are implicitly volunteering to write the code! ;-)

[2015-05-26 08:20] saghul commented on #364
Duplicate of https://github.com/libuv/libuv/issues/203 ?

[2015-05-26 09:33] bnoordhuis commented on #364
Oh, indeed.  Forgot about that one.  Let's continue the discussion there.

[2015-05-26 09:33] #364 closed

[2015-05-26 10:05] dbkaplun commented on #304
I don't see why we should delay a release. This is a very important fix that should have been released yesterday.

[2015-05-26 13:21] cjihrig commented on #11
I'd like to work on a `uv_getlogin()`, since I already have the code mostly written elsewhere.

[2015-05-26 13:38] saghul commented on #11
@cjihrig kewl, lets keep it open then!

[2015-05-26 18:13] isaacs commented on #11
Just to be clear, the original request is not *just* to get the currently logged-in user's info, but rather to get info about any arbitrary user.

For example, in node-glob, I'd like to be able to expand paths like `~someuser/foo/bar` to `/home/someuser/foo/bar`, or get the uid/gid/groups for a user by name, or get a username by uid, or a group name by gid.

[2015-05-26 18:27] sindresorhus commented on #11
I agree with above. These are basic platform primitives that are currently missing from Node. I currently use [`uid-number`](https://github.com/npm/uid-number), but it comes with some overhead. I could also use the `~someuser` expanding for https://github.com/sindresorhus/untildify/issues/1.

[2015-05-27 01:30] sixmen commented on #304
For me, this is very annoying bug.
I made a nodejs console application to manage database (http://croquiscom.github.io/cormo/guides/CLI.html), and it runs many asynchronous functions by nature.
Without this patch, I should be pressing a key until the execution is done.

I hope this patch is released asap. (Currently I use a custom nodejs build)

[2015-05-28 07:07] saghul commented on #301
Fixed by https://github.com/libuv/libuv/pull/371.

[2015-05-28 07:07] #301 closed

[2015-05-28 12:27] Pagghiu commented on #11
Hi all, maybe there is a small problem as SHGetKnownFolderPath used by uv_os_homedir is defined only on Windows Vista and successive OS.
https://msdn.microsoft.com/en-us/library/windows/desktop/bb762188%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396

[2015-05-28 13:28] saghul commented on #11
@Pagghiu You're right! I guess we need a fallback SHGetFolderPath to with CSIDL_PROFILE.

Refs: https://msdn.microsoft.com/en-us/library/windows/desktop/ee417685%28v=vs.85%29.aspx and https://msdn.microsoft.com/en-us/library/windows/desktop/dd378457%28v=vs.85%29.aspx

[2015-05-28 13:31] saghul opened #374 "uv_os_homedir broken on Windows XP"
https://github.com/libuv/libuv/issues/11#issuecomment-106295168

[2015-05-28 13:33] saghul commented on #374
/cc @cjihrig

[2015-05-28 14:09] cjihrig commented on #374
I'll try to set up an XP VM today and work on this.

[2015-05-28 14:28] bnoordhuis commented on #374
Do we still care about Windows XP?  Maybe it's time to drop support for it.

[2015-05-28 14:36] saghul commented on #374
**I** don't personally, but I recall briefly talking with @piscisaureus about it and we kind of agreed we'd keep it in the v1.x series as long as it didn't make things super-hard.

Since the fix here is (hopefully) just an *ifdef* I'd say we keep support for it.

When we dump support for XP and 2k3 we can potentially delete a ton of code from src/win :-)

FWIW, does Node (officially or not) work o

[2015-05-28 15:08] cjihrig commented on #374
I believe the support is unofficial at this point. See this recent [comment](https://github.com/joyent/node/pull/25367#issuecomment-104743959). It looks like there was some confusion in that thread as to whether or not libuv even supported XP anymore :-)

[2015-05-28 15:18] piscisaureus commented on #374
Node v0.12 was broken for a while, io.js still works.

One thing to note is that dropping XP support doesn't really make a difference unless we also drop Server 2003 support. Extended support for 2k3 ends [July 14th](https://www.microsoft.com/en-us/server-cloud/products/windows-server-2003), which is 6 weeks from now.

What amazes me though is that (when disregarding mobile operating systems), [XP

[2015-05-28 20:11] cjihrig commented on #374
@piscisaureus there is a warning in the comments of https://msdn.microsoft.com/en-us/library/bb762494.aspx stating that `CSIDL_PROFILE` on Windows XP can be translated to the wrong directory under certain scenarios. They commenter suggests using `GetUserProfileDirectory()`. What do you suggest?

[2015-05-29 08:10] saghul commented on #374
Oh, nice find @cjihrig!

[2015-05-29 08:11] saghul commented on #374
Closing, lets continue in #375

[2015-05-29 08:11] #374 closed

[2015-05-29 09:31] piscisaureus opened #376 "test_pipe_get_getsockname_blocking broken on windows"
There are two issues, one of them is arguably a problem with the API.

* The test creates a pipe with `CreatePipe()`. Pipes created that way don't have a name, but the test tries to verify that the pipe does have one.
* `uv_pipe_getsockname` returns an empty string because the pipe has no name. However the string is not null-terminated! See https://github.com/libuv/libuv/blob/v1.x/src/win/pipe.c#L

[2015-05-29 09:59] saghul commented on #376
IIRC this is intentional. On Linux you could have an abstract socket, whose name is \0foo, so the API doen't null-terminate the strings on purpose, the user must use the size out argument.

See the note here: http://docs.libuv.org/en/v1.x/pipe.html?highlight=uv_pipe_getsockname#c.uv_pipe_getsockname

[2015-05-30 18:52] cjihrig commented on #11
Regarding the ability to look up information for arbitrary users, the challenge is on the Windows side. From my research, it seems like you either need an access token for the user in question, or need to dig through the registry. [Here](https://groups.google.com/d/msg/microsoft.public.win32.programmer.kernel/jyRFoyjfNH0/mspUjI6AfkUJ) is a good explanation. If anyone knows of a simpler/better way

[2015-06-01 05:11] deleisha commented on #275
Sorry for being late. @coderkevin, is the custom-stream branch still still available?

[2015-06-01 14:56] wxx422 opened #380 "make test failed"
I downloaded the zip (ChangeLog shows 2015.05.07, Version 1.5.0 (Stable) ) to my virtual machine (VMware WorkStation, 10.0.2.46408), CentOS 6.6, gcc version 4.4.7 20120313 (Red Hat 4.4.7-11) (GCC) . when I "make", there are many warnings. Ignore the warnings, "make check" finally shows as below:

[code]

[2015-06-01 15:53] bnoordhuis commented on #380
Thanks for the report.  The failures look benign to me.

I speculate that the getaddrinfo tests fail because your local DNS resolver returns _something_ even when there is no record; you can probably verify that with `nslookup` or `dig`.  The spawn_setuid_setgid failure is self-explanatory.

I'll close this but let me know if you think there is something worth investigating.

[2015-06-01 15:53] #380 closed

[2015-06-01 16:37] domenic opened #381 "Expose FindFirstFileEx/FindNextFile/CloseFind and opendir/readdir/closedir"
It would be nice to experiment in io.js with streaming directory listing. As far as I can tell this is supported on both Windows and POSIX in fairly similar ways, and so shouldn't be too much trouble to wrap up into agnostic wrappers.

[2015-06-01 16:42] Fishrock123 commented on #381
dupe of https://github.com/libuv/libuv/pull/175

[2015-06-01 16:43] domenic commented on #381
Damn, I checked all the open issues, but not the PRs :P

[2015-06-01 16:43] #381 closed

[2015-06-01 16:52] coderkevin commented on #275
Yes, but this is the current branch I'm looking at right now.  I've been trying a couple of different approaches for non-epollable streams, but I could probably use some guidance in this area.

https://github.com/coderkevin/libuv/tree/custom-streams-non-epoll

For the epollable streams, it was fairly easy to get working in tests with a socketpair, but I'm sure I'm missing something.  Also, I didn'

[2015-06-02 01:10] wxx422 commented on #380
Thank you for your answer.

[2015-06-02 14:59] dbkaplun opened #383 "New release, please!"

[2015-06-02 15:00] dbkaplun commented on #304
See #383

[2015-06-02 15:01] dbkaplun commented on #383
There are very important bugfixes on `master` that should be released *immediately* as the bugs they fix are *severe*.

[2015-06-02 18:20] saghul commented on #383
The next libuv release will happen when it's ready, and right now its not.

There are important bugfixes in the v1.x branch, not master. They are important, yes, but not urgent. There is a difference.

You can of course disagree.

[2015-06-02 18:21] #383 closed

[2015-06-02 18:51] dbkaplun commented on #383
I don't see what's so difficult about creating a new point release in the interim.

I understand it may not seem important to some members of the libuv team, but please understand that the thousand or so users of [slap-editor/slap](https://github.com/slap-editor/slap) are forced to run Node v0.10 (!) because of this unfixed bug.

[2015-06-02 22:35] saghul opened #384 "Prepare 1.6.0 release"
I landed all PRs which I had "scheduled" for this release. I did fuckup the Windows build after the allocator commit, but I just fixed it and we're now good.

CI run: https://jenkins-iojs.nodesource.com/view/libuv/job/libuv+any-pr+multi/103/

Build is as green / red as usual, so unless someone speaks up I plan to make the release tomorrow night.

/cc @bnoordhuis, @piscisaureus

[2015-06-02 22:39] Fishrock123 commented on #384
\o/

[2015-06-03 02:43] axlrose commented on #296
debian jessie 8.0   test fs_async_dir failed

[2015-06-03 06:06] saghul commented on #296
Please see my comment about supported filesystems in this thread.
On Jun 3, 2015 4:43 AM, "axlrose" <notifications@github.com> wrote:

[2015-06-03 14:44] saghul opened #386 "Add support for SO_REUSEPORT to uv_tcp_t?"
Evaluate if we want to do this. It's now supported on Linux >= 3.9 and RedHat seems to have backported it.

This would add a new flag to `uv_tcp_bind`:

[code]

Note that we already take flags in `uv_tcp_bind`.

This would help create a multi-threaded server in which the Kernel does the load balancing.

References:

https://lwn.net/Articles/542629/
http://nginx.com/blog/socket-sharding-nginx-relea

[2015-06-03 14:50] dbkaplun commented on #383
To reiterate, NodeJS 0.11+ is utterly broken on OSX as the event loop gets blocked. Please release.

[2015-06-03 14:57] cjihrig commented on #383
See #384

[2015-06-03 16:27] cgyarvin opened #387 "libuv uses a fd per watched file on OS X"
File watching without using an fd per watched file is possible on many back ends, including OS X from 10.7 up with kFSEventStreamCreateFlagFileEvents.  libuv on OS X, all versions, still uses kqueue to watch for file modifications.

The use case for this feature is anything that wants to watch an arbitrarily large file tree - eg, a dropbox style sync app.  The problem is exacerbated by the ridicul

[2015-06-03 16:48] bnoordhuis commented on #387
For cross-reference: https://groups.google.com/forum/#!topic/libuv/IlZlhWilF5E

[2015-06-03 19:15] saghul commented on #384
Ok, there have been no objections, so I'm moving forward with this.

[2015-06-03 19:52] saghul commented on #289
Now that the TTY bug got fixed in #365 can you re-test this @tarruda ? Thanks!

[2015-06-04 09:01] #384 closed

[2015-06-04 09:02] saghul commented on #386
Well, crap. The nice-load-balancing-thingy is a Linux-ism. I'll keep this open for a bit, food for thought.

https://lists.freebsd.org/pipermail/freebsd-net/2013-July/036131.html

[2015-06-04 10:04] deleisha commented on #275
Thanks @coderkevin, I am also not a extensive C programmer.

A quick glance shows that We are having a concrete ```uv_custom_t```. Will having a macro like
[code]
improve extensibility.
But not sure if this is doable without much aggression to  libuv. May be larger libuv community can
give better approach.

[2015-06-04 10:24] bnoordhuis commented on #386
For reference, I explicitly disabled it in 3d2c820 ("linux: don't turn on SO_REUSEPORT socket option".)

[2015-06-04 12:39] tarruda commented on #289
I lost my OSX VM with my broken laptop, will do as soon as I reinstall it.

[2015-06-04 13:10] saghul commented on #289
No rush! And thanks for the help!

[2015-06-04 21:53] coderkevin commented on #275
I was also thinking about this.  However, I have been thinking if it would be better to ditch the `void* context` to use the existing libuv pattern of extending structs with extra type fields.  The existing concrete `uv_custom_t` would be the base struct that would be extended, just like `uv_stream_s` extends `uv_handle_s`.  So an example custom stream of "myowncustom" type would look as follows:

[2015-06-05 07:54] deleisha commented on #275
Yep, I did tried exploring a little bit more on extensiblity so that We can write a TLS stream and http/https. But unfortunately will not work as ```UV_STREAM_FILEDS``` private fileds are not accessible
from outside of libuv( there is #undef at uv.h). So this seems to imply that if we follow this route and a user want to write its extension, user have to write within libuv. Again, TLS and http mig

[2015-06-05 14:15] kellabyte opened #390 "Add the ability to pass a uv_handle_t to a new event loop"
Copying this issue that is over a year old from the old Joyent repository:
https://github.com/joyent/libuv/issues/1301

It would be really great to avoid having to implement the complexity of https://github.com/joyent/libuv/blob/master/test/benchmark-multi-accept.c and avoid sending over IPC to load balance on other event loops. I find this code hard to follow and it's the part I struggle with the

[2015-06-05 14:38] saghul commented on #390
I did (very briefly) look into this a while ago, sorry for not coming back to report :-S

Sadly this is seems to be supported only on Windows >= 8.1:

[code]

https://msdn.microsoft.com/en-us/library/windows/hardware/ff728840%28v=vs.85%29.aspx

[2015-06-05 19:14] coderkevin commented on #275
That's a tough one.  In a general sense, I don't know that it would make sense to give access to uv internals via the custom stream base class, and I don't know that we'd want to expose any more of the stream internals either, as it makes being cross-platform even more difficult.

For something like TLS, maybe it would make more sense to have it reimplement what it would have used from the interna

[2015-06-05 21:03] deleisha commented on #275
With the current state of libuv extensibility is quite difficult. It seems to me that libuv is more or less designed for developing other functionality on top it.
We will prefer code reuse from libuv. But this will not be possible until libuv opens up some of its internal function.
Also we understand TLS and other higher level protocol will be out of scope of libuv.

But usability can be improved

[2015-06-05 21:11] coderkevin commented on #275
I can agree with that as a good overall end goal.  I just wonder on the best way to get there incrementally.  In the time I've spent in the code so far, there are a ton of assumptions that libuv is in control directly...the read/write fd code, for example makes a lot of these assumptions.  Not only that, but the internals are different based on each platform.

In the spirit of backward compatibili

[2015-06-05 21:16] deleisha commented on #275
Any plan or thought on this @saghul and @bnoordhuis.

[2015-06-05 21:17] saghul commented on #275
Sorry folks, been quite swamped lately. I hope to look at this next week.

[2015-06-06 10:54] bnoordhuis commented on #275
I'm personally not really on board with taking libuv in that direction.  It probably means a lot of internal implementation details become _de facto_ public API.  It's a maintenance drag and increases the friction of future changes.

Also, composition > inheritance.  A TLS stream is a bad example IMO because TCP and TLS live at different levels in the stack.

[2015-06-06 14:48] coderkevin commented on #275
@bnoordhuis, how would you recommend implementing a TLS stream in this scenario then?  It would either have to have some platform-specific info about the underlying TCP stream, or it would have to implement a TCP stream itself, right?

[2015-06-06 15:00] TomCrypto commented on #275
I'm not seeing why you couldn't implement a TLS stream by simply composing a normal libuv TCP stream and a (custom) TLS state structure, and wrap the recv/send logic using said state according to the TLS spec (roughly: encrypt user bytes in send, decrypt user bytes in recv). No need to know any implementation details about the underlying TCP stream as long as it can connect to something, send and

[2015-06-06 15:29] yosuke-furukawa commented on #386
I'm +1 on this.
I have already benchmarked SO_REUSEPORT and cluster using this branch : https://github.com/yosuke-furukawa/libuv/tree/feature_turn_on_reuseport

[code]

The detail is here. https://gist.github.com/yosuke-furukawa/e3d593db8f8963518b19

I know SO_REUSEPORT has the different behavior on BSD and linux. http://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuse

[2015-06-06 15:51] saghul commented on #386
I'm not sure, to be honest. The problem is that this behavior cannot be amulated on platforms which don't support it (yet?) so this would exclusively work on Linux >= 3.9 and **only** there. That's not cross-platform enough, by eny measure.

Now, it shouldn't be hard to use `uv_fileno`, extract the fd and set the option manualy, BUT we create the sockets late, which means that we currently don't h

[2015-06-06 16:27] yosuke-furukawa commented on #386
Yes. That is not cross-platform enough. I guess it is hard to explain the specification for libuv. And that is hard to emulate.

I don't need to turn on `SO_REUSEPORT` by default. It is no problem to add a flag like `UV_TCP_REUSEPORT`. :-)

Yes, I agree. We need more experiments on this.

[2015-06-06 17:45] bnoordhuis commented on #275
What @TomCrypto said.  Taking OpenSSL as an example, your TCP handle reads data into a BIO that in turn is fed into OpenSSL's state machine.  Likewise for output; OpenSSL will tell you when there is data to write.  io.js and node.js both take that approach and it works fine for them.

[2015-06-07 19:30] dtoubelis opened #391 "uv_tcp_connect() usage question"
I have question in regards to uv_tcp_connect():

1. allocate connection request
2. I allocate tcp handler
3. I call uv_tcp_connect()

However it is not clear from the documentation how this function behaves. In particular:For instance, what happens when uv_tcp_connect() return non-zero value?

- in what situations an error is returned
- what error values are returned
- will callback be called anyw

[2015-06-07 21:13] saghul commented on #391
This shoudln't really matter, but (on Unix), it can fail because:

* you're already trying to connect
* libuv fails to create a new socket
* we get an unexpected error from connect(2)

UV_EALREADY if you're trying to connect already, or whatever socket(2) or connect(2) return in casethey give an error.

No, when any libuv API function which takes a callback fails, it will never call such a callbac

[2015-06-07 21:13] #391 closed

[2015-06-07 22:46] dtoubelis commented on #391
@saghul, thank you for the quick reply. This is really helpful. I could not find info about callback being called or not anywhere in the documentation and you just confirmed what I suspected :-) Thanks.

[2015-06-08 05:59] deleisha commented on #275
We undestand that having TLS and https is out of scope of libuv as it is a IO abstraction layer. The current approach seems to be writing wrappers on top of it. The current approach forces to write wrapper functions like `uv_tls_accept` and `uv_tls_write` which is the approach taken in [libuv-tls](https://github.com/deleisha/libuv-tls)

The intent of this, if I undestood correctly from @jnicholls

[2015-06-08 07:56] saghul commented on #275
Ok, after reading the pending messages, re-reading the LEP and checking out some of @coderkevin's code, here are my thoughts:

As I initially said, I see 2 types of integration, once which kind-of replaces stream operations with custom ones, and one which tried to layer itself on top of an existing stream. A "file stream" and a "TLS stream" are respective examples of each.

Now, my idea of replaci

[2015-06-08 15:22] coderkevin commented on #275
@saghul thank you for your comments.

I've kicked this around with sample code in a few ways and had basically come up with the same conclusion as @saghul, that a "vtable" of function pointers in the struct would be needed in order to replace the normal calls for accept(), listen(), write(), etc.  This does seem like a fairly serious architectural change, so I would understand some trepidation to

[2015-06-09 02:53] axlrose commented on #296
debian jessie 8.0 test fs_async_dir failed
xfs and tmpfs

[2015-06-09 02:59] axlrose commented on #296
Currently, only some filesystems (among them: Btrfs, ext2, ext3, and
       ext4) have full support for returning the file type in d_type.  All
       applications must properly handle a return of DT_UNKNOWN.

[2015-06-09 06:03] notorand-it commented on #296
And, please, see [my comment](https://github.com/libuv/libuv/issues/296#issuecomment-103112749) as well.

[2015-06-09 08:37] hh9527 opened #394 "benchmark-multi-accept failed in Windows"
Compiler: VS2013 Prof V12.0.21005.1 REL
OS: Windows 7 Prof with SP1 32bits
Build step: vcbuild.bat

[code]

[2015-06-09 08:39] hh9527 commented on #394
Is it caused by my environment or a commen problem?

[2015-06-09 08:40] saghul commented on #394
It's a known issue on Windows.

[2015-06-09 08:44] hh9527 commented on #394
So, is there a plan to fix? Or is there a way to transfer uv_tcp_t between loops?

[2015-06-09 08:45] saghul commented on #394
There is always a plan to fix everything! Nobody knows when though :-)

Sure, you can use uv_write2 for that, but on Windows it only works across processes, not threads.

[2015-06-09 09:16] hh9527 commented on #394
Thank you for reply.

uv_write2 needs a pre-connected connection, should I use stdin/stdout wrapped as uv_pipe_t?

And, if I still need transfering uv_tcp_t between threads, will the following approach works?
- Create a **raw** SOCKET in background thread, bind and listen to this SOCKET
- In this thread, use poor stupid `select` and `accept` to get connection SOCKET
- Use uv_async_send and a synch

[2015-06-09 09:21] saghul commented on #394
You can create a new pipe for IPC when you spawn the new process with uv_spawn and use that one. See UV_CREATE_PIPE here: http://docs.libuv.org/en/v1.x/process.html?highlight=uv_spawn#uv-process-t-process-handle you can also browse through the tests for usage examples.

Yes, that should work. But watch out, `uv_async_send` coalesces calls: http://docs.libuv.org/en/v1.x/async.html?highlight=uv_asyn

[2015-06-09 10:31] hh9527 commented on #394
Further more, is it possible to use `uv_listen(&tcp)` to listen, but with raw `accept(&tcp->socket, addr, addr_len)` instead of `uv_accept(&tcp, &conn)` to get the raw SOCKET? If this works, I will be much simpler that reinvent the whole uv_xxx things with raw `select`.

[2015-06-09 11:00] saghul commented on #394
I don't think so. You'd need to put the socket back in blocking mode, and it's already associated with an IOCP.

PS: Please use the mailing list for questions, we try to keep the issue tracker mainly for issues.

[2015-06-11 03:44] hh9527 opened #397 "Windows: uv_read_start failed after uv_tcp_open"
OS: Windows 7 Pro 32bit

[code]

I found in passed test case `test-tcp-open.c`, the `sock` is a client socket. But in my case, the `sock` is fd from accept. This cause `uv_read_start` failed.

[2015-06-11 07:30] saghul commented on #397
In hindsight we should have taken some flags to open. I'm afraid your usecase is not really supported on Windows, because we keep state flags.

[2015-06-11 08:17] hh9527 commented on #397
I have got a quick dirty solution to resolve this: add a new api `uv_tcp_open_stream` to replace `uv_tcp_open` in this case, and it just works.

[code]

And, in unix, `uv_tcp_open_stream` is just a alias to `uv_tcp_open`.
[code]

This aproach have been tested in Window 7 and Ubuntu 14.04 with simple test-case.

[2015-06-11 08:20] saghul commented on #397
Something like that, yeah. However I find the name very misleading, since it mentions a stream, but it actually takes a uv_os_sock_t.

[2015-06-11 08:32] hh9527 commented on #397
I selected word `stream` because this API will import a socket as stream, not a server. But you are right, the meaning of  stream is not very clear. May you have any suggestion? `uv_tcp_open2`?

And if you could accept this aproach, I can submit a PR with test code in this week.

[2015-06-11 08:36] saghul commented on #397
Feel free to send the PR so we discuss it there, thanks!

[2015-06-15 06:36] Pagghiu commented on #190
I confirm this warning popping up on mingw 4.9.1 (the one that comes bundled with Qt Creator on Windows for example). It's a warning but in unfortunate case of buffer not aligned to 8 it will make the function fail at runtime.

The fix could be as simple as:

[code]

[2015-06-15 07:47] saghul commented on #190
@Pagghiu not sure why I wasn't seeing this before, but I tried your fix and it does indeed solve the warning. Do you mind submitting a PR?

[2015-06-15 07:55] saghul commented on #277
Closing since this https://github.com/libuv/libuv/pull/396 landed.

[2015-06-15 07:55] #277 closed

[2015-06-16 14:10] vavrusa commented on #386
I'd like to use this as well (+on UDP as well). I understand the motivation behind 3d2c820 so I guess it's best if there's a `UV_{TCP|UDP}_REUSEPORT` flag (that is ignored if the platform doesn't support it).
It's somewhat *meh* going the `uv_{udp|tcp}_open()` way.

[2015-06-16 21:00] saghul commented on #190
Fixed in 70bbfa0, closing.

[2015-06-16 21:00] #190 closed

[2015-06-16 21:19] saghul commented on #275
Closing as discussed, thanks everyone.

There are currently no plans for that. Now, if we'd eventually add them, they would probably be builtin, not as an addon.

[2015-06-16 21:19] #275 closed

[2015-06-16 22:53] saghul commented on #386
After thinking about this some more for the past few days, I came to the conclusion that it's not a good idea to provide an API for this at the moment, since the platform differences are irreconciliable. It's not the fact that some platforms have SO_REUSEPORT and other don't, it's the fact that even if it's called the same it can mean different things.

So, I think the right thing to do here is to

[2015-06-17 09:54] yosuke-furukawa commented on #386
+1
In NodeConf, I talked about `SO_REUSEPORT` with libuv contributors.
SO_REUSEPORT is really confusing feature for cross platform environment.
`libuv` does not support the `SO_REUSEPORT`. Sounds reasonable.

And creating sockets earlier is good idea.

cool!!

[2015-06-17 10:48] vavrusa commented on #386
That would work for me as well.

[2015-06-17 11:05] saghul commented on #386
I'm going to close this then, since we seem to ha A Plan :-) Let's continue over at #400.

[2015-06-17 11:05] #386 closed

[2015-06-18 04:34] jordabi opened #401 "async.c:149: uv__async_io: Assertion `n == sizeof(val)' failed"
I am getting this error at random times. Sometimes Node will run for days without this error, but other times I will get it back to back in a short period of time.  I have seen comments to the effect that it is there to catch programming errors or unexpected conditions and that it one case it was someone's misuse of an API, but I can not find where anyone has elaborated on what the issue actually

[2015-06-18 05:49] cynron commented on #401
@saghul

https://github.com/libuv/libuv/blob/v1.x/src/unix/async.c#L130

I think the assert

[code]

should be

[code]

suppose 2 thread do:

thread A: read(w->fd, buf, sizeof(buf) = 8
thread B: write(w->fd, buf, sizeof(buf)) = 8
thread A: read(w->fd, buf, sizeof(buf) = 8

then, the `n` here will be 16, not 8.

[2015-06-18 08:14] saghul commented on #401
What kind of platform are you running on? Do you have a way to reproduce it with certain degree of reliability?

[2015-06-18 09:10] bnoordhuis commented on #401
It must be Linux because that assert is in the eventfd code.  The line number doesn't match up though so it's probably not a recent version of libuv.

@jordabi What node.js version do you run?

[2015-06-18 14:27] jordabi commented on #401
@saghul, The error message I posted is copied verbatum. I do not have a reliable way to repro, which is why I'm asking for more help on this to even track down what that assertion is supposed to be testing for and in what in my app may be causing it...not the specific issue, but the kind of issue to look for.

@bnoordhuis  I am running Node 0.10.33 on CentoOS 7

[2015-06-18 14:34] bnoordhuis commented on #401
@jordabi That version of node.js uses a pretty old version of libuv, v0.10.29.  The latest v0.10 release is v0.10.36 and that is what ships with node.js v0.10.37 and v0.10.38.  My first suggestion would be to update node.js and check if the problem persists.

[2015-06-18 15:01] jordabi commented on #401
@bnoordhuis Yeah was just starting to do that and see what that breaks.  Are you aware of any major issues with the latest 0.12.x version?

[2015-06-18 15:19] bnoordhuis commented on #401
No issues that I'm aware of.  I only work on io.js though so that isn't saying much.

[2015-06-19 18:15] tadman commented on #94
Why can't someone add, at the very least, an HTTP redirect to the GitHub page? Slapping something together in [GitHub Pages](https://pages.github.com/) with a `CNAME` file would plug this hole if someone can alter the DNS for it.

[2015-06-19 19:39] saghul commented on #94
We'll get there, we've just been busy with other things.

[2015-06-24 15:23] flyover opened #406 "Android: src/unix/core.c:1044: error: undefined reference to 'getpwuid_r'"
Only when building 32bit arch's (armeabi, armeabi-v7a, x86 and mips).

[2015-06-24 15:32] saghul commented on #406
Apparently you need API level 21: http://stackoverflow.com/questions/29289381/alternative-getpwuid-r-during-compile-throught-android-ndk and https://groups.google.com/forum/#!topic/android-ndk/UMfhibeuwoI

[2015-06-24 18:33] jordabi commented on #401
@bnoordhuis Well, I upgrade to 0.10.38 and had not seen the issue for the past several days so I thought your suggestion to upgrade did the trick...However, I just got the error again, and it appears to be the same error with a different line number:

node: ../deps/uv/src/unix/async.c:124: uv__async_io: Assertion `n == sizeof(val)' failed.

So, the same, original question stand, Can you provide an

[2015-06-24 20:11] bnoordhuis commented on #401
Maybe try running node with strace attached, i.e. `strace -fo trace.log node app.js`.  It slows down the node process a great deal, though; it's not something you want to do in production.

[2015-06-26 10:10] lucab opened #408 "[v1.x] testsuite failure (thread_create) on mips/mipsel"
Even after applying a minimal patch for #335, there are still failures on debian mips and mipsel autobuilders:
 * https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=mipsel&ver=1.6.1-2&stamp=1434420361
 * https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=mips&ver=1.6.1-2&stamp=1434427616
 * https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=mipsel&ver=1.6.1-2~bpo8%2B1&stamp

[2015-06-26 10:18] saghul commented on #408
libuv does basically nothing other than call `pthread_create`: https://github.com/libuv/libuv/blob/v1.x/src/unix/thread.c#L55 I'm not sure why this can fail on MIPS, but I doubt there is something we can do in libuv to fix it :-S

[2015-06-26 10:23] bnoordhuis commented on #408
I think the error comes from process_wait() in test/runner-unix.c.  @lucab Do you happen to know what ulimit there is in effect?

Also, wups; I completely forgot about #335.  Adding it to my TODO list.

[2015-06-26 10:29] saghul opened #409 "Sign tarball releases"
Badically https://github.com/joyent/libuv/issues/1177

/cc @lucab

[2015-06-26 17:34] heshamsafi commented on #234
I am willing to write the C code, but i only have a Linux machine, do u guys have Mac, Windows, BSD machines that i can use for testing and validation.
and I have a couple questions.
1 - do you want it in the libuv core, or is it better if i implement it as an un-bundled add-on.
2 - does it need to be async ? because i don't think changing file attributes can cause a set back in any process.

[2015-06-27 01:02] heshamsafi commented on #234
I read some of the fs.c code and i have a two proposals.

1 - the xattr read/write functionality can be triggered by asserting some sort of flag before invoking the plain old  <code>uv_fs_read/write</code> functions and pass back and forth the xattr list in a string buffer with e.g <code>"KEY1:VALUE1;KEY2:VALUE2;"</code> and leave it to the host program to parse this string.

2 - we write new func

[2015-06-27 09:39] saghul commented on #234
Yes. Once you have the code ready for testing, open a PR and ping me, I can trigger CI builds.

If it's cross-platform enough I'm personally OK with it being in core. Now, note that the ABI cannot change in the v1.x branch, so if you end up needing new structure fields in uv_fs_t for instance, this will probably need to go to master.

What if the directory is a network mount on a slow connection?

[2015-06-27 09:43] saghul commented on #234
I'm more inclined towards version 2, that is, I don't want to fold xattr functionality into read/write. You could however use a uv_buf_t to hold a single string of the form you described (KEY=walue;KEY=value;...)

[2015-06-27 21:38] martell commented on #264
I tested all the release versions and have determined
pipe_getsockname_blocking was broken between 1.2.1 and 1.3.0

[2015-06-27 21:39] martell commented on #246
I tested all the release versions and have determined
pipe_getsockname_blocking was broken between 1.2.1 and 1.3.0

[2015-06-29 18:37] heshamsafi commented on #234
I've started implementing it -just for linux for now- and things are going smoothly but i have a few design concerns and i would rather discuss them with you now while the cost of change is low, if you don't mind.
firstly, here is the jest of the code.
[code]
usage :
[code]

Questions :
- is there any thing you would like to change ? what do u think about the io vector ?
- how should i signify to

[2015-06-30 21:37] DamianEdwards opened #415 "Add support for using Windows Registered IO (RIO)"
Windows 8/Server 2012 added new extensions to Winsock designed to allow for lower latency and increased throughput, see https://technet.microsoft.com/en-us/library/hh997032.aspx. There's a video of a session detailing the APIs at https://channel9.msdn.com/Events/Build/BUILD2011/SAC-593T.

It would be great to have libuv use these extensions when running on supported versions of Windows.

[2015-06-30 23:02] bnoordhuis commented on #415
Can you write up how you think it should be integrated?

[2015-07-01 05:36] jorge-imperial opened #417 "Failed tests after make."
uname -a
Darwin Jorges-MacBook-Pro.local 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64
ç=============================================================
[%  61|+ 166|-   0|T   0|S   0]: getaddrinfo_fail
`getaddrinfo_fail` failed: exit code 6
Output from process `getaddrinfo_fail`:
Assertion failed in test/test-getaddrinfo.c on line 43:

[2015-07-01 06:27] saghul commented on #417
Closing as it's an environment issue: your resolver says that  "xyzzy.xyzzy.xyzzy" is a valid address, when it's not.

[2015-07-01 06:27] #417 closed

[2015-07-01 08:05] saghul commented on #234
I think it makes it weird to use by the user. (S)he passes in "foo" and then gets "foo=bar" in return, which means some strchr stuff... how about passing 2 sets of buffers? One with the keys and one for storing the values:

[code]

Btw, I'm not sure what 3 and 0 mean in your example:

[code]

Return UV_ENOBUFS error.

Maybe you can return ENOBUFS but store the required length so the user can check

[2015-07-01 10:01] vavrusa opened #419 "reconsidering recvmmsg() support"
As you might know, Github ditched libuv based statsd an reimplemented Brubeck, citing some reasoning.

- [Brubeck, a statsd-compatible metrics aggregator](http://githubengineering.com/brubeck/)

This is somewhat true, but the syscall overhead may be very well alleviated by libuv by:
- `recvmmsg()` which you rejected in [#414](https://github.com/joyent/libuv/issues/414), speaking for myself this he

[2015-07-01 10:27] saghul commented on #419
Hey @vavrusa!

I wasn't aware of this.

Re their reasoning: right now it's possible to create the sockets early with `uv_udp_init_ex` and manually set `SO_REUSEPORT` to achieve what they wanted, by running a loop on each thread. Of course nobody asked for this.

Maybe things have changed, I have no idea. The best would be to give it a shot and use some of our benchmarks (or write a new one if the

[2015-07-01 11:13] vavrusa commented on #419
Hey!

Well I did :) Jokes aside, with REUSEPORT event-loop model makes a lot of sense since you can scale the application without the thundering herd issue with threads and locking tarpit.

Cool, I didn't check, looks okay :heavy_check_mark:

Hell no, this is all good, function call isn't that expensive. What I want is a different interface for the allocation callback (the libuv could hint "alloca

[2015-07-01 12:14] Crazy-Ivan opened #420 "Assertion failed: 0, file src\uv-common.c, line 75"
Hi, we have a problem during installation few modules via npm, like phantomJs. etc
Does anybody could tell me what went wrong ? We have tried bunch of node versions. 0.12.14 and 0.12.15 and we still get the same issue "Assertion failed: 0, file src\uv-common.c, line 75" (however in different line - 75 is from node version 0.12.14). Maybe someone know what this code try to assert, so we could figur

[2015-07-01 12:20] saghul commented on #420
The line numbers no longer match, but I believe the problem is caused by an unmapped error code. In order to know which one, we need a backtrace of the crashed process. It would be perfect if it could be reproducible with a simple test case.

[2015-07-01 14:18] bnoordhuis commented on #419
The behavior I observed with recvmmsg() is that it's sometimes faster when packets come in at a high rate but it's a net loss when there is just one datagram to read.  I don't remember the exact numbers but it was on the order of 1/3rd slower than recvmsg().

Maybe it's possible to build some kind of self-learning heuristic into src/unix/udp.c where it selects recvmsg() or recvmmsg() based on how

[2015-07-02 01:23] vavrusa commented on #419
That's the case I'm trying to optimise, when the "packets come in at a high rate". You're worried about ultra-low latency when the server is sleeping most of the time or what use case?

I think UDP servers are interested in sending back something most of the time. Maybe for some specific applications like log aggregator, but then this a case where greater throughput is more important.

So I've coo

[2015-07-02 09:19] bnoordhuis commented on #419
One use case I'm thinking of is many sockets, with individual sockets mostly idle, but in aggregate quite busy.

Libuv is a general purpose library, it can't optimize for one use case when it unduly pessimizes another.  That's why I suggested a self-learning approach: maintain a sliding window average of multi-packet read events and decide based on that whether to use recvmsg() or recvmmsg().

The

[2015-07-02 10:50] vavrusa commented on #419
Absolutely, 2 bit branch predictors had 90%+ accuracy, it would be enough to predict whether the receiver is loaded. OTOH do you measure any extra latency on your box? To me it's just jitter (recvmsg/recvmmsg).

[2015-07-03 14:11] heshamsafi commented on #234
Thanks for the explanation, i get it now.

3 is the buffer vector size
0 is an unused argument that i will remove

yeah that would be better, but it means i have to subclass the uv_fs_t struct to accommodate the other buffer vector and isn't that too drastic ? or do you mean that we should segment the existing buffer with sizes and offsets,
so if buf is 6 elements long , and we assume that we star

[2015-07-03 15:47] saghul commented on #218
Shall we close this then?
On Feb 21, 2015 19:38, "Ben Noordhuis" <notifications@github.com> wrote:

[2015-07-03 16:07] silverwind commented on #218
@saghul I'm not too familiar with uv's socket API, but would one need to set flags for things like keep-alive and nodelay on every socket or is there a way to specify these once and have them apply to all future sockets automatically?

Regarding remembering options, we landed https://github.com/nodejs/io.js/commit/85d99830096a48b7d50cc3b0e5c3fba4172c2d02 a while ago, which works around that issue.

[2015-07-03 16:24] saghul commented on #218
It's a per socket option, not global. Applications need to take care of
that.
On Jul 3, 2015 18:07, "silverwind" <notifications@github.com> wrote:

[2015-07-03 16:34] silverwind commented on #218
Well in that case, I think there's nothing to do on the uv side, so you can close this issue.

I'll continue working on platform consistency on iojs's side, but am a bit blocked by having to figure out a working test for TCP_NODELAY first.

[2015-07-03 20:36] #218 closed

[2015-07-03 20:37] saghul commented on #218
Done. Feel free to reach out if there is any doubt I can help you with.

[2015-07-04 14:11] tarruda opened #423 "Possible data race report by helgrind"
Neovim is reorganizing its code so that libuv event loop runs in a separate thread, and helgrind is reporting a possible data race involving `uv_spawn`(running in the event loop thread) and `uv_cond_wait`(used by the root thread to wait for `uv_spawn` status). It could be nothing and I didn't have any problems so far, but I thought I'd open this issue for further investigation. Here's the report:

[2015-07-05 19:27] bnoordhuis commented on #423
It's probably a false positive.  The code in src/unix/signal.c doesn't use mutexes because they aren't async signal-safe.  It synchronizes using a pipe, but helgrind doesn't know that.

[2015-07-06 01:00] mcnameej opened #424 "Windows consoles with non-default colors"
The ANSI terminal emulation code in src/win/tty.c assumes the console is using Windows default colors (white text on a black background). This results in a somewhat ugly output on consoles using different colors **and** it leaves the console in a bad state, affecting programs that run afterwards.

Note: The problem only occurs after some attempt is made to change the text color; programs that disp

[2015-07-06 17:42] tstellanova opened #425 "Sporadic SIGSEGV in src/unix/stream.c"
I can't provide a consistent repro case for this, but I've noticed that after some thousands of reads and writes to a TCP socket stream using libuv, I encounter a segmentation fault.  Here's the backtrace from gdb:

[code]

From what I can, the problem is in this line:
      uv_buf_t* buf = &(req->bufs[req->write_index]);

It looks like bufs is already null:
(gdb) p req-> bufs
$34 = (uv_buf_t *) 0

[2015-07-06 17:59] bnoordhuis commented on #425
What version of libuv is that?  Going by the line numbers, it's not the most recent release.

Can you try a debug build and post the output of `info locals` at the crash site?  Can you include the output of `print *req` as well?  Thanks.

[2015-07-06 18:06] tstellanova commented on #425
I believe we're running libuv 1.3 -- I'll investigate whether we can upgrade easily.

uv__write (stream=0x7fffb8000a90) at src/unix/stream.c:841
841	      size_t len = buf->len;
(gdb) info locals
buf = 0x10
len = <optimized out>
iov = 0x7fffc4000ee0
q = 0x7fffc4000eb8
req = 0x7fffc4000e60
iovcnt = <optimized out>
n = <optimized out>
__PRETTY_FUNCTION__ = "uv__write"

(gdb) print *req
$1 = {data =

[2015-07-06 19:23] bnoordhuis commented on #425
Libuv follows semver so an upgrade should be a drop-in replacement.

`req->write_index == req->nbufs == 1` might be indicative of a bug.  Is there anywhere in your application where you close one handle when another handle errors/eofs/etc.?  I wonder if the queue manipulation in `uv__run_pending()` is unsound.

[2015-07-06 19:45] tstellanova commented on #425
I updated to libuv 1.6.1,  saw the crash again.  Looks like the same basic issue (bufs is NULL)

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffc77fe700 (LWP 29192)]
uv__write (stream=0x7fffb0000a90) at src/unix/stream.c:853
853	      size_t len = buf->len;
(gdb) bt
#0  uv__write (stream=0x7fffb0000a90) at src/unix/stream.c:853
#1  0x00007ffff79af22b in uv_write2 (

[2015-07-07 07:50] saghul commented on #425
Quick sanity check: there is no chance you're reusing `uv_write_t` structures, is there?

[2015-07-07 08:50] deleisha commented on #423
Many a times. helgrind report false positive

[2015-07-07 10:30] lucab commented on #408
@bnoordhuis you are probably right, as the testcases don' t fail when run individually.

The default limits on mips machines I have access to are:
[code]

"pending signals" and "max user processes" are lower than on other arch, while all the others values are the same. I'm not root there, so I can't try increasing the limits.

[2015-07-07 10:57] IvanGoncharov opened #426 "uv_fs_scandir: support Unix specific files('.' and '..')"
I noticed that `.` and `..` deliberately exclude from scandir results:
https://github.com/libuv/libuv/blob/v1.x/src/unix/fs.c#L323

This cause problem in neovim/neovim/issues/2954
Could `uv_fs_scandir` be extended to support flag which enables listing of platform specific files?
This function already support [flags](https://github.com/libuv/libuv/blob/v1.x/include/uv.h#L1147) could it be used for

[2015-07-07 12:16] saghul commented on #426
I'm not sure why we have such a filter, maybe because Windows doesn't
include those? At any rate, I'm not opposed to having a flag (opt in,
keeping the default behavior as it is), but it needs to work on all
platforms :-)
On Jul 7, 2015 12:57, "Ivan Goncharov" <notifications@github.com> wrote:

[2015-07-07 12:34] tstellanova commented on #425
- it doesn't appear we're reusing write_t structures
- doesn't appear the stream has been disconnected by the other side before the crash (and none of the EOF / disconnect handlers are invoked)
- the crash typically appears 30-45 minutes after opening the stream and sending and receiving  about 10 small messages (<500 bytes ) per second; however it sometimes appears as soon as 30 seconds
- this co

[2015-07-07 13:26] lucab commented on #408
@bnoordhuis also, yes, you are correct that the pthread_create() in process_wait() is failing due to a mmap returning ENOMEM.

This is the strace:
[code]

However I'm a bit puzzled by this, as all the others mmap() before with same size didn't fail, and ENOMEM should be due to hitting RLIMIT_AS, which is unlimited for this process.

What am I missing?

[2015-07-07 13:26] saghul commented on #425
Ah, that's not right. None of the APIs are thread-safe unless stated
otherwise, so calling uv_write from outside the loop thread can lead to any
kind of failure.

   - it doesn't appear we're reusing write_t structures
   - doesn't appear the stream has been disconnected by the other side
   before the crash (and none of the EOF / disconnect handlers are invoked)
   - the crash typically appears 3

[2015-07-07 14:18] bnoordhuis commented on #408
It's probably address space fragmentation.  Does this patch help?

[code]

[2015-07-07 15:09] lucab commented on #408
Yes, it helps, all tests pass with your patch on the mips test machine I'm using. Let's keep this bug open while I push the patched package to all the autobuilders. I'll report back tomorrow if all builds are green.

Thanks for your assistance!

[2015-07-07 15:57] tstellanova commented on #425
Can you clarify this?

If you have one thread driving uv_run (which blocks in the default run mode), how should one then call uv_write?

[2015-07-07 16:08] saghul commented on #425
As a result of any other operation, such as a connection was made, data was received, a timer kicked in, etc.

None of the loop or handle APIs are thread-safe, the only exception is `uv_async_send`, which is used to trigger a callback in the loop thread by another thread: http://docs.libuv.org/en/v1.x/async.html?highlight=uv_async_send#c.uv_async_send

[2015-07-07 16:15] tstellanova commented on #425
Thanks for the clarification.

[2015-07-07 16:15] #425 closed

[2015-07-07 17:32] IvanGoncharov commented on #426
@saghul Do you mean that I should add `.` and `...` on Windows?

My idea was actually to have a flag something like `SHOW_PLATFORM_SPECIFIC_FILES`.
Which will disable filtering done by  `libuv`.
Windows code doesn't have such filtering, so I just need to implement it Unix code.
Is it right?

[2015-07-07 19:41] saghul commented on #426
I just did some git archeology. The current behavior has been consistent since before libuv even existed, because libeio does the same: https://github.com/libuv/libuv/blob/v0.6/src/unix/eio/eio.c#L1888

So, adding a flag now to introduce inconsistent behavior doesn't sound very appealing to me, to be honest.

[2015-07-07 20:37] IvanGoncharov commented on #426
IMHO, there are two different compatibility layers:
  1) scandir abstraction from OS level API
  2) file layout abstraction

Right now `uv_fs_scandir` provide both.
But some clients like `neovim`, want only first without the second.
So solution is to make second layer optional.

Does this sound reasonable?

[2015-07-07 20:41] IvanGoncharov commented on #426
It should be fairly typical scenario in which

[2015-07-07 20:53] bnoordhuis commented on #426
Not really, to be honest.  If you want `.` and `..`, why don't you add them to the results from `uv_fs_scandir()`?  The current behavior is deliberate and stable, you can rely on it staying the same.

[2015-07-07 21:55] saghul commented on #426
It's settled then. Closing since it wouldn't be an acceptable change, sorry.

[2015-07-07 21:55] #426 closed

[2015-07-07 22:29] IvanGoncharov commented on #426
It should be at least noted in documentation.
Because for me it was complete surprise.

[2015-07-07 22:37] saghul commented on #426
@IvanGoncharov sure thing: https://github.com/libuv/libuv/pull/427

[2015-07-07 22:54] IvanGoncharov commented on #426
Thanks.

[2015-07-08 09:47] bnoordhuis opened #428 "tty: flush on exit"
See https://github.com/nodejs/io.js/pull/1771 for background.  tl;dr non-blocking stdio sometimes loses messages at exit.

It would help if libuv had a way to flush pending stdio writes without processing other I/O.  Strawman:

[code]

Where `uv_tty_flush()`:

1. Scans for open `uv_tty_t` handles,
2. Switches them to blocking mode, and
3. Writes out the pending data.

Issues:

1. How to maintain o

[2015-07-08 19:22] lucab commented on #408
Built fine on mips/mipsel and everywhere else (almost, got a spurious failure on sparc, but looks unrelated). I think you can merge it and close this.

[2015-07-08 20:35] saghul commented on #409
It's happening! https://github.com/libuv/libuv-release-tool/commit/6efb6d9d7260fab271bff7e791cc4e73cb0b2e8f

[2015-07-08 21:15] vavrusa commented on #419
I just had a different idea, after mucking with predictor, in https://github.com/libuv/libuv/compare/v1.x...vavrusa:v1.x
* If the caller provides a buffer with requested size (max UDP datagram size), it uses `recvmsg()`
* If the caller provides a buffer with a *multiple* of requested size, `recvmmsg()` is used
* The asynchronous sends can be coalesced with `sendmmsg()`

So the caller decides about

[2015-07-08 21:53] saghul commented on #234
That. Some checking will be in order, just to verify the right amount of buffers was passed, but sounds like a good start.

Absolutely no worries! Thanks for volunteering to do the work, it may take a bit to review, so feel free to ping when you have something more. We'll get there!

[2015-07-09 11:33] heshamsafi commented on #234
oh i have a lot of stuff to show you.
i finished the linux implementation for all the functions uv_fs_{read\write\remove\list}_xattr, subclassed uv_buf_t to add a an error flag for each uv_buf_t, added some pointers in uv_fs_t encapsulated in a separate struct and added a new errno UV_ENODATA -> ENODATA.
should i send a PR ? not to pull it just yet, just so that you can see what i am doing.

[2015-07-09 21:24] lodejard commented on #415
Sure, working on that now. First doing some experimentation with RIO apis to make sure the thinking is based on reality.

[2015-07-09 23:46] martell commented on #246
@saghul have you looked further into this?
@txdv might know more as he is the author of the commit :)

[2015-07-10 03:28] piscisaureus commented on #424
PR: #431, fixed in 517ade8.

[2015-07-10 03:28] #424 closed

[2015-07-10 06:17] saghul commented on #246
I did review the code, but couldn't reproduce the issue.
On Jul 10, 2015 1:46 AM, "Martell Malone" <notifications@github.com> wrote:

[2015-07-10 06:22] martell commented on #246
So pipe_getsockname_blocking passes the testcase for you on windows?

It's broken for me using mingw-w64

[2015-07-10 07:14] saghul commented on #246
@martell it does pass using MSVC, didn't try with MinGW. The original report came from an issue seen in iojs, which is always compiled with MSVC.

[2015-07-11 16:08] martell commented on #246
@saghul I see :)
I'll continue the discussion over on #264 then as this is not known to be related :)

[2015-07-11 16:10] martell commented on #264
@saghul @txdv

I am one of the maintainers of msys2.
It essentially is a linux distro for windows
We use the arch linux package manager pacman

So I created a patch to revert that commit and it fixes the testcase but I think we need a proper fix
https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-libuv

Could you investigate ?

[2015-07-11 16:59] saghul commented on #264
I'm a msys2 user myself :-) I'll try to find some time to investigate.
On Jul 11, 2015 6:10 PM, "Martell Malone" <notifications@github.com> wrote:

[2015-07-13 08:35] #408 closed

[2015-07-13 11:45] sindresorhus opened #438 "Support `underline` ANSI escape on Windows"
This is important for consistency between Unix-based systems and Windows in CLI tools.

## Info

https://en.wikipedia.org/wiki/ANSI_escape_code

Windows does support underline using the [Windows-specific way of styling console text](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682088(v=vs.85).aspx#_win32_character_attributes): `COMMON_LVB_UNDERSCORE`

## Test case

[code]

## OS X

<

[2015-07-13 13:14] saghul commented on #438
I think this one should be an easy-ish fix. Magic should probably happen here: https://github.com/libuv/libuv/blob/v1.x/src/win/tty.c#L1238

[2015-07-13 13:22] sindresorhus opened #439 "Support `conceal` ANSI escape on Windows"
The `conceal` ANSI escape is used to visually hide the output while it still being there.

This is important for consistency between Unix-based systems and Windows in CLI tools.
## Info

https://en.wikipedia.org/wiki/ANSI_escape_code

Unfortunately, this one isn't supported by any Windows API afaik.

I was thinking that it might be possible to emulate it setting the text color to the default backg

[2015-07-13 13:23] saghul commented on #439
Then selecting it with the mouse would reveal it, right?

[2015-07-13 13:32] sindresorhus opened #440 "Support `dim` ANSI escape on Windows"
The `dim` ANSI escape (also known as `faint`) is used to dim the output. The inverse of `bright`.

This is important for consistency between Unix-based systems and Windows in CLI tools.
## Info

https://en.wikipedia.org/wiki/ANSI_escape_code

Unfortunately, this one isn't supported by any Windows API afaik.

I was thinking that it might be possible to just use a dimmer version of the existing fore

[2015-07-13 13:36] sindresorhus commented on #439
Yes, but I don't think that matters. On OS X, you can select and copy to get the value anyways, or disable colors in a colorizer like [chalk](https://github.com/chalk/chalk). So it's definitely not intended for sensitive stuff. I would use it to hide noisy info while still being there if you copy/redirect the output.

[2015-07-13 13:44] saghul commented on #439
I see. Then adjusting the color to match the one in the background would indeed work.

[2015-07-13 14:24] Qix- commented on #438
I'll snag these, along with #439 and #440; I added `[7m` and `[?25l`/`[?25h` a while back.

[2015-07-13 14:25] saghul commented on #438
@Qix- fantastic, thanks!

[2015-07-13 14:34] Qix- commented on #440
Skeptical on this. The only sequences that would *really* matter are gray and then already-bold (bright) colors.

- `[1;31;2m` -> `[31m`
- `[37;2m` -> `[30;1m` (potentially)
- `[91;2m` -> `[31m`

etc.

[2015-07-13 14:46] sindresorhus commented on #440
Not sure exactly what you mean, but it *dims* the color, not just making it gray:

<img width="225" alt="screen shot 2015-07-13 at 16 45 21" src="https://cloud.githubusercontent.com/assets/170270/8652362/975bc45a-297e-11e5-89a2-1eca3a350745.png">

[2015-07-13 14:55] Qix- commented on #440
@sindresorhus yes but on Windows there's no great way of doing it. The win32 API has R/G/B bits and then a bright bit. Dim would ultimately just have to bitwise-and-0 the bright bit, as that's really all you can do.

Although when it's `[37m` and dim is specified, we could alternatively do `[30;1m` which gives a "dim" default gray (since windows has black, dark-grey, grey, and then white). But tha

[2015-07-13 16:41] susie78 opened #442 "Susie"

[2015-07-13 16:42] #442 closed

[2015-07-13 17:45] sindresorhus commented on #440
Ah, nvm, I forgot Windows doesn't support more than 16 colors...

:+1:

[2015-07-13 18:12] Qix- commented on #440
@saghul, does that work?

[2015-07-13 18:22] saghul commented on #440
No objections from me. @piscisaureus WDYT?
On Jul 13, 2015 8:12 PM, "JD Ballard" <notifications@github.com> wrote:

[2015-07-13 18:36] Qix- commented on #439
Common misconception with conceal is that it has the effect that, say, typing a password into an SSH login prompt does. It doesn't. Terminals that emulate the conceal code this way are doing it incorrectly.

I'm speculating, but since the conceal escape seems to be historical, I would imagine copy/paste wasn't an issue on terminals that didn't have mice. The cursor position still advances, iirc. @

[2015-07-13 18:43] Qix- commented on #438
Just pointing out this is going to have *very little* support. [LVB flags](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682088(v=vs.85).aspx#_win32_character_attributes) in general aren't supported, and as far as I know are definitely not supported in the default command prompt.

[2015-07-13 18:43] piscisaureus commented on #440
Except for the 'grey' support, I don't see how this could be done on windows.
I have no objections otherwise.

[2015-07-13 18:46] Qix- commented on #440
@piscisaureus it'd only affect already-bold codes on windows. `\e[31;1;2m Regular red \e[22m Bold red \e[21m Back to regular red`.

[2015-07-13 19:02] piscisaureus commented on #440
go for it

[2015-07-14 09:46] jorrit opened #443 "Suggestion: write back value of UV_THREADPOOL_SIZE to env"
In the future the default or maximum value of `UV_THREADPOOL_SIZE` may change. I suggest writing the value that is used by the library to the environment or making it available in another way so user code can take this into account.

[2015-07-14 10:30] saghul commented on #443
Use code should not take this into account, it's an implementation detail. That said, the default will not change until we overhaul the threadpool or make it elastic (see open issues). What are you trying to accomplish?

[2015-07-14 10:39] jorrit commented on #443
Thanks for your response.

I was thinking about a solution for an issue with node-sass: sass/node-sass#857. It hits the limit of `UV_THREADPOOL_SIZE` in some cases, so the implementation detail is in fact becoming something that the programmers at the javascript level are going to make assumptions about and take into account in their code.

I can imagine JS code to limit itself based on the actual

[2015-07-14 12:43] bnoordhuis commented on #443
I imagine that once we have an elastic threadpool, libuv will grow APIs to set the min and max size at run-time and io.js / node.js will in turn expose that to JS land.

[2015-07-14 16:13] saghul commented on #443
Closing, @jorrit please feel free to leave a comment / track https://github.com/libuv/libuv/pull/382.

[2015-07-14 16:13] #443 closed

[2015-07-14 18:35] jorrit commented on #443
Alright, thanks!

[2015-07-15 08:22] saghul commented on #406
The API level in our build script was recently raised to 21, closing. If you need support for an API level < 21, a patch would be welcome :-)

[2015-07-15 08:22] #406 closed

[2015-07-17 15:59] kellabyte commented on #394
Is this the same issue as #325?

[2015-07-17 16:00] saghul commented on #394
@kellabyte I believe so. I'll leave it open just in case. The benchmarks are alas not in great shape... :-(

[2015-07-19 12:38] chenttuuvv opened #446 "[RFC]threadpool: send notify signal to consumer only when queue is empty"
In one of our server box, we notice that large amounts of cpu were consumed by libc function pthread_signal, which can be back traced to post()@threadpool.c. In order to make the producer/consumer implementation more symmetric, should we only send pthread signal to cosumer only when queue is empty? If yes, please let me send a PR.

[2015-07-20 08:00] saghul commented on #446
That would not work (unless you requrite how work is queued, that is). We use `uv_cond_signal` to signal worker threads that work has been added to the queue, and thus they can consume it.

That said, feel free to experiment and send a PR with your improvements, if they enhance the current behavior while keeping the semantincs. Thanks!

[2015-07-20 08:00] #446 closed

[2015-07-20 08:30] chenttuuvv commented on #446
worker wait for signal only when queue is empty, this mean we should send signal to them only when queue is empty, otherwise cpu cycle is wasted. Why this whould not work?

[2015-07-20 08:41] saghul commented on #446
Doh, my bad, I was reading the code wrong there, apologies. Looke like it could indeed be improved, since we do hold the global mutex in post, so we could signal the condition only if the queue was empty before we inserted the item. Feel free to send a PR and I'll look at it.

[2015-07-21 10:44] saghul commented on #420
No follow-up, closing.

[2015-07-21 10:44] #420 closed

[2015-07-23 08:30] drppublic opened #453 "Possible internel buffer reuse issue (or documentation ambiguity)"
Hi all,

I've created a small libuv tcp echo server ( http://pastebin.com/Hbd566Z2 ) by following libuv's documentation, but there appears to be a memory leak/mismanagement somewhere. I have read through the documentation of each callback method and I don't believe that I am the one incorrectly managing buffers (though this may be incorrect).

My simple test case is firing up telnet and typing in

[2015-07-23 10:56] drppublic commented on #453
The issue persists if I add in a free(buf->base) in the read callback when nread is 0 (simple memory leak). However, the issue appears to "go away" if I change the malloc in the uv_alloc_cb to a calloc. Further debugging shows that my malloc/calloc calls are almost invariably reallocating in approximately the same memory position. Which wouldn't be an issue except that the communication is not NUL

[2015-07-23 10:56] #453 closed

[2015-07-24 11:01] luckyjoou commented on #380
I am sorry that I have the same trouble, but I do not know how to do with `nslookup` or `dig` @@

[2015-07-25 01:58] bnoordhuis commented on #380
@luckyjoou `dig xyzzy.xyzzy.xyzzy` should print `status: NXDOMAIN` (among other things.)

[2015-07-25 16:43] jen20 opened #454 "Variable length array folded to constant array as an extension on OS X"
Building with Clang on OS X 10.10.4, gives the following warning about folding variable array lengths:

[code]

The version of Clang/LLVM in use is:

[code]

Is there any harm in muting this with appropriate compiler flags?

[2015-07-25 17:05] bnoordhuis commented on #454
The warnings are harmless.  It's an artifact of how CMSG_SPACE() is implemented on OS X.  The compiler is still smart enough to figure out that at the end of the day it's a constant expression.

[2015-07-26 08:08] luckyjoou commented on #380
Thanks a lot!

[2015-07-27 09:49] #454 closed

[2015-07-28 08:24] saghul opened #456 "Preparing the 1.7.0 release"
All the issues that were targetted at 1.7.0 have now been closed, and the only remaining items in the milestone are the ones that actually have to do with the release itself.

I plan to make the release either tonight or tomorrow night. If someone has any objection, please let me know!

/cc @bnoordhuis @piscisaureus @indutny

[2015-07-28 11:44] bnoordhuis commented on #456
No objections, go for it.

[2015-07-28 14:25] Tulrath opened #458 "uv_pipe_bind always fails with EACCESS on Windows 8.1"
It looks like the lpName parameter for CreateNamedPipe() specifically requires that the pipe name be in the format **"\\\\.\pipe\pipename"** (see https://msdn.microsoft.com/en-us/library/windows/desktop/aa365150(v=vs.85).aspx).  However, it doesn't appear as though this format is being detected or enforced in pipe.c.  This seems to create a "Catch-22."

When attempting to use "r = uv_pipe_bind(&se

[2015-07-28 14:28] saghul commented on #458
What do you expect libuv to do? I don't really understand the report. You can specify the pipe name you want, if it's bogus an error will be produced, as you can see. Same as if you try to bind to /path/that/does/not/exist on Unix.

Pipes on Windows are represented by those names, we cannot make them consistent.

[2015-07-28 14:41] Tulrath commented on #458
What this means is, as a developer, I have to do something like this:

#ifdef _WIN32
string pathname = "\\\\.\\pipe\\pipename"
#else
string pathname = "pipename"

...which sort of defeats the purpose of trying to build a cross-platform library.  Since you already are using separate implementations for Win/Unix, it Would Be Nice (tm) if on the Windows-side of the house, you checked to see if the pa

[2015-07-28 15:11] saghul commented on #458
Usually I would agree, but not on this one. Unix domain sockets and Windows named pipes are only equivalent up to a given extent. On Windows they live in some limbo, not the actual filesystem.

Now, I wouldn't object a patch which checks if the given name starts with the required prefix and fails with UV_EINVAL otherwise.

[2015-07-28 19:07] Qix- commented on #438
This is actually not possible - ever. [`COMMON_LVB_UNDERSCORE` is for CJK (chinese/japanese/korean) characters](http://www.siao2.com/2005/10/10/478911.aspx).

Sorry @sindresorhus :|

[2015-07-28 23:45] DamianEdwards opened #459 "vcbuild.bat doesn't work when run from a VS dev cmd prompt (VS2015)"
I'm running into an issue trying to build libuv from a VS2015 dev command prompt.

It seems that `vcbuild.bat` assumes that if the `WindowsSDKDir` env variable is set then it can skip straight to the `select-target` step. Doing that however results in the `GYP_MSVS_VERSION` env variable not being set. That then produces a VS2010 sln file, which won't build on a machine that doesn't have the VS2010

[2015-07-28 23:54] bnoordhuis commented on #459
I suspect it's at least in part a GYP problem.  It tries to auto-detect the MSVS version if GYP_MSVS_VERSION is not set but I don't think the heuristic for 2015 is fully baked yet.

[2015-07-29 09:03] yjhjstz opened #461 "considering linux native aio support"
Using `syscall` of `__NR_io_submit`, `__NR_io_getevents` etc, I make a patch that fs module support linux native aio.
After that, benchmark(using node.js/wrk) is below:
Before:
[code]
After
[code]
Max Latency　reduced 16%，tps improve 3%. So, why don't libuv support native aio?

test node.js script:
[code]

[2015-07-29 11:50] bnoordhuis commented on #461
This has been brought up many times in the past.  In short, native AIO is unreliable and has had many bugs in the past, probably still has.  Search the mailing list for more discussion in you are interested.

[2015-07-29 11:50] #461 closed

[2015-07-29 16:45] bnoordhuis opened #462 "linux: don't retry dup2/dup3 on EINTR?"
The dup2 and dup3 wrappers in src/unix/core.c retry on EINTR.

I think (but am not 100% positive) that's subject to a race condition: the EINTR may indicate that the implicit close() was interrupted by a signal.

On Linux, close() should not be retried after an EINTR because the file descriptor was closed, despite the error.  A retry either fails with EBADF or ends up closing the wrong file descri

[2015-07-29 18:21] richardlau opened #463 "test get-currentexe fails on AIX"
On v1.x the get-current-exe test fails on AIX:

[code]

It looks like it's failing in the [size=1](https://github.com/libuv/libuv/blob/v1.6.1/test/test-get-currentexe.c#L70) part of the test that was added by 885b1ecda0037fcb6647e8d69a914347ad884244.

I'm actually running these tests prior to submitting a pull request to address an issue with uv_execpath and relative paths on AIX. If I comment out

[2015-07-29 18:26] richardlau commented on #463
For completeness, without any modifications:

Absolute path to run-tests (assertion fails at same line as running run-tests in no argument/single argument case):
[code]

Relative path to run-tests:
[code]

Relative path to run-tests starting with single "./":
[code]

Relative path to run-tests with "../":
[code]

As before I'll look to address all of these.

[2015-07-30 01:31] yjhjstz commented on #461
thk!,  https://groups.google.com/forum/#!searchin/libuv/io_submit/libuv/vAJKp_pPrp8/aCbwK03ZjEAJ,

[2015-07-30 07:16] GayathriKaliyamoorthy opened #465 "deleting handle in uv_async_t leads to memory corruption in nodejs Addon."
I am writing a nodejs addon, where I generate events for main v8 thread, from the worker threads.
 I use uv_async handles to generate events. At the end I invoke uv_close to close handles. The close callback to uv_close deletes the handle. I observe a memory corruption when I delete the handle. If I do not delete it's a leak in the system. What is the correct way to generate async events and close

[2015-07-30 07:34] saghul commented on #465
The problem is that you are initializing the async handle from a work callback, here: https://github.com/aerospike/aerospike-client-nodejs/blob/80d423ff00dd7010a9038b754f386d777a0ed481/src/main/client/query_foreach.cc#L450 That is *not* thread-safe. The only thread-safe function is `uv_async_send`.

PS: for further questions please use our [mailing list](https://groups.google.com/forum/#!forum/lib

[2015-07-30 07:34] #465 closed

[2015-07-30 08:34] saghul commented on #462
Back in the day we switched from close() to uv__close just to retry on EINTR: https://github.com/libuv/libuv/commit/1028a9c6a75fde47b848c09c450fc066249fac1b Does the comment on that commit still stand or should we not retry on EINTR at all? (for close, at least).

Then uv__close morphed in this: https://github.com/libuv/libuv/commit/359d6678930fbb25e612d290a2ff5114e10eda6f which sanity-checks the

[2015-07-30 09:08] bnoordhuis commented on #462
1028a9c is incorrect depending on the platform: on Linux, the file descriptor is closed even on EINTR; other Unices have different behavior.

359d667 is correct in that it doesn't retry on EINTR.  Changing the return code to EINPROGRESS is for forward compatibility with the upcoming POSIX revision.  (We could change it to 0 is that's more convenient but it doesn't matter right now, I don't think t

[2015-07-30 09:15] saghul commented on #462
Yay consistency!

Ah, I see. There is one single place which checks for it, AFAIS: https://github.com/libuv/libuv/commit/359d6678930fbb25e612d290a2ff5114e10eda6f#diff-993e2d1f75ebf418adfbe81df8050a95R234

So I say go for it! Because you volunteered, right? :-)

[2015-07-30 21:51] fmsouza commented on #401
I had this same issue in my nodejs application while dealing with concurrent requests.
It happened in nodejs v0.12.7 inside a docker container, version  1.7.1, build 786b29d, installed on OS X 10.10.4.
My trace's last 100 lines are in http://pastebin.com/BUs2uTrB

Hope it can help you fix it.

[2015-07-31 00:02] btrask commented on #267
In the project I'm working on, I have my own thread pool and run libuv's fs ops in blocking mode (NULL callback). It would be nice to have an option to simply disable libuv's thread pool at compile time, and let the user do their own wrapping.

I'd also like to note that if the thread pool can be guaranteed to only be used from a single main thread, it can be implemented without locking. This guar

[2015-07-31 01:17] richardlau commented on #463
Fixed by #464.

[2015-07-31 01:17] #463 closed

[2015-07-31 07:07] saghul commented on #267
Do you have any API suggestion? Running blocking fs operations in a thread is actually not safe, because the request is added to the loop active requests queue, which is not thread-safe.

Ben has another PR (#382) where a runtime setting would disable the threadpool, would that work for you?

Any project which uses more than one loop and runs dns or fs operations already takes advantage of it, we

[2015-07-31 11:17] sindresorhus commented on #438
:(

[2015-07-31 11:17] #438 closed

[2015-07-31 14:49] saghul commented on #456
In case anyone is wondering why this hasn't happened yet... life got in between :-S Next week it is!

[2015-07-31 19:54] indutny commented on #456
No objections from me either ;)

[2015-07-31 23:17] btrask commented on #267
Thanks for the quick response!

Well, I'm thinking of a compile time flag, like `./configure --disable-threadpool` or something. However, this isn't really that big of a deal to me.

More importantly, last I checked `uv_getaddrinfo` doesn't work in non-blocking mode (with NULL callback). Currently I need to use the libuv thread pool in order to run that one function. I can open a separate issue fo

[2015-07-31 23:27] btrask opened #468 "Run loop stopping early due to streams regression"
I recently updated the version of libuv my application is using and immediately noticed it was unexpectedly quitting. I used git bisect to trace the problem to commit 05a003a3f78d07185b7137601fe8e93561855a8d. I'm not sure why but setting `stream->flags |= UV_STREAM_DISCONNECT` causes the run loop to think there are no ref'd handles left.

The only thing that _should_ be ref'd in my application is

[2015-08-01 13:43] saghul commented on #267
I don't like the idea of disabling features at compile time, then we'd need to add a way to know if it has been done, and so on. A runtime setting should do.

Not anymore! :-) https://github.com/libuv/libuv/commit/f2bb8d394c06d06ee45e884600466321455751b6

No, there isn't. I *think* we should be able to fix this without much trouble, can you please open an issue?

The story with AIO is not pretty,

[2015-08-01 13:49] saghul commented on #468
Is your read callback executed with an error status? Any chance you can write a libuv test case exhibiting the problem?

[2015-08-01 21:50] btrask opened #469 "Synchronous APIs should be completely stand-alone"
I was told in #267 that synchronous APIs (like file system calls with NULL specified as the callback) aren't thread-safe because they touch the uv run loop. This isn't a problem for me personally, because I create a separate run loop for each thread, but fixing it might give libuv a bit more flexibility. I haven't noticed any performance impact, if there is one.

[2015-08-01 22:05] btrask commented on #267
It can already be disabled at runtime by using `putenv("UV_THREADPOOL_SIZE=0")`, can't it? I don't think anything more complicated is necessary, and there isn't much advantage anyway.

Great news, thanks.

I created an issue, #469.

Yeah, I know. I use an approach I call "big workers" where I switch to the thread pool to do I/O and then stay there as long as possible before switching back. This di

[2015-08-01 22:07] btrask commented on #468
I don't believe it is, but I'd double check. Even so, there's no reason for the run loop to stop.

I'll look into writing a test case. Thanks.

[2015-08-03 07:25] saghul commented on #468
A bound socket doesn't keep the loop alive because it's not active, a listening socket is active and keeps the loop alive, though. And if a socket gets a read error it becomes inactive, so it also doesn't prevent the loop from exiting.

http://docs.libuv.org/en/v1.x/handle.html?highlight=active#c.uv_is_active

[2015-08-03 22:49] btrask commented on #468
Sorry, you're right, the socket is bound and listening. The same application was working up until that commit, so I don't think I'm doing anything wrong, although I might be. I haven't had a chance to put together a test case yet.

[2015-08-05 02:28] cynron commented on #401
@fmsouza  more strace logs,  200 or 300 lines?

[2015-08-05 12:48] amitg2291632 commented on #406
how to change this API version ?

[2015-08-05 13:59] saghul commented on #406
No idea, you need to do that in your Android project's settings somewhere...

[2015-08-06 15:30] saghul commented on #409
Done!

[2015-08-06 15:30] #409 closed

[2015-08-06 15:30] saghul commented on #456
Done!

[2015-08-06 15:30] #456 closed

[2015-08-06 17:23] lucab commented on #409
That's great, thanks a lot. I'm pushing signature verification into our packaging updating process. Just as a sidenote, you may want to start using [longer GPG ID](https://evil32.com/) in the MAINTAINERS.md instructions.

[2015-08-06 20:38] btrask commented on #468
I created a test case: https://gist.github.com/btrask/d3a2e5629ccf49706fe0

It behaves as I originally described. It's triggered by the combination of `uv_unref` and `UV_STREAM_DISCONNECT`.

[2015-08-06 21:30] csnover opened #471 "EOL conversion code causes incorrect behaviour of \r (carriage return) on Windows"
The code at https://github.com/libuv/libuv/blob/v1.x/src/win/tty.c#L1883-L1900 outputs `\r\n` whenever a `\r` (CR) or `\n` (LF) is seen in the character stream. This is OK for LF, which effectively includes an implicit CR on \*nix systems. However, on *all* supported OS (including Windows), CR returns to the start of the line *without* a corresponding line feed, and libuv is breaking this. (Refs t

[2015-08-07 07:33] saghul commented on #409
@lucab thanks for the heads up, fixed in 9daef1c

[2015-08-07 07:47] lucab opened #473 "[v1.x] testsuite regression/failure (fs_write_alotof_bufs*) on hppa,mips,powerpc"
PR  #448 introduced two new tests (fs_write_alotof_bufs*) in 2bf782777fc5908b7cf13ecb61f117af8c45b9f9. Both tests are currently failing on debian autobuilders for mips and powerpc architectures:
 * https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=mips&ver=1.7.0-1&stamp=1438902052
 * https://buildd.debian.org/status/fetch.php?pkg=libuv1&arch=powerpc&ver=1.7.0-1&stamp=1438901127

[code]

I

[2015-08-07 08:43] saghul commented on #468
@btrask can you try the patch in #474 ? It fixes the problem for me.

[2015-08-07 12:04] ronkorving commented on #473
The new iovmax is actually not really new. It was simply moved from stream to core, so your hunch about typecasting may be more in the right direction.

[2015-08-07 12:22] saghul commented on #468
We reverted that in https://github.com/libuv/libuv/pull/475#issuecomment-128684848

[2015-08-07 12:22] #468 closed

[2015-08-08 07:39] bwijen commented on #473
As seen in the logs, the reads fail, not the writes.
That would suggest it's not a problem with typecasting, but with the actual read, since the assertions are equal in the first test.

I will try to reproduce (on an emulator) there might be a problem with partial read/writes as @bnoordhuis has [already pointed out](https://github.com/libuv/libuv/pull/269#discussion_r28131975). If so, I have a sol

[2015-08-08 14:33] lucab commented on #473
@bwijen the build enviroment is a plain debian unstable; both mips and powerpc ports should be supported by qemu. Otherwise there is [a process to provide guest access to porterbox](https://dsa.debian.org/doc/guest-account/), but it might be a bit cumbersome.

[2015-08-08 14:45] bwijen commented on #473
Currently setting up a ppc through qemu...

[2015-08-09 00:36] saghul commented on #473
@bwijen thanks for the help!

[2015-08-11 05:08] whitlockjc commented on #30
I just started looking into this and I was able to reproduce the flaky test failure on OS X but the failure is slightly different, but similar enough to report here.  I am on OS X 10.10.4  and I ran the test suite a handful of times without a test failure.  Then ran it a sixth time and `fs_event_watch_dir_recursive` failed.  As I look into this, I will update you with anything I find.

[2015-08-11 05:11] iankronquist commented on #30
@whitlockjc Good luck! Some people think it's a race condition.

[2015-08-11 05:15] whitlockjc commented on #30
Can someone apply the `osx` label?  Also, what are the chances of getting a `flaky-test` label like in [nodejs/labels/flaky-test](https://github.com/joyent/node/labels/flaky-test)?

[2015-08-11 06:07] saghul commented on #30
@whitlockjc Thanks for looking into this! I applied to "osx" label. We don't use "flaky-test" in libuv,it either passes, or it's a bug, like in this case :-)

[2015-08-11 14:46] whitlockjc commented on #30
Works for me.

[2015-08-12 05:41] bwijen commented on #473
Update:
Found it, turned out I was looking in the wrong place...
The problem isn't in #448, but was introduced with: 13dd350
I already have a solution, but it needs some implementing and testing.

[2015-08-12 05:55] ronkorving commented on #473
Wow, awesome job!
Good luck!

[2015-08-14 00:36] whitlockjc commented on #30
Well, I've got some good news, I've figured out the cause of the race condition.  `fs_event_watch_dir` uses `fs_event_create_files` to create some files, which drives the tests, and then schedules a timer to cleanup after itself.  What can happen is you can end up with the cleanup callback *(`fs_event_unlink_files`)* running prior to all of the `fs_event` handler callbacks *(as a result of the fil

[2015-08-14 08:17] saghul commented on #30
How is this possible, if removing the files always happens 50ms after they where all created? I guess it's possible that if you create a file and remove it in less than 50ms you lose the event?

For this particular test, maybe we shouldn't have `fs_event_unlink_files` create more files after they have been removed.

Sounds like a plan! Thanks a lot for your help tracking this down!

[2015-08-14 15:39] whitlockjc commented on #30
No problem.  As for your first question, you're right.  What would happen is we'd create a file and remove it within 50ms and then we'd recreate it so the original handle was still open.  It took a lot of debugging to find this but that's definitely the situation I was able to reproduce.

[2015-08-14 15:53] saghul commented on #30
Good to know! Please add a note about this to the documentation when you
make the patch. Thanks!

On Fri, Aug 14, 2015 at 5:39 PM, Jeremy Whitlock <notifications@github.com>
wrote:

--
/Saúl
bettercallsaghul.com

[2015-08-14 19:09] whitlockjc commented on #30
I've got a PR ready.  What should the subsystem be?  I'd figure `tests` since I'm only changing the tests but since this is related to `fs` events, it could be `fs` as well.  Also, what documentation are you referring to?

[2015-08-15 10:11] saghul commented on #30
"test,fs" will do.
On Aug 14, 2015 21:09, "Jeremy Whitlock" <notifications@github.com> wrote:

[2015-08-18 13:41] bnoordhuis commented on #469
Fixed by df62b54, will be part of the next release.

[2015-08-18 13:41] #469 closed

[2015-08-18 21:29] brimworks opened #485 "Second uv_pipe_accept() returns EBADF on Windows"
Originally I filed this bug with the luvit team:

https://github.com/luvit/luv/issues/177

...but I have tracked the bug down to libuv. To reproduce this issue you can grab the luvi source code and build it (on Windows) as such:

[code]

That will produce a binary in ```build\Release\luvi.exe```. If you download this minimal code snippet you can reproduce the error:

https://gist.github.com/brimwo

[2015-08-18 21:47] whitlockjc commented on #128
I have fixed `fs_event_watch_dir` on FreeBSD 10 in #480.  Once it gets merged, I will update this issue so we can check it off the list.

[2015-08-18 22:51] whitlockjc commented on #35
FreeBSD 10.2.0 does not have this problem.  I'm currently downloading FreeBSD 11.0-CURRENT and will update when I run the latest test suite.

[2015-08-18 23:15] whitlockjc commented on #35
I do not see any `barrier_*` tests failing on FreeBSD 11.0-CURRENT and #128 is currently keeping track of the failures for FreeBSD in general.  While not my decision, I think this could be closed.

[2015-08-18 23:18] whitlockjc commented on #128
I'm also seeing `spawn_setgid_fails` failing on FreeBSD 10.2.0 and 11.0-CURRENT.

[2015-08-18 23:39] btrask commented on #469
Great, thanks!

[2015-08-19 07:29] saghul commented on #35
Tentatively closing then, thanks!

[2015-08-19 07:29] #35 closed

[2015-08-19 15:51] whitlockjc commented on #289
I'm running OS X so I'll give this a quick test and update you.

[2015-08-19 16:06] whitlockjc commented on #289
When I run the `tarruda/neovim` test suite (`make cmake && make test`)*, I get:

[code]

Here is the patch I used for `tarruda/neovim` to build with a version of `libuv` that has #365's fix in it:

[code]

I hope this helps.

[2015-08-19 16:07] whitlockjc commented on #232
`fs_event_watch_dir` should be fixed when #480 is merged.

[2015-08-19 16:57] tarruda commented on #289
@whitlockjc I think you used a very old branch(I don't make any effort to keep tarruda/neovim master branch in sync with neovim/neovim), but thanks anyway.

In any case, I have setup a mavericks VM and will try to test this later today.

[2015-08-19 17:01] whitlockjc commented on #289
I'll try another branch, that was just the link in the original issue.  I'll update you shortly.

[2015-08-19 17:14] whitlockjc commented on #289
Okay, building/testing `neovim/neovim` with `libuv@v1.7.0` results in this appearing to be fixed:

[code]

I used `make && make test` to perform the build/test and here is the patch I used to test this:

[code]

[2015-08-19 17:33] tarruda commented on #289
@whitlockjc there's one more thing: You need to reactivate the libuv signal watcher in the tty test program. The master version switched to `sigaction` to work around the problem so the tests will always pass on OSX. This patch should do it:

[code]

Since you seem interested in helping, here's what you could do:

1 - Apply this patch without upgrading libuv version(rm -rf .deps to reinstall depen

[2015-08-19 17:50] whitlockjc commented on #289
Sounds like a plan.  I'll update you when I get this tested.  *(Should be by EOD)*

[2015-08-19 18:07] whitlockjc commented on #289
So, with your patch in place to activate using libuv, the test suite failed every time I ran it.  With my patch in place to upgrade libuv to `v1.7.0` which includes the fix @saghul referenced in #365, the test suite runs without failure: `549 successes / 0 failures / 0 errors / 5 pending : 4.824798 seconds`.

[2015-08-19 18:29] tarruda commented on #289
@whitlockjc thanks for your help!

@saghul closing as the issue has been fixed.

[2015-08-19 18:29] #289 closed

[2015-08-19 18:32] whitlockjc commented on #289
@tarruda Feel free to reopen if you find otherwise.  I'll be glad to help.

[2015-08-19 19:59] bwijen commented on #473
Please ignore those commits, these are for testing only.
I will create a pull request if everything is fine...

[2015-08-19 20:12] saghul commented on #289
Thanks for the confirmation folks! :heart_eyes:

[2015-08-19 20:15] saghul commented on #30
Fixed by #480.

[2015-08-19 20:15] #30 closed

[2015-08-19 20:18] saghul commented on #232
@DBarney any chance you can update with a more recent run? I know the build is not green, but we're almost there! :-)

[2015-08-19 20:20] saghul commented on #128
@whitlockjc did you run the tests as root by any chance? That test is quite sensible to the location of the test runner.

[2015-08-19 20:23] stevengj commented on #322
In case it is helpful, here is a Windows equivalent of `mktemp` (from JuliaLang/julia#12699):
[code]

[2015-08-19 20:24] saghul commented on #471
Continues in #472

[2015-08-19 20:24] #471 closed

[2015-08-19 20:25] saghul commented on #322
@stevengj Thanks! Any chance you can submit it as a Pull Request, with a test or two? :-)

[2015-08-19 20:28] stevengj commented on #322
Is there a Windows equivalent of `mkstemp`, i.e. which "atomically" picks a filename, creates it, and returns the open file descriptor?  I guess [GetTempFileNameW](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364991(v=vs.85).aspx) actually creates the file too, although it closes it, but it is not quite the same in semantics to `mkstemp` as far as the filename is concerned.

[2015-08-19 20:29] stevengj commented on #322
@saghul, one difficulty is that I don't actually use Windows, and I only program for Windows via cross-compilation.   I tested my Julia code cited above via AppVeyor, but it doesn't look like you are using AppVeyor/Travis CI with libuv, which makes me a little nervous about submitting a PR.

[2015-08-19 20:30] whitlockjc commented on #128
Nope, ran as a regular user.

[2015-08-19 20:41] saghul commented on #128
What directory? Does Mr. "nobody" have access to it? IIRC we setuid/setgid to that, which can cause trouble in some setups.

[2015-08-19 21:02] whitlockjc commented on #128
`/home/notyou/libuv`  Chances are good that `nobody` does not have access to that directory but this test runs fine on CentOS/OSX/SmartOS/... without that requirement too.

[2015-08-19 21:11] saghul commented on #322
Not that I'm aware of. We probably have to manually do it, like `uv_fs_mkdtemp`.

We do have a Jenkins CI, which I can trigger so the Windows part will be tested, don't worry :-)

[2015-08-19 22:56] csnover commented on #471
@saghul What does that mean? Why is this closed? This bug still exists.

[2015-08-19 23:37] saghul commented on #471
Since you opened the issue and then made a fix for it, let's continue the discussion over at #472, where we have some code to talk about :-)

[2015-08-20 02:28] stevengj commented on #322
(I really like seeing automated multi-platform test results for every PR; you should think about setting it up.)

[2015-08-20 07:07] saghul commented on #322
We are using the infrastructure provided by Node, which is being worked on right now, so we should eventually have it.

[2015-08-20 13:05] flowlo commented on #322
@stevengj Yup, the two Windows APIs mentioned so far are not a suitable alternative to `mkstemp`.

Just compare those portions:

vs

vs

Also, I checked [StackOverflow](http://stackoverflow.com/questions/6036227/), where a found [this bug at MinGW](http://sourceforge.net/p/mingw/bugs/2003/) that might help. Also, `uv_fs_mkdtemp` and [`fs__mkdtemp`](https://github.com/libuv/libuv/blob/df62b54aa2b3d

[2015-08-20 14:10] stevengj commented on #322
Although `mktemp` is easier to implement, it's not clear to me that libuv should provide this; it seems better to provide only `uv_fs_mkstemp`, assuming one can be implemented (perhaps along the lines of the MinGW patch @flowlo linked).   Given a working `mkstemp`, is there any need for `mktemp`?

[2015-08-20 15:21] saghul commented on #322
@stevengj Indeed, we'd want mkstemp.

[2015-08-20 19:28] sam-github commented on #322
@orangemocha do you have an opinion on best way to implement a `mkstemp()` equivalent on Windows?

[2015-08-20 19:41] benaadams opened #489 "Enable Fast TCP Loopback on Win"
For versions greater than or equal to Windows Server 2012 and Windows 8 enable Fast TCP Loopback on all sockets. This provides a x1.5 speed improvement for 127.0.0.1/localhost use

http://blogs.technet.com/b/wincat/archive/2012/12/05/fast-tcp-loopback-performance-and-low-latency-with-windows-server-2012-tcp-loopback-fast-path.aspx

Example code given:

[code]

[2015-08-21 01:33] orangemocha commented on #322
The closest thing in Windows would be GetTempFileNameW, but it doesn't support the same template semantics. If you absolutely wanted those, I am afraid you'd have to re-implement it from scratch.

Just an idea: you could define an API that has less strict expectations on the name of the resulting file, leaving more flexibility for the implementation. It could take a prefix, but not a full template

[2015-08-21 05:36] sam-github commented on #322
I like that, there is nothing so great about having to put the `XXXXXX` in exactly as it is done in `mkstemp()`. Can you point at the docs for `GetTempFileName()`?

[2015-08-21 08:27] saghul commented on #322
We have aligned ourselves with the Unix side in the past (in the fs APIs), and we kinda already have the bulk of the work in here: https://github.com/libuv/libuv/blob/v1.x/src/win/fs.c#L753 I'd go with reimplementing `mkstemp`.

[2015-08-21 09:25] orangemocha commented on #322
@sam-github : https://msdn.microsoft.com/en-us/library/windows/desktop/aa364991(v=vs.85).aspx

[2015-08-23 12:40] lucab commented on #473
@bwijen I did a quick try of your current patch on both ports, and it looks like it fixes `fs_write_alotof_bufs` while `fs_write_alotof_bufs_with_offset` still fails.

[2015-08-23 20:02] bwijen commented on #473
@lucab You're right... The patch only fixes the fs_write_alotof_bufs, still working on a fix for the other test.

[2015-08-24 21:21] #485 closed

[2015-08-26 00:08] danielbprice commented on #428
@Fishrock123 I really hope you are able to land your fix for this.  The behavior clearly violates the documentation, and also common sense and common practice.  Invoking process.exit() is not exiting early or improperly.  The issue is that the stream should be synchronous in the event that it's a TTY and it isn't.  We found this after our upgrade from node 0.10 (where this worked properly) to 0.12

[2015-08-26 00:21] csnover commented on #471
What discussion?

[2015-08-26 09:06] saghul commented on #471
Your PR is open and pending review, once someone with knowledge and time reviews it we can move forward.

[2015-08-26 09:43] saghul commented on #428
Sorry for the delay, Ben.  My first hunch here would be to leave it up to to the application to handle it. What would we miss if we do it outside of libuv?

[2015-08-26 09:52] saghul commented on #25
What @piscisaureus said. Closing.

[2015-08-26 09:52] #25 closed

[2015-08-26 11:10] pmq20 opened #491 "Feature Request: need actual idle handles"
`libuv` already have handles for false "idleness", i.e. uv_idle_t:

But we need an "actual idleness" for https://github.com/nodejs/node/issues/2543

Actual Idle handles will run the given callback when the loop iteration satisfies both of the following conditions:

1) when there are no timers or all timers have yet not expired, i.e. when the loop is waiting for timers to expire
2) when there are n

[2015-08-26 11:38] saghul commented on #491
When both of those conditions are satisfied the loop will block for i/o for the calculated timeout. How about using a `uv_prepare_t` handle, which runs right before polling for i/o and calling `uv_backend_timeout` there? If the returned value is != 0 it means the loop is about to block for the given amount of time, thus we could say it's "idle".

[2015-08-26 12:42] bnoordhuis commented on #491
I commented on the node issue [here](https://github.com/nodejs/node/issues/2543#issuecomment-134945335) but to recap: I don't think libuv's continuous event loop model allows for a useful definition of "idle" outside of the "waiting for timers and only timers to expire" scenario.  As soon as I/O is involved, there are no longer predictable quanta of time; a quiescent period can end at any time.

[2015-08-26 12:56] zhaozg opened #492 "Strange state about uv_queue_work ."
The load passed by uv_queue_work will assign to echo thread balancely, but when I give more press will change to only one thread works, and other not fetch task from queue.

how about this.
![Uploading 1.png…]()

![Uploading 2.png…]()

[2015-08-26 13:04] #492 closed

[2015-08-26 13:21] saghul commented on #491
@bnoordhuis Agreed. Feel free to close.

[2015-08-26 13:31] #491 closed

[2015-08-26 13:33] bnoordhuis commented on #492
By the sound of it you've hit #490?  A fix for that will be in the next patch release.

[2015-08-26 13:48] zhaozg commented on #492
@bnoordhuis thanks, update static void post(QUEUE* q) will solve the problem.

[2015-08-26 14:41] JacksonTian commented on #25
Thanks.

[2015-08-26 20:30] bnoordhuis commented on #492
Fixed by da42780.

[2015-08-26 20:44] Tulrath opened #494 "uv_spawn_error: operation not supported on socket"
After upgrading to electron-prebuilt 0.31.0, I started receiving the error "uv_spawn_error: operation not supported on socket" when trying to execute a uv_spawn() command.  This code functioned correctly before the electron-prebuilt update (PATHMAX is a #define to help support cross-platform, pid is set correctly higher in the script, and installerPath32 is getting set correctly in the GetInstalle

[2015-08-26 21:42] btrask opened #495 "Non-obvious handling of EAGAIN in uv_read_cb"
With `read(2)`, EOF is indicated by a read length of 0, and `EAGAIN` is set in `errno`.

In libuv, `uv_read_cb` indicates EOF with the `UV_EOF` error, and `EAGAIN` with a read length of 0.

I definitely see an argument for doing it libuv's way, but this can be a gotcha for careless libuv users (like myself!). I was handling `UV_EOF` but not zero-length reads, which were getting interpreted as EOF

[2015-08-26 21:49] saghul commented on #495
Mind sending a documentation PR?

That's not happening. We now have the API docs in docs/. We used to have them in uv.h but they rot with time.

[2015-08-26 21:53] btrask commented on #495
Okay, I will write something up. Thanks.

[2015-08-27 00:00] bnoordhuis commented on #494
What version of libuv is that and what did you use before?

[2015-08-27 14:18] Tulrath commented on #494
Sorry for being such a newbie, but could you tell me how to display the libuv version (Google failed me for this information)

[2015-08-27 14:44] saghul commented on #494
@Tulrath http://docs.libuv.org/en/latest/version.html?highlight=version

[2015-08-27 14:50] Tulrath commented on #494
So... I need to write and run a javascript program to display the libuv version?  Is that correct?

[2015-08-27 14:52] cjihrig commented on #494
If you're using JavaScript (node.js), you should be able to just echo `process.versions`.

[2015-08-27 15:01] Tulrath commented on #494
Looks like it's libuv 1.6.1

Here's how I got the information (not sure if this is the correct information?):

cat  ~/.electron-gyp/.node-gyp/0.31.0/deps/uv/include/uv-version.h

[code]

[2015-08-27 15:32] bnoordhuis commented on #494
There have been quite a few fixes since v1.6.1 so my first suggestion would be to upgrade the embedded libuv and try again.

[2015-08-27 23:29] stevemao commented on #438
#439 and #440 are also not possible?

[2015-08-28 04:01] Qix- commented on #438
@stevemao #439 is, #440 is kinda useless, but it is.

[2015-08-28 14:12] flyover commented on #406
In android-21, armeabi no longer builds because support for __ARM_ARCH__ < 6 has been removed from in platforms/android-21/arch-arm/usr/include/machine/cpu-features.h.

@amitg2291632 In Application.mk, change APP_PLATFORM to android-21.

[2015-08-29 14:26] jorangreef opened #499 "Add btime argument to utimes for OS X and Windows"
From: https://github.com/nodejs/node/issues/2600

Libuv exposes a file's birthtime but provides no way to set the btime on platforms which support it.

Setting the btime where supported by the file system, is especially important for backup programs which need to be able to restore a file's creation time. On platforms which don't support btime, then a no-op is fine and is to be expected by the use

[2015-09-01 01:51] NanXiao opened #501 "“make test” failed on RHEL 7.0"
Use the newest `v1.x` branch, and “`make test`” failed on `RHEL 7.0`:

[code]

EDIT: showing a non-root run.

[2015-09-01 06:40] saghul commented on #501
Tests must not be run as root.
On Sep 1, 2015 3:51 AM, "Nan Xiao" <notifications@github.com> wrote:

[2015-09-01 06:41] yjhjstz opened #502 "why timer callback don't use "uv_queue_work"?"
Now, timer callbacks are called in sequence. One timer may blocked by another timer.
[code]
I think ,  to use `uv_queue_work ` to make it async may improve performance.

[2015-09-01 07:15] saghul commented on #502
No it won't. `uv_queue_work` runs in the threadpool, and timer callbacks run in the loop thread. That code you pasted just runs the expired timers.

PS: Please use the mailing list for questions.

[2015-09-01 07:15] #502 closed

[2015-09-01 07:16] NanXiao commented on #501
@saghul : Oh! Why?

[2015-09-01 07:19] saghul commented on #501
Because some tests drop privileges. Run them again with a clean slate and lets un know if you un into issues. Thanks!

[2015-09-01 08:25] NanXiao commented on #501
@saghul:  When not root user, the test still failed:

	[nan@localhost libuv]$ make check
	make  test/run-tests
	make[1]: Entering directory `/home/nan/libuv'
	  CC       test/test_run_tests-blackhole-server.o
	  CC       test/test_run_tests-dns-server.o
	  CC       test/test_run_tests-echo-server.o
	  CC       test/test_run_tests-run-tests.o
	  CC       test/test_run_tests-runner.o
	  CC       tes

[2015-09-01 15:07] whitlockjc commented on #499
I wouldn't mind doing the work for this but I'll wait for @saghul, @misterdjules and/or others to chime in before hand.

[2015-09-01 15:23] saghul commented on #499
I'd like to see an API proposal at the libuv level. Right now all uv_fs_ apis match to their libc equivalents, but there is no consistent name for this one, since each platform does its own thing. Also extending uv_fs_utimes is not an option in v1.x because it would break the API.

[2015-09-01 15:28] whitlockjc commented on #499
Makes sense.  Let me give this some thought and I'll get back to you.  If you have any suggestions, please share.

[2015-09-02 20:51] whitlockjc commented on #501
I can confirm this issue.  I built without a privileged user on CentOS 7, RHEL 7 equivalent, and the same tests fail:

[code]

I'll take a peek.

[2015-09-02 20:59] santigimeno commented on #128
I've been looking into the failures in `ipc_listen_before_write` and `ipc_listen_after_write` and the failures are caused by the particular behavior of `connect` in `FreeBSD`. Apparently in `FreeBSD` if `connect` is called and the queue of pending connections(`backlog`) is full, the call is automatically rejected with `ECONNRESET`. In the tests, `100` connections are tried and the backlog of both

[2015-09-02 21:08] saghul commented on #128
@santigimeno Thanks for looking into this! How about a combination of the last 2?

[2015-09-02 21:19] whitlockjc commented on #128
I think anything that could potentially require the user to change their environment to make the tests pass seems like more work, and it could possibly be obtrusive.  So number 3 to me does not seem ideal but I'm sure it could work along with some better test failure messages.  Number 2 seems ideal to me but I'm sure there is a fine line between testing with enough connections and not testing with

[2015-09-02 21:28] santigimeno commented on #128
@whitlockjc probably I'm missing something but what do you mean by "require the user to change their environment"? Is there anything in some of the proposed changes that provokes it?

[2015-09-02 21:31] saghul commented on #128
@whitlockjc The backlog refers to the parameter passed to `uv_listen`, if I'm understanding what @santigimeno means here, so there would be no need for adjusting the environment.

[2015-09-02 21:32] santigimeno commented on #128
Yes that's correct.

[2015-09-02 21:36] santigimeno commented on #128
BTW, I fail to understand why so many connections are needed in the tests. Any idea?

[2015-09-02 21:37] saghul commented on #128
@santigimeno TBH I don't know either. We should be fine with less of them too.

[2015-09-02 22:05] santigimeno commented on #128
PR:  https://github.com/libuv/libuv/pull/504

[2015-09-02 22:13] whitlockjc commented on #128
I'm an idiot, I crossed my wires.  Sorry for the noise.

[2015-09-02 22:24] saghul commented on #128
@whitlockjc no worries!

Since we're here, there is a failure which I could ever only see inside Jenkins:

[code]

Other tests fail for the same reason. I could never replicate it locally, even with the same version of FreeBSD. Any ideas anyone?

[2015-09-02 22:36] mad-rain opened #505 "Assert in Windows implementation of pipes"
Hi!

I'm getting assertion failed in the following line when doing multiple writes to an IPC pipe on Windows:

https://github.com/libuv/libuv/blob/v1.x/src/win/pipe.c#L1637

It looks like here should be *min(buf.len, avail)* instead of *buf.len*:

https://github.com/libuv/libuv/blob/v1.x/src/win/pipe.c#L1632

Also there is a problem with uv_run, doesn't stop by itself when an IPC pipe was created

[2015-09-02 22:40] whitlockjc commented on #501
`fs_async_dir` and `fs_symlink_dir` are returning `UV_DIRENT_UNKNOWN` instead of `UV_DIRENT_FILE`.  I'm trying to see now if that is on purpose or not.  I'll look into `fs_access` after I figure the other two out since they seem to be related.

[2015-09-02 22:44] saghul commented on #501
What filesystem is that?

[2015-09-02 22:48] whitlockjc commented on #501
xfs

[2015-09-02 22:51] saghul commented on #501
It's not supported on XFS:

[code]

http://linux.die.net/man/2/getdents

[2015-09-02 22:52] whitlockjc commented on #501
Yup, I found the same results.  So...do you mind the test checking for both?  If so, I'll submit a PR.

[2015-09-02 22:54] saghul commented on #501
Hum. I added stricter checks because a bug went unnoticed on Windows because of it. I think I'd be ok with a PR which checks for both on Unices.

[2015-09-02 22:56] whitlockjc commented on #501
That would work.  It would be slick if we could have `HAVE_DIRENT_TYPES` set better such that it is known at test runtime if it should do the proper check or not because like Windows, I can see this allowing bugs to escape.

[2015-09-02 22:57] whitlockjc commented on #501
#296 ring a bell?

[2015-09-02 22:58] saghul commented on #501
The problem is that even if `HAVE_DIRENT_TYPES` is defined, it won't work for all file systems, at runtime.

[2015-09-02 22:59] whitlockjc commented on #501
No, I get that.  :)  I'm saying I wish there was a way for that to be smarter but it doesn't make any sense really the more I think about it.  This is really just a test thing.  I'll submit a PR.

[2015-09-02 23:00] saghul commented on #501
Time to revisit, I guess :-)

[2015-09-02 23:01] whitlockjc commented on #501
Nah man, I just saw it when looking around and wanted to link to things just in case it became important later.

[2015-09-02 23:21] whitlockjc commented on #501
Once I typed that out, I realized my intent wasn't clear based on my wording so I deleted it.  I just saw that #296 reported similar failures and you had a similar discussion there as well.

[2015-09-03 01:50] JohnPittman opened #506 "minor - alpine linux apk add downloading wrong version"
Just migrated to alpine linux for docker containers. apk add libuv and apk add libuv-dev both download v1.5.0. I tried to test repo as well but I guess it's only in the main one. The repo tag is displaying v1.7.0 but still gives v1.5.0.

Package listing:

https://pkgs.alpinelinux.org/packages?name=libuv&repo=all&arch=x86_64

[2015-09-03 06:17] tolmasky opened #507 "uv__run_idle"
Just curious where uv__run_idle is defined, can't seem to find it anywhere.

Thanks,

Francisco

[2015-09-03 06:21] tolmasky commented on #507
Ah found it, src/loop-watcher.c

[2015-09-03 06:21] #507 closed

[2015-09-03 07:16] saghul commented on #506
We don't manage that repo, you need to ask the Alpine folks.

[2015-09-03 07:16] #506 closed

[2015-09-03 16:23] whitlockjc commented on #501
I've created a PR and tried to isolate the code that does the checks.  There were a few places where we were doing the dirent type check and now I've put that into a function so that we can fix it once and all references to it will be fixed as well.  I also decided to not check for `UV_UNKNOWN` on Windows, as you requested, and OS X as well since it is known to fully support getting the file type.

[2015-09-03 16:46] whitlockjc commented on #505
Do you have a reproduction recipe?  I'd love to look into this.

[2015-09-03 16:47] whitlockjc commented on #505
I know you described the situation but I don't want to make any assumptions when attempting to reproduce so if you have a simple script or a code snippet that can be plugged into one of the existing tests, that would help.

[2015-09-03 18:00] fgsgn-rain commented on #505
Please try the following code to reproduce assert.

[code]

[2015-09-03 18:10] mad-rain commented on #505
Please try the following code to reproduce assert.

[code]

[2015-09-03 20:19] whitlockjc commented on #505
Thanks.  I'll take a peek.

[2015-09-03 21:51] saghul commented on #501
Fixed in 30fc362 by @whitlockjc.

[2015-09-03 21:52] #501 closed

[2015-09-03 22:41] whitlockjc commented on #499
While digging around, I've seen more references to `creation time`, `crtime` or `creation_time` than 'birth time` or `btime` but in `uv_stat_t` I see `birth time` being used.  That being said, I originally wanted to suggest `uv_fs_crtime` but for consistency with what is already available in `uv_stat_t`, maybe we should use `uv_fs_btime`.  If we go with `uv_fs_btime`, it would look something like

[2015-09-04 05:20] jorangreef commented on #499
Thanks @whitlockjc for doing the work on this. That would be great.

[2015-09-04 07:26] saghul commented on #499
@whitlockjc The API looks fine to me! :+1:

Now, given that Linux is a first class citizen here, we should at least have a story about it, that is, research a bit and see how it can be done.

[2015-09-04 11:30] mad-rain commented on #505
Any progress?

[2015-09-04 12:02] bnoordhuis commented on #499
A separate `uv_fs_btime()` function prevents atomic updates of more than just the birth time.  I think that would become a design decision we'd come to regret in due time.

For background, we copied the name from the BSDs.  There was talk of incorporating birth time into the POSIX spec some years ago but I don't know how that panned out.

I checked the Big Four (btrfs, ext4, jfs and xfs) in the ke

[2015-09-04 12:54] jorangreef commented on #499
Would this be alright?

[code]

That way, the existing API for `uv_fs_utimes` would not be broken, and the 3 timestamps could be set atomically in a single system call on Windows. Would OS X need 2 system calls to set all 3?

Would it be possible to pass in NULL for a timestamp to leave the existing timestamp as is?

[2015-09-04 13:00] saghul commented on #499
I never thought of that. I guess we could have utimes2 or utimes_ex then.

[2015-09-04 13:14] bnoordhuis commented on #499
Not with `setattrlist()`, it lets you set all three timestamps with a single call.

You could pass in `NAN` (although that's technically a C99-ism) or NULL if you change the function prototype to take `const double*`.  Alas, C has no sum types.

[2015-09-04 13:42] whitlockjc commented on #505
I didn't get to it yesterday, my day job got in the way.  I'll carve some time today to investigate.

[2015-09-04 13:49] mad-rain commented on #505
Thanks for reply! Let me know if you need more info from me.

[2015-09-04 14:00] whitlockjc commented on #499
I'm so glad you all chimed in, this is excellent.  After reading these, `utimes2` makes most sense to me as I think this is a perfect scenario where revving an API makes sense but since I do not know libuv's API revving strategy, I will defer to @bnoordhuis, @saghul and others.  *(Is there any documentation on libuv's API revving strategy?)*  As for Linux, I trust Ben's findings and I don't know o

[2015-09-04 14:22] saghul commented on #499
The strategy is that we cannot break it in v1.x. So if we want this in the current cycle, some other naming is needed. Ben wasn't a big fan of the "foo2" naming convention, so last I extended some API y added the "_ex" suffix: uv_tcp_init_ex. So there is that :-)

[2015-09-04 14:34] whitlockjc commented on #499
Works for me.  I like `utimes_ex` if you do.  Seems like there is already a convention that backs that approach up.  Unless there are any objections, I could begin work on this over the weekend or early next week.  That should give this a little more soak time for Ben and others as well.

[2015-09-04 19:55] bnoordhuis commented on #499
I'm okay with `uv_(f)utimes_ex()`.

[2015-09-04 19:57] whitlockjc commented on #499
Thanks for the heads up.

[2015-09-05 00:31] sam-github commented on #322
@saghul we align ourselves with unix, but not when that means it is difficult or impossible to do it on Windows (uv has no fork(2), for example), in that case the API tends towards a higher-level: does what is useful, not just some system call primitive.

I'll take a look at the Windows docs and see if I can propose a usable api that consists of the commonalities of mkstemp() and GetTempFileName()

[2015-09-05 09:04] saghul commented on #322
@sam-github I meant specifically in the fs APIs. We already have `mkdtemp`, which is manually implemented on Windows based on OpenBSD's (IIRC) implementation. I don't see why we should take any compromise here, if we can just do the same.

Unless I'm missing something, that is :-)

[2015-09-06 01:31] Matheus28 opened #510 "Add support to release the socket handle"
There's the `uv_tcp_open` function, which allows us to pass a file descriptor to libuv and let it take control of it. What I'd like to request would be a function to get back control of the socket.

The use case that I have for this is having one loop that reads some data from the socket, then based on the data it receives, move it to a specific loop (that runs on another thread).

[2015-09-06 01:38] whitlockjc commented on #505
I cannot reproduce the assertion failure within libuv at `src/win/pipe.c#L1637` but your test does fail.  I get an error at `ASSERT(nread >= 0);` in `recv_cb`.  `nread` is `-4095` and that's why the assertion fails.  I'm still trying to grok the code to see if I can see something but I did want to report what I've found up to this point.  Feel free to share how you compiled/ran this as my approach

[2015-09-06 04:03] fgsgn-rain commented on #505
I'm running the test as a standalone app inside Visual Studio 2013 under Windows 8.1 x64.

Below is my callback:

It's maybe a stupid question, but are you sure that you have compiled the test in Debug mode?

[code]

[2015-09-06 04:06] mad-rain commented on #505
I'm running the test as a standalone app inside Visual Studio 2013 under Windows 8.1 x64.

Below is my callback:

It's maybe a stupid question, but are you sure that you have compiled the test in Debug mode?

[code]

[2015-09-06 05:13] whitlockjc commented on #505
It was a debug build I was using.  I'll try more when I get back to a keyboard.

[2015-09-06 05:13] whitlockjc commented on #505
Visual Studio 2013 Express

[2015-09-06 14:39] whitlockjc commented on #505
I did have to cast `options.stdio[0].flags` to `uv_stdio_flags`.  Not sure if that's related to the failure you're seeing but that was the only code change I had to make to get your scenario to run.

[2015-09-06 16:16] mad-rain commented on #505
It looks like you have compiled the test as a C++ source instead of regular C. So are you seeing assert now?

[2015-09-06 16:33] whitlockjc commented on #505
I just used whatever the libuv VS Solution did.  I noticed that in other pipe tests they casted the flags as well.  This was just extra information, the results are still the same as yesterday.  I'm not sure when I'll be able to dig more with it being a holiday weekend but I'll update you if/when I do.

[2015-09-06 16:36] whitlockjc commented on #505
I built against the latest `v1.x` sources.  I wonder if my integrating it into the libuv test suite is causing the difference in behavior.  I'll try a standalone project that links against libuv when I get back to the computer.  If you have a sample project you can share or a build script to eliminate any discrepancies, do share.  I took the shortest path and that was running as a libuv test.

[2015-09-06 17:46] mad-rain commented on #505
It seems like I found the reason why you don't see the assert. It happens in child process with stdout & stderr go to nowhere. I have modified spawn options to make assert visible in Windows console. See full updated source below.

I'm using the following plugin for multiprocess debugging, and this is how I saw the assert before.
https://visualstudiogallery.msdn.microsoft.com/a1141bff-463f-465f-9b

[2015-09-07 04:46] whitlockjc commented on #505
Thanks for taking the time.  I'll play around with this tomorrow.

[2015-09-07 06:42] zuyu opened #513 "3 tests failed on OSX 10.10.5"
I am new to libuv, and running `make check` failed consistently for both master and v1.x branches. The code was checked out from github.

[code]

[2015-09-07 10:02] saghul commented on #510
This is basically #390. Right now there is a way to do this, but it works on Unix ony:

- Get the fd with `uv_fileno`
- Duplicate the fd with `dup`
- Close the handle with `uv_close`

You can now take the duplicated fd and open it in another handle with `uv_tcp_open`.

I'm going to close this as a duplicate of #390.

[2015-09-07 10:02] #510 closed

[2015-09-07 10:55] Matheus28 commented on #510
Alright. Thank you.

[2015-09-07 13:02] bnoordhuis opened #515 "windows: xp rwlock fallback is unsound"
It was pointed out by Zhou Ran that the fallback write mutex can end up getting unlocked by a different thread than the one that locked it, resulting in undefined behavior.  Consider a rwlock that is initially unlocked:

Thread A: increments reader count at t0 -> acquires write lock at t0 -> decrements reader count at t2
Thread B: increments reader count at t1 -> decrements reader count at t3 -> r

[2015-09-08 01:00] yjhjstz commented on #513
I'm OSX 10.10.5, but I don't enconter.

[2015-09-08 08:27] saghul commented on #513
Same here, cannot reproduce. Also, Jenkins can't either.

[2015-09-08 16:59] whitlockjc commented on #513
I cannot reproduce either.

[2015-09-08 17:47] saghul commented on #513
Thanks everyone for taking the time to run the tests and confirming. @zuyu it might be something environment specific, stale files, or some cosmic dust :smile:

Tentatively closing.

[2015-09-08 17:47] #513 closed

[2015-09-08 22:32] whitlockjc commented on #505
So, what is expected to happen and what is happening?  Right now, I see that the assertion on line 150 fails.  I assume you expect this to succeed?  I'm asking to make sure we're on the same page.

[2015-09-08 23:21] whitlockjc commented on #505
I've been stepping through the code and on the failed assertion, when `uv_write2` is called prior to the failing assertion, `WSADuplicateSocketW` *(`uv_write2 -> uv_pipe_write2 -> uv_pipe_write_impl -> uv_tcp_duplicate_socket -> WSADuplicateSocketW`)* is returning `WSAEMFILE` which then gets translated to `UV_EMFILE`.  I'm still not seeing any assertion failures happening within `src/win/pipe.c`.

[2015-09-09 07:08] mad-rain commented on #505
Please see attached screenshot:
http://s29.postimg.org/6gxhdfpjb/image.png

Keep in mind that you are debugging only parent process, but not child process where assert in happening.

[2015-09-09 08:01] saghul commented on #495
#500 landed, closing this then. Thanks!

[2015-09-09 08:01] #495 closed

[2015-09-09 08:03] saghul commented on #458
Closing, there is nothing actionable here. @Tulrath feel free to send a PR with the extra check I mentioned [here](https://github.com/libuv/libuv/issues/458#issuecomment-125644266).

[2015-09-09 08:03] #458 closed

[2015-09-09 08:04] saghul commented on #423
Tentatively closing as per @bnoordhuis' and @deleisha's feedback.

[2015-09-09 08:04] #423 closed

[2015-09-09 08:12] saghul commented on #459
gyp seems to prefer VS 2015 (if present) since [they added support for it](https://chromium.googlesource.com/external/gyp/+/ce7a555f1c58bb396f8b1fa304aa3977ec8d2b93%5E!/). @DamianEdwards can you please update gyp to the latest (and hopefully greatest) re-test?

[2015-09-09 08:16] saghul commented on #505
Probably yes, so that we don't read too much, potentially reading another IPC frame. I thought there was an open issue about this, but I couldn't find it. Can you send a PR?

[2015-09-09 15:24] whitlockjc commented on #505
I can if @mad-rain does not have time.  I'll see if I can trigger this issue again, not sure why I'm not seeing the same results.

[2015-09-09 17:03] whitlockjc commented on #505
Finally got it working.  Not sure what was different this time around.  This long lived Windows VM has had a bit of cruft I guess.  :)  Now that we're on the same page...

[2015-09-09 17:07] whitlockjc commented on #505
Thanks for bearing with me.  Since this test was flaky, I didn't see the failure without running it a few times in a row.  I can reproduce now and the fix is as you described.  I can put together a PR.

[2015-09-09 17:09] whitlockjc commented on #505
Gotta love flaky tests to make you *(me in this case)* look like an idiot...  *sigh*

[2015-09-09 22:59] btrask opened #517 "API for polling uv_streams"
Hi Saghul et al,

I've been using libuv in conjunction with another library (libtls) that does its own non-blocking I/O on a given file descriptor. I use `uv_fileno` to get the file descriptor from the existing `uv_tcp` object. This seems to work okay although I haven't tested it on Windows.

The problem is this library will report `EAGAIN` during either reading or writing and I'm expected to noti

[2015-09-10 02:44] 2ix opened #518 "memory leak"
https://github.com/libuv/libuv/blob/v1.x/samples/socks5-proxy/client.c#L728

`uv_close(&c->handle.handle, conn_close_done);` how does `&c->handle.handle` reference the correct handle in the first place?

It appears to create a memory leak by not being able to close a handle create by `uv_tcp_init`, is anyone able to explain/fix please as we are using this sample to learn/write a libuv solution.

[2015-09-10 07:20] yjhjstz commented on #518
`uv_close` closed handle depend on `handle->type`.

[2015-09-10 08:16] saghul commented on #518
That's a union: https://github.com/libuv/libuv/blob/v1.x/samples/socks5-proxy/defs.h#L54 so we're closing the same handle as was initialized with `uv_tcp_init`.

[2015-09-10 08:16] #518 closed

[2015-09-10 08:20] saghul commented on #517
I don't have much time now (I'll comment more thoroughly later), but this was already considered here: https://github.com/libuv/leps/pull/2 see the document and discussion.

[2015-09-10 15:53] franknj commented on #425
@saghul , as a developer coming from *nix select/epoll background, I like to get a bit more clarification on the "single threaded network I/O " nature of libuv.
Does it means if uv_run's loop monitoring/polling a socket for anything readable, another thread CAN NOT send/write to that socket ? With Linux select or epoll, I believe that is allowed. We tried the same way with libuv. Not sure it is co

[2015-09-10 16:11] aberaud opened #519 "add uv_ip_addr()"
To better abstract IPv4/IPv6 differences, uv_ip_addr should be added, writing back to sockaddr_storage.

[code]

There is no technical reason to have different calls to parse IPv4 and IPv6 addresses, it makes supporting IPv6 cumbersome.

[2015-09-10 17:04] bnoordhuis commented on #425
@franknj You cannot call `uv_write()` or `uv_read_start()` from a different thread than the one that calls `uv_run()`.

[2015-09-10 18:02] franknj commented on #425
@bnoordhuis , thanks for clarification. That is a big difference from select/epoll based approach.

[2015-09-10 19:11] btrask commented on #517
Yeah, I saw that (via #5), but I didn't reference it because I was afraid it would muddy the waters. I just need something for interoperating with an existing library.

[2015-09-10 19:20] btrask commented on #517
To clarify, I think something relatively simple can be added without changing any of the existing APIs or switching everything to use requests. (I'm not sure what happened to that previous issue, but it seems to have gotten bogged down in debating specifics.)

[2015-09-10 20:10] zuyu commented on #513
my gcc is

Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

[2015-09-10 21:57] saghul commented on #513
I have the same version, except I have full Xcode installed, but I don't think that would make any difference.

[2015-09-11 03:16] 2ix opened #522 "`uv_write` `uv_close` status == `UV_ECANCELED` bug"
https://github.com/libuv/libuv/blob/v1.x/test/test-tcp-close.c#L60

If you add an additional `ASSERT` test to this code:
[code]

Then the following error occurs:
[code]

This is causing issues with an application we are developing with libuv where we are calling `uv_close` on two connections where one connection may have already called `uv_write` before it's callback is called and even though we a

[2015-09-11 07:29] saghul commented on #522
`uv_write_t` requests have never supported explicit cancellation using `uv_cancel`, but they do support implicit cancellation when the handle is closed via `uv_close`.

When you call `uv_write`, we try to write immediately, and often succeed, but the callback is made asynchronously. So even if you call `uv_write` and immediately after `uv_close`, the write miught have succeeded and the callback wi

[2015-09-11 07:36] saghul commented on #181
Fixed by #520.

[2015-09-11 07:36] #181 closed

[2015-09-11 07:36] saghul commented on #515
Fixed by #516.

[2015-09-11 07:36] #515 closed

[2015-09-11 07:40] saghul commented on #260
Fixed in #448.

[2015-09-11 07:40] #260 closed

[2015-09-11 07:44] saghul commented on #519
I wouldn't poose a PR, if you're up for it. Port should be an int or short though.

[2015-09-11 07:54] 2ix commented on #522
@saghul The libuv sample gives a similar situation we are experiencing in our application.

For example whether it be writing to the `client` or writing to the `upstream` when it's counterpart disconnects/timeout https://github.com/libuv/libuv/blob/v1.x/samples/socks5-proxy/client.c#L536 is called setting `c_dead` properties. As you said the `uv_write` callback is still called with a successful er

[2015-09-11 07:59] saghul commented on #522
@2ix That sample hasn't been modified in the last couple of years, unfortunately. IIRC writing immediately in `uv_write` was added after, and the sample might have some builtin assumptions which no longer hold true.

I only had a quick look, but I'd say so.

[2015-09-11 08:00] 2ix commented on #522
@saghul What are the reasons for `uv_write` not supporting `UV_ECANCELED` in the same way `uv_connect` does even if the write was successful it would be great to know it was cancelled when it's handle was `uv_close` in the same loop interation.

[2015-09-11 08:06] 2ix commented on #522
Eg: https://github.com/libuv/libuv/blob/v1.x/test/test-tcp-connect-timeout.c#L42

it's very elegant, even though connect may have succeeded because `uv_close` was called on the tcp handler, the connect callback sets the status to `UV_ECANCELED`.

Perhaps `uv_write` could behave in a similar fashion because even though it may have written, if we have `uv_close` and the callback is still called beca

[2015-09-11 08:07] saghul commented on #522
It does support it. You need to consider the fact that `uv_write` might succeed **immediately**, but the callback will always be async. So if you succeeded to write and then closed the connection it would incorrect to give a UV_ECANCELED error, because the write did succeed.

[2015-09-11 08:08] saghul commented on #522
I strongly disagree. The data arrived at the other end, we cannot say it didn't.

[2015-09-11 08:11] 2ix commented on #522
I strongly disagree. The data arrived at the other end, we cannot say it didn't.

You make a very strong point. Okay, we will check for the `c_dead` property in the callback. Is having a `CONTAINER_OF` macro the right approach to pass a `struct` between callbacks as per the sample, or is there a new methodology since then?

[2015-09-11 08:11] saghul commented on #522
I quickly browsed to the code, and I think I know where you're coming from.

Even if the connect succeeded immediately, we always defer its processing, so if `uv_close` is called we'll always say it was cancelled. When you call `uv_close` the socket is closed, so saying that the connection succeeded would be weird. Saying which which writes succeeded before the connection was closed is important,

[2015-09-11 08:12] saghul commented on #522
It's a lot more elegant than storing pointers to containing elements in `data` :-)

[2015-09-11 08:12] 2ix commented on #522
@saghul Great, thank you! :) Really loving libuv it's an amazing piece of engineering. Thank you for your help.

[2015-09-11 08:12] #522 closed

[2015-09-11 08:13] saghul commented on #522
:heart_eyes:

[2015-09-11 08:18] 2ix commented on #522
@saghul I'm not able to create a pull request from this machine currently but we will need to update https://raw.githubusercontent.com/libuv/libuv/v1.x/docs/src/handle.rst "In-progress requests, like uv_connect_t ~~or uv_write_t~~, are cancelled and have their callbacks called asynchronously with status=UV_ECANCELED."

[2015-09-11 08:25] saghul commented on #522
But that is still correct. If the write request is in progress, that is. If it was immediately completed it will have the right status value. I you call `uv_write` 10 times in a row, you'll get UV_ECANCELED for 9 of them.

[2015-09-11 08:27] 2ix commented on #522
Okay I see, I really misunderstood this in the documentation then. Thank you again.

[2015-09-11 08:57] saghul commented on #246
@bnoordhuis ping?

[2015-09-11 09:10] bnoordhuis opened #523 "UV_VERSION_IS_RELEASE is 1 in non-release builds"
Since commit feb2a9e6 ('`2014.11.21, Version 1.0.0 (Stable)`'), `UV_VERSION_IS_RELEASE` has always been set to 1.  Perhaps there is a bug in the release tool?

[2015-09-11 09:13] saghul commented on #523
Oh. I think this is due to the fact that we no longer commit "working on X.Y.Z", because we bump the version at release o'clock.

We could make the release tool reset it back to 0 and commit the change as a last step of making the release.

[2015-09-11 09:50] bnoordhuis commented on #515
For posterity, this seems to have been a known issue since at least November 2014: https://groups.google.com/d/msg/libuv/KyNnGEXR0OA/NWb605ev2LUJ

[2015-09-11 16:04] saghul commented on #523
FWIW, I pushed this: https://github.com/libuv/libuv/commit/e2db9240db78ba30f02fd130b170d08e0d9d6e62

[2015-09-11 16:22] whitlockjc commented on #505
I'll get to this Sunday.  My plan is to take `test/test-ipc-send-recv.c` and update its `ipc_send_recv_tcp` test to reproduce this issue and then fix it.  I've been able to do the first part and fix it but I'm running into a situation where this test was written for one send->recv->send->recv chain and updating it to do two of each has left open handles somewhere as the child process never returns

[2015-09-11 18:13] mad-rain commented on #505
Hi Jeremy! My app also doesn't exit by itself. I also searched for open handles and found nothing. I suppose its another bug somewhere inside uv.

[2015-09-11 21:33] Climax777 commented on #107
This is why I wouldn't use libuv and rather stick with ASIO or something custom. In the age we're living in not compensating for, or leveraging, multicore architectures is a huge mistake.

[2015-09-13 10:15] bnoordhuis commented on #107
@Climax777 Libuv's popularity indicates that a lot of people don't feel that way.  You're saying they're all wrong and you're right?

[2015-09-13 10:49] Climax777 commented on #107
@bnoordhuis I meant no disrespect. In fact I'm quite fond of the library and in particular node.js. I make use of Node.js in large projects.

The only reason I am not using libuv in other systems is due to the issue linked here. Single threaded just won't cut it and using a pipe is not very portable or elegant.

I also feel strongly that popularity is by no means an indication of the quality or ap

[2015-09-14 15:10] whitlockjc commented on #505
I don't think so.  When I look at all active handles, there were many active tcp handles.  I'll figure it out, I've not given up.

[2015-09-16 21:13] Gottox opened #526 "libuv thinks any TTY is /dev/tty"
I'm the author of [child_pty](https://github.com/Gottox/child_pty) a pty API for node.js. It's my intend to keep the source as small as possible and reuse most of nodes own code.

To wrap input and output functions I discovered an interesting behavior of libuv: If I was using node tty.ReadStream or tty.WriteStream node seemed to ignore the fd (which was a PTYs master fd) and all output was printed

[2015-09-16 21:55] bnoordhuis commented on #526
What do you suggest as a solution?  You can find the motivation for libuv's behavior in the commit log of b197515367d1a996dca9009483d202b306f9474e.

[2015-09-17 02:57] 2ix opened #527 "junk in request"
Consider https://github.com/libuv/libuv/blob/v1.x/samples/socks5-proxy/client.c#L311 we are experiencing issues where the client may send the `SOCKS request` AND initial `upstream data` before receiving a success/fail message from the SOCKS Proxy for performance optimisation. Similar to Google's pre-fetch.

How might one edit this code so that if `size != 0` that the additional `data` / `size` may

[2015-09-17 03:35] 2ix commented on #527
instead of `return do_kill(cx);` would this be acceptable?

[code]

and then within `conn_connect_done`

[code]

[2015-09-17 03:37] 2ix commented on #527
@saghul I remember you looked at this code earlier, any ideas?

[2015-09-17 04:06] 2ix commented on #527
@saghul Any ideas? We've moved `buf` outside of the `conn.t` union and `conn_write` the additional `buf` once connection is made, but we still see the odd instance of the data not being piped correctly.

[2015-09-17 04:27] #527 closed

[2015-09-17 05:45] Gottox commented on #526
libuv should only reopen /dev/tty if it's sure, that the given fd is bound to this tty.

A naive implementation would check if the fd is <= 3. But this would break all dup'ed fds.

[2015-09-17 07:46] Gottox commented on #526
Speaking of dup... I'm not sure if this would have any side effects but would dup(fd) have the same effect as open("/dev/tty", ...)?

[2015-09-17 08:20] Gottox commented on #526
Steps to reproduce
------------------------------

Compile this program and run it:

[code]

Expected behavior
------------------------------

The string `This should go to the PTY` should be written to the newly created PTY and therefore not be visible on the screen.

Actual behavior
-------------------------

The string appears on the tty of the current program.

[2015-09-17 09:58] saghul commented on #526
We reopen it if `isatty` returns 1. @Gottox do you know what extra check would be required to know if the tty is (or isn't) the current one? Also, we'd have to be careful not to break existing behavior.

Alternatively, we could have some `uv_tty_open` which blindly takes the fd without checks, a la `uv_tcp/udp/pipe_open`.

[2015-09-17 10:26] Gottox commented on #526
A naive implementation would just check fd <= 3. But as I said, this breaks dup'ed fds and is no real guarentee.

I just tested on Linux: You can fstat `0`, fstat `fd`, and compare its inodes. If they are the same, the fd is a dup of 0 (stdin). I don't know if that's portable.

[2015-09-17 10:34] Gottox commented on #526
This should do the job: (pseudocode, unchecked)

[code]

[2015-09-17 11:08] Gottox commented on #526
[code]

[2015-09-17 11:16] bnoordhuis commented on #526
I think we'd entertain a pull request.  I do kind of worry it may end up fixing one use case while breaking another...

[2015-09-17 11:23] brodybits commented on #526
I would favor the idea by @saghul to add another function such as `uv_tty_open` that handles this case.

[2015-09-17 17:33] davencsas opened #529 "Assert in Windows tests"
I am seeing an assertion failure when running the benchmark tests on Windows at this location:

https://github.com/libuv/libuv/blob/v1.x/test/test-pipe-getsockname.c#L233

With release builds (64-bit) created with VS2015, the returned length from the preceding function call is 0 so the assert is actually checking 1 byte ahead of the buffer. Memory is zero whenever I execute the test with release b

[2015-09-17 23:49] whitlockjc commented on #505
Sorry, I've been swamped at work and the Tough Mudder so I've not worked on this since last week.  I'll be working on this tomorrow.

[2015-09-20 06:59] webarchymeta opened #533 "Force "last" callback added via uv_async_send and uv_queue_work to be called immediately"
We are using [edge](https://github.com/tjanczuk/edge) that allows inter-calls between nodejs and .NET in a data service. "edge" uses `libuv's uv_async_send` to pass call messages between the two "worlds".

It works flawlessly using nodejs 0.10.* and problems start to appear after upgrading to nodejs 0.12.* which is bundled with a newer version of `uvlib`. The problems manifest in long delays betwe

[2015-09-20 08:32] saghul commented on #533
I don't know what edge does internally, but unless there is bug hidden somewhere (which would have probably manifested by now anyway) `uv_async_send` will wakeup the loop if it's busy polling for i/o. This means that the callback will be executed shorty, unless something (edge perhaps?) locks the i/o loop.

[2015-09-20 10:00] webarchymeta commented on #533
The loop is not locked since the system is still responsive. The last callback, which has entered into the long waiting state, will be invoked immediately if there is another callback is added to the loop, the newly added one then may or may not enters the long waiting state. This is not the behavior of the loop been locking up but more like the last call to `uv_async_send` does not wakeup the loo

[2015-09-20 11:21] saghul commented on #533
Unless you can make a test case demonstrating this I can't really check
anything :-S

On Sun, Sep 20, 2015 at 12:00 PM, Shuqian Ying <notifications@github.com>
wrote:

--
/Saúl
bettercallsaghul.com

[2015-09-21 20:35] franknj commented on #281
@saghul , hope you don't mind I ask a different question here ( not an issue ).

I am looking for a way to use Linux pipe under libuv. I studied uv_pipe_* related API a bit but unfortunately, still feeling in the dark.

When programming with Linux pipe system call, things are very straightforward and easy. pipe() returns an array of two file descriptors: sd[0] and sd[1] . So one thread can read sd

[2015-09-21 20:38] saghul commented on #281
Hi Frank,

You could still use the pipe() and the use uv_pipe_open to open each end on a different loop.

[2015-09-22 06:29] yjhjstz opened #536 "darwin: uv_cpu_info(uv_cpu_info_t** cpu_infos, int* count) memory leak?"
[code]
when `uv__malloc` failed, should release memory by `vm_deallocate(mach_task_self(), (vm_address_t)info, msg_type);`?  cc @bnoordhuis

[2015-09-22 07:16] saghul commented on #536
I guess so, yeah.

[2015-09-22 07:21] yjhjstz commented on #536
ok , I will send a PR.

[2015-09-22 20:40] franknj commented on #281
@saghul ,
Thanks a lot for the prompt response.
Frank

[2015-09-23 06:02] yjhjstz commented on #536
same as #537

[2015-09-23 06:15] saghul commented on #536
#538 landed, closing!

[2015-09-23 06:15] #536 closed

[2015-09-23 07:05] yjhjstz opened #541 "fs: uv_fs_read need do some housekeeper?"
[code]
did call `uv__req_init(loop, req, UV_FS); ` when cb isn't null.
[code]
But when `uv_fs_read` meat ENOMEM error , should we do some housekeeper that call
`uv__req_unregister`?
Otherwise, `active_reqs` will explode.

[2015-09-23 07:33] saghul commented on #541
Yes, we need to undo what `uv__req_init` did. Thanks for looking into these issues!

[2015-09-23 07:35] yjhjstz commented on #541
yes, I will send PR,  but lots to fix.

[2015-09-23 07:36] saghul commented on #541
:heart_eyes_cat:

[2015-09-23 09:36] yjhjstz opened #544 "test: `thread_rwlock_trylock` failed: exit code 6"
[code]
Latest version `v1.x`
My environment:
osx 10.10.5,
Apple LLVM version 7.0.0 (clang-700.0.72)
Target: x86_64-apple-darwin14.5.0

[2015-09-23 10:55] saghul commented on #544
Ah, I see. Working on a fix.

[2015-09-23 10:56] saghul commented on #544
See #545

[2015-09-24 03:53] JCMais opened #546 "Access Violation on uv_timer_init in Windows - Node Addon"
I'm opening this here since the access violation comes from libuv.

This only happens on the debug version of the code. But see the notes below.

The error is the following:

Stack trace (from iojs v3.3.0):

	iojs.exe!uv_timer_init(uv_loop_s * loop, uv_timer_s * handle) Line 68	C
 	test-libuv-issue.node!Test::Test() Line 9	C++
 	test-libuv-issue.node!Test::New(const Nan::FunctionCallbackInfo<v8::V

[2015-09-24 07:50] saghul commented on #541
Fixed by #543

[2015-09-24 07:50] #541 closed

[2015-09-24 08:12] saghul commented on #546
The binding code is bogus: when you destruct the Test object you just call `uv_timer_stop`, but the loop still has a reference to it. You need to call `uv_close` on the handle and wait for its callback to fire before you can free the memory.

What happens now is that you are freeing the timer while the loop has a pointer to it in its handle_queue, so when the next timer is added it's trying to acc

[2015-09-24 08:12] #546 closed

[2015-09-24 14:17] JCMais commented on #546
Thanks @saghul! Got it to work, added a deleter to the unique_ptr which calls ``uv_close`` on the timer.

[2015-09-24 19:31] whitlockjc commented on #505
I have a PR incoming, finally got it working.  :)

[2015-09-24 19:31] saghul commented on #505
:sunglasses:

[2015-09-24 20:07] whitlockjc commented on #505
Let the review process being.

[2015-09-25 02:30] 2ix opened #550 "libuv release"
Whenever I build on Windows/Unix with GYP it creates a `Debug` folder with the static file.
How can I build the `Release` version?

[2015-09-25 08:15] saghul commented on #550
You can do `vcbuild.bat help`, which will tell you all the available options for building. `vcbuild.bat release` is the one you're after.

[2015-09-25 08:15] #550 closed

[2015-09-25 13:24] mikeal opened #552 "feature: add support for mTCP"
This is one of the coolest things I've seen. It was sent to me yesterday by @mabels and is pretty exciting.

http://shader.kaist.edu/mtcp/
https://github.com/eunyoung14/mtcp

Essentially, it's a userland TCP/IP stack. Most commercial routers and network applications are now just fancy linux boxes with userland TCP/IP stacks in order to avoid the memcopy between kernel and userland.

If an mTCP opt

[2015-09-25 13:33] mikeal commented on #552
This is also an option, it's a bit of a higher level API using C++ promises https://github.com/scylladb/seastar

[2015-09-26 06:44] tingting-anne commented on #552
:+1:

[2015-09-28 10:41] yjhjstz commented on #552
sounds good, but kernel driver depends.

[2015-09-28 11:11] mabels commented on #552
There is a lot kernel stuff in, i'm currently try to figure out what and
how that works

On Mon, Sep 28, 2015, 12:41 PM Jianghua.yjh <notifications@github.com>
wrote:

[2015-09-29 02:48] 2ix opened #553 "VS2008 Linking Errors with Static libuv Library"
Created a `static library` build with `vcbuild.bat debug x86 static`.
Created a Win32 Console Application in VS2008 not using pre-compiled headers.
Additional Include Directory `libuv\include`.
Additional Library Directory `libuv\Debug\lib`.
Additional Dependency `libuv.lib`.

[code]

When building I see many linking errors for example `LNK 2005: _exit already defined in MSVCRTD.lib (MSVCR90D.dll)

[2015-09-29 06:51] bwijen commented on #473
@saghul: I removed all preadv/pwritev syscall code. Could you please take a look?

[2015-09-29 08:01] saghul commented on #553
Was libuv also compiled with VS 2008? Can you check what runtime libuv was linked with, using Dependency Walker?

[2015-09-29 09:48] 2ix commented on #553
@saghul Yes compiled with VS 2008. I have also opened the solution and compiled it directly in VS 2008 too.

[2015-09-29 09:52] saghul commented on #553
Are you linking your project with these? https://github.com/libuv/libuv/blob/v1.x/uv.gyp#L115

[2015-09-29 10:05] 2ix commented on #553
Nope, I will try that and let you know. Thank you :)

[2015-09-29 10:07] saghul commented on #553
You have to link with those, libuv uses symbols from there.

[2015-09-29 22:27] 2ix commented on #553
@saghul Errors still occurring after linking with the additional libraries. No link errors with libuv directly but still see the `LNK 2005: _exit already defined in MSVCRTD.lib` and other already defined errors.

[2015-09-29 22:29] saghul commented on #553
Can you paste the errors you get, the list of libraries you currently link with and a screenshot of dependency walker?

[2015-09-29 22:34] 2ix commented on #553
[code]

[code]

Not sure how to get a screenshot as the executable never builds?

[2015-09-29 22:39] saghul commented on #553
Ah, right!

I'm not very sure what's wrong. Maybe @piscisaureus or @orangemocha can spot it?

[2015-09-29 22:43] 2ix commented on #553
@saghul I think I've got it, the test described in the OP is working. The application I'm writing is building a shared library using libuv's static library and I had to change the `Code Generation` option in libuv to match.

Do you think it would be a good idea to have vcbuild.bat accept an argument such as `dll` to automagically set this option in the future too? Eg: `vcbuild.bat debug x86 static

[2015-09-30 02:46] yjhjstz opened #555 "test: getsockname_tcp failed"
[code]
peer addr : 192.241.209.110:51761 , while compared addr is 127.0.0.1.
one hint: Use ssh connected to VPS.

[2015-09-30 03:40] 2ix opened #556 "win: uv_tcp_connect union timeout bug. Unix not effected."
As I have been using a lot of the unit tests to learn libuv as well as the socks5-proxy sample I have come across a strange scenario that only effects Windows based builds but not Unix.

Consider the following example:
[code]

With regards to Unix `conn_connect_done` returns a status of `0`, however Windows returns `ETIMEOUT`. This is caused by the union's `connect_req` which is also demonstrated

[2015-09-30 17:45] fmsouza commented on #401
Hi @cynron !
Sorry for taking so long to bring the trace, I've been too busy.

As the file size is ~1.1MB I couldn't post it on pastebin again. It's in my Google Drive and you can access here: https://drive.google.com/file/d/0B2t-CwshyXQPUnlvX3JvMGNrZlk/view?usp=sharing

I managed to reproduce the problem by running ```httperf``` a little amount of times. Those were my inputs and outputs that prod

[2015-09-30 19:20] TomCrypto commented on #556
Take a look at https://github.com/libuv/libuv/blob/v1.x/src/win/tcp.c#L744 for windows (the unix code does not have this problem), you can see at line 780 it initializes `req` and later on at line 786 it's still using `addr`. Boom. I would personally not use this construct, it's quite dangerous and imposes quite a lot of implementation details on the internals of libuv (must be able to read parame

[2015-09-30 21:20] 2ix commented on #556
Alright thank you, I will move `uv_connect_t` outside of the union. Appreciate the support :)

[2015-09-30 21:20] #556 closed

[2015-10-01 07:12] saghul commented on #556
Since you're there, use `struct sockaddr_storage` for everything. Is guaranteed to be big enough, and you can cast it to `struct sockaddr*` as needed.

[2015-10-01 07:20] 2ix commented on #556
@saghul Thank you for the great advice :D

[2015-10-06 17:18] witchu opened #559 "small memory leak"
in src/unix/loop.c at line 66
[code]

this one is not freed when loop closed.

[2015-10-06 20:28] bnoordhuis commented on #559
Are you seeing an actual memory leak with e.g. valgrind?  It's true that the handle is never closed but that doesn't matter in this case because it's internal and embedded in the uv_loop_t structure itself.

[2015-10-07 00:56] witchu commented on #559
I see it in valgrind.

[2015-10-07 02:59] nakdai opened #560 "Remain handle in loop's handle_queue."
It looks that 'uv_udp_t' handle remains in loop's handle_queue.
So, `uv_loop_close` returns always UV_BUSY.
I searched `QUEUE_REMOVE` in libuv codes, but I couldn't find it to remove handle from loop's handel_queue.

[code]

[2015-10-07 16:16] bnoordhuis commented on #560
In your example, the handle isn't fully closed yet by the time you call `uv_loop_close()`.  If you drop the `uv_stop()` call and insert a second call to `uv_run()` after `uv_close()` but before `uv_loop_close()`, it should work like you want it to.

[2015-10-07 16:30] bnoordhuis commented on #559
Can you post the valgrind output?  I'd like to understand what's happening here.

[2015-10-07 17:12] witchu commented on #559
I found the cause of the problem. I must call uv_close() in uv_run() if I call it after uv_run() memory leak.
But in my case, I write a uv binding with a language with gc and I can't call close in uv_run().

[code]

[code]

[2015-10-07 19:20] bnoordhuis commented on #559
That's eerily similar to https://github.com/libuv/libuv/issues/560.

[2015-10-08 00:38] witchu commented on #559
Thanks.

[2015-10-08 00:38] #559 closed

[2015-10-08 03:02] yjhjstz opened #563 "fs: meet assert in uv__close"
Aborted (core dumped)

fd value is 1. Probably, somewhere closed `stdout`.  I found windows platform handled close 0-2, but unix not. see https://github.com/piscisaureus/libuv-1/commit/c619f37c3986b0ec5d13fb7f2437dff0db41c72b

here is pr: #562

[2015-10-08 04:02] cynron commented on #401
Hi @fmsouza ,

last lines from your strace log:

[code]

***1733  read(8, 0x7ffdf867bf50, 1024)     = -1 EAGAIN (Resource temporarily unavailable)
1733  write(2, "node: ../deps/uv/src/unix/async."..., 90) = 90***

according to previous strace output, `fd 8` is the event fd for `async handle`

no prior `epoll_pwait` says `fd 8` is ready for `EPOLLIN`, so `read`  fails, which leads to crash here.

a

[2015-10-08 05:24] cynron commented on #401
@fmsouza

backtrace when crashing?

    $ gdb /path/to/node /path/to/core/file

and then type command `bt` in gdb.

[2015-10-08 06:52] nakdai commented on #560
Thank you for your reply.
I could confirm what you explained.

Regards.

[2015-10-08 06:52] #560 closed

[2015-10-08 09:19] rongp opened #564 "`getaddrinfo_fail` failed: exit code 134 `getaddrinfo_fail_sync` failed: exit code 134"
i got this error on ubuntu15:
=============================================================
[%  61|+ 168|-   0|T   0|S   0]: getaddrinfo_fail
`getaddrinfo_fail` failed: exit code 134
Output from process `getaddrinfo_fail`:
Assertion failed in test/test-getaddrinfo.c on line 43: status < 0
=============================================================
[%  61|+ 168|-   1|T   0|S   0]: getaddrinfo_fai

[2015-10-08 09:29] bnoordhuis commented on #564
Am I right that `dig xyzzy.xyzzy.xyzzy` resolves to _something_ on your machine?  That's what is making the test fail.

[2015-10-08 09:34] rongp commented on #564
@bnoordhuis

$ dig xyzzy.xyzzy.xyzzy

; <<>> DiG 9.9.5-11ubuntu1-Ubuntu <<>> xyzzy.xyzzy.xyzzy
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 48276
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;xyzzy.xyzzy.xyzzy.		IN	A

;; ANSWER SECTION:
xyzzy.xyzzy

[2015-10-08 10:35] bnoordhuis commented on #564
Right, that's what I expected.  I'm going to close this but thanks for taking the time to report the issue.

[2015-10-08 10:35] #564 closed

[2015-10-08 15:59] bnoordhuis commented on #401
@fmsouza Can you try https://github.com/libuv/libuv/pull/565?  You can apply it to your node.js checkout like this:

[code]

[2015-10-08 16:01] bnoordhuis commented on #555
Is 192.241.209.110 the address of your VPS?

[2015-10-09 01:25] yjhjstz commented on #555
yes

[2015-10-10 08:12] RuyiDu opened #568 "can it support embedded linux?"
You know the embedded linux use uclib always, but uclib don't implement "ifaddrs" api, it don't have ifaddrs.h and ifaddrs.c.

Thanks in advance.

[2015-10-10 10:28] bnoordhuis commented on #568
What version of uclibc is that?  There is a uclibc check in src/unix/linux-core.c but apparently it's not working for you.

[2015-10-10 11:29] TomCrypto commented on #568
Note that libuv works great with the musl libc which is also used in embedded linux environments, we're using it currently. If your uclibc doesn't have ifaddrs then maybe you should turn that on for libuv in your uclibc configuration...

[2015-10-11 04:39] RuyiDu commented on #568
i haven't check my ulibc version carefully,  maybe it's old yet or have some configuration errors. I already find some third-code to implement it in the first and look like can work now, i don't wanna spend time on it until it can't work fine.

thank you guys, i like to present more information about it in my spare time.

[2015-10-11 06:35] yjhjstz commented on #563
cc @saghul , could you please give some suggestion?

[2015-10-12 23:20] 2ix opened #570 "multicore libuv tcp server"
I've written a singled threaded `uv_default_loop()` tcp server and I am curious if there are any examples out there how to expand this to use all available cores of the server? Multiple loops? How this may be achieved?

Any advice is much appreciated.

[2015-10-13 01:11] 2ix opened #571 "windows vs unix performance"
I've written a test proxy similar to https://github.com/libuv/libuv/tree/v1.x/samples/socks5-proxy and I've been comparing performance between Windows and Unix.

I'm curious if https://github.com/libuv/libuv/blob/v1.x/samples/socks5-proxy/client.c#L668 `CONTAINER_OF` macro has any performance impact between Windows/Unix because on Unix I am able to max out at 100mb/s however using the exact same c

[2015-10-13 03:56] willemt commented on #570
Hi, you might want to look into using a pipe to pass the listen socket to multiple threads. You might get mileage out these two projects as examples *(disclaimer: I wrote these)*:
https://github.com/willemt/uv_multiplex
https://github.com/willemt/pearldb

I think this is what Haywire does to get multiple threads working: https://github.com/kellabyte/Haywire/blob/master/src/haywire/connection_dispa

[2015-10-13 05:19] dannyjiajia opened #572 "can it support windows phone？"
can it support windows phone？

[2015-10-13 05:20] dannyjiajia commented on #572
can it support windows phone？

[2015-10-13 10:09] bnoordhuis commented on #570
Closing because it's answered.

@2ix Can you use the mailing list next time?  Thanks.

[2015-10-13 10:09] #570 closed

[2015-10-13 10:11] bnoordhuis commented on #571
The short answer is no, it's not that macro.  If you want a longer answer, please use the mailing list. :-)

[2015-10-13 10:11] #571 closed

[2015-10-13 22:11] 2ix commented on #489
@saghul Is this added to core or is there an example how to do this manually with `libuv`?

[2015-10-14 03:19] 2ix opened #574 "feature: add QUIC transport support"
http://www.chromium.org/quic

[2015-10-14 08:31] bnoordhuis commented on #574
Wrong layer of the stack.  What libuv does is at level 4 of the OSI model, what you are proposing is level 5 or higher.  You can implement QUIC on top of libuv but it has no business in libuv itself.

[2015-10-14 08:31] #574 closed

[2015-10-14 09:52] sheerun opened #575 "readdir returns ENOENT instead of ENOTDIR for files on Windows"
Hey,

I tried to test bower in VM environment (Parallels Desktop 10 on OSX), but it turned out npm's chmodr package fails to run as expected, because in its implementation it relies on fact that fs.readdir command in node returns ENOTDIR for non-directories. It turns out when I try to run the tests on NFS in VM, such call returns ENOENT instead. This is inconsistent with pure OSX environment where

[2015-10-15 23:32] jclulow opened #576 "uv_async documentation does not mention return values"
The [documentation](http://docs.libuv.org/en/v1.x/async.html) for the suite of `uv_async_t` functions does not appear to describe what the expected return values are for successful or failed operation.

[2015-10-19 22:01] trevnorris commented on #576
On *nix it only returns `0` but `errno` may be set (not sure how you're supposed to know, or if you're supposed to care). It will also `abort()` on an unexpected error.

On win will return `-1` if the handle isn't `UV_ASYNC, then succeed or abort on unexpected error.

So there are some inconsistencies that may need to be addressed before it can be documented.

[2015-10-20 18:38] lhecker opened #582 "Usage of uv_ip6_name() is not reversible - looses sin6_scope_id/interface-name"
While trying to setup a multicast UDP socket on every network interface (which is required at least on OS X) I noticed a unfortunate problem:
`uv_interface_addresses(uv_interface_address_t**, int*)` returns a list of `sockaddr` structs which must be turned into strings for the use with `uv_udp_set_membership(uv_udp_t*, const char*, const char*, uv_membership)` using for instance `uv_ip6_name()`.

[2015-10-20 21:28] bnoordhuis commented on #582
I don't think that's an option.  It doesn't do I/O currently and I'd like to keep it that way.  Looking up the interface would add all kinds of failure modes.

What's more, I don't think it's currently mandatory to have the sin6_scope_id field set to a legal value.  That could break existing users.

I can live with that up to a point but a proliferation of uv_udp_foo2 functions would surely make m

[2015-10-21 11:37] lhecker commented on #582
BTW: The obvious solution is of course to just not use link local addresses coming from `uv_interface_addresses()`, but I'd still consider it a unneccessary flaw in libuv to use C strings as params instead of the "native" value - the `sockaddr` struct (e.g. the bind and listen functions accept `sockaddr` already just like the interface address method is returning those instead of strings).

[2015-10-21 13:42] deleisha commented on #582
As read on some unmemorable RFC long back, I would prefer `uv_ip6_name` returning a string like
`fe80:1%eth0` or `fe80:1%12` in case of link-local address.

@bnoordhuis
If it is not backward compatible, Are you open to consider it for main branch?

[2015-10-21 16:56] bnoordhuis commented on #582
See my reply above about keeping it I/O-free.  A variant or flag might be acceptable though.

[2015-10-22 01:26] winksaville opened #583 "make check failed"
Reporting a make check failure as requested, the problem appears to be reproducible. I tested ToT as of today and then checked out v1.7.5 and the same failures occurred. Here is my uname output
[code]
And here is the log as sent to the screen:
[code]

[2015-10-22 03:41] whitlockjc commented on #583
I've tested both `master` and `v1.7.5` on CentOS 7, Mac OS X 10.10.x and Ubuntu 14 but without reproducing the `make check` issue reported.  I'll see if I can get an Arch Linux installation going to see if that is the missing link.  I just wanted to update with the progress I had at this point.

[2015-10-22 03:55] winksaville commented on #583
I'm running gcc 5.2 if that matters, are there any other logs I can get?

On Wed, Oct 21, 2015, 8:42 PM Jeremy Whitlock <notifications@github.com>
wrote:

[2015-10-22 05:23] whitlockjc commented on #583
I'll get back to you after I get an Arch Linux distro running.  Will likely be tomorrow.

[2015-10-22 07:58] deleisha commented on #582
Ohk, I am with @lhecker then to pass `sockaddr`

[2015-10-22 10:17] bnoordhuis commented on #583
@winksaville What does `dig xyzzy.xyzzy.xyzzy` print on that machine?  It should fail with a NXDOMAIN error (that's what the tests expect) but some DNS servers always return an address.

[2015-10-22 14:39] winksaville commented on #583
So dig wasn't installed, I installed dnsutils and re-ran the tests, it
still failed. I then ran dig manually:

$ dig xyzzy.xyzzy.xyzzy

; <<>> DiG 9.10.3 <<>> xyzzy.xyzzy.xyzzy
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, *status: NXDOMAIN,* id: 29163
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 0, AUTHORITY: 1, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:;

[2015-10-22 15:39] whitlockjc commented on #529
I am unable to reproduce this.  I just built the latest `v1.x` branch with VS2015 on Windows 7 64-bit and the whole test suite runs without issue.

[2015-10-22 19:27] winksaville commented on #583
So the problem turns out to be my network configuration has a search domain
to convert relative domain names to absolute. I've created a pull request (
https://github.com/libuv/libuv/pull/586) which changes the domain names
being requested for getaddrinfo_fail and getaddrinfo_fail_sync into fully
qualified domain names. Doing so resolves this issue. A second solution was
to change my network confi

[2015-10-22 19:46] whitlockjc commented on #529
I cannot reproduce this with VS2013.  In my attempt to test using VS2015, my Windows VM borked and now I don't have an environment for testing.  I'm afraid I'm unable to help until I get Windows back installed and setup.

[2015-10-23 13:27] fcelda commented on #419
Hello guys.

I would like to see the `recvmmsg` support in libuv as well. And I'm willing to help with this.

I've reviewed @vavrusa's code and it looks pretty well. The implementation is straightforward – nothing complicated. There is just one possible problem I see with the buffer allocation as a multiple of requested size. There is not mechanism to indicate whether the platform actually support

[2015-10-23 15:50] winksaville commented on #583
This issue should be able to be easily reproducible on most linux systems. Simply add the following line to your /etc/dhclient.conf or create /etc/dhclient.conf with the line:
[code]
And then toggle your network connection, bring it down/up. If you then run:
[code]
I believe you'll have two failures; getaddrinfo_fail and getaddrinfo_fail_sync:
[code]
If you now edit test-getaddrinfo.c, which is wh

[2015-10-23 16:29] #583 closed

[2015-10-23 22:05] whitlockjc commented on #529
I got my environment back up.  I am not able to reproduce the failure with VS2013 or VS2015.

[2015-10-23 22:12] whitlockjc opened #587 "fs_event_watch_dir_recursive is failing with VS > 2010"
libuv on Windows builds with VS2010 by default so when we previously fixed `fs_event_watch_dir` and `fs_event_watch_dir_recursive` for #30 everything was fixed appropriately.  But when you attempt to build/test using VS2013/VS2015, you run into the same flakiness.

I'll look into this but I wanted to report this for tracking purposes.

[2015-10-23 22:16] whitlockjc commented on #587
Realize that VS2013/VS2015 might not be officially supported but since you can't install old versions of VS anymore, it's all I have.  I'm currently trying to track down the Visual C++ 2010 compilers/libraries.

[2015-10-23 22:17] whitlockjc commented on #587
@saghul Can we add the `windows` label?

[2015-10-23 22:22] whitlockjc commented on #587
Also, I forgot to mention but the failure is a timeout with no extra details.

[2015-10-23 23:42] whitlockjc commented on #587
After some digging around, I see the `uv_fs_event_cb` for the test is being called an extra 16 times.  I'm digging into it.  Might not be related to VS2013/VS2015 but my old VS2010 environment didn't have this issue.

[2015-10-24 00:06] whitlockjc commented on #587
For grins I checkout out the fix to #30, which included work on Windows as well, and it fails to run the tests on VS2013/VS2015.

[2015-10-24 00:16] whitlockjc commented on #587
[This thread](http://stackoverflow.com/questions/14036449/c-winapi-readdirectorychangesw-receiving-double-notifications) could be important.  I am trying to track down if this is a known change from the different versions of the C++ library used to compile.  If it is, it's a simple fix because the create and delete events are as expected but maybe the *extra* events are just shadow events showing

[2015-10-24 03:31] whitlockjc commented on #587
I've got some ideas but before I spend more time on this, I'd love to confirm this is an actual issue.  Any way to kick off a CI build for master?

[2015-10-25 13:49] bwijen commented on #473
Hi guys, I see other issues resolved in just a few days, my fix for this issue was almost a month ago.
I hope this isn't going to be like #269.
Please don't get me wrong, I do want to contribute, but I also want to see my efforts land...

If there is something wrong with the code, please just let me know and I will try to get it right!

[2015-10-25 13:50] bnoordhuis commented on #587
Assuming you mean v1.x: https://ci.nodejs.org/view/libuv/job/libuv+any-pr+multi/166/

@nodejs/build Can you give @whitlockjc a CI account?

[2015-10-25 13:50] bnoordhuis commented on #587
@jbergstroem @rvagg Can you give @whitlockjc a CI account?

[2015-10-25 13:52] bnoordhuis commented on #473
@bwijen @saghul is OOO until next month and I have only minimal time at the moment.

[2015-10-25 13:56] bwijen commented on #473
Ok, NP thanks for the feedback...

[2015-10-25 21:33] rvagg commented on #587
is @whitlockjc a libuv member? doesn't show up here as Collaborator or Owner.

[2015-10-25 22:34] bnoordhuis commented on #587
He's not.  Does that matter?

[2015-10-25 22:36] jbergstroem commented on #587
I can't figure out delegating access to only starting libuv jobs, so I guess where @rvagg might be going is a "trust" issue. I'll keep digging.

[2015-10-26 07:22] deleisha commented on #582
Anyway uv_ip6_addr is zone id aware. Won't it be nicer to have the opposite in uv_ip6_name.

[2015-10-26 13:20] karimcitoh opened #588 "Calling uv_queue_work multiple times?"
I am making a C++ addon for Node. And I would like to run uv_queue_work multiple times without having to sleep the main thread. Any idea of how to do this?

So far I've done this:

[code]

So this works, I can re-schedule the uv_queue_work, but there is a memory leak, if I keep this running, memory usage keeps increasing. But I haven't found another way of doing this. So I would appreciate any hel

[2015-10-26 13:26] bnoordhuis commented on #588
Can you direct your question to the mailing list please?  We try to keep support questions from the issue tracker, it doesn't scale well.

[2015-10-26 13:26] #588 closed

[2015-10-26 16:06] whitlockjc commented on #587
@bnoordhuis @jbergstroem @rvagg No need to break protocol or go through a lot of extra effort for this.

This only seems to be an issue when building libuv with VS2013 or VS2015 *(extra `fs_event` created from creating files)* so until we officially support building on those environments, or at least have CI environments to build libuv using them, this likely isn't going to manifest or matter.

[2015-10-26 16:18] whitlockjc commented on #587
Updated the issue to be any VS greater than 2010 as VS2012 fails as well.  I'm not sure if it's an OS configuration or what but this is the same VM I used to work on #30.  I do think the test is flawed and should be fixed regardless.  Long story short, `ReadDirectoryChangesW` can report multiple events for a single filesystem interaction and that is what's going on with this test.  Since the test

[2015-10-26 16:20] bnoordhuis commented on #587
That sounds quite plausible.  A pull request would be most welcome.

[2015-10-26 16:23] whitlockjc commented on #587
Already on it.  :)

[2015-10-26 17:49] whitlockjc commented on #587
Done.  No rush.

[2015-10-26 17:52] whitlockjc commented on #587
For those following along, when using `ReadDirectoryChangesW` to watch a directory recursively, you can end up with overlapped events.  This is handled in libuv but the test was not written to expect *more* `fs_event_cb` invocations than the number of files created/removed.

When looking into this, I noticed that the current tests will pass even if not all create/remove requests are handled becaus

[2015-10-26 20:58] whitlockjc commented on #499
I've started work on this.

[2015-10-27 05:53] jorangreef commented on #499
Thanks @whitlockjc

[2015-10-27 06:36] jasonwilliams200OK commented on #342
@lodejard,

https://github.com/nodejs/node/pull/1568#issuecomment-132076551

can you provide some help to filling the gap in implementation for windows?
The Unix code lives in src/unix/core.c, which gets all the performance and process-info related fields from `sys/resource.h`. In windows those can be fetched from `pdb.h` in a bit different manner.