[2020-03-06 20:28] cjihrig commented on #2728
There have been a few runs now, and everything seems normal, so I'm going to close this issue. Thanks for the heads up though.

[2020-03-06 20:28] #2728 closed

[2020-03-09 10:24] vekkuli opened #2733 "advapi32 module is not loaded"
Using sample code (e.g. docs\code\pipe-echo-server\main.c) in a fresh Visual Studio 2017 (Release x64 build) fails at runtime in src\win\winapi.c:
[code]
It seems that the advapi32 module is not loaded. Replacing `GetModuleHandleA` with `LoadLibraryA` seems to fix the issue in this case. The issue does not come up in provided tests. I'm not able to figure out what gets the module loaded in the tes

[2020-03-09 11:37] bnoordhuis commented on #2733
You need to link with the following libraries:
[code]

[2020-03-09 11:55] vekkuli commented on #2733
All of those are included in the Additional Dependencies. Linking wouldn't pass without it. Or am I missing something even more explicit about the linker configuration?

[2020-03-09 12:09] bnoordhuis commented on #2733
Possibly, but I don't know what. :-)

You're the first one to bring this up, to the best of my knowledge, so it's probably something on your end but I'm not sure what.

cc @libuv/windows, just in case.

[2020-03-09 12:12] erw7 commented on #2696
I think the only case that really matters is when `uv_chdir` is called at the same time as the function called with a relative path as an argument. Therefore, I think it is enough to just add that it is not thread-safe to the `uv_chdir` documentation.

[2020-03-09 19:58] bnoordhuis commented on #2699
Right, I'm following now. :-)

But then the libuv user won't know a partial write took place, right?

[2020-03-09 22:01] santigimeno commented on #2699
Yeah, the idea was, in the case of partial writes, trying to return both the number of bytes successfully written and the error in the `uv_fs_t` request. I don't know if there are some space there for an _error-on-partial-write_ field.

[2020-03-10 09:52] bnoordhuis commented on #2696
There are a number of places where we call `(Get|Set)Directory()` without proper locking:
[code]

[2020-03-10 09:59] #2721 closed

[2020-03-10 10:32] #2692 closed

[2020-03-10 18:01] vtjnash commented on #2696
FWIW, the implementation _is_ thread-safe at least as far back as XP according to the rust developers (https://github.com/rust-lang/rust/issues/37984#issuecomment-284935308), who I'd generally trust for that sort of question.

Thus the problematic pattern is only with _not_ using GetCurrentDirectoryW to normalize the path, and then making multiple calls into Win32 with the relative path and assumi

[2020-03-10 21:25] cjihrig commented on #2709
I've gotten a couple green CI runs (minus osx1011, which just hasn't run for whatever reason):

- https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1785/
- https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1787/

If the Node integration CI comes back with only flaky test failures (https://ci.nodejs.org/view/libuv/job/libuv-in-node/130/), then I'm going to move forward with this.

[2020-03-11 09:07] vekkuli commented on #2733
Just to further invalidate the issue: I only get the issue when cloning the repo and building the library from source—not when installing through vcpkg.

[2020-03-11 09:51] bnoordhuis commented on #2733
For triaging purposes, it might be helpful if you describe exactly how you clone the repo, create the project and build the sources.

[2020-03-11 10:31] vekkuli commented on #2733
I'm going to brush it as some quirk in my setup until someone else runs into the same problem.

[2020-03-11 13:46] cjihrig commented on #2709
@bnoordhuis do you want to get https://github.com/libuv/libuv/pull/2734 sorted before this release? Otherwise, I think this is ready to go.

[2020-03-11 13:47] mpenick commented on #2687
Please don't mark as stale! ^ There's a fix pending.

[2020-03-11 15:57] bnoordhuis commented on #2709
@cjihrig I just merged #2734. v1.35.0 is good to go. :-)

[2020-03-11 16:19] cjihrig commented on #2709
Thank you.

[2020-03-11 16:26] #2709 closed

[2020-03-13 13:50] kencu commented on #2715
have to be careful. TARGET_OS_IPHONE is actually defined to "0" on MAC.

[2020-03-13 14:09] kirill-berezin-ringcentral commented on #1778
Wrapping this up: because it's a bit complicated to build on some platform, we will just release inconsistent API and document that this is not supported. In NodeJS because libuv doesn't support it, in libuv, because it expects upper layers to wrap around it.

There a lot of flows differences between Windows Mac and Linux. Some of them simpler on some platforms. But because their behavior internal

[2020-03-13 14:20] bpasero commented on #1778
I think you did not mean to ping me?

[2020-03-13 14:34] kirill-berezin-ringcentral commented on #1778
To be honest I am not sure who I should ping. You were the one who originally made recursive support on windows. I wanted to know your opinion.

[2020-03-13 15:53] bpasero commented on #1778
Oh, I forgot about it. I am no longer very active in this area and cannot allocate resources, sorry.

[2020-03-13 15:55] kirill-berezin-ringcentral commented on #1778
No, I am willing to contribute, but I want to know, if the merge request like that going to be accepted, or it is not desired by design.

[2020-03-15 14:48] famastefano opened #2740 "Tests passes on Debug and Release with VS2019 on x64"
* **Version**: Release 1.34.2
* **Platform**: Windows 10
[code]

I just wanted to let you know that LibUV 1.34.2 can be built on VS2019 with CMake without any changes: `cmake ../.. -G "Visual Studio 16 2019" -A x64 -DBUILD_TESTING=ON`

Tests run successfully with Debug or Release configuration without any issue.

I've checked both Private and Public networks when the Firewall prompt showed up for

[2020-03-16 22:41] genio opened #2742 "MinGW and Windows - Compile fail with Perl 5"
* **Version**: 1.35.0
* **Platform**: Windows 10, 64-bit. Strawberry Perl with MinGW:

[code]

1.34.2 and previous did not have this problem.

If I use Perl v5.30, it comes with a slightly different MinGW build that appears to behave as expected. No version of Perl prior to that will allow installation.

[code]

[2020-03-17 12:14] bnoordhuis commented on #1958
@vtjnash Do you want to merge #2535? You signed off on it and it'd close out this issue.

[2020-03-17 13:20] bnoordhuis commented on #1778
@kirill-berezin-ringcentral Libraries that take care of recursive directory monitoring exist for Node.js. https://www.npmjs.com/package/chokidar is probably the most popular one.

The reason why I don't think that kind of support will ever appear in libuv is that monitoring is inherently race-y and lossy. That forces the library to adopt policies to deal with such conditions but libuv doesn't want

[2020-03-17 17:09] Qix- commented on #2255
.

[2020-03-17 18:03] genio commented on #2742
@erw7 Thanks for looking into that so quickly. I'll try to remember to run a test suite before the next release so I can hopefully let you guys know ahead of time.

[2020-03-18 23:39] neoxic commented on #2476
up.

[2020-03-19 09:39] kirill-berezin-ringcentral commented on #1778
@bnoordhuis I am aware of nodejs libraries, but I am not fully supportive of that. Let's remove windows and macos support from libuv, and make new nodejs libraries for that as well. I am not following the logic.

The library successfully rely on libc and c-ares, in similar cases. (For example recursive dns lookups is not performed with nodejs libraries, and available from the box).

Imo it should

[2020-03-19 09:47] bnoordhuis commented on #2476
Do I summarize correctly that this is a macos kernel bug? We don't normally report those usptream (of course that doesn't mean you can't, @neoxic) because of the complete lack of feedback from Apple.

If there is some change we can make to libuv to alleviate the issue, we can look into that. Otherwise I suggest closing this out.

[2020-03-19 09:55] muyuxx opened #2744 "102 not ok and 103 not ok when make check on centos"
environment

centos6.8
cmake3.6
gcc6.1
libuv1.22

102 not ok and 103 not ok when make check. how to fix it?

[2020-03-19 12:27] bnoordhuis commented on #2744
Can you post the verbatim output of `make check`?

[2020-03-19 14:12] bnoordhuis commented on #2733
Thanks for the heads-up. I'll close out the issue until further notice.

[2020-03-19 14:12] #2733 closed

[2020-03-19 14:15] bnoordhuis commented on #2699
I don't think that can work. `req->result` is used to signal both errors and bytes written.

Besides, it's a rather big yet subtle change in behavior so I don't think it's a good idea even if it were possible to retain backwards ABI compatibility.

[2020-03-19 14:29] santigimeno commented on #2699
Probably I'm not explaining myself or I am talking nonsense but I'll try one last time and drop the issue as it hasn't any importance.
With what I have in mind, `req->result` would behave exactly the same, as it will return the number of bytes written. The only change would be adding a new field in `uv_fs_t` that would report the error that caused the partial write (as we already know it) and that

[2020-03-19 18:44] #2699 closed

[2020-03-20 03:09] neoxic commented on #2476
Ok, Stale bot! You won...

[2020-03-20 03:09] #2476 closed

[2020-03-20 03:48] muyuxx commented on #2744
times.nice: 0
# uv_interface_addresses:
#   name: lo
#   internal: 1
#   physical address: 00:00:00:00:00:00
#   address: 127.0.0.1
#   netmask: 255.0.0.0
#   name: eth0
#   internal: 0
#   physical address: 00:0c:29:8b:94:2b
#   address: 192.168.23.129
#   netmask: 255.255.255.0
#   name: lo
#   internal: 1
#   physical address: 00:00:00:00:00:00
#   address: ::1
#   netmask: ffff:ffff:ffff:ffff:

[2020-03-20 08:58] bnoordhuis commented on #2744
I only see this failure:
[code]
And that's almost certainly caused by your local DNS returning something for the domain name `xyzzy.xyzzy.xyzzy.` instead of NXDOMAIN.

I'm going to close this out but let me know if you have reason to believe it's an issue with libuv after all.

[2020-03-20 08:58] #2744 closed

[2020-03-20 10:22] muyuxx commented on #2744
@bnoordhuis
make check passed after changed my network
think you

[2020-03-20 20:15] saschanaz commented on #1633
Also Surface Pro 7 i7-1065G7 here. Could this be something with Intel 10xx series CPU?

[2020-03-23 17:57] vasubabukandimalla opened #2750 "handle->name is not being passed correctly from uv_pipe_connect to pipe_connect_thread_proc"
* **Version**:
* **Platform**:
Version: 0.10.20
Platform: Windows 10

[2020-03-23 18:00] vasubabukandimalla commented on #2750
While using libuv version 0.10.20 on windows observed that pipe_name is correctly set to handle->name in uv_pipe_connect, but when WaitNamedPipeW call from pipe_connect_thread_proc generating core dump because handle->name is NULL.

[2020-03-23 18:29] bnoordhuis commented on #2750
The v0.10.x release line has been _long_ out of support. Try upgrading to the latest, v1.35.0.

[2020-03-23 18:29] #2750 closed

[2020-03-24 14:58] dmabupt opened #2752 "ibmi: isatty(55555) returns true on IBMi PASE"
* **Version**: v1.35.0
* **Platform**: IBM i

The issue was found in the failed test of Node.js --> [pseudo-tty/test-tty-isatty](https://github.com/nodejs/node/blob/master/test/pseudo-tty/test-tty-isatty.js#L12)
`AssertionError [ERR_ASSERTION]: 55555 reported to be a tty, but it is not`

On IBMi PASE, the libuv API `isatty` is implemented [as below](https://github.com/nodejs/node/blob/master/test/

[2020-03-24 15:15] richardlau commented on #2752
There was some discussion in https://github.com/libuv/libuv/pull/2565#discussion_r355158948 when the IBMi implementation was added.

[2020-03-24 15:48] dmabupt commented on #2752
Seems adding the check is not a good idea. @kadler , what is your opinion?

[2020-03-24 16:02] kadler commented on #2752
Let's refactor the ioctl call in to its own `isatty` function. That way the main codepath is the same for all POSIX platforms and we can implement the local static isatty function to implement the correct behavior wrt errno handling. Doing it inline will just make things more complicated.

[2020-03-24 16:03] kadler commented on #2752
Looking at the code for isatty, we definitely need to handle EBADF distinctly from other errno values.

[2020-03-24 16:47] kadler commented on #2752
I've created #2753 for this issue

[2020-03-24 16:59] kadler commented on #2752
@dmabupt can you test my changes with Node to see if the Node test fails. @richardlau should we add a similar test to libuv?

[2020-03-24 17:36] richardlau commented on #2752
If it can be tested reliably I don't see why not.

[2020-03-25 06:47] kmdavid3 commented on #1633
We faced the same issue using nodejs and firebase-tools.
we tried to update the bios but the problem was still there and when switched from node version 12.6.1 the problem was resolved.

[2020-03-25 08:11] rejhgadellaa commented on #1633
@kmdavid3 which version of node did you switch to? I'm running 12.6.1.

[2020-03-25 14:44] kmdavid3 commented on #1633
from node 10.16.3 to node 12.6.1

[2020-03-25 14:47] saschanaz commented on #1633
@rejhgadellaa Out of curiosity, are you also using Windows and Intel 10xx CPU?

[2020-03-25 17:01] rejhgadellaa commented on #1633
Yes, Surface Laptop 3, i7-1065G7 and Windows 10. Still getting the issue.

Tried latest firmware, upgrading node to 12.6.3, no luck so far.

[2020-03-25 17:04] zilched0 commented on #1633
Quick update, on my Surface Pro 7, I moved over to WSL v1 about a month ago and haven't seen the issue since (fingers crossed)... Might be an option?

[2020-03-25 17:24] rejhgadellaa commented on #1633
@zilched0 WSL fixes it for me. Super. Weird. So.. it's powershell/windows' own subsystem that gets it wrong?

[2020-03-26 15:22] arloor opened #2756 "uv__allocator.local_free(ptr); ptr point to 0xffffffff00000000"
* **Version**: 1.30
* **Platform**: fedora31 64bit

I minusly  modify the code of tcp-echo-server as showed bellow.

I just malloc a char array，and pass it to the  write process.

[code]

call back function:

[code]

It acts normal to echo 'aa' , but i ran into some problem, when i set my chrome's proxy to this application.

[code]

at here: line 81 uv-common.c

[code]

the call trace before is :

[2020-03-26 15:23] arloor opened #2757 "uv__allocator.local_free 0xffffffff00000000"
* **Version**: 1.30
* **Platform**: fedora31 64bit

I minusly  modify the code of tcp-echo-server as showed bellow.

I just malloc a char array，and pass it to the  write process.

[code]

call back function:

[code]

It acts normal to echo 'aa' , but i ran into some problem, when i set my chrome's proxy to this application.

[code]

at here: line 81 uv-common.c

[code]

the call trace before is :

[2020-03-26 15:24] #2756 closed

[2020-03-27 03:22] gengjiawen commented on #1894
Is it okay we add github action ? cc @richardlau @cjihrig

[2020-03-27 03:23] gengjiawen commented on #2560
VS 2019 support cmake, you can try this way.

[2020-03-27 13:15] cjihrig commented on #1894
Do you mean to run the CI, or something else? I'm not opposed to GitHub actions personally (I actually like them a lot), but they won't be able to fully replace Jenkins due to lack of platform support.

[2020-03-27 18:12] #2740 closed

[2020-03-27 22:47] bnoordhuis commented on #2740
Thanks for the heads-up, Stefano! Much appreciated.

[2020-03-28 23:28] exellian opened #2759 "GetModuleHandleA("advapi32.dll") equals null"
Libuv 1.35 built on source with vs2017 option:
Windows 10 1904 (Build 18362.720):
On Visual Studio 2017 I link all the required libs:
ws2_32.lib
advapi32.lib
iphlpapi.lib
psapi.lib
shell32.lib
user32.lib
userenv.lib
libuv.lib
And I dont have a compile error, but for some reason GetModuleHandleA("advapi32.dll") returns null which leads to an fatal error in uv_winapi_init(), but only in Release mode

[2020-03-29 08:46] bnoordhuis commented on #2759
That sounds suspiciously like #2733. We never established the root cause there but #2748 might help.

[2020-03-29 20:07] exellian commented on #2759
Yes I already read this issue but the things described there didn't help.
Yesterday evening I found a workaround solution by calling LoadLibraryA("advapi32.dll") manually and it worked. But I don't know if I should really do it that way

[2020-03-30 10:00] bnoordhuis opened #2761 ""spurious wakeups" with uv_cond_wait?"
quick question; what exactly does the documentation mean by expecting "spurious wakeups" with uv_cond_wait? Am I to not rely on a conditional wait only proceeding on a condition signalling from another thread, or does this mean something else?

_Originally posted by @brandonpoc in https://github.com/libuv/libuv/pull/1639#issuecomment-605776019_

[2020-03-30 10:31] bnoordhuis commented on #2759
You're saying debug builds work but release builds don't, unless you call LoadLibrary? Are you using the gyp or the cmake build?

Pure speculation on my part but perhaps the linker sees that libuv doesn't use anything from advapi32.lib directly (only through `GetProcAddress()` but the linker can't see that) and therefore drops it from libuv's list of dependencies?

I'll open a PR that switches to

[2020-03-30 11:38] exellian commented on #2759
1. I am using vcbuild.bat vs2017 to build libuv and vcbuild.bat release vs2017 for release.
2. That could be the root cause, but I don't really know either
3. Ok

[2020-03-30 13:35] bnoordhuis commented on #2759
@exellian Can you check if #2762 fixes the issue for you?

[2020-03-30 16:18] bnoordhuis opened #2763 "FR: ability to shutdown libuv manually"
If I try to write an extension for PHP, and I may use Zend Memory Manager, and the memory manager always exit before UV_DESTRUCTORS, unless Zend Memory Manager also use the `__attribute__((destructor))`
![image](https://user-images.githubusercontent.com/25978241/77927096-7daa3d80-72d9-11ea-96c5-37aa7fdddbc6.png)
![image](https://user-images.githubusercontent.com/25978241/77927250-a6323780-72d9-11e

[2020-03-30 16:25] bnoordhuis commented on #2763
@twose Can you check if #2764 suits your needs?

[2020-03-30 16:59] twose commented on #2763
@bnoordhuis Yes, Thank you for your efficient work!

[2020-03-30 17:23] twose commented on #2763
I found another problem, the design may not work in programs with multiple runtimes.
For example, the life cycle of a PHP program might look like this:
[code]

of course, I can also use persistent memory
but I think we can init and shutdown multiple times (better design)

[2020-03-30 18:11] exellian commented on #2759
I rebuild it and did a tets run and everything seems working now! Thanks alot!

[2020-03-30 20:29] sam-github opened #2765 "request to remove the aix 6.1 builds, and add aix 7.1"
We'd like to retire the AIX 6.1 machines, its not a supported OS level since Node.js 8.x went EOL.

libuv-test-commit-aix currently builds on 6.1/gcc, and 7.2/xlc.

We'd like to
1. Drop the AIX 6.1 build
2. Add an AIX 7.1 gcc build (7.1 is what currently supported Node.js minimally supports).

Are there any concerns about this?

I did a quick trial, it will take a few more build deps installed (gm

[2020-03-30 22:52] Parakoos commented on #1633
Can someone explain what you mean by 'switch to WSL'? I'm trying to run firebase emulator and it keeps erroring with the weird Assertion failed: new_time >= loop->time, file c:\ws\deps\uv\src\win\core.c, line 309

[2020-03-31 06:49] kmdavid3 commented on #1633
[check this out](https://www.laurentbloch.net/MySpip3/Installer-les-services-Linux-de-Windows-10-WSL)

[2020-03-31 07:08] zilched0 commented on #1633
Using the Windows Subsystem for Linux (WSL) allows you to run Ubuntu (or another distribution) from within Windows. Another link: https://www.smashingmagazine.com/2019/09/moving-javascript-development-bash-windows/

[2020-03-31 08:51] bnoordhuis commented on #2765
I don't see a problem with that. No objections.

[2020-03-31 08:53] richardlau commented on #2765
No objections from me.

[2020-03-31 09:58] bnoordhuis commented on #2763
That'd be hard to support - it'd need a massive refactoring - and it'd probably be too slow for your use case anyway, if I understand it correctly.

Libuv has a lot of global state (threads, mutexes, init-once variables, etc.) that would need to be reinitialized every time. I'm not even sure if it'll work on all platforms.

If #2764 is sufficient for your needs, I'm happy to land that. Otherwise I

[2020-03-31 11:16] jonjow commented on #1032
Hi sorry to bring up such an old post but it is very relevant to the work I am doing.
I am a Linux dev trying to make my software work cross-platform. From what I can see in the libuv code it should be possible to use http://docs.libuv.org/en/v1.x/fs.html to interact with the serial port on Windows as Linux would.
I have seen a fork trying to do this with uv_device https://github.com/zhaozg/libuv/

[2020-03-31 12:05] CurlyMoo commented on #1032
@jonjow you can check this code to see how i used libuv to read from serial devices:
https://github.com/pilight/pilight/blob/master/libs/pilight/lua_c/io/serial.c

[2020-03-31 12:11] jonjow commented on #1032
@CurlyMoo many thanks, I will persist with it. It seems to do the same as what I tried but at least you've proved the concept.

[2020-03-31 13:50] twose commented on #2763
Thank you for your help and patience :)
#2764 is sufficient for my needs (I can use persistent memory in fpm mode), and I think it (`uv_library_shutdown`) is better than the original way

[2020-03-31 14:29] jonjow commented on #1032
`#ifndef _WIN32
	#include <unistd.h>
	#include <sys/time.h>
	#include <libgen.h>
	#include <dirent.h>
	#include <unistd.h>
#endif`

@CurlyMoo just a code tidy, unistd.h is included twice.

[2020-04-01 02:25] Undercat opened #2766 "ANSI color values are being remapped in Node"
I have an issue sending ANSI escape sequences to CygWin's console, mintty, as described in issue mintty/mintty#981

I'm starting to think this may be actually be a libuv issue. Does this sound like something your tty code could be doing when talking to the Windows pty driver, or does the problem lie farther downstream?

[2020-04-01 07:13] erw7 commented on #2766
If Windows has `ENABLE_VIRTUAL_TERMINAL_PROCESSING`, then libuv will output the given output as is. Therefore, I don't think this is a problem with the libuv.

In fact, I've tried it with the following program and I get the same problem.

[code]

[2020-04-01 08:27] Undercat commented on #2766
Interesting. Thanks for the insight.

I suppose it makes sense that Microsoft would be doing the remapping, since the values being remapped correspond specifically to the RGB intensity values chosen by Windows to make their SGR primary colors "more visible," like everybody else does...with different intensity values. I'll see if I can't find the right place to post this issue with them.

Cheers.

[2020-04-01 08:27] #2766 closed

[2020-04-01 17:54] lygstate commented on #2587
[code]
obviously len  are large than 32767

[2020-04-03 04:14] fusuiyi123 opened #2768 "make failed at aarch64-linux-android arm64"
* **Version**: 1.35.0
* **Platform**:  `Linux 951ba020b0df 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UTC 2019 x86_64 GNU/Linux`
NDK=r18
API=28
ARCH="arm64"
[code]

[2020-04-03 09:15] bnoordhuis commented on #2768
Not sure what's up with that, it doesn't look like the same file is linked twice.

Android is not a supported platform so I'm going to close this but if you figure out the cause, please send a pull request.

[2020-04-03 09:15] #2768 closed

[2020-04-03 12:01] Parallel-Hao opened #2769 "unix: uv_async_send takes long latency on single core CPU"
* **Version**: v1.x
* **Platform**:  Linux 4.15.0-74-generic

I use libuv to manage socket communication in my process including two threads, one event loop thread from libuv and one thread sending event requests. It is found that the uv_async_send function takes long latency (~10 ms) occasionally when the process is pinned (via taskset) to one CPU core.

Looking into uv_async_send code, I found s

[2020-04-03 13:11] wiggin15 opened #2770 "libuv fails to build on RHEL 5"
RHEL 5 is old, but technically still supported.

libuv fails to build on this platform for two reasons:
* `O_CLOEXEC` is not defined. There are several places across libuv which check for this flag's availability using `#ifdef O_CLOEXEC` but some places check it differently and compilation on RHEL 5 fail there:
    * In `core.c`, `uv__dup2_cloexec` checks using `#if defined(__FreeBSD__) || defined

[2020-04-03 21:59] bnoordhuis commented on #2770
We dropped support for kernels < 2.6.32 three years ago and we have no interest in reviving that support. I mean, even 2.6.32 is 11 years old by now.

[2020-04-03 21:59] #2770 closed

[2020-04-04 21:54] bnoordhuis commented on #2769
Your analysis sounds right.

Libuv spins because otherwise performance is atrocious when there are many active `uv_async_t handles. Removing the spin loop is therefore not an option but limiting the number of iterations sounds sensible to me.

Want to send a PR? There are some async handle benchmarks you can use for testing performance:

https://github.com/libuv/libuv/blob/0ed9692a80b2f310ad52060a

[2020-04-06 02:19] dmabupt commented on #2752
PR #2753 has been tested. It works as expected. I will close this issue once the PR landed. Thanks.

[2020-04-06 10:44] #2759 closed

[2020-04-06 11:25] #2752 closed

[2020-04-06 12:50] twpol opened #2773 "CPU times/read_times on Linux is multiplied by clock ticks wrong"
* **Version**: 1.19.2 (NodeJS 8.17.0)
* **Platform**: Linux db8e824e7490 4.9.184-linuxkit #1 SMP Tue Jul 2 22:58:16 UTC 2019 x86_64 Linux

Firstly, apologies for the old version above, it's what I happened to have been debugging, however, the issue I think I've found exists in the latest code linked below.

The function `read_times` appears to contain a small but critical error in its calculations

[2020-04-06 12:58] twpol commented on #2773
https://github.com/libuv/libuv/commit/54bfb66806a3f94f44243030ad51a10db6c9eb29 appears to be where this was broken (or at least diverged from other platforms).

[2020-04-06 15:07] jonjow opened #2774 "uv_async_t not working"
All the functions return 0 but nothing ever happens in async_cb

[code]

* **Version**: 1.35
* **Platform**: Windows 10

[2020-04-06 15:09] vtjnash commented on #2774
Needs a call to `uv_run`

[2020-04-06 15:09] #2774 closed

[2020-04-06 15:10] jonjow commented on #2774
@vtjnash sorry I missed the run out of the example, I am calling run.

[2020-04-06 15:26] addaleax commented on #2774
@jonjow If you’re still having trouble, I’d suggest posting https://github.com/libuv/help/ and providing a runnable reproduction of your issue :)

[2020-04-06 15:46] dmabupt commented on #2698
Unfortunately it does not fix the failure on IBMi.

Seems the failure related to the different [shutdown()](https://github.com/libuv/libuv/blob/v1.x/test/test-poll.c#L404) behavior. In PASE, when the socket has been `shutdown()`, API `recv()` showed `Connection reset by peer` error. But on some other platform, there is no such an error.
This error makes [this assertion](https://github.com/libuv/li

[2020-04-06 19:19] NNskelly commented on #1633
Just adding my voice to the noise to reaffirm the scope of the problem: same issue on an HP Spectre x360 13-aw0xxx purchased late last year, Node 12.14.0 Win10 version 1903.  Installing a whole Linux distro to run a single node script sounds like overkill, or at least more of a hassle than temporarily turning off some functionality in my codebase so I don't even invoke timing sensitivity, so hopin

[2020-04-06 19:21] saschanaz commented on #1633
Could someone call a person from Microsoft or Intel to investigate this? 🤔

[2020-04-06 23:26] bnoordhuis commented on #2773
Thanks for the report. The libuv documentation doesn't really say what units are used but Node's docs claim they're in milliseconds. Let's assume for now Node is right.

Values reported in `/proc/stat` are in increments of 1/100th of a second. Libuv multiplies them by `sysconf(_SC_CLK_TCK)`, which coincidentally is always 100 on linux.

On e.g. macos and freebsd we multiply them by `1000 / sysconf

[2020-04-07 01:13] anarmammad commented on #1633
Experiencing same problem:
- Dell Inspiron 15 5593
- Windows 10 Home v1909
- node v12.16.1
It's a pity that WSL is not an option :(

[2020-04-07 10:09] richardlau opened #2775 "Persistent fs_event_error_reporting CI failures on macOS 10.15"
To support https://github.com/libuv/libuv/pull/2682 a [cmake based job was added for macOS](https://github.com/libuv/libuv/pull/2682#issuecomment-601186644). The first CI macOS hosts to have cmake added to them were 10.15 (as we were setting those up from scratch). There's a persistent failure in the CI with v1.x on the 10.15 hosts that we're not seeing on 10.11:

e.g. https://ci.nodejs.org/view/l

[2020-04-07 10:57] richardlau commented on #2765
I'm assuming the quick trial was https://ci.nodejs.org/view/libuv/job/libuv-test-commit-aix/1864/nodes=aix71-ppc64/console:
[code]

On `test-ibm-aix71-ppc64_be-1` it does look like we have m4 installed (`m4-1.4.17-1.ppc`):
[code]

[code]

I'll dig further into this.

[2020-04-07 11:52] twpol commented on #2773
I'll have a go at a PR, sure.

To be clear, I don't believe this is a coincidence. https://linux.die.net/man/5/proc says:

[2020-04-07 14:24] bnoordhuis commented on #2773
Indeed it's not. :-)

musl libc hard-codes `sysconf(_SC_CLK_TCK)` to 100 but glibc reads it from the auxv on start-up so it's _technically_ possible for it to be something else - but that was only the case on alpha and ia64 and both of those are long dead.

[2020-04-07 14:33] richardlau commented on #2765
Right this is `PATH` issue. AIX supplies its own version of [`m4`](https://www.ibm.com/support/knowledgecenter/ssw_aix_71/m_commands/m4.html) which is in `/usr/bin/m4`. We do have GNU m4 installed (via `m4-1.4.17-1.ppc`) and that appears to be in `/opt/freeware/bin/m4`.

[code]

[2020-04-07 15:20] richardlau commented on #2765
Test CI (with aix71-ppc64 added): https://ci.nodejs.org/view/libuv/job/libuv-test-commit-aix/1876/ (✔️)

Passed, so removing aix61-ppc64.

[2020-04-07 15:26] richardlau commented on #2765
New CI (with aix61-ppc64 removed): https://ci.nodejs.org/view/libuv/job/libuv-test-commit-aix/1877/

[2020-04-07 15:34] richardlau commented on #2765
All passed so this can be considered done.

For the record on AIX we now build and test on:
job | build and test on
---|---
[libuv-test-commit-aix](https://ci.nodejs.org/view/libuv/job/libuv-test-commit-aix) | aix71 (gcc) and aix72 (xlc) with autoconf+automake
[libuv-test-commit-aix-cmake](https://ci.nodejs.org/view/libuv/job/libuv-test-commit-aix-cmake/) | aix71 (gcc) with cmake

[2020-04-07 15:34] #2765 closed

[2020-04-07 19:46] genio commented on #2742
Man. the stale bot is a terrible, terrible thing.

[2020-04-09 22:45] dmabupt commented on #2698
Based on the document https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_74/apis/shutdn.htm , we may skip these tests on IBM i --

[2020-04-10 11:42] DUNMINFAN opened #2779 "Tes"
**try it out **

[2020-04-10 13:47] #2779 closed

[2020-04-11 22:58] fantix commented on #2058
Refs MagicStack/uvloop#317, the solution @bnoordhuis and @saghul suggested is not always working. I wrote a script below for testing, with all 3 solutions, none of them worked:

* A: `uv_poll_start` with a new `uv_poll_t` on the same fd
* B: `uv_read_start` on the same `uv_pipe_t` (commented out)
* C: `uv_poll_start` on the same `uv_pipe_t` (commented out)

[code]

I might've done something terrib

[2020-04-12 08:50] bnoordhuis commented on #2058
@fantix Polling the same fd with two different `uv_poll_t` handles isn't supported at the moment, see #1172. I'd be open to a pull request that adds support for it but it's not trivial to implement, see the discussion in that issue.

There's an open pull request that makes `uv_poll_start()` return `UV_EEXIST` rather than have it fail with an assert, see #2686. That will probably show up in a libuv

[2020-04-12 10:47] joshxyzhimself commented on #1633
On my case it was me switching up settings in my AMD Overdrive

![image](https://user-images.githubusercontent.com/60829711/79066915-ec31c700-7ced-11ea-86c8-906ca7251a04.png)

I had moved the sliders to 38x and time drift error popped up.

Had to move it back to the previous 39x.

[2020-04-12 17:55] fantix commented on #2058
@bnoordhuis thank you so much for the response!

So if `uv_poll_start()` doesn't work for now, should we aim for making `uv_read_start()` work for `O_WRONLY` file descriptors again, or try to implement option 2 of #1172 still? After all, the last thing we want to do I think is to develop some custom implementation in uvloop to fork libuv in certain ways.

[2020-04-13 12:21] bnoordhuis commented on #2058
@fantix Multiplexing support is welcome anyway so yes, please. :-)

I'm not adamantly opposed to making `O_WRONLY` file descriptors work again with `uv_pipe_open()`, provided it doesn't need too many hacks and won't cause maintenance hassle down the road.

"Too many" is somewhat subjective but if you open a conversation starter PR, we'll take it from there.

[2020-04-13 19:07] gabrielschulhof opened #2784 "Windows: Use GetCurrentThreadId for uv_thread_self"
* **Version**: 1.35.0
* **Platform**: Windows 10, virtualbox
Could we use `GetCurrentThreadId()` at https://github.com/libuv/libuv/blob/335e8a6d128646e5a19d39dfc677f5a5a555f7cc/src/win/thread.c#L184-L187 and remove the need for storing the thread ID in thread-local storage? This would also address the issue at https://github.com/nodejs/node/pull/32823.

[2020-04-13 21:27] vtjnash commented on #2784
Then we can't call `uv_thread_join`, since we need a thread handle for that. Though we could perhaps allocate one on demand and stash it here.

[2020-04-13 22:44] gabrielschulhof commented on #2784
@vtjnash if we cannot drop the thread-local storage, we can maybe wrap `uv_key_get(&uv__current_thread_key)` in a function that calls `GetCurrentThreadId()` and saves the value at `uv_current_thread_key` if it finds that the value stored there is zero and only then returns the value.

[2020-04-14 07:19] bnoordhuis commented on #2784
You mean with `OpenThread(SYNCHRONIZE, FALSE, tid)`? I think that could work.

@gabrielschulhof Want to give that a try? The type of `uv_thread_t` can't change for API/ABI reasons but that can be solved by casting. It's a typedef for `HANDLE` while a thread id is a `DWORD`.

[2020-04-14 13:32] cjihrig opened #2787 "Release proposal: v1.36.0"
It's been a little over a month, and it seems like it would be good to get https://github.com/libuv/libuv/pull/2786 out the door. I should have time to do this today if no one objects.

[2020-04-14 13:37] cjihrig commented on #2787
Notable changes:

- gyp support has been removed.
- recvmmsg messages are returned in the correct order.
- IBMi cmake support has been added.
- `uv_fs_lutime()` has been added.

[2020-04-14 15:27] gabrielschulhof commented on #2784
@bnoordhuis I'd love to, but, unfortunately, I don't think I have the cycles 🙁

[2020-04-15 00:16] #2683 closed

[2020-04-15 00:57] cjihrig commented on #2787
CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1855/
libuv + Node.js Integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/131/

[2020-04-15 01:25] fantix commented on #2058
Thanks for the suggestion! I'll try to create at least the 2nd PR to continue the discussion.

[2020-04-15 01:26] cjihrig commented on #2787
It looks like the libuv-in-node job needs some work. It's currently failing across the board. I'm guessing it's related to libuv removing gyp support.

[2020-04-15 09:40] richardlau commented on #2787
For posterity, here's an example failure:
https://ci.nodejs.org/job/node-test-commit-linux/34305/nodes=centos7-64-gcc8/console
[code]

The job currently rips out the `deps/uv` folder and replaces it with a libuv checkout so (as it stands) is going to lose the `uv.gyp` file:
[code]

I've updated the job so that it copies out the gyp files before the libuv update and then moves them back in again:
[

[2020-04-15 12:54] cjihrig commented on #2787
Thank you for updating the job @richardlau.

node-test-commit-linux-containered still failed, but I'm comfortable moving forward with the release now.

[2020-04-15 13:10] dod38fr commented on #2130
For the record, The `udp_dual_stack` test works now that I've ran `sudo sysctl net.ipv6.bindv6only=0`. So the original issue was indeed due to `net.ipv6.bindv6only` set to 1. I must have messed up the test I did back in July 2019.

Sorry about the noise.

[2020-04-15 14:34] escherstair opened #2790 "Some warning from MinGW under Windows"
* libuv v1.35.0
* Windows 7 SP1 x64
* MinGW - GCC 7.3.0

Here is the list of some warnings I get from MinW:

https://github.com/libuv/libuv/blob/3e5d26144085bd709a0de24dd744bee8142bae5f/src/win/fs-fd-hash-inl.h#L63
comparison between signed and unsigned integer expressions [-Wsign-compare]

https://github.com/libuv/libuv/blob/3e5d26144085bd709a0de24dd744bee8142bae5f/src/win/fs.c#L705
comparison be

[2020-04-15 16:34] #2787 closed

[2020-04-16 07:43] thierry-FreeBSD opened #2791 "dns/bind 9.16.2 crashes with libuv v1.36.0"
Yesterday I upgraded the FreeBSD port of libuv to 1.36.0.
Since then, several users reported crashes of Bind: see https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=245653
An experimental patch has been proposed by  Tatsuki Makino: see https://bz-attachments.freebsd.org/attachment.cgi?id=213441&action=diff&format=raw&headers=1

[2020-04-16 07:57] bnoordhuis commented on #2791
#2736 looks like the most likely culprit, cc @saghul.

That PR was a fix for #2532 but looking at it again, I think that feature may be backwards incompatible. The idea is that `UV_UDP_MMSG_CHUNK` signifies the callback shouldn't free the buffer but existing code isn't aware of that flag.

[2020-04-16 08:13] bnoordhuis commented on #2791
I've opened a revert: #2792

[2020-04-16 08:39] saghul commented on #2791
👋  The original feature was. backwards-incompatible...ish.  As in, if you passwd a huge buffer nothing special happend.

How about adding a flag to `uv_uddp_init_ex` to turn the behavior on (it being off by default)?

[2020-04-16 08:44] bnoordhuis commented on #2791
A flag is a good way forward but if it takes you some time to come up with a patch, I'd like to land the revert first and release it. You can then revert the revert. :-)

[2020-04-16 09:06] saghul commented on #2791
I'll try to get to it tonight!

[2020-04-16 10:52] SoLoR1 commented on #2791
Can confirm this same issue on Gentoo Linux as well.

`15-Apr-2020 23:05:57.838 general: critical: netmgr.c:1000: REQUIRE(worker->recvbuf_inuse) failed, back trace
15-Apr-2020 23:05:57.838 general: critical: #0 0x5629318abbaf in ??
15-Apr-2020 23:05:57.838 general: critical: #1 0x7fc037259d0c in ??
15-Apr-2020 23:05:57.838 general: critical: #2 0x7fc037271eda in ??
15-Apr-2020 23:05:57.838 general

[2020-04-16 11:26] sharadaibm opened #2793 "configure"
* **Version**:
* **Platform**:

[2020-04-16 11:38] #2793 closed

[2020-04-16 12:25] #2659 closed

[2020-04-16 19:45] ismirsehregal opened #2794 "Rscript.exe crashing after window resized when using R package "fs" (based on libuv)"
I thought maybe someone here is interested in this [issue](https://github.com/r-lib/fs/issues/261). Or knows what's going on.

Cheers!

[2020-04-16 20:04] bnoordhuis commented on #2794
What version of libuv is that?

[2020-04-16 20:21] ismirsehregal commented on #2794
fs [mentions commit](https://github.com/r-lib/fs/tree/master/src/libuv) 8a6dc9b9cef69f48ae342c51fc4f5ec61dcffee0

[2020-04-16 20:39] jimhester commented on #2794
This is almost certainly not an issue with upstream libuv, I would suggest just closing this issue.

[2020-04-16 20:40] bnoordhuis commented on #2794
Sounds like it's old anyway, if it was merged two years ago. Can you try with the latest release?

[2020-04-16 20:41] bnoordhuis commented on #2794
Comments crossed. :-) I'll close this out then, thanks.

[2020-04-16 20:41] #2794 closed

[2020-04-17 07:14] thierry-FreeBSD commented on #2791
Yesterday I pushed this commit to the FreeBSD port of libuv, and everything seems OK.
=> closing.
Thanks for your reactivity!

[2020-04-17 19:33] danielcomes commented on #1633
Assertion failed: new_time >= loop->time, file c:\ws\deps\uv\src\win\core.c, line 309

In hp

Intel core i5-1035G7
win 10 home

[2020-04-18 11:28] saghul commented on #2560
Now that https://github.com/libuv/libuv/commit/53f3c687fc288708721a5a3d9563febda1b9d2c1 is in and GYP is out, there is no need to do anything in libuv AFAICT, CMake takes care of it: https://cmake.org/cmake/help/git-stage/generator/Visual%20Studio%2016%202019.html

[2020-04-18 11:28] #2560 closed

[2020-04-18 18:35] frankfoxy commented on #2769
This issue may be similar to #2651.

[2020-04-18 22:23] namarrgon commented on #2791
I think this should have been left open until a release is available so that other people don't start filing duplicates.

[2020-04-19 15:41] #2791 closed

[2020-04-19 15:44] cjihrig opened #2801 "Release proposal: v1.37.0"
Making an unscheduled release to get https://github.com/libuv/libuv/commit/5736658bee0eede05caa55d66b9ad337e3b77266 out the door.

~~CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1860/~~
Node.js integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/134/ ✔️

EDIT: Reran the CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1861/ ✔️

[2020-04-19 16:13] cjihrig commented on #2801
CI was good. Moving forward with the release now.

[2020-04-19 16:18] #2801 closed

[2020-04-20 12:34] soraryu commented on #1633
Same issue here. Also on 10th gen Intel processor. In my case it's a i7-1035G7.

[2020-04-21 00:01] dmabupt commented on #2698
The PR has been laneded. We may reopen this when necessary.

[2020-04-21 00:01] #2698 closed

[2020-04-21 21:31] danielcomes commented on #1633
Hey!, I solved it installing WSL, try with that

[2020-04-22 08:46] #2773 closed

[2020-04-22 10:27] #2763 closed

[2020-04-22 10:29] #2769 closed

[2020-04-22 16:43] sam-github opened #2804 "Planned outage for test-osuosl-aix72-ppc64_be-2"
See https://github.com/nodejs/build/issues/2305, duplicated below.

-----

This coming Monday, April 27th, test-osuosl-aix72-ppc64_be-2 will be taken down so that the hardware its running on can get some routine maintenance. Its predicted it will occur sometime during the day, Oregon (US) time, and take about 4 hours.

libuv-test-commit-aix uses this machine for xlc builds, and is the only user.

[2020-04-22 20:02] swve commented on #1633
Same issue here, with Intel Core i5-10XXX

[2020-04-22 20:32] NNskelly commented on #1633
An aside for anyone setting up WSL to remedy this for a NodeJS project that happens to include libuv pre/compiled dependencies (e.g. Firebase RTDB's websockets): yes, WSL solves the timing bug, but it may not be a smooth ride on all other fronts.  Specifically, I've needed to do things like

- re-mount the project drive with metadata enabled per https://devblogs.microsoft.com/commandline/chmod-cho

[2020-04-22 23:31] ax3l opened #2805 "Objective C-Code on Darwin breaks GCC"
The file `src/unix/darwin-proctitle.c` includes the macOS system framework headers
[code]
which are written at least partly on Objective-C.

Due to that, GCC builds on macOS fail with errors such as:
[code]

Full details:
[output.txt](https://github.com/libuv/libuv/files/4519461/spack-build-out.txt)
[environment.txt](https://github.com/libuv/libuv/files/4519460/spack-build-env.txt)

The problem is

[2020-04-23 00:22] ibc opened #2806 "In Windows: uv_udp_init_ex() with UV_UDP_RECVMMSG fails with "invalid argument""
* **Version**: v1.37.0
* **Platform**: Window 10 x64

I don't have a Windows host. I got this report from a Windows user using my libuv based application.

It seems that `uv_udp_init_ex()` with the new `UV_UDP_RECVMMSG` flag fails in Windows. Usage is as follows:

[code]

It fails with `uv_strerror(err)`: "invalid argument"

[2020-04-23 00:47] squeek502 commented on #2806
Running into this as well. Relevant code:

https://github.com/libuv/libuv/blob/002fe6e5f2d084fc12fee3d6e5a3fdffe491b7e8/src/win/udp.c#L128-L137

[2020-04-23 00:51] squeek502 opened #2807 "UV_UDP_RECVMMSG is untested"
There are currently no tests that use `UV_UDP_RECVMMSG`, allowing things like #2806 to slip through.

I'll take a stab at implementing a naive test case in a few days, but am opening this issue in case anyone with more knowledge of the `mmsg` functions wants to write something better.

[2020-04-23 01:38] ax3l commented on #2805
Fix proposed in #2808

[2020-04-23 08:34] bnoordhuis commented on #2806
Yep, that's an oversight. Passing the flag should be a no-op on Windows, not an error.

[2020-04-23 15:59] bnoordhuis commented on #2805
Requiring an objective-c compiler is not on the table but I'm open to two alternatives:

1. Skip compiling darwin-proctitle.c when the compiler isn't capable of handling SDK headers.

2. Removing the `<CoreFoundation/CoreFoundation.h>` and `<ApplicationServices/ApplicationServices.h>` by defining the types inline.

I'll open a PR for the second alternative.

[2020-04-24 23:48] miradox opened #2813 "Makefile:5080: recipe for target 'check-TESTS' failed"
* **Version**: Last
* **Platform**: Linux Server 5.3.0-1022-raspi2 #24~18.04.1-Ubuntu SMP aarch64 aarch64 aarch64 GNU/Linux
Hi,
I've done this as indicated in Build Instructions
[code]
And all is good. But the output of the next command `$ make check` is :
[code]
I didn't run this as root as mentioned. Anyone know the solutions ?
Have a good day : )

[2020-04-25 09:06] bnoordhuis commented on #2813
Can you include the actual test failures?

[2020-04-26 12:17] miradox commented on #2813
Hi,
sorry for disturbance.I still tried to execute the make command and everything went well.
Have a good day

[2020-04-26 12:17] #2813 closed

[2020-04-26 12:45] benyaminahmed commented on #1633
I hit this problem with '**firebase deploy**'

This is my stem spec:

![image](https://user-images.githubusercontent.com/36366023/80307878-d4654300-87c3-11ea-8033-f87773b9d332.png)

`Assertion failed: new_time >= loop->time, file c:\ws\deps\uv\src\win\core.c, line 309`

Without a fix for this I am stuck! Don't fancy installing WSL!

[2020-04-26 19:21] Parakoos commented on #1633
I get this with firebase as well! But, it usually works if I do it twice in a row. But, running the firebase emulator doesn't work. Same error. And that one I can't run again. Right now, I'm simply not using the emulator. I tried WSL, and it works, but it is such a hassle to have to npm install everything from a unix perspective.

I can't believe that this is such a common error with i7-1065G7 CPU

[2020-04-26 19:37] addaleax commented on #1633
To be clear, all signs point to this being a bug in Windows, not in libuv.

I’ve opened https://github.com/libuv/libuv/pull/2814 that should at least keep libuv from outright crashing, if it is accepted.

[2020-04-26 19:46] soraryu commented on #1633
@addaleax thank you. Are you by chance aware of any workaround? I'm here as a user where software (in this case Unity 3D game engine) that deep inside uses node.js and libuv is crashing on that specific Intel processor, and I can't do anything about it right now.

[2020-04-26 19:53] addaleax commented on #1633
@soraryu Only the one already mentioned in this thread:

[2020-04-26 20:21] soraryu commented on #1633
OK, tested, and can not confirm - that command does not fix the assertion in libuv in node.js.

[2020-04-28 10:56] jansen-teh commented on #1633
Hmmm weird..
I accidentally did something and it suddenly worked.

I turned off the BitLocker Drive Encryption for my C:. This is where I installed my NodeJS.
(Up to this point, I don't know if the error still occurred.)
I turned on the encryption again, and then turned off and on hibernation via
[code]

I don't know if this will work for everybody, but hopefully, it will. ✌
As for the reason why

[2020-04-28 15:52] sam-github commented on #2804
Much of the work happened, but more will be done this coming thursday, see https://github.com/nodejs/build/issues/2305#issuecomment-620691902

[2020-04-28 15:59] #2806 closed

[2020-04-28 16:38] #2331 closed

[2020-04-28 16:44] musm commented on #2331
thanks @bzoz !

[2020-04-28 16:46] musm commented on #2661
Does this only occur on Windows 2012? Or do you also get this on newer versions of Windows 10.

[2020-04-28 16:47] bzoz commented on #2331
Thanks for reporting the issue and basically providing a solution 😃

[2020-04-28 18:09] #2805 closed

[2020-04-28 18:13] #2587 closed

[2020-04-28 21:34] bnoordhuis commented on #2651
a9d9d4e stands a pretty good chance of fixing this. Let me know if you're still experiencing issues.

[2020-04-28 21:34] #2651 closed

[2020-04-28 22:19] bnoordhuis opened #2820 "win: investigate GetSystemTimePreciseAsFileTime()"
I'm researching Windows clock sources in order to make progress on #1633 and supersede #2814. Summary: stop using QPC in `uv_hrtime()`.

If `QueryPerformanceCounter()` is out, then `GetSystemTimePreciseAsFileTime()` (Windows 8) seems like the best replacement.

Good: high resolution, unlike its non-precise counterpart `GetSystemTimeAsFileTime()` (can be as coarse as 15 milliseconds apparently.)

B

[2020-04-28 22:20] bnoordhuis commented on #2820
Relatedly, more than you ever wanted to know about Windows high-resolution timers:

* http://www.windowstimestamp.com/description
* https://docs.microsoft.com/en-us/windows/win32/sysinfo/acquiring-high-resolution-time-stamp (really good article)

[2020-04-29 07:09] squeek502 opened #2822 "Usability of UV_UDP_RECVMMSG"
While writing [a test case for UV_UDP_RECVMMSG](https://github.com/libuv/libuv/pull/2818) and thinking about [how to bind uv_udp_init_ex in a garbage collected language](https://github.com/luvit/luv/pull/487), I'm realizing that users of libuv will likely need some way of knowing whether or not `mmsg` is actually used/supported at buffer-allocation-time, due to how `UV_UDP_RECVMMSG` relies on buff

[2020-04-29 11:01] santigimeno commented on #2775
Couldn't reproduce the issue locally on `macOS 10.15.3`

[2020-04-29 13:05] bzoz commented on #2820
Would it be any better? Wouldn't the DST, syncing time, etc. cause the same clock-drift issue we are having with QPC() now, but for almost all users instead of the selected few that have the new Intel CPUs?

On a side note, the underlying Windows issue that is causing all this could also affect `GetSystemTimePreciseAsFileTime`.

[2020-04-30 05:14] hinshun opened #2824 "Call statx through glibc"
I have a use case where I'd like to run `nodejs` using [fakechroot](https://github.com/dex4er/fakechroot/issues/67), but since libuv makes the system call directly for `statx`, fakechroot isn't able shim the call in glibc.

I worked around this issue by patching libuv and compiling my own nodejs for now: https://gist.github.com/hinshun/ba1a8a7d32e8e974dcd60cbce64438d6/

But I'm curious if I can he

[2020-04-30 07:00] erw7 commented on #2820
I don't think `GetSystemTimePreciseAsFileTime()` can be used to solve this problem.

https://docs.microsoft.com/en-us/windows/win32/sysinfo/acquiring-high-resolution-time-stamps

From the above description, `GetSystemTimePreciseAsFileTime()` is considered to be affected by `NTP`. In `NTP`, it should be possible for the time to go backwards when synchronizing the time in step mode. Therefore, I bel

[2020-04-30 07:10] kroggen opened #2825 "Error cross-compiling for Mac"
* **Version**: 1.37.0
* **Platform**: Linux vbox 4.15.0-96-generic #97-Ubuntu SMP Wed Apr 1 03:25:46 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

I am trying to cross-compile libuv for Mac on Ubuntu using autotools and it is giving this error:

[code]

I am using docker and [multiarch/crossbuild](https://github.com/multiarch/crossbuild), started with this command:

[code]

The full log is here:

[code

[2020-04-30 08:35] bnoordhuis commented on #2824
Not for the foreseeable future. The reason it's 2.12 is RHEL/CentOS 6.

Libuv can't move away from using the system call because e.g. musl libc doesn't have a statx() wrapper. I sent a patch but I need to dust it off again, thanks for reminding me. :-)

A middle ground could be to try looking up the libc symbol with `dlsym(RTLD_DEFAULT, "statx")` first but I feel a better solution is to teach fake

[2020-04-30 08:42] bnoordhuis commented on #2825
I don't know what's causing that. Maybe try the cmake build? I use that for linux -> windows cross-compiles and it works just fine.

^ That almost certainly means linking isn't going to work.

[2020-04-30 08:46] bnoordhuis commented on #2820
Right, I feared that might be the outcome. Then what is a good alternative for QPC? Windows seems to have a dearth of stable monotonic clocks.

[2020-05-01 05:53] erw7 commented on #2820
As long as I read the [Acquiring high-resolution time stamps](https://docs.microsoft.com/en-us/windows/win32/sysinfo/acquiring-high-resolution-time-stamps), there doesn't seem to be anything else appropriate for QPC.

Those who have a problem with `assert` termination are using debug built binaries, aren't they? If that is the case, they should know what they are doing. Therefore, I don't see the

[2020-05-01 11:36] bnoordhuis commented on #2820
They're release builds but with asserts deliberately enabled.

Okay, so it seems the conclusion is that there's no way around QPC. I'll close this then.

[2020-05-01 11:36] #2820 closed

[2020-05-01 11:54] bnoordhuis opened #2826 "unix: support long path names in pipe.c"
The BSDs let you pass path names longer than `sizeof(s.sun_path)`, they read past the end when `socklen > sizeof(struct sockaddr_un)` up to a limit<sup>1</sup>. Let's support that.

<sup>1</sup> I'm 80% sure it's 255 on all BSDs but it certainly is on Darwin and FreeBSD.

[2020-05-01 22:16] krisbudhram-mc opened #2827 "Test failure udp_multicast_join on Catalina"
Download and unpack v1.37.0.tar.gz
./autogen.sh && ./configure && make && make check

[code]

* **Version**: v1.37.0, v1.34.2
* **Platform**: Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64 / OSX Catalina

[2020-05-02 19:51] genio commented on #2742
Did this land in v1.37? If so, it did not fix the issue: https://ci.appveyor.com/project/genio/Alien-libuv/build/job/yo9em5pcn8soa1jr

[2020-05-03 02:25] squeek502 commented on #2822
Before I write a PR for this stuff, anyone have any thoughts on it? Am I thinking about this wrong?

[2020-05-03 06:48] erw7 commented on #2742
Sorry. I couldn't make it to v1.37 in time. Please wait until the next release.

https://github.com/libuv/libuv/commits/v1.x

[2020-05-03 10:52] bnoordhuis commented on #2827
That test requires that your firewall accepts multicast traffic. In particular, that `239.255.0.1` is unblocked. Can you check that?

[2020-05-05 02:43] alex-eri opened #2828 "Two readers problem"
I reading TUN interface and making UDP request concurent and have SIGSEGV at line https://github.com/libuv/libuv/blob/e7ebae26247d2fee0a04547eb7f9aa8f78d4a642/src/threadpool.c#L108

I connected TUN fd via `uv_read_start`, UDP send in timer callback.

What i doing wrong?

My code is https://github.com/alex-eri/vpnp2p

* **Version**: master
* **Platform**: Linux 5.6.10-arch1-1

[2020-05-05 15:08] bradking opened #2829 "win: Optionally customize process-wide error/debug hooks"
On Windows, libuv currently configures process-wide error handling and debug hooks in code [here](https://github.com/libuv/libuv/blob/v1.37.0/src/win/core.c#L177-L194) with calls to `SetErrorMode`, `_set_invalid_parameter_handler`, and `_CrtSetReportHook`.  This prevents applications from adding their own handlers/hooks or producing [WER](https://docs.microsoft.com/en-us/windows/win32/wer/about-we

[2020-05-05 15:11] bradking commented on #2829
For reference, this came up in CMake work [here](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/4052) and [here](https://gitlab.kitware.com/cmake/cmake/-/issues/20115#note_749073).

[2020-05-05 22:21] krisbudhram-mc commented on #2827
I was unable to specifically allow multicast traffic through the firewall, but disabling it temporarily allowed the test to pass.

[2020-05-06 08:28] squeek502 commented on #2822
One more thing I'm unsure about:

When using `UV_UDP_RECVMMSG`, `recv_cb` gets called once for each message with the `UV_UDP_MMSG_CHUNK` flag set and then [once with `nread=0`, `addr=NULL`, and without the `UV_UDP_MMSG_CHUNK` flag set to free the buffer](https://github.com/libuv/libuv/blob/e7ebae26247d2fee0a04547eb7f9aa8f78d4a642/src/unix/udp.c#L234-L236).

For binding this function in a garbage c

[2020-05-06 08:48] bzoz opened #2831 "docs: uv_library_shutdown formatting"
The formatting of the `uv_library_shutdown` is broken:
![image](https://user-images.githubusercontent.com/17704638/81157141-f6f71900-8f86-11ea-915b-4d1fa4cafa20.png)

[2020-05-06 08:55] phpstatic opened #2832 "consider use ebtree instead rbtree"
https://www.infoq.com/presentations/ebtree-design/

EBtree is design for scheduler,  maybe LIBUV can use it to improve performance ?

[2020-05-06 09:07] bnoordhuis commented on #2831
#2833

[2020-05-06 09:10] bnoordhuis commented on #2832
Convince us with numbers?

FWIW, I doubt the rbtrees in libuv are bottlenecks except maybe in extremely pathological cases.

[2020-05-06 09:23] FlowerFerry opened #2834 "Compilation problems in windows"
Version: 1.37.1
Platform: Windows 10 x64
IDE: vs 2017

I hope I do n’t have to manually modify it every time I update the version.

src\win\fs-event.c(117): error C4996: 'wcsdup': The POSIX name for this item is deprecated. Instead, use the ISO C and C++ conformant name: _wcsdup. See online help for details.
win\fs.c(485): error C4996: 'umask': The POSIX name for this item is deprecated. Instead,

[2020-05-06 09:37] bnoordhuis commented on #2834
How exactly are you building libuv? Not using any of the supported build methods apparently, otherwise you wouldn't be getting those errors.

[2020-05-06 09:44] moghya commented on #2826
@bnoordhuis I would like to work on this.
I have started looking into pip. `src/unix/pipe.c`. I suppose change is needed [here](https://github.com/libuv/libuv/blob/v1.x/src/unix/pipe.c#L268). Do you have any additional pointers for me ?

[2020-05-06 09:56] FlowerFerry commented on #2834
I am sorry for not expressing clearly, I included the code directly in the vs project.

[2020-05-06 11:30] bzoz commented on #2834
CMake will generate proper VS files

[2020-05-06 12:06] bnoordhuis commented on #2826
@moghya There are more places, grep for `bind` and `connect`.

I haven't thought too deeply about it but I think it calls for a union:
[code]

[2020-05-06 14:24] #2834 closed

[2020-05-06 14:24] FlowerFerry commented on #2834
I get it, thank you

[2020-05-07 00:22] bnoordhuis commented on #2827
Glad to hear it. I'll go ahead and close this out then.

[2020-05-07 00:22] #2827 closed

[2020-05-07 00:23] bnoordhuis commented on #2825
Closing, no follow-up.

[2020-05-07 00:23] #2825 closed

[2020-05-07 00:25] bnoordhuis commented on #2824
After thinking this over, I came to the conclusion that trying to work around it in libuv is the wrong approach. I left a comment over at the fakechroot project: https://github.com/dex4er/fakechroot/issues/67#issuecomment-621724887

[2020-05-07 00:25] #2824 closed

[2020-05-07 00:30] bnoordhuis commented on #2829
@libuv/windows

I expect that the biggest hurdle is that removing those calls is a potentially breaking change for existing libuv users, they'd have to update their code to make those calls themselves.

[2020-05-07 00:56] vtjnash commented on #2829
FWIW, 2 of the 3 of these are already gone if you're using libuv master.

[2020-05-07 01:06] ptlomholt commented on #2829
fwiw, I submitted a similar issue, #1327, a while back ...

[2020-05-07 07:46] bzoz commented on #2829
I guess we could have a `uv_configure` which could be used to disable setting the error handlers.

[2020-05-07 08:30] phpstatic commented on #2832
No number yet, maybe I will do some simple compare late.

Haproxy design EBtree to replace Rbtree to get better performance.

still it is better to get more performance if possible.

[2020-05-07 08:54] #2831 closed

[2020-05-07 10:16] pgroke-dt commented on #2829
To enable the "automatic crash dump creation" use case with CTest we'd also need to get rid of the `JOB_OBJECT_LIMIT_DIE_ON_UNHANDLED_EXCEPTION` flag that's used in `uv__init_global_job_handle`.

That sounds good. The rules would probably have to be to call it before calling any other libuv functions?

Something like this?
[code]

And what should the options and their defaults be? One possibility

[2020-05-07 11:26] escherstair commented on #2790
Shuold I provide a PR?

[2020-05-07 17:40] bzoz commented on #1633
@pgrm @Yonom @Sicofonia @paul-at @Pala2812 @doru15 @zilched0 @jansen-teh @saschanaz @kmdavid3 @Parakoos @NNskelly @anarmammad @danielcomes @soraryu @swve @benyaminahmed
Could you run the program attached in the zip: [qpc-test.zip](https://github.com/libuv/libuv/files/4594707/qpc-test.zip)
If you prefer the source code is here: https://gist.github.com/bzoz/b9f942425007a0f834cae2dcc253f1df, I can pr

[2020-05-07 18:07] saschanaz commented on #1633
@bzoz Built it myself with clang 9.0.1 and it prints nothing.

[2020-05-07 18:08] Pala2812 commented on #1633
i did run the program, but it didn't ouput any numbers even when scrolled to the end of the console.

If it helps i can post my system configurations.

[2020-05-08 07:02] staticfloat opened #2838 "Enhance `fs__chmod()` and `fs__access()` to deal with ACLs on windows"
Currently, the `access()` and `chmod()` wrappers in in `src/win/fs.c` do not take windows ACLs into account.  These are the most common methods by which a file can have e.g. executable permissions granted/restricted.  As an example, Cygwin's `chmod` implementation uses windows ACLs to encode the user/group/other triplet of permissions bits.  The Cygwin implementation is quite complex, (you can rea

[2020-05-08 10:34] bnoordhuis commented on #2838
@libuv/windows

There's some overlap with #2521.

[2020-05-08 10:43] bnoordhuis commented on #2829
`uv_configure()` sounds like a good way forward. I'd not over-engineer it and simply add a flag that makes libuv skip the code here:

https://github.com/libuv/libuv/blob/7ccea60b1f576de2e65e8891b76165b8048aaac8/src/win/core.c#L177-L194

`_CrtSetReportHook()` is mildly problematic but it's up to the libuv user (cmake) to deal with that.

[2020-05-08 10:45] bnoordhuis commented on #2829
I'm curious, does libuv actually need to specify that flag? My (admittedly limited) googling didn't turn up a conclusive answer.

[2020-05-08 10:46] bnoordhuis commented on #2790
@escherstair Yes, please!

[2020-05-08 12:02] pgroke-dt commented on #2829
@bnoordhuis I don't know if libuv needs it/should use it either.

The documentation says:
[code]

However what it really seems to do if force the _effect_ of `SEM_NOGPFAULTERRORBOX` on the associated processes, without them being able to change that. Because as I wrote, we tried calling `SetErrorMode` in the child processes to remove `SEM_NOGPFAULTERRORBOX` and it did not help. Furthermode `GetErr

[2020-05-09 05:48] lygstate opened #2839 "There is still a MAX_PATH usage in win/fs.c fs__statfs"
[code]

[2020-05-09 11:57] szmarczak commented on #2225
Additionally, the `glibc` solution assumes that loopback interfaces are routeable when their IP are different than `127.0.0.1` or `::1`. With `musl` the logic is inverted. https://github.com/nodejs/node/issues/33279#issuecomment-626138286

[2020-05-09 18:24] erw7 commented on #2838
`fs__stat_handle()` can be implemented by using `AuthzAccessCheck()`. I implemented it as a draft, please refer to it if you like. https://github.com/libuv/libuv/compare/v1.x...erw7:improve-uv-fs-stat

[2020-05-11 06:15] bzoz commented on #2839
The function checks if the buffer needs to be resized to fit paths longer than `MAX_PATH`:
https://github.com/libuv/libuv/blob/55dede5b6f730882d79f994138f0f23a7b28b119/src/win/fs.c#L2737-L2745

I think it is ok the way it is.

[2020-05-11 07:41] squeek502 opened #2840 "udp_set_source_membership6: setsockopt(optval) points to uninitialised byte(s)"
On Linux:

[code]

Relevant code:

https://github.com/libuv/libuv/blob/55dede5b6f730882d79f994138f0f23a7b28b119/src/unix/udp.c#L902-L946

[Windows has similar code, so the fix might be needed there too](https://github.com/libuv/libuv/blob/55dede5b6f730882d79f994138f0f23a7b28b119/src/win/udp.c#L745-L796).

[2020-05-11 09:21] erw7 commented on #2839
As @bozz explained, it works even if it's above `MAX_PATH`, so I don't think it's a problem.

The following Microsoft description of `GetFullPath` does not specify whether the result will return a valid length if `nBufferLength=0`, `lpBuffer=NULL`. But I've tried it and it seems to return a valid length even in that case. Therefore, it is possible to change the implementation to one that does not

[2020-05-11 09:26] erw7 commented on #2521
@vtjnash Isn't it just that `libacl1` isn't installed?

[2020-05-11 09:40] lygstate commented on #2839
Oh, yeap, the MAX_PATH just a temp usage

[2020-05-11 09:40] #2839 closed

[2020-05-11 10:06] erw7 commented on #2838
I've tried implementing it, but I don't think it's useful in Windows. For example, if you run `uv_fs_stat()` to `C:\Windows\System32\cmd.exe`, you will get `rwxrwx---`, but this doesn't mean anything.

The reason the implementation of treating `Everyone` as an `Other` in Cygwin seems to work so well is that most of the files `/` below are created using Cygwin. In libuv it is necessary to be able t

[2020-05-11 12:20] erw7 commented on #2521
It seems to be working on the Ubuntu 18.04.4 LST I have.

[code]

[2020-05-11 13:11] vtjnash commented on #2838
My thought perhaps is that "other" could be the maximum over all other users permission bits. Indeed, the whole mask could reasonably be always given as 0777 or 0555, since even on posix the bits only indicate if something is definitely denied, not whether it must succeed. The `open` call is still permitted to fail for various other reasons for a particular user (such as a more-specific ACL for th

[2020-05-11 14:30] soraryu commented on #1633
Same here. It saturates one CPU core but does not print anything. I assume this just checks if time deltas are actually negative?

[2020-05-11 14:32] soraryu commented on #2820
@erw7 just to clarify - this assert is crashing in released software by large corporations, e.g. the Package Manager from Unity3D (built on electron). I have no influence on the source of that but I doubt it's a debug build.

[2020-05-11 14:33] soraryu commented on #1633
@bnoordhuis can you or someone else please reopen this issue. It is still ongoing and preventing entire categories of devices from working correctly.

[2020-05-11 14:59] bnoordhuis commented on #1633
Again, it's _not_ a libuv issue. We've done some investigations and we might add a workaround (but then again, we might not) but the tree that you really should be barking up is Microsoft's or Intel's. That goes for everyone in this thread.

[2020-05-11 15:33] soraryu commented on #1633
Have you reported the issue to them? If you feel this is an upstream issue with someone else you should not just try to push that back. All the people having issues with this see the crash happening in libuv, as demonstrated adding a (even temporary) workaround would be possible, yet you seem adamant that this has nothing to do with libuv at all.
What's your suggestion until Microsoft or Intel do

[2020-05-11 15:46] saschanaz commented on #1633
@bnoordhuis Do you have a Microsoft contact for investigation here?

[2020-05-11 16:00] bnoordhuis commented on #1633
@soraryu I haven't, because I don't have an affected system. You have, so you should.

@saschanaz Unfortunately, no. I don't know anyone at Intel you could reach out directly to either.

I'd log a support issue through the regular channels. Someone at MS or Intel will take notice when enough people do.

[2020-05-11 16:02] saschanaz commented on #1633
I've reported an issue on Windows Feedback: https://aka.ms/AA7ujea

[2020-05-11 16:20] soraryu commented on #1633
Thanks @saschanaz .
@bnoordhuis I'm just a regular Unity user, I wouldn't even have known that libuv existed nor what a QPC is.  I'm just trying to unblock my team here.

Is the Feedback Hub the "regular channel" for submitting issues to Microsoft? What's the "regular channel" for Intel?

[2020-05-11 16:22] saschanaz commented on #1633
Not so far. Please do "Add similar feedback" for them to notice.

Right.

[2020-05-11 23:10] cjihrig opened #2842 "testing on additional platforms using QEMU"
We currently test libuv on the Node.js CI, which has a fair number of platforms. However, we still get consistent bug reports for platforms that we don't test. One solution could be to run the libuv test suite via QEMU on GitHub Actions. For reference, the [wasm3 project does this](https://github.com/wasm3/wasm3/blob/640bf0cc2671f1725234536c3cd4be50de6cc19e/.github/workflows/tests.yml) with appare

[2020-05-12 10:40] #2840 closed

[2020-05-12 13:40] bnoordhuis opened #2843 "win: arithmetic overflow in uv__hrtime()?"
https://github.com/libuv/libuv/blob/36549815eed297c74448ff580b5c84713245ec5d/src/win/util.c#L501-L509

The calculation looks suspect to me, it overflows when the clock frequency and scale are high.

It also uses the performance counter as-is (which might be big) without subtracting a start time.

With `interval=1e7,` (1 increment per 100 ns) and `scale=1e9`, overflows happens when the counter exce

[2020-05-12 16:53] cjihrig opened #2844 "Release proposal: v1.38.0"
I'm proposing releasing v1.38.0 in the next week or so. If there is anything you'd like to see make it into this release, please merge it. If you have any comments or objections, please raise them here.

Notable changes:

- `uv_library_shutdown()` has been added.
- `uv_udp_init_ex()` now accepts `UV_UDP_RECVMMSG`, although it is a no-op.
- Obsolete `MAX_PATH` restrictions have been removed on Wind

[2020-05-12 17:45] bzoz commented on #2843
Yeah, I saw that too and my first thought was that if the counter starts big we would run into problems.

I guess we should subtract the initial value and move from double anyway. There is no `__int128_t` in VS, but there are 128-bit things like [_mul128](https://docs.microsoft.com/pl-pl/cpp/intrinsics/mul128?view=vs-2019) and [_udiv128](https://docs.microsoft.com/en-us/cpp/intrinsics/udiv128?view

[2020-05-12 20:45] squeek502 opened #2845 "RFC: fail gracefully in uv_{get,set}_process_title when uv_setup_args is not called"
Currently, on platforms that require `uv_setup_args` to be called, calling `uv_{get,set}_process_title` will attempt to [use uninitialized pointers](https://github.com/libuv/libuv/blob/55dede5b6f730882d79f994138f0f23a7b28b119/src/unix/proctitle.c#L115-L117) if `uv_setup_args` wasn't called beforehand. However, for bindings like [luv](https://github.com/luvit/luv), we don't always control `main` an

[2020-05-13 00:07] #2474 closed

[2020-05-13 00:07] #2530 closed

[2020-05-13 00:07] #2534 closed

[2020-05-13 00:07] #2531 closed

[2020-05-13 00:07] #2536 closed

[2020-05-13 04:50] erw7 commented on #2843
If `interval=1e7`, that's 1 increment per 116 days (`1e7 / (60 * 60 * 24) ~= 116`). At a `frequency = 1e7 Hz` (1e7 count per second, 1 increment per 100 ns), the `interval = 1.0 / 1e7 = 1e-7  sec = 100ns`. Thus, even if `scale = 1e9`, the expression is `counter.QuadPart * 1e-7 * 1e9 = counter.QuadPart * 1e2`. Even when `scale = 1e9`, it take about 585 (`2**64 / (365 * 24 * 60 * 60 * 1e9)`) years f

[2020-05-13 06:47] ibc commented on #2536
Thanks, bot.

[2020-05-13 08:37] escherstair commented on #2790
Give me some time and I'll do it.

[2020-05-13 12:26] #2582 closed

[2020-05-13 13:50] gengjiawen commented on #2842
QEMU has perf problem, any other pitfalls ?

[2020-05-13 15:30] cjihrig commented on #2842
I think the biggest pitfall would be correctness on the QEMU side. If there are issues related to that though, we don't need to include a platform in our tests. This is all just a bonus on top of the existing CI.

[2020-05-13 16:08] bzoz commented on #1633
@saschanaz could you try this: https://gist.github.com/bzoz/52b1d45ce6a27418f31d58956e72e4c0 - it behaves a little more like libuv, it will create threads that write and read files. The output should look like this:
[code]
etc.

Could you compile and run it and share the output? It will help in our investigation.

[2020-05-13 17:50] saschanaz commented on #1633
@bzoz It runs silently:

[code]

[2020-05-13 21:12] mhdawson commented on #2842
For interest, which are the platforms that we are seeing bug reports on the most?

[2020-05-13 22:13] cjihrig commented on #2842
I think popular platforms in this category would be MinGW, Android, and to a lesser extent NetBSD and OpenBSD.

[2020-05-14 01:57] gengjiawen commented on #2842
Looks like android is also viable, I will try to add it when integrated qemu is finished.

[2020-05-14 08:14] RobertIndie opened #2847 "Test fail on tcp_bind_error_addrinuse"
* **Version**: 1.37.0
* **Platform**: WSL-Ubuntu18.04

When running tests, it outputs:
[code]
Test code:
[code]

[2020-05-14 10:43] erw7 commented on #2838
I tried the `fs__chmod()` implemented by @staticfloat. If other's permissions are less than group's, it works as expected. However, if other's permissions are more than group's, it won't work as expected. I applied the following patch because it seems that the user's own ACL is also judged to be a member in the part that checks whether it is a member or not.

[code]

If I do chmod 757, the ACLs be

[2020-05-14 10:57] erw7 commented on #2838
Certainly the owner is fine with that as far as his own files are concerned. Even in that case, the question of what to do if you include a denyed ACL remains.

I think there are two cases when looking at the permissions of the other for a file that is not owned by you.

1. I want to know what I'm allowed to do with that file.
2. I want to know what other users are allowed to do with the file for

[2020-05-14 11:05] erw7 commented on #2521
I've considered implementing POSIX ACL before. I couldn't think of a solution to the problem with https://github.com/libuv/libuv/issues/2838#issuecomment-628550819 when `other`(Everyone) has more privileges than other groups. I think it's difficult to implement an API that works exactly the same way, even if you can use the same API.

[2020-05-14 14:22] bzoz commented on #2843
https://github.com/libuv/libuv/issues/1633#issuecomment-628147954 - the initial values are not that big, `hrtime_freq` has the same value as on my box that does not reproduce #1633.

[2020-05-14 14:22] bzoz commented on #1633
@saschanaz does this issue happen on other Node apps? Can you try maybe running VSCode?

[2020-05-14 14:24] saschanaz commented on #1633
VSCode never crashes as I have used it for several months.

[2020-05-14 20:27] 9numbernine9 commented on #1633
I'm running into the same issue as others in this thread, and like some others I'm using a new Dell XPS 13 2-in-1 9300 with the i7-1065G7 CPU.

After a quick reboot into the BIOS, it appears that my machine is running BIOS version `1.0.6`. A newer version, `1.0.7`, was released on 2020-04-06. Unfortunately for me, my laptop is a work laptop and I don't have privileges to apply BIOS updates, so I c

[2020-05-14 20:44] cjihrig commented on #2845
What about adding a separate flag variable in that file? I think that would make the intent more clear to people looking at the code in the future.

[2020-05-14 21:06] squeek502 commented on #2845
Sure, that'd work too. Note that there are a few different proctitle implementations for different platforms, and only some of them actually require `uv_setup_args` to be called.

If the concept of returning an error (or just returning early) if `uv_setup_args` hasn't been called on platforms where it is needed seems okay, then I'll draft up a PR for this.

[2020-05-14 21:15] bnoordhuis commented on #2843
@bzoz I agree, but I think the calculation is indeed incorrect. That numbers the reporter posted work out to `272692642196 * 1e7 * 1e3`, or about 2**71. Definitely doesn't fit in an `uint64_t`.

The counterargument of course is that the numbers you posted are even worse and your machine doesn't exhibit the problem. :-)

Your observation about 128 bits math being complicated is on point. I couldn't

[2020-05-14 21:23] bnoordhuis commented on #2847
Probably some WSL oddity. Does it work when you change the bind address to e.g. 127.0.0.1?

[2020-05-15 00:08] RobertIndie commented on #2847
No, it doesn't work.

[2020-05-15 01:12] liyoubdu opened #2849 "how to compile static library using cmake in android studio?"
in android studio, i modified cmakelist.txt, and  shared library is compiled well, but the static is not found. what should i do?

[2020-05-15 01:37] cjihrig commented on #2845
I can't speak for anyone else, but returning an error seems preferable to crashing to me.

[2020-05-15 04:00] erw7 commented on #2843
1e7 is the frequency. As is clear from the code below, `hrtime_interval_` is 1e-7(= 1.0 / 1e7). Again, there is absolutely no way that uint64_t will overflow here.

https://github.com/libuv/libuv/blob/36549815eed297c74448ff580b5c84713245ec5d/src/win/util.c#L86-L88

[2020-05-15 07:53] bnoordhuis commented on #2843
Oh, you're absolutely right! Yes, in that case it's on the order of 2**45 with `scale=1e9`, and only 2**25 bits with `scale=1e3`. Okay, there goes that hypothesis out the window.

[2020-05-15 08:17] bnoordhuis commented on #2847
WSL isn't a supported (or tested) environment so I think you're on your own here. If you figure out what's causing it, please post an update or send a pull request.

[2020-05-15 10:21] Blankwonder opened #2850 "uv_getaddrinfo() suddenly never got a callback"
* **Version**: 1.37.0
* **Platform**: Linux 4.9.0-12-amd64 #1 SMP Debian 4.9.210-1 (2020-01-20) x86_64 GNU/Linux

I found my personal proxy server program stopping working one hour ago. Luckily I enabled the debug log so that I can dig into the problem.

From the log file, I discovered that starting from a particular moment all uv_getaddrinfo() invokes never got a callback, no result and no error.

[2020-05-15 10:58] bnoordhuis commented on #2845
I agree. PR welcome. `UV_ENOBUFS` seems as good as any for the error code.

[2020-05-15 11:01] bnoordhuis commented on #2850
Next time it happens, can you attach gdb to the process and run `thread apply all backtrace full`? That should show where it's blocking/hanging.

I'll close this for now but let me know if you have more information.

[2020-05-15 11:01] #2850 closed

[2020-05-15 11:15] bnoordhuis commented on #2829
Does someone want to move this forward and open a pull request?

W.r.t. `JOB_OBJECT_LIMIT_DIE_ON_UNHANDLED_EXCEPTION`, I think we can just remove it and see what happens in the CI.

[2020-05-15 15:03] richardlau opened #2851 "IBM i CI job"
As a heads up we've been working on adding IBM i machines to the Node.js CI infrastructure (https://github.com/nodejs/build/pull/1923). To test them I've created a [libuv-test-commit-ibmi](https://ci.nodejs.org/view/libuv/job/libuv-test-commit-ibmi/) job.

Thanks to the good work put in by @libuv/ibmi we're in fairly good shape, with only a small number of test failures:
https://ci.nodejs.org/view

[2020-05-16 01:47] dmabupt commented on #2851
I believe they are caused by the different user authority design on IBM i.

In my test, I used my **root like** user profile and all these tests passed. But the **ci user** may not have sufficient authorities.

But it is not that easy to detect if the current user have sufficient authorities to do specific operations like changing files' ownerships.

For example, If current user's id is not 0 (not

[2020-05-16 04:47] dmabupt commented on #2851
Hello @richardlau ,
I have submitted the PR #2852 to fix these failures. Would you verify it please?

[2020-05-16 19:29] ptlomholt commented on #2832
Wouldn't the LGPL licensing terms for EBtree be a problem for incorporating it into libuv?

[2020-05-17 08:49] escherstair commented on #2790
I've just added the PR #2854

[2020-05-17 08:53] escherstair commented on #2790
One thing is not clear to me:
variable `zero`
https://github.com/libuv/libuv/blob/36549815eed297c74448ff580b5c84713245ec5d/src/win/fs.c#L941
is set, but never used.
If it's not needed I can delete it, otherwise I need to know where it should be used.

[2020-05-17 10:12] bnoordhuis commented on #2790
@escherstair `zero` can be removed, that was an oversight in 2c279504f.

[2020-05-17 13:43] #2851 closed

[2020-05-17 14:07] #2842 closed

[2020-05-17 14:19] cjihrig commented on #2844
libuv CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1910/
Node.js + libuv integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/135/

[2020-05-17 15:29] gengjiawen opened #2855 "testing on android using CI."
Inspired by https://github.com/libuv/libuv/issues/2842.

I think it's make sense to add it. BTW, I use Node.js on android using termux, quite enjoying this.

I can work on this :)

[2020-05-17 15:37] #2844 closed

[2020-05-18 03:23] smartcat2010 opened #2856 "Fail to assign the struct in "uv.h" to reference or instance"
It seems that I could only use the pointer of "uv_interface_address_t", but can't convert it to a reference or instance. The following is my code:
[code]
When I remove "Line b"&"Line c"&"Line d" and only keep "Line a", it compiles and runs successfully. When I keep any of the "Line b" or "Line c" or "Line d", the compiling fails. The "Line b" shows "error C2236", the "Line c" or "Line d" shows "er

[2020-05-18 03:40] #2856 closed

[2020-05-18 06:58] escherstair commented on #2790
I pushed a commit that removes it

[2020-05-18 10:27] richardlau commented on #2851
I've added the IBM i job into the main libuv-test-commit job so it is run with all the other platforms in the CI. Any existing open PR's may fail on IBM i if they haven't rebased to include https://github.com/libuv/libuv/pull/2852.

[2020-05-18 13:34] richardlau commented on #2775
As a test I temporarily added macOS 10.14 into the test matrix for the libuv-test-commit-osx-cmake job and it had a similar failure: https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/nodes=osx1014/105/console

So maybe it's something to do with how the CI machines are set up? We're seeing the failure on the macOS 10.15 CI machines both in macstadium (the Orka environment) and the machine at Ne

[2020-05-18 13:38] cjihrig commented on #2775
FWIW, I can't reproduce this locally on macOS 10.14 either.

[2020-05-18 13:45] richardlau commented on #2775
cc @AshCripps for awareness

[2020-05-18 13:55] AshCripps commented on #2775
The 10.15 macs in CI are `10.15.4` so maybe theres some bug in that version, where is the test code/what do they do so I can take a quick look

[2020-05-18 13:57] richardlau commented on #2775
@AshCripps it's the libuv test suite, so you'd need to build libuv then run its tests (https://github.com/libuv/libuv#build-instructions, we're using cmake in the CI).

[2020-05-18 14:14] AshCripps commented on #2775
Im being spammed with accept firewall connection running the test suite, is there something im supposed to do to stop that? (like how node has the macos-firewall.sh script)

[2020-05-18 14:47] AshCripps commented on #2775
Strangly following the build instructions Richard linked I cant even replicate the issue on both the failing machines in CI 👀.

[2020-05-19 04:41] Blankwonder commented on #2850
It happened again. Here is the result of thread apply all backtrace full.

[thread_apply_all_bt.txt](https://github.com/libuv/libuv/files/4648240/thread_apply_all_bt.txt)

[2020-05-19 08:08] bnoordhuis commented on #2850
I don't see a bug here. Libuv called out to `getaddrinfo(3)` from libc and that function is waiting on a reply from the DNS server. The domain names it's trying to resolve are `68375aa58e11424fb1f75208051c36ec.fp.measure.office.com` and `def14f84fb4c4ac3ac4eba009b038d11.fp.measure.office.com`.

I also see a query to `cebf502e.jddebug.com` and that domain name (and `jddebug.com`) fail with SERVFAIL

[2020-05-19 08:15] Blankwonder commented on #2850
Sorry, I lost the log file after restarting. I may provide you a more detailed description next time.

Is it possible that libc getaddrinfo() blocked infinitely and caused all subsequent uv_getaddrinfo() calls to fail to get results?

[2020-05-19 08:27] bnoordhuis commented on #2850
No, but requests can pile up if you submit them faster than the thread pool can dispatch them.

[2020-05-20 09:31] bnoordhuis commented on #2832
@ptlomholt Good point. Copying it verbatim from haproxy isn't possible but a clean room reimplementation should be acceptable.

@phpstatic I'm going to close this out for now but let me know when there is more to discuss.

[2020-05-20 09:31] #2832 closed

[2020-05-20 13:45] gengjiawen opened #2859 "test case signal_multiple_loops being flaky on some platform"
on `build-cross-qemu-riscv64`
[code]
on `ppc64le`
[code]

See: https://github.com/libuv/libuv/pull/2858/checks?check_run_id=692960060.

[2020-05-20 21:35] bcoe commented on #2661
@musm I'm not sure what VM I was using when I opened this. Having landed our work around `mkdir` recursive, I haven't seen many complaints about this issue, let's close unless this crops up again in the future.

[2020-05-20 21:35] #2661 closed

[2020-05-20 22:12] richardlau commented on #2804
https://github.com/nodejs/build/issues/2329

[2020-05-20 22:43] jamadden opened #2861 "src/win/udp.c: Incompatible with Visual C++ 9/C89"
* **Version**: 1.38.0 (upgrading from 1.36)
* **Platform**: Windows (AppVeyor VM)

gevent supports Python 2.7, which has a particular compiler it must use (Visual C++ 9). When updating from 1.36 to 1.38, I find that I can no longer compile with that compiler. [Error message](https://ci.appveyor.com/project/denik/gevent/builds/33014124/job/lug3fye0ko2gbe7q#L800):

[code]

It appears the `STATIC_ASS

[2020-05-20 23:05] jamadden opened #2862 "configure fails with syntax error"
* **Version**: 1.38.0, upgrading from 1.36.0
* **Platform**: Travis CI, Ubuntu 16.04.6

Building gevent runs the command `pushd deps/libuv && ./autogen.sh && ./configure -C --disable-static --prefix=$BUILD_LIBS ` on Travis CI. When I try to upgrade to 1.38, [this fails](https://travis-ci.org/github/gevent/gevent/jobs/689443105):

[code]

This happens even if I use `bash` explicitly to run `configu

[2020-05-21 09:25] bzoz commented on #1633
@saschanaz are you willing to run your repo with instrumented Node? I can provide the binary or the instructions on how to build one and a patch that will add some more logging.

[2020-05-21 09:32] saschanaz commented on #1633
@bzoz Sure. I prefer building one myself as this is a work machine.

[2020-05-21 09:38] bnoordhuis commented on #2862
It's caused by #2823 but if it's breaking the build for you with no workaround, then I'll revert it.

I'm unclear on why it's failing for you though. Are you using old versions of autoconf/automake? What does `configure` around line 12686 look like on the affected system?

[2020-05-21 09:50] bnoordhuis commented on #2861
I can fix that, however... we're in the process of phasing out pre-VS2015 support, see #2821 (and that's really just making _de jure_ what was already _de facto_ the case.)

With python 2 EOL there's no reason for us to support VS 2008 any longer. If you still want to support it, you'll be on the hook for maintaining patches as we are unlikely to accept them.

[2020-05-21 10:19] jamadden commented on #2862
I don't know. I'm using whatever comes with Travis CI's Ubuntu 16.04 image (which is the default for all Travis builds right now). That is, unfortunately, one thing they don't specify. I can find out, though.

I can try to find out.

[2020-05-21 10:33] jamadden commented on #2861
Thank you!

Of course that's this project's decision to make, but that's very unfortunate for me. gevent needs to continue to support Python 2.7 for some time to come. It's not like a switch was flipped and usage of Python 2.7 just stopped — it still makes up more than a quarter of gevent's 3 million monthly downloads. While direct upstream support may have ended, distributors such as Anaconda and

[2020-05-21 10:49] jamadden commented on #2862
Autoconf is version 2.69 (which matches what I have locally). Automake is 1.15 (locally I have 1.16.2).

The ten lines around 12686 are:
[code]

I can see what happens if I force Travis to use Ubuntu Bionic (18.04), but that will take some time.

[2020-05-21 11:32] jamadden commented on #2862
Ah-ha. I think I figured it out. The libuv tarball includes `m4/.gitignore` which ignores all `.m4` files in that directory:
https://github.com/libuv/libuv/blob/cc51217a317e96510fbb284721d5e6bc2af31e33/m4/.gitignore#L2

But https://github.com/libuv/libuv/pull/2823 explicitly added `ax_pthread.m4` to that directory (without excluding it from being ignored). When I updated the libuv source and commi

[2020-05-21 12:33] gengjiawen commented on #2859
From https://github.com/libuv/libuv/pull/2858#issuecomment-631985994 by @bnoordhuis

[2020-05-21 13:30] bzoz commented on #1633
@saschanaz the code is here: https://github.com/bzoz/node/tree/instrument-libuv-13-11-0

It will store the raw value returned by QueryPerfomacneCounter and show it when libuv detects the error: https://github.com/bzoz/node/commit/c06043ff11f50b0624a7ad1b8f2dbc96ecbb9e42.  Maybe we will be able to see what exact values are causing this.

To build this you need MS Build Tools, NASM and Python. Run:

[2020-05-21 19:57] saschanaz commented on #1633
Well now this is interesting. The error does not happen with the local build while it still happens on Node.js v14.3.0. It seems your branch is a bit outdated, should it be updated?

[2020-05-21 21:00] saschanaz commented on #1633
I tried again with raw `v14.3.0` branch without your fix: The bug happens.
I cherry-picked your change on top of the branch: The bug does not happen.

But it's not supposed to be a fix, right? 🤔

[2020-05-21 22:20] bzoz commented on #1633
No, but I guess it changes the timing enough to make the bug not appear. Or its a compiler bug.

Could you maybe remove the `raw_time` from my patch, to make it as similar to stock libuv as possible and try again?

[2020-05-22 09:36] saschanaz commented on #1633
Tried it, did nothing. Commenting out the fprintf block does make the bug again, but it's no helpful then 🤔

[2020-05-22 16:10] bzoz commented on #1633
Could you maybe remove the `GetLastError()` and `assert()`, and flip the condition like this:
[code]
(I'm guessing now, maybe its a compiler bug?)

Or maybe you can use the Node master, attach a debugger, and set a conditional breakpoint?

[2020-05-23 11:24] saschanaz commented on #1633
Your new code generates some logs:

[code]

I'm not sure why `new_time` is 0 here 🤔

[2020-05-23 14:34] genio commented on #2775
It's happening for me as well in CI https://github.com/p5-UV/Alien-libuv/runs/702109220#step:8:548

[2020-05-23 19:17] cjihrig commented on #2775
I did some printf debugging in the CI, and it looks like the test is legitimately timing out. I was able to get the [test passing in the CI](https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1917/) by [bumping the timeout](https://github.com/cjihrig/libuv/commit/e085e625af14aa237c89ff6d95a855a054ed4315). It looks like the `hrtime` test is timing out as well.

[2020-05-23 23:07] genio commented on #2775
Should I put in another issue for the other test failures that seem to happen on every CI run?

[2020-05-24 17:57] exx8 commented on #2521
I believe that cloning POSIX ACL though being tempting might be wrong. As @erw7 there are settings which cannot be replicated (as far as I know) in windows, and other OSes. it is also misleading that libuv implementation must be POSIX compatible (which cannot be without losing cross-compatibility).
Further expansions with platform dependent might be considered in the future, but the general API sh

[2020-05-24 22:01] bzoz commented on #1633
If [QueryPerformanceCounter returned 0](https://github.com/libuv/libuv/blob/0356c65f04029d96870dff1f46483f9f8941f038/src/win/util.c#L501), the `new_time` would be uninitialized. Reading its value in the printf would be UB. Can you try this:

[code]

[2020-05-24 22:11] saschanaz commented on #1633
Tried it, setting `new_raw` as 0 removes the logs.

[2020-05-25 06:18] bnoordhuis commented on #2775
@cjihrig If that's all it takes to get it to pass then let's do it.

@genio Legitimate failures, sure, but I think those failures may be caused by Actions disallowing (some kinds of) UDP traffic? I'd be okay with skipping those tests if there's a good way to detect that.

[2020-05-25 10:36] bzoz commented on #1633
I hope we are getting close: https://github.com/bzoz/node/commit/50901dd2221ff92206fbce7f922c6a99b32829dc

It basically takes the current libuv and changes the `assert` to an if-statement. It will print the old and the new time value. It might not reproduce, or we might get confirmation that uv__hrtime sometimes returns 0.

[2020-05-25 10:43] saschanaz commented on #1633
I get: `Error: uv__hrtime went from 6376013 to 0`

[2020-05-25 10:45] saschanaz commented on #1633
Weird, its documentation says [it should never return zero on modern Windows](https://docs.microsoft.com/en-us/windows/win32/api/profileapi/nf-profileapi-queryperformancecounter) 🤔

[2020-05-25 10:55] bzoz commented on #1633
Yep, it should not.

Can you test one more: https://github.com/bzoz/node/commit/c57894331d1157b1065f22f18d84c745c7070f9e - it will GetLastError() if the QPC fails.

[2020-05-25 10:58] saschanaz commented on #1633
Same: `Error: uv__hrtime went from 7237920 to 0`

It's not QPC then.

[2020-05-25 11:08] bzoz commented on #1633
How about this: https://github.com/bzoz/node/commit/e97f150f94574d364740331dc5e3ba9a1ee49996

Just two more asserts. For whatever reason, we end up with 0 on this line: https://github.com/bzoz/node/blob/e97f150f94574d364740331dc5e3ba9a1ee49996/deps/uv/src/win/util.c#L507.

[2020-05-25 11:14] saschanaz commented on #1633
Well now this is embarrassing: `Assertion failed: scale != 0, file C:\Users\Kagami\Documents\GitHub\node\deps\uv\src\win\util.c, line 473`

[2020-05-25 11:31] bzoz commented on #1633
Can you try moving the `assert(scale != 0);` before the call to QPC? IDK, this looks like a compiler bug. We only call `hr__time` from `uv_update_time` with 1000 as scale and from `uv_hrtime` with 1000000000 as scale.

[2020-05-25 11:33] saschanaz commented on #1633
Will try, but it can't be solely a compiler bug since it only happens on certain CPUs. It should also happen on others if it was compiler.

[2020-05-25 11:40] saschanaz commented on #1633
Okay, tried it and it says same: `Assertion failed: scale != 0, file C:\Users\Kagami\Documents\GitHub\node\deps\uv\src\win\util.c, line 469`

Debugger says it's optimized out 👀

[2020-05-25 11:43] bzoz commented on #1633
Hm.. I'll try to rearrange some bits, I'll let you know when it is done.

BTW, thanks a lot!

[2020-05-25 12:09] bzoz commented on #1633
@saschanaz could you give this a spin: https://github.com/bzoz/node/commit/222b1e4d46ccb0d715272d3073cce91bb211fd24

It moves those math ops around, maybe it will help.

[2020-05-25 12:25] saschanaz commented on #1633
`Assertion failed: scale != 0, file C:\Users\Kagami\Documents\GitHub\node\deps\uv\src\win\util.c, line 469`

Debugger says it's from `uv_update_time` where it should always be 1000. Definitely something between MSVC and Intel CPUs.

[2020-05-25 12:40] bzoz commented on #1633
Definitely there is something off with the compiler, I'll get that reported to VS people.

In the meantime: maybe using `unsigned` instead of `double` for `scale` will help. Can you test this: https://github.com/bzoz/node/commit/7d904b50d26e3de831a50b6f11544e39647e24f5

[2020-05-25 12:44] saschanaz commented on #1633
Was trying same but with signed `int32_t` and it works 😄

[2020-05-25 12:50] bzoz commented on #1633
Yay!

Can you test this one: https://github.com/bzoz/node/commit/710e1f6b6db681a1771cad1999b5fba53174c90b, its all those commits squashed and rebased onto current Node master. If that works, I'll open a PR.

[2020-05-25 13:07] cjihrig commented on #2775
OK: https://github.com/libuv/libuv/pull/2865

[2020-05-25 13:14] genio commented on #2775
@bnoordhuis The same tests ran fine on the linux Actions, so I'll try checking the macos firewall on the machine running to see if that yields better results and go from there.

[2020-05-25 13:25] saschanaz commented on #1633
It works 👍

[2020-05-25 14:37] soraryu commented on #1633
Thanks @bzoz and @saschanaz for following through with this and iterating on this so fast!

[2020-05-25 16:00] #1633 closed

[2020-05-25 16:44] saschanaz commented on #1633
Is there a public channel or you'll contact them in private?

[2020-05-25 17:28] genio commented on #2775
No difference. I doubt they have different policies set for each OS, but who knows. You might be right and they may be blocking some things that we have no control over.

[2020-05-25 19:21] hmaarrfk opened #2867 "AARC64 fail with random_sync"
* **Version**: 1.38
* **Platform**: Not too sure. Centos 7 on aarch64 bit.

![image](https://user-images.githubusercontent.com/90008/82838734-f369fa00-9e81-11ea-8891-cfc29bd6badc.png)
https://cloud.drone.io/conda-forge/libuv-feedstock/2/1/2

[2020-05-26 08:22] bnoordhuis commented on #2867
Is it possible for you to strace the process like this?
[code]

[2020-05-26 12:37] hmaarrfk commented on #2867
Follow progress here

https://github.com/conda-forge/libuv-feedstock/pull/42

[2020-05-26 12:55] hmaarrfk commented on #2867
sorry, i don't have this locally, so I would be obliged if you could give me the exact path to the binary to strace

The build commands are here:
https://github.com/hmaarrfk/libuv-feedstock/blob/aarch_reproduce/recipe/build.sh

[2020-05-26 19:11] bnoordhuis commented on #2867
It's usually in `/usr/bin`. You may need to install the strace package first.

[2020-05-27 02:24] hmaarrfk commented on #2867
I don't htink it was able to find `build/uv_run_tests_a`. `strace` was found correctly.

I am going to try to use ls to find the test file.

[2020-05-27 08:43] bnoordhuis commented on #2867
Sorry, for some reason I thought conda was using the cmake build. The autotools build puts the binary at `test/.libs/run-tests` (on my system anyway.)

[2020-05-27 13:06] Koceto1973 opened #2871 "autotools build fail"
* **Version**:  1.38.0
* **Platform**: Ubuntu 18.04.4 LTS

make check failed on :
not ok 376 - watcher_cross_stop
# exit code 134
# Output from process `watcher_cross_stop`:
# Assertion failed in test/test-watcher-cross-stop.c on line 87: 0 == uv_udp_bind(&sockets[i], (const struct sockaddr*) &addr, UV_UDP_REUSEADDR)

[2020-05-27 17:36] hmaarrfk commented on #2867
Alright, finally got it.

Here is a build with strace running
https://cloud.drone.io/conda-forge/libuv-feedstock/20/1/2

[2020-05-27 19:16] ipbeegle commented on #2871
I was getting the same error while building multiple versions. Turns out, the test in question attempts to open 2500 UDP sockets. For me, the fix was to update fs.file-max in /etc/sysctl.conf.

[2020-05-28 08:16] Koceto1973 commented on #2871
Thanks!

Turns out tweaking open sockets capability is quite interesting topic.

[2020-05-28 08:16] #2871 closed

[2020-05-28 08:37] bnoordhuis commented on #2867
Thanks, the error is this:
[code]
`syscall_0x180` is 384, the right system call for aarch/arm64, but the kernel is returning `EPERM`, _not_ an expected error for `getrandom(2)`.

(Expected errors, like `ENOSYS` or `EAGAIN`, are of course handled by libuv.)

My guess is that either conda is using some kind of frankenkernel that does something funky with system call numbers (unlikely but it wouldn't

[2020-05-28 08:37] #2867 closed

[2020-05-28 13:48] bzoz commented on #1633
@saschanaz I'll do that in the public issue tracker: https://developercommunity.visualstudio.com/spaces/8/index.html

Could you test if this branch reproduces: https://github.com/bzoz/node/tree/vsbug-repro? It is current v14.x Node with added `assert(scale != 0);`. Just to make sure we did not mess something up in the meantime. Also, can you check if you are running the latest VS2019?

[2020-05-28 19:38] saschanaz commented on #1633
@bzoz The branch does reproduce, with the latest VS2019 16.6.0.

[2020-05-29 03:31] a2kapps commented on #1633
i use firebase tools and i got this error :
Assertion failed: new_time >= loop->time

anyone can help me

[2020-05-29 10:11] DerDakon commented on #1830
For reference: https://marc.info/?l=linux-sparc&m=159074529321551&w=2

[2020-05-29 19:21] SureshKrishnaaR commented on #1633
Try out this

Try out this......!
While installing firebase-tools use the following command:
                     npm install firebase-tools
Try not specifying -g.....!
It worked for me.
And also during login use this command:
                     firebase login: ci

[2020-06-02 10:10] madhat1 opened #2873 "undefined reference to `uv_library_shutdown`"
Hi,

Using a very simple code below:
`#include <uv.h>
int main (int argc, char *argv[])
{
    uv_loop_t *loop = uv_default_loop();
    uv_run(loop, UV_RUN_DEFAULT);
    uv_loop_close(loop);
    uv_library_shutdown();
}`

Compiling with: `gcc src/main.cpp -o main -luv`

getting the following error:
`
/usr/bin/ld: /tmp/ccMg1mqF.o: in function `main':
main.cpp:(.text+0x3a): undefined reference to `uv

[2020-06-02 14:37] #2859 closed

[2020-06-02 15:22] bnoordhuis commented on #2873
Have a look at your link path, there's probably another, older libuv.so in e.g. /usr/lib.

[2020-06-02 20:42] #2855 closed

[2020-06-02 20:49] #2775 closed

[2020-06-02 23:01] #2437 closed

[2020-06-05 11:54] bradking commented on #2829
Can someone please add `feature-request` or one of the other stale-exempt labels to this issue?

[2020-06-07 04:12] mendeljacks commented on #1633
Assertion failed: new_time >= loop->time, file c:\ws\deps\uv\src\win\core.c, line 309
Happens to me when making an axios request to a .jpg endpoint.
The interesting thing is when I omit the s in https, it actually works, but with the s it breaks.

[2020-06-11 16:57] beauby opened #2884 "Data race in linux `uv__hrtime()` when setting `fast_clock_id`"
* **Version**: 1.35.0
* **Platform**:  Linux ff1cd0dbd074 4.15.0-1067-aws #71-Ubuntu SMP Thu Apr 30 13:51:43 UTC 2020 x86_64 Linux

The lazy initialization of `fast_clock_id` can race when two uv loops are spawned from the same process. The race (introduced in 21c37a7db83e5e06cb28f61112325751fb41661c) seems harmless as the initialization seems deterministic, but it makes TSAN complain.

[2020-06-11 23:37] bnoordhuis commented on #2884
It's a pattern that's used throughout libuv: feature-detect X and record the result in a variable.

I don't have an immediate suggestion on how to silence TSAN. If this were a C11 project, we'd load and store such variables with `memory_order_relaxed`, but libuv is C89.

We can probably switch to `__atomic_load_n(&fast_clock_id, __ATOMIC_RELAXED)` and `__atomic_store_n(&fast_clock_id, value, __ATO

[2020-06-12 10:32] #2861 closed

[2020-06-13 07:36] ashok3612 commented on #1633
I get the following error while I run a "**firebase login**" command.
Assertion failed: new_time >= loop->time, file c:\ws\deps\uv\src\win\core.c, line 309

And I have updated the latest firebase  [@admin.](https://github.com/libuv/libuv/commit/796744869669842bd5405a71de8ba60b1556fc24)
But Still, I get the error.
How to fix it?

**PC Config:** hp fr1002tu
OS: win 10
processor: Intel i5 10th gen

[2020-06-13 09:26] saschanaz commented on #1633
For commenters: Currently the best thing to do is probably to wait for 15.0 where it's fixed.

[2020-06-14 03:13] grao-github commented on #1633
**Solved:**
I had the same issue with firebase on Windows 10. I simply **synchronized the clock**. There is a button called "Synchronize Your Clock"  under Date & Time settings.

[2020-06-14 11:04] bnoordhuis commented on #2884
@beauby Can you check if #2886 fixes the issue for you?

[2020-06-15 11:54] vcunat commented on #2822
Wouldn't it be better for `suggested_size` to reflect the recvmmsg state automatically?  I mean... it's probably not difficult for libuv users to guess that UDP can be (theoretically) up to 64kB long, so without recvmmsg there's not much information in the parameter.

[2020-06-15 16:29] Lesiuk commented on #1633
But node 15.0 is going to be released in october. How are we supposed to write develop nodejs applications since then?

[2020-06-15 16:53] saschanaz commented on #1633
Maybe it should land also to 14 maybe? @bzoz

[2020-06-15 17:37] beauby commented on #2884
Thanks for the quick fix! I just tested it and it works.

[2020-06-15 18:19] grao-github commented on #1633
did you try my suggestion above (synchronizing the clock)?

[2020-06-15 18:53] Lesiuk commented on #1633
Did not helped. I tried few times. I am using new Ice Lake Core i7-1065G7

[2020-06-15 18:54] saschanaz commented on #1633
It's known that this is because of possible compiler (or CPU) problem, so it's highly possible that there is no good workaround.

[2020-06-15 19:41] Lesiuk commented on #1633
Just compiled master branch with https://github.com/libuv/libuv/commit/796744869669842bd5405a71de8ba60b1556fc24 and everything works fine.

[2020-06-15 21:02] squeek502 commented on #2822
@vcunat that would be another option. Not sure which would be better.

[2020-06-16 08:42] ashok3612 commented on #1633
Could you explain me, how to do this?
Because i tried all the above steps. Nothing help me.

[2020-06-16 09:45] #2884 closed

[2020-06-16 09:47] #2862 closed

[2020-06-16 10:47] Lesiuk commented on #1633
Followed those steps https://github.com/nodejs/node/blob/master/BUILDING.md#windows to build nodejs from source with those changes.

[2020-06-16 11:42] jamadden commented on #2862
Thanks!

[2020-06-16 22:05] mhdawson commented on #2804
@richardlau, I believe the outage has already taken place and this can be closed right?

[2020-06-16 22:09] richardlau commented on #2804
@mhdawson I have no idea as I was not included in any of the emails. @sxa is this something you were aware of?

[2020-06-16 22:54] mhdawson commented on #2804
@richardlau ok, believe it is done, but I can't close the issue in this repo.

[2020-06-16 23:03] #2804 closed

[2020-06-17 04:23] mendeljacks commented on #1633
Syncing clock does nothing. This issue is affecting firebase-tools, heroku-cli, axios and other popular packages. It happens on dell xps 13 2 in 1 and other intel core i7 10th gen machines. The issue can be fixed by switching to node 8.11.1 (12 and 14 won't work). Alternatively it seems running node js from a docker container also works

[2020-06-17 13:42] sanjusss opened #2887 "C2001 error on chinese windows and vs2019 when using cmake."
* **Version**:  Branch 1.x(commit 20756b1) or early
* **Platform**: Windows 10 Pro 2004(Chinese)
* **Compiler**: MSVC2019

On chinese windows, cmake project has an error when compile `test-idna.c`.
![image](https://user-images.githubusercontent.com/8220722/84904000-62351e80-b0e1-11ea-8d86-5bb40f95c5ae.png)
If I take advice of #2581, and add following line in cmakelists.txt:
[code]
This will compil

[2020-06-17 13:58] addaleax commented on #2887
@sanjusss Would you mind opening a PR with that suggestion?

[2020-06-18 04:28] ashok3612 commented on #1633
1. Go to **services** and select **Automatic Time Zone Updater** and change **startup type** to **automatic**. Then click Apply and close.
2. Go to **date and time settings** and **sync your clock**.
3. Close existing cmd and open a new one and try with your command...
It fixed my assertion error problem. Finally, I can use firebase on node 14 also.
Try these two steps. It may fix your problem...

[2020-06-18 04:31] Lesiuk commented on #1633
It is not working on Intel ice lake CPUs.

[2020-06-20 23:57] #2506 closed

[2020-06-23 20:30] WillerZ opened #2891 "Broken clock used on macOS 10.14"
In our electron application we from time to time see 100% CPU usage on many threads in the libuv thread pool. It happens only on macOS, never windows, and almost exclusively on laptops (~20% of laptops vs ~2% of iMac/Mac Mini/Mac Pro). We've seen this before in another pooled execution library we use so please forgive me for skipping to the end:

Currently libuv uses `mach_absolute_time()` which i

[2020-06-29 20:45] cjihrig opened #2898 "Release proposal: v1.38.1"
Notable changes:

- A probable compiler bug in VS2019 was causing a failed assertion in libuv which appeared to the user as though the system clock was drifting. The `uv_hrtime()` code on Windows has been rearranged to work around the issue.
- On Linux, `uv_loadavg()` attempts to read from `/proc/loadavg` before falling back to calling `sysinfo()`. This works around a bug in LXC.
- A deadlock in t

[2020-07-01 08:05] zhujie358 opened #2900 "std::mutex crash when locked, win7 with libuv 1.91"
libuv version: 1.91
Platform: WIN7 x64, the app is x86

I use VS2015,  and put the libuv int a dll to do a server, the libuv not use thread or work queue.
i have a std::mutex, module_mutex, and only use it in echo_read and tcp close callback.
when try to lock the mutex in echo_read, sometimes failed to lock it, It finally go to mutex.c in function
I don't know why this happens, and what i can do,

[2020-07-01 08:35] #2891 closed

[2020-07-01 08:39] bnoordhuis commented on #2898
4685be23 ("darwin: work around clock jumping back in time") is probably also notable. Monotonic clocks jumping back in time are notable to me at least. :-)

[2020-07-01 13:09] coderzh opened #2901 "timeout of io poll is not right in some case"
* **Version**: v1.x
* **Platform**: all

[code]

expect `on_timer` be called every 2 seconds even if on_timer itself costs 2 seconds, but the real outputs:

[code]

on timer be called every 4(2+2) seconds and 2 seconds.  (2 seconds for the sleep, 2 seconds for the io poll wait.)

when I change sleep(2) to sleep(1), the outputs:

[code]

the second on timer is 3 seconds after the first one, after t

[2020-07-01 14:11] bnoordhuis commented on #2901
Thanks for the bug report but the answer is no. From docs/src/timer.rst:

I'm closing the issue but I can move it to libuv/help if you have follow-up questions.

[2020-07-01 14:11] #2901 closed

[2020-07-01 14:13] bnoordhuis commented on #2901
And from the section on `uv_timer_set_repeat()` in the same document:

In other words, the behavior you observe is expected.

[2020-07-01 15:15] coderzh commented on #2901
Sad, but the behavior is not my expect.

[2020-07-01 15:34] coderzh commented on #2901
The behavior is so abnormal. When I scheduled a timer N milliseconds interval, callback execution duration is longer than N milliseconds(for example M milliseconds), the callback will be triggered every N+M milliseconds and N seconds alternately.

[2020-07-02 01:50] beauby commented on #2884
Either the PR was modified before it was merged, or I something went wrong when I tried it, but I am still hitting this on master. The following change seems to fix it.

[code]

[2020-07-02 06:47] bnoordhuis commented on #2884
Can you try the v1.x branch? That's what releases are cut from.

[2020-07-02 06:51] bnoordhuis commented on #2901
You don't have to like it but you'll have to learn to live with it - libuv has always worked this way and it's not going to change. Call `uv_update_time(loop)` at the end of your callback.

[2020-07-02 08:09] estasig commented on #2768
https://github.com/libuv/libuv/commit/f9618443920fd0cbd3ab11c9d37c1f24a7aa1067

[2020-07-02 09:58] beauby commented on #2884
Sorry, I wrote "master" but I actually meant the v1.x branch.
Looking at #2886 it does not seem `uv__hrtime()` was modified.

[2020-07-02 12:32] coderzh commented on #2901
Call `uv_update_time(loop)` at the end of your callback will cause `uv__run_timers` infinite when callback execution duration always longer than the interval.

[code]

[2020-07-02 13:55] bnoordhuis commented on #2901
I kind of understand what you're saying but I can't reproduce it. Below is a test case, can you try it out and/or modify it to demonstrate the behavior you're seeing?
<details>

[code]

</details>

[2020-07-02 15:24] AshCripps opened #2903 "Can the non-cmake osx ci job be removed?"
https://ci.nodejs.org/job/libuv-test-commit-osx/ doesn't seem to be used anymore.

as part of https://github.com/nodejs/build/issues/2315#issuecomment-652919983 I need to decomission the old osx1010 osx1011 machines and remove them from the CI so as part of that I can clean up some jobs whilst im at it.

[2020-07-02 16:11] richardlau commented on #2903
Yeah, it's the old gyp-based build. I thought I had disabled it (obviously have not, or it was reenabled).

I'd like to say we could get rid of it but we still have gyp files in `master` so cc @libuv/collaborators just to make sure.

[2020-07-03 03:27] coderzh commented on #2901
Please try this case, the idle callback will never run second times, and the timer will never be stopped.

[code]

[2020-07-03 16:47] cjihrig commented on #2898
libuv CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/1942/
I reran the osx-cmake job: https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/137/. The only failure was a flaky hrtime timeout.

Node+libuv integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/141/. I had to run this on my own fork of Node due to required changes to the gyp file. Seems fine other than a FreeBS

[2020-07-03 16:53] #2898 closed

[2020-07-07 08:59] bnoordhuis commented on #2903
It's fine to remove. The master branch isn't tested right now and it's overdue for a sync with v1.x in any case.

[2020-07-07 10:52] AshCripps commented on #2903
Ok ill remove the job later today

[2020-07-07 13:35] AshCripps commented on #2903
Job deleted

[2020-07-07 13:35] #2903 closed

[2020-07-09 17:47] musm commented on #2640
@erw7  Since you worked on a lot of tty features, I wonder if you know how hard implementing such a feature would be? This would help fix a lot of problems on my end.

[2020-07-10 01:38] DHowett opened #2909 "The windows console does support UTF-16 surrogate pairs now"
* **Version**: 032f2b1251be842438bfed6e688ef874bf85254c
* **Platform**: Windows 10.0.10240+

There's an assertion in src/win/tty.c above a block of code that destroys high unicode, to the effect of ...

https://github.com/libuv/libuv/blob/032f2b1251be842438bfed6e688ef874bf85254c/src/win/tty.c#L2125-L2130

According to blame, that comment was written nine years ago. It handily predates Windows 10 a

[2020-07-10 08:11] bnoordhuis commented on #2884
Sorry, you're right; I dropped that part of the PR when I did the final rebase... Corrected in commit 10a9c25a.

[2020-07-10 08:29] bnoordhuis commented on #2909
Thanks for bringing that to our attention. Can you take a look at #2910?

[2020-07-11 03:43] Keno opened #2911 "uv_cpu_info fails on Darwin ARM64"
Darwin ARM64 appears to be missing the `hw.cpufrequency` sysctl, causing uv_cpu_info to fail.
I'm thinking this might just be an oversight, so I've submitted a ticket with Apple (FB7917120),
but I figured it would be worth filing an issue here as well to track the issue.

[2020-07-11 10:49] bnoordhuis commented on #2911
Related: https://github.com/nodejs/node/pull/34238 - that PR is currently floating a libuv patch to work around this issue.

[2020-07-11 11:09] bnoordhuis commented on #2911
I've opened #2912 with a possible workaround. Can you take a look?

cc @evanlucas

[2020-07-11 14:16] Keno commented on #2526
This was fixed in macOS 10.15.4.

[2020-07-14 10:01] bnoordhuis opened #2913 "fs: clobber req->path on uv_fs_mkstemp() error"
Refs: https://github.com/nodejs/node/pull/33549
[code]
POSIX allows (but doesn't mandate) the input/output buffer to get clobbered on error, and AIX indeed does so.

To flush out portability bugs in downstream users, make libuv always clobber the buffer on error.

Alternatively, preserve `req->path` by operating on a copy, but that needs dynamic memory allocation and incurs the (probably minor) pe

[2020-07-14 13:04] evanlucas commented on #2911
I opened https://github.com/libuv/libuv/pull/2914 in addition.

cc @bnoordhuis @Keno

[2020-07-18 11:01] kyze8439690 commented on #1439
I have the same issue, open about 400 timers, and `heap_remove` will throw a nullpointer exception.

[2020-07-20 12:08] bnoordhuis opened #2916 "test: fix double evaluation in ASSERT macros"
https://github.com/libuv/libuv/blob/e0cb4f06c9c171028092f3cb515e4523eb824066/test/task.h#L179-L182

https://github.com/libuv/libuv/blob/e0cb4f06c9c171028092f3cb515e4523eb824066/test/task.h#L114-L130

`a` and `b` are evaluated twice in case of failure which can make for confusing errors:
[code]
cc @santigimeno

[2020-07-20 15:19] kyze8439690 opened #2918 "UV_HANDLE_READABLE and UV_EOF"
* **Version**: 1.38.1
* **Platform**: Linux(Android 10)

Is it a good design to make `handle->flags &= ~UV_HANDLE_READABLE` flag correspond to getting `UV_EOF` in `uv_read_start`? It seem that `UV_HANDLE_READABLE` is removed only when closing.

[2020-07-21 01:19] huoyingyangjie opened #2919 "Reasonable design of api about 'uv_connection_cb'"
**Version**: 1.38.1
**Platform**: centos7

In the example of "docs/code/tcp-echo-server.c",  if want add 'new connection' to 'loop',  it must be make 'loop' as global variable. I think this is unreasonable, it should be passed as a parameter.

[2020-07-21 07:40] qiupin opened #2920 "uv_timer_init and uv_timer_stop"
* **Version**:  1.34.2-1ubuntu1
* **Platform**: 4.19.84-microsoft-standard
when uv_timer_init is called, a handle will be insert into loop->handle_queue, but how can
I remove it from the loop->handle_queue after the timer is stop?

I wrote some testing code, and I got a dead loop.

[code]

[2020-07-22 20:48] bzoz commented on #1633
Newest Node release, [Node v14.6.0](https://nodejs.org/dist/v14.6.0/node-v14.6.0-x64.msi) contains the fix for this. Give it a spin.

[2020-07-23 10:12] unicomp21 commented on #1880
Can someone clue me in on the current "state of the art" with respect to libuv, nodejs, and userspace tcp?

[2020-07-24 09:58] CurlyMoo opened #2922 "100% CPU + Socket idling in CLOSE_WAIT state"
In line with a previous issue opened in the NodeJS reporitory https://github.com/nodejs/node/issues/11307 and as requested by @santigimeno moved to here.

----

I hate to reopend this issue, but i experience the exact same bug in a pure C program using libuv as the async i/o backened. I've been trying to debug this for months before i got to the point that i found the cause could be dangling socke

[2020-07-24 17:26] CurlyMoo commented on #2922
I've built a small program with a simple `select` read loop outside libuv which does the same as the original program that uses libuv. This loop does properly receive the read event for the socket as soon as the socket goes to a SOCK_WAIT state.

I wanted to make sure this would happen so we can rule out the kernel as was suggested in the other thread by @rahulreddy

[2020-07-25 07:22] kyze8439690 opened #2923 "syscall crash on Android 9.0 x86"
* **Version**: v1.38.1
* **Platform**: Android 9.0 x86

Crash message like below:
[code]
Maybe we should consider make a direct call on Android platform?

[2020-07-25 07:39] kyze8439690 commented on #2923
https://github.com/libuv/libuv/issues/2105

[2020-07-25 08:00] kyze8439690 commented on #2167
@BillHoo Api level 21 is not fully supported because there is some method not supported like below:

Not supported until api level 24
[code]

Not supported until api level 28
[code]

Not supported at all
[code]

[2020-07-25 08:01] kyze8439690 commented on #2923
I have try to code below to replace `linux-syscalls.c`, and it seems that everything works fine

[code]

[2020-07-25 08:02] kyze8439690 commented on #2923
My min api level is 21(Android 5.0)

[2020-07-25 12:24] caobug opened #2924 "How to control rx flow?"
Hello,

When I frequent calls uv_read_stop and uv_read_start will cause can't receive more data on recv callback.

I was used `ev_io_stop() and ev_io_start()` to control flow in `Libev`.

How to correctly control flow in Libuv?

[2020-07-26 18:07] tjarlama commented on #2916
@bnoordhuis If no one else is working on this, I can pick this up.
I can think of 2 solutions:
- Removing a and b from fprintf statement. This will be a minor change and won't affect anything, but might make debugging harder.
- Redefine `ASSERT_BASE` without `expr` and declare 2 variables inside do-while block to store results of a and b. I don't think this will violate any contribution guidelines

[2020-07-26 18:07] tjarlama commented on #2913
@bnoordhuis I would like to work on this. Can I go ahead with the first solution?
Have some doubts
- req->path should be clobbered regardless of the errno (EEXIST or EINVAL, man(3) mkstemp) in unix
- By clobbering, you mean the entire string to be rewritten or just the first character to '\0' is fine
- This needs to be done for both unix and windows

[2020-07-27 08:47] bnoordhuis commented on #2916
@tjarlama I'd go for option 2. There are only a handful of direct `ASSERT_BASE` uses.

[2020-07-27 09:11] bnoordhuis commented on #2924
Yes, those are the ones you should use.

I'm afraid I don't understand what you mean.

[2020-07-27 12:11] bnoordhuis commented on #2923
I've opened #2925 to fix sendmmsg/recvmmsg support.

I'm ambivalent about the other system calls, they should Just Work as far as I know, maybe with the exception of statx. Can you share more details?

[2020-07-27 12:18] bnoordhuis commented on #2922
Can you try to attach gdb and `print loop->watchers[21]` (or whatever fd it's busy-looping on)? You can get the loop from the frame that corresponds to `uv__io_poll()`, it's that function's first argument.

[2020-07-27 12:19] bnoordhuis commented on #2913
@tjarlama

1. Correct.
2. Either is fine.
3. Correct.

[2020-07-27 14:55] kyze8439690 commented on #2923
https://github.com/libuv/libuv/issues/2167#issuecomment-663825587

[2020-07-27 15:34] kyze8439690 commented on #2923
That is weird，`syscall(__NR_recvmmsg, ...)` works fine on the same system.
For best compatibility consideration, I suggest not using syscall on android platform.

[2020-07-27 17:31] CurlyMoo commented on #2922
And these are the fd's?
`{u32=21, u64=21}`

[2020-07-27 22:04] bnoordhuis commented on #2922
Yes, that's right.

[2020-07-28 11:08] tjarlama commented on #2916
@bnoordhuis Submitted a fix for this on above mentioned pull request, review whenever you are free

[2020-07-28 13:05] #1798 closed

[2020-07-28 13:38] CurlyMoo commented on #2922
Hmm, the print is not working as expected:
[code]

[2020-07-28 17:59] #2687 closed

[2020-07-29 00:14] #2807 closed

[2020-07-29 02:48] #1951 closed

[2020-07-29 02:49] vtjnash opened #2928 "v2: consider removing `_ex` methods"
In v2, we can remove `_ex` methods, by giving the original methods the flag argument. Just opening this as a reminder for tracking.

[2020-07-29 02:52] vtjnash opened #2929 "v2: ensure mkdir is returning the desired error codes"
There's some custom error code remapping (like #1088, #2375, #2601) happening, which we should review before v2 to ensure it is how we want.

[2020-07-29 03:04] vtjnash opened #2930 "libuv-test-commit-osx-cmake CI runner is failing due to "posix_spawn failed: Resource temporarily unavailable""
https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/ appears to often failing because it's doing `cmake --build . -j`, which is causing the bots to exceed their physical/virtual memory limits while running the compiler. The `-j` parameter needs some limit when using the `make` backend, or it needs to switch to another backend like `ninja`.

[2020-07-29 03:06] vtjnash commented on #2342
Appears to still be failing quite often for me: https://ci.nodejs.org/job/libuv-test-commit-osx-cmake/160/nodes=osx1015/console

[2020-07-29 03:09] vtjnash opened #2931 "not ok - fs_file_async"
Seem to be seeing this a fair amount today:
https://ci.nodejs.org/job/libuv-test-commit-linux/2033/nodes=centos7-ppcle/console
[code]

[2020-07-29 10:12] 0-wiz-0 opened #2934 "NetBSD test failures"
* **Version**: git head, i.e. 6b5aa669db4d57231e21b1ee97c63a06167e117e
* **Platform**: NetBSD/amd64 9.99.69

There are a couple test failures:

[code]

[2020-07-29 12:36] CurlyMoo commented on #2922
I've finally got one:
[code]

[code]
It's not busy looping at the moment, but it also didn't report the FIN event.

[2020-07-29 13:46] bnoordhuis commented on #2922
CLOSE_WAIT is not an unexpected TCP state. 9 out of 10 times it means you need to close the socket.

Since you're using `uv_poll_t`, that means its callback should have been invoked with e.g. `UV_DISCONNECT` as one of the events.

I'm fairly sure of that because of this:

`pevents` are the pending events (`EPOLLIN + EPOLLOUT`), events that libuv has seen and recorded.

The `events = 0` means the h

[2020-07-29 13:53] CurlyMoo commented on #2922
I understood that ofc.

Could it be that i've been that stupid that i forgot to listen to that event? Besides questioning the reason to have it as a seperate event in the beginning. I would've expect that a FIN would be a event just as C has implemented it.

Let me first test if the UV_DISCONNECT solves everything

[2020-07-29 17:07] CurlyMoo commented on #2922
Reading the manual page for UV_DISCONNECT doesn't confince me that the FIN will always be communicated in a UV_DISCONNECT event:

The whole point is that the additional read call is never triggered. If it was i would've had the option choose either an additional read or the UV_DISCONNECT  as the final call after a socket shutdown.

[2020-07-29 23:24] trinhpham commented on #1633
Look like the fix work.
Do we have any plan to cherry-pick the fix to LTS versions of NodeJS?

[2020-07-29 23:59] vtjnash opened #2935 "not ok - tty"
Saw:
[code]
from
[code]
on c785eb73cffe140da3d1dd0c287de88067059f79 at https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/177/nodes=aix71-ppc64/console

[2020-07-30 10:27] bnoordhuis commented on #2922
To be clear: `UV_DISCONNECT` is reported opportunistically, as an optimization; that's why I wrote "e.g.", as in: for example.

When the socket is closed by the peer, you'll get _some_ event (unless you've cleared the event mask, of course.)

If it's `UV_READABLE` and you try to read, you'll receive an `ECONNRESET` error.

It's also possible your callback is invoked with `status < 0`, to indicate

[2020-07-30 11:16] CurlyMoo commented on #2922
Understood

I do, but both aren't triggered in these cases.

I will try to create a unittest that will trigger the error.

[2020-07-31 13:46] arcanis opened #2936 "File cloning not working on APFS"
(Note: this issue is cloned from https://github.com/nodejs/node/issues/34579 as it likely has to do with the libuv)

* **Version**: Node 12.x, 14.x, 15.x
* **Platform**: OSX 10.15

### What steps will reproduce the bug?

Running the following on an APFS system (tested on OSX 10.15):

[code]

Fails with:

[code]

### What is the expected behavior?

I would expect it to work; all documentation I fou

[2020-07-31 19:41] vtjnash opened #2937 "half of qemu bots appear to be broken"
https://github.com/libuv/libuv/runs/933150970
[code]

@gengjiawen Any idea what's happening here, as it looks like you had marked some of the other nearby tests as skipped.

[2020-07-31 19:43] vtjnash commented on #2936
Fixed by https://github.com/libuv/libuv/pull/2578

[2020-08-01 01:51] gengjiawen commented on #2937
Looks like ubuntu update qemu to `qemu-user-static_4.2-3ubuntu10_amd64.deb` [(ci)](https://github.com/libuv/libuv/runs/933150789#step:3:14), we may lock qeme version to prevent this issue (like `qemu-user-static_4.2-3ubuntu9_amd64.deb`).

[2020-08-01 13:51] gengjiawen commented on #2937
Looks ubuntu doesn't keep old version like `qemu-user-static_4.2-3ubuntu9_amd64.deb` or `qemu-user-static_4.2-3ubuntu8_amd64.deb`.

[2020-08-01 15:44] #2715 closed

[2020-08-01 18:45] DHowett commented on #2909
(Keeping the issue fresh so stalebot doesn't close it.)

[2020-08-02 09:37] vvidovic opened #2940 "One of tests fails (not ok 275 - tcp_connect_timeout) on Ubuntu 20.04"
* **Version**:
libuv-v1.38.1

* **Platform**:
[code]

After building libuv as a local user and running `make check` one of the tests failed. Here is (cut) output with error messages:
[code]

Please let me know if I need to send more info.

[2020-08-02 11:18] bnoordhuis commented on #2940
That test connects to 8.8.8.8:9999, an address that's normally unreachable and times out after a while. However, if you have something in your network topology (firewall, router, etc.) that cuts the TCP handshake short, the test fails.

You can check with `nc 8.8.8.8 9999` - it should time out but only after several minutes have passed.

[2020-08-02 11:39] vvidovic commented on #2940
Hi, after testing few times network connectivity with nc, I can confirm that this test sometimes timeout and sometimes succeed:
[code]

When I run `make check` for the third time, all tests passed (after that they were mostly but not always failing).

I am not sure why would a connection to port 9999 on Google DNS sometimes succeed but it is obviously something specific with my environment.
I will

[2020-08-02 11:39] #2940 closed

[2020-08-03 09:44] arcanis commented on #2936
@vtjnash the PR looks in danger of being stale-closed (or at least not merged for some time), is there something blocking it we could help with? Yarn could really benefit from this to decrease the disk footprint of typical Node projects.

[2020-08-04 14:01] caobug opened #2942 "seccomp may prevent call to disallowed x86 system call 345 on Android"
Hello,

When I call uv_udp_send will get an error. but it working on macOS and iOS.

Android version: 10
Libuv version: 1.38.1

[code]

[code]

[2020-08-04 14:19] caobug commented on #2923
Hello, is there any good news?

[2020-08-04 14:24] vtjnash commented on #2630
Yeah. We might be talking past each other, but doing everything via a double pointer indirection seems inconvenient both for code style and performance.

Note that v1.x is already in the situation now that "force users to use dynamic allocation per-handle" is happening due to running out of room in the existing structs (e.g. https://github.com/libuv/libuv/pull/2725, https://github.com/libuv/libuv/

[2020-08-04 14:51] kyze8439690 commented on #2923
@caobug compile this file instead of linux-syscalls.c

[2020-08-04 15:06] #2499 closed

[2020-08-04 15:20] cjihrig opened #2943 "Release proposal: v1.39.0"
Notable changes:

- `uv_metrics_idle_time()` and `UV_METRICS_IDLE_TIME` have been added for measuring the amount of time the event loop spends idle.
- `uv_udp_using_recvmmsg()` has been added to determine if a buffer is large enough for multiple datagrams should be allocated in the allocation callback of `uv_udp_recvstart()`.
- On MinGW, the installation location has been updated to match Unix sys

[2020-08-04 16:44] vtjnash commented on #2479
I think I've identified this as a bug in the test itself (https://github.com/libuv/libuv/pull/2853#issuecomment-665259082), if someone wants to take a crack at fixing that (and to re-re-land the optimization)

[2020-08-04 16:48] vtjnash commented on #2943
There's probably a handful of other PRs nearly ready to merge also, but waiting on either a quick correction or review!

[2020-08-04 19:13] bnoordhuis commented on #2943
Is #2725 really ready for release? It's a new API and those should ideally receive at least two sign-offs from maintainers.

Although it received three, it looks like two of them are from March, for an old incarnation of the PR.

[2020-08-04 19:14] bnoordhuis commented on #2942
Duplicate of #2923

[2020-08-04 19:14] #2942 closed

[2020-08-04 19:17] cjihrig commented on #2943
@bnoordhuis I guess that's a good question. I'm fine with waiting on a release while that is determined.

[2020-08-04 19:21] #2911 closed

[2020-08-04 19:43] cjihrig commented on #2911
Are there any other known issues on Apple Silicon? In other words, do we think it's OK to claim support in the next release?

[2020-08-04 19:46] Keno commented on #2911
No known issues on our end with libuv, though our test suite is not 100% functional yet on Apple Silicon, so we may have missed something.

[2020-08-04 20:00] evanlucas commented on #2911
With V8 8.5, node's full test suite passes as well. From what I've seen, this was the only thing that didn't work.

[2020-08-04 20:01] bnoordhuis commented on #2479
#2946

[2020-08-04 20:15] trevnorris commented on #2943
@bnoordhuis I've uploaded the diff from the first accepted patch in March and the one that landed in v1.x to https://gist.github.com/trevnorris/8183ea638732f908ebb69f962e50b4e0.

I don't have any issue with waiting, but for posterity I want to point out that there was almost no change between the patch as it was accepted in March and as it landed today. The only major differences between the two a

[2020-08-04 20:33] bnoordhuis commented on #2943
Okay, that seems harmless enough, although I can't really evaluate the windows changes.

[2020-08-05 03:02] vasubabukandimalla opened #2948 "libuv fails on MontaVista Linux"
uv_accept is failing on MontaVista Linux.

[2020-08-05 06:26] bnoordhuis commented on #2948
Can you fill out the issue template? Please provide steps to reproduce.

[2020-08-05 09:58] Parallel-Hao opened #2949 "unix: uv_async_send takes long latency on single core CPU again"
* **Version**:  v1.x
* **Platform**:  Linux 4.15.0-88-generic

The relevant issue: https://github.com/libuv/libuv/issues/2769
The commit to solve the issue: https://github.com/libuv/libuv/commit/a9d9d4ea1b628368170fea18b042483f850e48a1

The test case is almost same as the above issue, including two threads, one (A) for libuv event loop and the other one (B) for sending event requests. Also, the pr

[2020-08-05 11:30] ulrikstrid opened #2950 "Get time left from timer"
I wanted to implement a debounce function using a timer but it seems like we can't get the time left.
Am I missing something or is it not possible with the current API?

[2020-08-05 12:07] bnoordhuis commented on #2950
I think a pull request implementing that functionality is welcome.

The catch is that the timeout is stored as the event loop's idea of the current time + the timeout, i.e., as absolute time. To derive the remaining time, you have to compute `handle->timeout - loop->time` and check it's >= 0.

[2020-08-05 12:41] richardlau commented on #2950
For reference, diagnostic report in Node.js and its predecessor `node-report` do just that to derive the remaining time but the `timeout` field (`due` on older versions of libuv on Windows) on the timer handle isn't public.

https://github.com/nodejs/node/blob/84b35b286769758610173291c6e9fd9eebdaaf1f/src/node_report_utils.cc#L150-L157

https://github.com/nodejs/node-report/blob/b19df9b4f8f3fce58c7

[2020-08-05 14:05] #2930 closed

[2020-08-06 08:00] bnoordhuis commented on #2949
I think the problem with `nanosleep()` is timer slack.

The linux kernel applies a performance optimization where it rounds up timeouts (the slack) in order to coalesce them. A zero timeout `nanosleep()` system call can sleep for 50 us or more because of slack. I expect that to negatively affect performance in an unpredictable manner.

It's possible to temporarily change the slack but that means t

[2020-08-06 08:15] bnoordhuis commented on #2949
Completely untested (not even if it compiles) but this is the basic idea:
[code]

[2020-08-06 08:15] #2948 closed

[2020-08-06 15:42] #2342 closed

[2020-08-06 20:34] CurlyMoo commented on #2922
@bnoordhuis I haven't been able to reproduce this in a small unittest. However, i got a strace that i would love to have clearified:

[code]

There is a valid `recvfrom` which righ after leads to a `EPOLL_CTL_DEL`. Am i responsible for that EPOLL_CTL_DEL or did libuv remove the FD because it became invalid?

I would've expect one last `recvfrom` after the  last `epoll_wait` with 0 bytes returning.

[2020-08-06 20:59] musm commented on #2943
Any chance https://github.com/libuv/libuv/pull/2910 can make it?

[2020-08-07 07:53] ulrikstrid commented on #2943
If there was is any chance I would love it if #2951 got in as well. Let me know if there's anything I can do to make it happen.

[2020-08-07 14:58] #2937 closed

[2020-08-07 18:49] #2479 closed

[2020-08-09 11:23] bnoordhuis commented on #2922
This part:
[code]
Suggests another thread closed the file descriptor (or you / strace filtered out the close() system call.)

[2020-08-09 15:58] #2845 closed

[2020-08-09 16:28] cjihrig commented on #2943
libuv CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/2001/
Node.js integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/146/

[2020-08-09 18:12] CurlyMoo commented on #2922
This was the `strace` i had running:

[code]

[2020-08-10 09:17] bnoordhuis commented on #2922
Try adding `-f` so you also capture system calls from other threads.

[2020-08-10 10:55] CurlyMoo commented on #2922
Nice

[code]

Again, there was no close and the recvfrom was the last action that was received.

[2020-08-10 11:22] bnoordhuis commented on #2922
Thanks! There's something fishy going on in your program. The relevant bits:
[code]
Note how EPOLL_CTL_DEL happens in one thread but EPOLL_CTL_ADD and EPOLL_CTL_MOD in another.

[2020-08-10 15:11] CurlyMoo commented on #2922
I do indeed write to this socket from multiple threads. Reading is done from one single thread.

[2020-08-10 15:30] #2674 closed

[2020-08-11 11:36] bnoordhuis commented on #2922
You've found your root cause, your program is violating a fundamental libuv design constraint. From `docs/src/design.rst`:

I'll go ahead and close this.

[2020-08-11 11:36] #2922 closed

[2020-08-11 11:40] CurlyMoo commented on #2922
I will adapt my program accordingly and would i still encounter the issue i'll reopen.

Thanks for your help!

[2020-08-11 12:44] vtjnash opened #2955 "not ok - fs_event_watch_dir_recursive, fs_event_watch_file_current_dir"
I seem to be encountering this often:
[code]
From: https://ci.nodejs.org/job/libuv-test-commit/2002/
Refs: https://github.com/libuv/libuv/issues/30

[2020-08-12 04:27] #2913 closed

[2020-08-12 05:50] vtjnash commented on #2307
https://github.com/libuv/libuv/runs/974332547```
not ok 142 - ipc_closed_handle
# exit code 134
# Output from process `ipc_closed_handle`:
# uv_run_tests_a: /home/runner/work/libuv/libuv/src/unix/core.c:255: uv__finish_close: Assertion `!(handle->flags & UV_HANDLE_CLOSED)' failed.
# qemu: uncaught target signal 6 (Aborted) - core dumped
# exit_cb
# Assertion failed in /home/runner/work/libuv/libuv

[2020-08-12 17:07] #2887 closed

[2020-08-12 17:13] #2916 closed

[2020-08-14 04:05] kaonicaoni opened #2958 "build in（windows subsystem for linux)WSL error"
* **Version**:
* **Platform**:

error tips:

not ok 46 - fs_chmod
not ok 47 - fs_chown
not ok 58 - fs_event_watch_dir
not ok 61 - fs_event_watch_file_current_dir
not ok 67 - fs_file_nametoolong
not ok 77 - fs_mkdtemp
not ok 78 - fs_mkstemp
not ok 105 - fs_statfs
...

FAIL: test/run-tests

make[1]: *** [Makefile:5454: check-TESTS] Error 1
make[1]: Leaving directory '/mnt/e/myth/libuv1.x/libuv-1.x'

[2020-08-14 09:57] bzoz commented on #2958
`make[1]: Leaving directory '/mnt/e/myth/libuv1.x/libuv-1.x'`

Can you try running the build and tests on a Linux filesystem?

Also - please provide Windows version, WSL version and libuv version you are trying to build.

[2020-08-14 15:54] tarm-framework opened #2959 "Handling more WSA_* errors on Windows for getaddrinfo"
Hello.

* **v1.38.1 (any recent version)**:
* **Windows 10 x64**:

This story is about internal function `uv__getaddrinfo_translate_error` which translates errors differently for Unix and Windows. For example, on Windows I've tried to call `getaddrinfo` with IPv6 only hints, the call failed and `UV_ENOENT`  (no such file or directory) error code was returned which does not describe what went wrong

[2020-08-14 19:50] cjihrig commented on #2943
Small status update. The changes in this release are causing some problems with the Node.js test suite:

1. https://github.com/libuv/libuv/commit/07e4168b67f6d06dac2c2e21c9a1976a0db9d312 requires some additional calls to `uv_setup_args()` in the Node test suite. Addressed in https://github.com/nodejs/node/pull/34751.
2. https://github.com/libuv/libuv/commit/12be29f185261b8a7e6ada596fd805919cb2b133

[2020-08-15 08:49] bnoordhuis commented on #2959
I think a pull request would be welcome. Want to send one?

[2020-08-15 08:53] tarm-framework commented on #2959
@bnoordhuis sure.

[2020-08-17 19:21] CurlyMoo commented on #2922
So i've changed the whole thing to allow threading.
[code]

[code]

[code]

However, this segfaults:
[code]

I checked the pointers of both `client` and `poll_req` and they are the same across both functions.

[2020-08-17 22:52] bnoordhuis commented on #2922
That stack trace looks suspect. How did you build libuv? You probably want to use a debug build if you aren't already (`cmake -DCMAKE_BUILD_TYPE=Debug ..`)

[2020-08-18 05:25] AuTsing commented on #2357
It works.

[2020-08-18 05:51] DDoSolitary opened #2961 "Stdio redirection with UV_CREATE_PIPE on Cygwin doesn't work when spawning non-Cygwin child processes"
* **Version**: 1.38.1
* **Platform**: Cygwin

Currently when `uv_spawn()` is called with `uv_stdio_flags` set to `UV_CREATE_PIPE`, `socketpair()` is used to create "pipes" to communicate between parent and child. However, it seems that on Cygwin the underlying socket handles are opened with "OVERLAPPED" flags set. It means that normal Win32 programs, expecting normal stdio handles, will fail to re

[2020-08-18 06:00] DDoSolitary commented on #2961
It seems that if I change `socketpair()` to `pipe()`, the child process will be able to access it normally. While unnamed pipes can only send data in one direction, it is acceptable for stdio redirection, and we can check if the user requests a unidirectional pipe (when only one of `UV_READABLE_PIPE` and `UV_WRITABLE_PIPE` is set) and use `pipe` in that case.

(I'm happy to send a PR it this chang

[2020-08-18 06:00] CurlyMoo commented on #2922
I'm debugging on a machine of someone else so I don't have control of the full stack. I will see what I can do.

But in general. This should work right?

[2020-08-18 08:16] CurlyMoo commented on #2922
I've double and tripple checked, but i can't get any more out of the stracktrace.

[code]

libuv is integrated in the program itself (without modifications):
[code]

I've tried both with `-g` and with `-ggdb`.

[2020-08-18 14:30] DDoSolitary commented on #2961
@vtjnash It seems that the PR you linked doesn't change the current behavior but exports the pipe and socketpair functions. Does it mean that users are expected to call uv_pipe and pass the created fd to uv_spawn if they want unnamed pipes for stdio redirection?

[2020-08-18 15:21] vtjnash commented on #2961
Yes, `UV_CREATE_PIPE` is only capable the most basic use cases. Those cases are common, but inflexible, so JuliaLang eventually stopped using it entirely (though it's still useful for `ipc`, which is its primary design use case).

[2020-08-18 15:35] DDoSolitary commented on #2961
@vtjnash Got it. Thanks for the explanation.

[2020-08-18 15:35] #2961 closed

[2020-08-19 03:26] DDoSolitary opened #2962 "unix: inconsistent handling of closed stdio"
* **Version**: 1.38.1
* **Platform**: All *nix systems

Currently different components of libuv behaves inconsistently when stdio fds are closed manually by user. joyent/libuv#943 introduced the check that will cause crash the whole program when attempting to close a fd <= 2. It assumes that normally libuv shall not try to close such fds, but it is not the case when a user chooses to manually clos

[2020-08-19 11:45] bnoordhuis commented on #2962
I appreciate that you wrote up all that but what exactly are you proposing?

For context: the philosophy that libuv adheres to is that closing file descriptors 0-2 is almost always a program bug, potentially with security implications: get the program to reopen them as sockets and the attacker can now read the program's logging.

There are a few uses of `uv__close_nocheckstdio()` that should proba

[2020-08-19 12:10] DDoSolitary commented on #2962
Sorry for being not clear on this. What I'm proposing is to make things consistent. That is:

- If closing stdio fds is considered a valid use case, then either `uv__close` should not check it at all, or all fds created by libuv should be checked and `F_DUPFD`ed to a higher value when necessary.
- If closing stdio fds is not supported, then I would like to propose to change all usage of `uv__close

[2020-08-19 12:26] DDoSolitary commented on #2962
The existing code, especially the `spawn_closed_process_io` test case and merging of #796 gives me the impression that it is a supported scenario, which is quite misleading IMHO.

[2020-08-19 12:57] vtjnash commented on #2962
I think this is a duplicate of #2062. My comment there is that our experience in JuliaLang found that embedding applications (including nodejs) should pass `dup(1)` instead of `1` to libuv for reliability (inside nodejs and libuv and other dynamic libraries, among others) in this and other edge cases, including allowing reverting the workaround in https://github.com/joyent/libuv/pull/943.

[2020-08-19 13:26] DDoSolitary commented on #2962
@vtjnash It seems that #2062 is about libuv's behavior when it is given a stdio fd. However, I'm trying to address something different here: when stdio fds are closed outside of libuv 1) users may pass libuv fd 0-2 which is reused for other purposes 2) libuv itself may create fds with number 0-2 and crash due to assertion failure in `uv__close` (e.g. just add `close(1)` to the `spawn_closed_proces

[2020-08-19 13:53] vtjnash commented on #2962
Yep, that was a different example, but I'm suggesting it's the same underlying issue (that libuv shouldn't assume fd 0-2 are special numbers, and that users shouldn't pass stdio fd directly to libuv).

[2020-08-20 11:57] Parallel-Hao commented on #2949
@bnoordhuis  I made a PR based on your suggestion. One thing I need to explain is the timer slack value, which is set with 3000 nanoseconds. This is an empirical value. Otherwise it cannot really yield with less than 3000 ns on my platform.

[2020-08-24 01:40] cjihrig commented on #2943
@bnoordhuis do you have any ideas on item 2 above?

[2020-08-24 06:54] ashi009 opened #2965 "`uv_fs_realpath` causes `SIGABRT` on darwin when the realpath is really long"
* **Version**: 1.32.0 (node 12.12.0)
* **Platform**: Darwin Kernel Version 19.6.0: Sun Jul  5 00:43:10 PDT 2020; root:xnu-6153.141.1~9/RELEASE_X86_64

Reproduce from nodejs:

[code]

macOS crash report:

[code]

The apparent cause for this is that when the file doesn't exist, `pathconf`   will fail with `ENOENT` and `uv_fs_realpath` will fallback to `_POSIX_PATH_MAX` (256 on darwin), and allocates

[2020-08-24 10:02] bnoordhuis commented on #2965
Thanks for the bug report. It's caused by a regrettable misuse of `_POSIX_PATH_MAX`. #2966 should fix it.

[2020-08-24 14:31] bnoordhuis commented on #2943
I'm not quite sure _why_ but it's the clearing of the flags in the error path that causes the flakiness. With the patch below, the test starts passing again:
[code]
Suggestion: revert the commit for now so we can move forward with the release? I'll open a pull request.

[2020-08-24 14:33] cjihrig commented on #2943
Partial revert in https://github.com/libuv/libuv/pull/2967

[2020-08-24 17:26] #2965 closed

[2020-08-24 17:44] cjihrig commented on #2943
libuv CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/2019/
Node.js + libuv integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/161/

I'll cut the new release once those CI runs come back.

[2020-08-25 00:27] #2943 closed

[2020-08-28 01:33] liyoubdu opened #2973 "test/test-spawn.c on line 1503: r == UV_EPERM"
when runing tests, one test fail:

not ok 235 - spawn_setgid_fails
# exit code 134
# Output from process `spawn_setgid_fails`:
# Assertion failed in /home/ddSm/temp/libuv/test/test-spawn.c on line 1503: r == UV_EPERM

 uname -a:
Linux ubuntu-bang 5.4.0-42-generic #46~18.04.1-Ubuntu SMP Fri Jul 10 07:21:24 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

i dont know what can i do

[2020-08-28 04:45] bnoordhuis commented on #2973
How and as what user are you invoking the tests? Can you apply this patch and print the output?
[code]

[2020-08-28 04:47] bnoordhuis opened #2974 "test: switch to ASSERT_EQ etc. macros"
Wanted to discuss this before opening a PR: is everyone okay with a bulk conversion from the old-style ASSERT macro to the new-style ASSERT_EQ, ASSERT_NE, etc. macros?

It'll cause a bit of churn in `test/` but it should make debugging tests a lot easier.

[2020-08-28 07:31] santigimeno commented on #2974
I'm all for it. 👍

[2020-08-28 12:44] cjihrig commented on #2974
Also +1

[2020-08-28 14:01] richardlau commented on #2974
+1 for making it easier to debug test failures.

[2020-08-30 20:14] nu8 commented on #2909
As a workaround, this works as expected:

[code]

https://github.com/denoland/deno

[2020-08-31 04:55] caobug opened #2975 "Failed build iOS on macOS"
Prev version is ok.

* **Version**: 1.39.0
* **Platform**: iOS cross compile tools: ios-cmake

[code]

[2020-09-01 11:33] Gyumeijie opened #2977 "possible typo for UV__EPROTO defined in include/uv/error.h"
* **Version**:  43c74a6
* **Platform**:  UNIX

file: [include/uv/errno.h](https://github.com/libuv/libuv/blob/fa8b4f27c023638918e645ef997c3b56a3a5e681/include/uv/errno.h#L320)
line: 317-321
[code]

I notice that all errors defined in  `errno.h` are negative except the above one, is it intented or just a typo?

[2020-09-01 14:01] cjihrig commented on #2977
It looks like a typo in https://github.com/libuv/libuv/commit/89cbbc895bb459c6ab5319fa86a32a9fecbf8744. Do you want to send a PR?

[2020-09-01 18:00] arcanis commented on #2936
Ping? It seems like this affects both Yarn and pnpm.

[2020-09-02 01:23] gengjiawen opened #2978 "Auto CI via labeling"
Like https://github.com/nodejs/node/blob/master/.github/workflows/auto-start-ci.yml

[2020-09-02 01:56] Gyumeijie commented on #2977
Yes, I have already created a PR https://github.com/libuv/libuv/pull/2979, and all checks have passed

[2020-09-02 16:59] #2784 closed

[2020-09-02 17:41] jasnell opened #2980 "uv__threadpool_cleanup non-op on Windows?"
In Node.js, it looks like we've had a long standing bug when running threadpool jobs. See https://github.com/nodejs/node/pull/35021 for discussion. Calling `uv_library_shutdown()` resolves the problem on non-Windows systems by ensuring that threadpool jobs are shutdown properly. However, I notice that `uv__threadpool_cleanup()` is currently a [non-op on `_WIN32`](https://github.com/libuv/libuv/blo

[2020-09-02 18:32] addaleax commented on #2980
c8abb29f68abf64bacf2dc5a483eedab84b52428 changed this in 2014, but since we’re using `__attribute__((destructor))` on `uv_library_shutdown()`, I’m assuming that this isn’t being automatically run on Windows anyway.

I think just removing the `#ifdef` should be fine.

[2020-09-02 18:35] richardlau commented on #2980
https://github.com/libuv/libuv/commit/c8abb29f68abf64bacf2dc5a483eedab84b52428 is one of two commits from https://github.com/joyent/libuv/pull/1381.

[2020-09-02 18:42] jasnell commented on #2980
@addaleax :

Yeah, not seeing anything in local testing that would suggest otherwise. I'll get a PR opened.

[2020-09-03 01:05] #2977 closed

[2020-09-03 19:38] #2909 closed

[2020-09-04 02:10] lucas-law opened #2987 "Does uv_poll_t can monitor the same fd with different events at the same time? (linux os)"
for example:
fd : 5
uv_poll_init(loop, uv_poll_handler, fd);
uv_poll_start(uv_poll_handler, UV_READ_EVENT, on_read_event_cb);

uv_poll_init(loop, uv_poll_handler, fd);
uv_poll_start(uv_poll_handler, UV_WRITE_EVENT, on_write_event_cb);

[2020-09-04 02:27] vtjnash commented on #2987
No, you need to use the same uv_poll_t and one uv_poll_start call. You may wish to handle that with your wrapper library for convenience.

[2020-09-04 02:27] #2987 closed

[2020-09-05 08:11] bnoordhuis commented on #2975
That's caused by 87f076515937345fda1a1dbc598f34e65e1b81c7. Can you try this patch?
[code]

[2020-09-05 10:42] tarm-framework commented on #2959
Up.

[2020-09-05 17:13] hmel opened #2988 "pkg-config returning wrong data for static linking"
The cmake build creates a static library with the name libuv_a.a, but running with `pkg-config --static --libs libuv` returns -luv which then is not found by linker.

[2020-09-06 08:59] bnoordhuis commented on #2988
Right, that's something I overlooked when switching to cmake.

CMakeListst.txt has two library targets, `uv` and `uv_a`, to allow building the shared and the static library at the same time.

Unfortunately, I don't know of a good way to inform pkg-config that the static library has a different name. I don't think it has e.g. a `Libs.static:` field.

I'm open to suggestions, as long as they're not

[2020-09-06 11:16] hmel commented on #2988
I'm no expert myself, but pkg-config has Libs.private which I think is what is needed in the .pc file.
On my system, for example, I have in vulcan.pc
[code]
and the output is

[code]
and
[code]

[2020-09-07 04:55] zenghp97 opened #2989 "How to compile armv7 arch in centos 7"
I compiled the ARMV7 arch of libuv dynamic library in centos7 with android-ndk-r21b. as follow command:
cmake ../ -DCMAKE_SYSTEM_NAME=Android -DCMAKE_ANDROID_NDK=/data/src/utopalive/network/20200409/tool/android/android-ndk-r21b -DCMAKE_SYSTEM_VERSION=24 -DCMAKE_C_COMPILER=aarch64-linux-android-gcc

Compile failed with the following information:

-- The C compiler identification is unknown
CMake E

[2020-09-07 13:06] bnoordhuis commented on #2988
`Libs.private:` is for additional libraries that should be linked in when `--static` is specified, not for providing an alternative library name. I think pkg-config always uses `Libs:` for that.

[2020-09-08 11:20] hmel commented on #2988
After reading up some more on pkg-config I think the only option is to have two .pc files: libuv.pc and libuv-static.pc

[2020-09-08 12:27] bnoordhuis commented on #2988
You know, that's not a bad idea. Want to open a PR?

[2020-09-10 14:35] bnoordhuis commented on #2973
No follow-up, closing.

[2020-09-11 09:17] lucas-law commented on #2987
ok, thank you.

[2020-09-18 03:38] yu-tonoe opened #2995 "CentOS 8 make check error"
Hello.
I did a make check on a user without root privileges and got the following result.
Is there something wrong with the premise?
Thank you for your patience.

* **Version**: libuv-v1.38.0
* **Platform**: Linux 4.18.0-193.el8.x86_64 #1 SMP Fri May 8 10:59:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2020-09-18 05:58] bnoordhuis commented on #2995
Can you include the full output? It doesn't show what test failed.

Also, please try with the latest release.

[2020-09-18 09:26] yu-tonoe commented on #2995
Thank you for your response.
I tried again with the version to libuv-v1.39.0, but it failed as well.
I took the log from configure to make check.
Thanks for your help.

[code]

[2020-09-18 12:36] bnoordhuis commented on #2995
I think you missed this message:

I'll close this but I can move it to libuv/help if you have follow-up questions.

[2020-09-18 12:36] #2995 closed

[2020-09-18 12:46] hsarraf opened #2996 "failed make check"
FAIL: test/run-tests
======================================================
1 of 1 test failed
Please report to https://github.com/libuv/libuv/issues
======================================================
Makefile:5177: recipe for target 'check-TESTS' failed
make[1]: *** [check-TESTS] Error 1
make[1]: Leaving directory '/home/hsarraf/libuv/libuv'
Makefile:5433: recipe for target 'check-am' failed

[2020-09-18 12:50] hsarraf commented on #2996
also not root while make check

[2020-09-20 07:48] bnoordhuis commented on #2974
I haven't had time to work on this. For anyone wanting to pick this up, it should be a fairly mechanical translation - just try to ensure lines stay <= 80 columns. :-)

[2020-09-20 07:50] bnoordhuis commented on #2996
Please upgrade to the latest libuv version, v1.6.1 is from five years ago...

[2020-09-20 07:50] #2996 closed

[2020-09-20 09:00] gengjiawen opened #2999 "Possible memory leaks fix"
I start a pr for asan checks in this repo.
Looks current build is failure: https://github.com/libuv/libuv/pull/2998/checks?check_run_id=1139882930

[code]

[2020-09-20 14:17] cjihrig opened #3000 "Release proposal: v1.40.0"
I'd like to release v1.40.0 this week. Please let me know if you have any concerns.

Notable changes:

- The `UV_UDP_MMSG_FREE` flag has been added.
- `UV__EPROTO` has been remapped from 4046 to -4046 for consistency with other error codes.
- On Windows, UTF-16 surrogate pairs are no longer replaced with the Unicode replacement character.
- `uv_timer_get_due_in()` has been added.

[2020-09-20 14:35] ulrikstrid commented on #3000
Is there any chance #2591 can get in? 🙏

[2020-09-20 14:52] cjihrig commented on #2978
I'm in favor of this. The Node job uses node-core-utils though. If the job can be adapted for libuv, then +1.

[2020-09-20 14:54] cjihrig commented on #3000
As long as no one requests other changes in that PR, I'll land it in time for the release.

[2020-09-20 16:23] #2923 closed

[2020-09-20 16:26] cjihrig commented on #2975
Ping @caobug. There is a new release coming soon, and it would be good to fix this if possible.

[2020-09-22 01:28] anlexN opened #3002 "why is libuv written by c++?"
* **Version**: all
* **Platform**: all
can i be rewritten by c++?

[2020-09-22 01:40] cjihrig commented on #3002
I think it's written in plain C for maximum portability. Node.js is also not the only consumer to consider.

[2020-09-22 01:49] anlexN commented on #3002
i think portability is not so important. c++ also have very large portability, and microsoft widely support c++, not c.

[2020-09-22 01:56] #2988 closed

[2020-09-22 02:14] #2950 closed

[2020-09-23 22:40] cjihrig commented on #3000
The libuv CI seems fine: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/2067/

However, the Node.js integration CI is broken on Windows (https://ci.nodejs.org/view/libuv/job/libuv-in-node/164/, https://ci.nodejs.org/view/libuv/job/libuv-in-node/166/, https://ci.nodejs.org/view/libuv/job/libuv-in-node/167/). It looks like the culprit for that is, at a minimum, https://github.com/libuv/libuv

[2020-09-24 00:12] cjihrig commented on #3000
Untested, but I think https://github.com/libuv/libuv/pull/3003 should fix the Node.js test failures.

[2020-09-24 02:59] miser opened #3004 "How to generate a debug libuv.a if has not gyp_uv.py"
* **Version**: v.1.36.x
* **Platform**: macOS

I generate a libuv.a file with the gyp_uv.py  to debug the project, but the gyp_uv.py had been removed [build remove support for gyp](https://github.com/libuv/libuv/commit/53f3c687fc288708721a5a3d9563febda1b9d2c1).

Now, how to generate a debug model libuv.a file ?

I try to build it, like below, and import into my `hello world` project, the debug poi

[2020-09-24 13:45] cjihrig commented on #3000
libuv CI: https://ci.nodejs.org/view/libuv/job/libuv-test-commit/2078/
Node integration CI: https://ci.nodejs.org/view/libuv/job/libuv-in-node/168/

Both are green, so I'm planning to move forward with the release.

[2020-09-25 00:37] #3000 closed

[2020-09-27 03:37] tkzcfc opened #3007 "How to use sleep function reasonably?"
Hello, author
   I used him to send UDP messages, sending 1400 bytes each time, but my speed has not been able to go up. I debugged the code and found that the recv callback is only triggered once in each loop. Because I want to make the CPU idle, I called sleep (1) in idling, so the number of cycles per second is only hundreds, so the receiving speed of UDP can only be 1400 * (hundreds) per secon

[2020-09-27 11:18] tarm-framework commented on #2959
Up.

[2020-09-28 07:19] bnoordhuis opened #3008 "illumos: event ports -> epoll"
See: https://illumos.org/man/5/epoll

Idea: move logic from src/unix/linux-core.c to src/unix/epoll.c and share that between Linux and Illumos.

Motivation:

* removes 250-300 lines of code from src/unix/sunos.c
* switches to much more battle-hardened code
* makes libuv more efficient because it no longer has to accommodate this event ports quirk:
[code]
(Whoever designed event ports seemingly was

[2020-09-28 19:15] musm commented on #2959
bot is a nuisance

[2020-09-30 07:30] tgurr opened #3009 "Differences between CMake build and autotools build"
`libuv-static.pc` appears to be only installed when using CMake but not when using the autotools build system and the resulting static library is named `libuv_a.a` contrary to `libuv.a` when using autotools.

There are also differences in the installed headers, with autotools I get:

[code]

While when using CMake I end up with additional headers being installed:

[code]

* **Version**: 1.40.0
* *

[2020-10-01 14:46] wavexx commented on #1292
On Thu, Oct 01 2020, Jameson Nash wrote:

Bad stale[bot]!

[2020-10-03 14:53] #2847 closed

[2020-10-04 13:07] ErikMinekus opened #3011 "Targeting x86 Linux throws warnings during build"
* **Version**: 1.40.0
* **Platform**: Linux ambuild 4.4.0-186-generic #216-Ubuntu SMP Wed Jul 1 05:34:05 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Running the following commands:
[code]

Throws these warnings:
[code]

Relevant PRs: #2352, #2597

[2020-10-07 05:31] #2790 closed

[2020-10-07 16:44] tjarlama commented on #2974
Picking this up

[2020-10-07 16:47] tjarlama commented on #3008
@bnoordhuis I would like to work on this, but I'm not sure if I understood the problem, since it's the first time working on solaris.
1. SUNOS is exclusively reserved for illumos and event ports can be replaced with epoll
OR
2. SUNOS remains the same and add special case for illumos to compile epoll.c instead of event ports
OR
3. All derivatives of solaris support epoll and can replace event ports

[2020-10-08 07:06] bnoordhuis commented on #3008
@tjarlama I think it's fair to say that SUNOS means Illumos nowadays so options (1) and (3). The market share of Illumos is already marginal, let alone that of the other Solaris offspring.

[2020-10-08 13:22] SmorkalovG opened #3012 "libuvConfig.cmake"
Hello. Thanks for CMake support in libuv, it really makes build easier!
Is there a reason why there is no libuvConfig.cmake shipped with libuv? It is really hard to use libuv from CMake based projects because find_package() cannot find libuv. There are several third-party FindLibUV.cmake in the internet but most of them are not really crossplatform. And most are to simple and don't export dependen

[2020-10-08 13:42] AshCripps opened #3013 "PSA: test-osuosl-aix72-ppc64_be-2 will be replaced"
ref: https://github.com/nodejs/build/issues/2424#issuecomment-705563673

The machine will go down on monday 12 october after 0600 UTC.

[2020-10-09 05:23] trex58 opened #3014 "14 tests fail on AIX"
Version: 1.40.0
Platform: AIX 7.2 TL3
Compiler: GCC v8.4.0 - 32bit and 64bit

On AIX 7.2 TL3, compiling with GCC v8.4.0, both with 32bit and 64bit, there are 14 tests failing out of 388.
Though, on Fedora32/x86_64 and Fedora32/PPC64LE, 100% of 389 tests are OK.
Tested as not-root.

Failing tests on AIX are:
not ok 33 - fork_fs_events_child
not ok 49 - fs_event_close_in_callback
not ok 50 - fs_even

[2020-10-09 08:29] aixtools commented on #3013
I am making the backup today - and will hold the backup as long as this ticket is open.

[2020-10-09 09:14] aixtools commented on #3014
Doing backup now, but what is status on system I am about to retire #3013

Test can be run in about an 15 minutes. Backup will finish by then.

[2020-10-09 11:45] richardlau commented on #3014
@trex58 At least for the `fs_event_*` tests you'll need `bos.ahafs` installed: https://github.com/libuv/libuv#aix-notes

[2020-10-09 12:11] trex58 commented on #3014
bos.ahafs : Thanks !

However, this LPP is installed on my machine (7200-03-03-1913):
   # lslpp -l | grep bos.ahafs
     bos.ahafs                 7.2.3.15  COMMITTED  Aha File System
     bos.ahafs                 7.2.3.15  COMMITTED  Aha File System

Maybe these issues are due to the compiler I used (GCC v8.4)? I'll try with XLC.

Anyway, where can I find tests results of building/testing libvu

[2020-10-09 12:34] trex58 commented on #3014
I've got the same 14 tests failures (for both 32 & 64bit) with:
  GCC 9.3.0
  XLC v16.1.0.6

With XLCLANG v16.1.0.6, build breaks in 32bit (at least).

It does not seem to be a C compiler issue.
All tries were done with NO -O option. Only -g.

When trying again with -O2 -g and GCC 8.4.0 , same result.

[2020-10-09 12:39] trex58 commented on #3014
Details of some tests failures:

[code]

Probably that the IPv6 related test failure is due to some mis-configuration of IP on my machine. To Be Checked.

I've found no log file with more details about failures. Are there some?

Test 49 above fails at:

  r = uv_fs_event_init(loop, &fs_event);
  ASSERT(r == 0);
  r = **uv_fs_event_start**(&fs_event, fs_event_cb_close, "watch_dir", 0);
  **ASSERT(r

[2020-10-09 12:51] trex58 commented on #3014
I'm new to libuv. Waiting for you to check if this is reproducible in your environment or if that is specific to my own environment.

[2020-10-09 13:19] richardlau commented on #3014
We don't run the libuv tests as part of Node.js, we run them separately prior to updating libuv in Node.js.

We run libuv tests in Jenkins: https://ci.nodejs.org/job/libuv-test-commit/
Specifically for AIX this is under sub-jobs:
- https://ci.nodejs.org/job/libuv-test-commit-aix/ (using autotools)
- https://ci.nodejs.org/job/libuv-test-commit-aix-cmake/ (using cmake)

The latest build (from 14 day

[2020-10-09 20:14] trex58 commented on #3014
You're right !
I should have read all the page...
Out of the 14 failing tests, only 1 remains:
   not ok 140 - ip6_addr_link_local
And, as I said, this one probably is due to some missing IPv6 configuration.
Thanks a lot !

[2020-10-09 20:24] #3014 closed

[2020-10-11 04:34] greggman opened #3016 "uv__fs_copyfile is wrong for macOS"
* **Version**: v1.40.0
* **Platform**: Darwin

MacOS files have extra meta data that libuv [uv__fs_copyfile](https://github.com/libuv/libuv/blob/30ff5bf2161257921f3a3ce5655804f7cb282aa9/src/unix/fs.c#L1136) is not copying. To correctly copy a file on MacOS libuv should arguably call into MacOS's copyFile (or similar), the same way on Windows libuv [uses Windows internal copyfile](https://github.co

[2020-10-11 04:34] DuckVador opened #3017 "Extend the ability of uv_connect_cb"
* **Version**: 1.40.0
* **Platform**: Archlinux x86_64

I have read the example in https://github.com/libuv/libuv/blob/v1.x/docs/code/multi-echo-server/main.c and related issue.  When libuv executes uv_connection_cb, libuv internal server handle already has an fd. I think we may poll this client fd in the new thread loop without call uv_accept and send it via IPC.

Here is a partially worked two t

[2020-10-11 08:05] bnoordhuis commented on #3016
Open but somewhat stalled PR to (re-)add `copyfile()` support in #2578, but see #2233 for why it was removed in the first place (tl;dr it's buggy sometimes.)

[2020-10-11 08:12] bnoordhuis commented on #3017
Your proposed API is too UNIX-centric but the general thrust is something I agree with.

There's an open (but sadly stalled) PR to reintroduce `uv_import()` and `uv_export()`: #2653

The idea behind that PR is to make it trivial to transfer handles between event loops, much easier than it is today. If that's of interest of you, maybe you can help get that PR past the finish line?

[2020-10-11 11:59] DuckVador commented on #3017
@bnoordhuis I have created a PR finish #2653 last few lines. Please have a look.

[2020-10-14 02:09] zhaozg opened #3020 "timeout value not init, will report uninitialised value when check with valgrind"
handle->timeout should set to 0 in
https://github.com/libuv/libuv/blob/30ff5bf2161257921f3a3ce5655804f7cb282aa9/src/timer.c#L58-L63

If not, it will cause
https://travis-ci.org/github/luvit/luv/jobs/735591007#L960

[2020-10-16 09:43] VGGX opened #3022 "Is it possible to introduce wepool as libuv Windows backend?"
@piscisaureus released an epoll-like library for Windows, called [wepoll](https://github.com/piscisaureus/wepoll/tree/master), that wraps IOCP APIs. [libevent](https://github.com/libevent/libevent) has already use wepoll as Windows backend. (https://github.com/libevent/libevent/pull/1006)
With wepoll, we can
- use epoll-like API achieve the same goal but with more readable code
- avoid the tricky

[2020-10-16 10:41] bzoz commented on #3022
libuv already uses IOCP and we have most of Windows kinks worked out - a lot was done by @piscisaureus himself. What would be the benefit of using this new library?

[2020-10-16 10:54] bnoordhuis commented on #3022
There's some overlap with #3008 (sharing code across operating systems) but the difference of course is in the popularity of the two platforms.

[2020-10-16 13:39] VGGX commented on #3022
Later I discovered that it is possible to do efficient epoll emulation on windows so then I wrote wepoll. With it you can just stick to the good ol' epoll/kqueue model and still support windows.

@piscisaureus himself gives an brief answer about libuv Windows backend and wepoll difference. See the comment: https://news.ycombinator.com/item?id=15978372

[2020-10-16 15:48] vtjnash commented on #3022
Right the main difference is that libuv is a complete library capable of much more, while wepoll only handles sockets.

[2020-10-20 13:36] simonxiao80 opened #3023 "uv_pipe_connect after uv_pipe_bind,uv_read_start will return socket not connect"
when i want bind client pipe with a local path,it failed
in the function uv_pipe_connect:
 if (new_sock) {
    err = uv__stream_open((uv_stream_t*)handle,
                          uv__stream_fd(handle),
                          UV_HANDLE_READABLE | UV_HANDLE_WRITABLE);
  }
the handle was not a new socket after bind,so the UV_HANDLE_READABLE flag not be enabled, it makes the function uv_read_star

[2020-10-20 21:36] evanlucas commented on #2975
@bnoordhuis I was just able to cross compile with your patch

[2020-10-21 12:55] #2999 closed

[2020-10-24 14:33] leonerd opened #3025 "uv_stdio_flags not documented on uv_process page"
The documentation page

  http://docs.libuv.org/en/v1.x/process.html

briefly mentions the `uv_stdio_flags` type, but doesn't go into detail about its possible values and their semantics. The type name isn't turned into a link to some documentation anywhere else.

The actual `uv.h` file contains the following definition:

[code]

so maybe that just needs explaining somehow in docs?

[2020-10-27 09:26] bnoordhuis commented on #3025
Yes, that seems like an omission. Pull request welcome!

[2020-10-29 07:34] vaibhavsathye27 opened #3030 "uv_write2 fails on windows"
libuv version  1.34.1
Windows 10

uv_write2 while sending handle over pipe in a multithreaded server fails with no pending count even though uv_write2 is a success

#include <inttypes.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <pthread.h>
#include <assert.h>

#include <uv.h>
//#include "uv_ex.h"

#ifdef _WIN32
# define PIPENAME "\\\\.\\pipe\\testpipe2"
#elif defined(__a

[2020-11-01 23:13] leonerd commented on #3025
This information in the `.h` file isn't sufficient for me to work out what words to write though. I don't have a good feel for how `UV_INHERIT_STREAM` works, especially when combined with the `UV_CREATE_PIPE` flag. Maybe there are some examples somewhere I can use?

[2020-11-02 10:03] bnoordhuis commented on #3025
I can see how their numeric values could lead you to believe that they can be combined but `UV_IGNORE`, `UV_CREATE_PIPE`, `UV_INHERIT_FD` and `UV_INHERIT_STREAM` are all mutually exclusive.

[2020-11-02 16:33] RaisinTen opened #3033 "Code highlighting is off in a few code snippets in docs"
I was going through the docs and suddenly I realised that the code highlighting is off in a couple of snippets.
Ref: last snippet [here](http://docs.libuv.org/en/latest/guide/filesystem.html)
[This](https://groups.google.com/g/sphinx-users/c/DxkVZavwT94) discussion will come handy in solving this I guess.

[2020-11-04 11:38] AshCripps commented on #3013
Machine is back and running test build - https://ci.nodejs.org/job/libuv-test-commit-aix/2071/

Sorry this took so long!

[2020-11-04 11:38] #3013 closed

[2020-11-04 12:39] mmomtchev opened #3034 "Closing a socket with a pending read makes Windows send a TCP RST packet"
* **Version**: 1.40.0 (node-master)
* **Platform**: Windows 10

https://github.com/libuv/libuv/blob/11dd3b467fef2188334b925a0a89643eee892a25/src/win/tcp.c#L1450

On Windows, according to this comment, shutting down the transmit side of a socket should allow for an immediate graceful shutdown with `closesocket` - however this is not what I am observing. What I am observing is a TCP RST packet that

[2020-11-04 13:57] mmomtchev commented on #3034
On UNIX, `uv__stream_close` calls `uv_read_stop`

[2020-11-04 14:53] vtjnash commented on #3034
I agree, this doesn't seem right. If there's pending read data in flight, I'd expect an RST packet should be sent. It was added in 5aa8c005ec28de2aa66d4cb457b596fdf37f5e44, but on unix, it seems like it immediately, and unconditionally, calls `close`, so I'd expect Win32 to be implemented the same way.

[2020-11-04 16:52] mmomtchev commented on #3034
Does this solve the RST issue for `test/parallel/test-https-truncate.js`? I still get a RST on Windows
In my case the only solution that works is tearing down the socket in `uv_tcp_endgame()` - calling immediately `closesocket` after `shutdown` will provoke a RST

[2020-11-04 17:59] mmomtchev commented on #3034
@vtjnash in fact, in my particular case, there is in flight data when the socket is closed
I get (it is an HTTP connection: close connection)

server -> FIN -> client
server <- ACK <- client
server <- data <- client
server -> RST -> client

so in this case, this is not a libuv bug

[2020-11-04 19:01] vtjnash commented on #3034
IIRC, that's the trivial case where you should see an RST packet on the wire on all platforms, since data has arrived at a non-existent socket (IIUC, there might be some platforms that ignore this error silently, to save resources and/or possibly to limit DoS damage I'd guess). There's also a strong dependence of this behavior on the kernel latencies (watching in wireshark), and NT tends to be a b

[2020-11-04 19:58] mmomtchev commented on #3034
I wonder if the RST packet is not simply a response to the last data packet of the client - by the time it is received, `closesocket` has destroyed the socket. Or is it caused by the `WSARecv` aborting? I am very bad with Windows sockets, but on a POSIX system you have two choices for a clean close:
* simply use `close()` with lingering and leave everything to the OS
* or do it manually, by callin

[2020-11-04 20:24] mmomtchev commented on #3034
Yes, this is the full exchange:
server calls `shutdown(SD_SEND)`
server > `FIN` > client
socket goes into `FIN_WAIT1` state
server calls `closesocket()`
socket goes into `TIME_WAIT` state
server < `ACK` < client
server < `data` < client
data in `TIME_WAIT` state triggers a RST - this wouldn't have happened in `FIN_WAIT1` state
server > `RST` > client

If lingering is disabled (I think it is?), one

[2020-11-04 20:44] mmomtchev commented on #3034
@vtjnash with that last commit I am down to about 20% probability of a `RST` (down from 100%) :smile:

[2020-11-04 20:47] vtjnash commented on #3034
Yeah, but in wireshark, I am see Win32 meet that exchange expectation, then afterwards send the EOF. So even though there was no data left in flight, since libuv called both recv and closesocket, in addition to getting an EOF in the recv call, it synthesized a RST message too.

Which commit is "last commit"? Do you mean https://github.com/libuv/libuv/pull/3036?

[2020-11-05 08:34] mmomtchev opened #3037 "changing the process name works only partially in Linux"
* **Version**: Since <https://github.com/libuv/libuv/commit/7b28d36056d947e74e2c3347ee9bb04a1f5388c6#diff-061ff4a1f558b9316c85e332cfe90b66b3b5b612455249bfc1bb19a24e7f28e1>
* **Platform**: Linux

There are two "process titles" in Linux
* one is the so-called command line that you see when you do `ps uaxw`, it comes from `/proc/<pid>/cmdline` and this one is still modified by `process.title`
* the o

[2020-11-05 08:35] #3011 closed

[2020-11-05 08:53] bnoordhuis commented on #3020
Thanks for the report. Fix underway in #3038.

[2020-11-05 15:29] leonerd commented on #3025
Well then I'm still stuck for what words to actually write as I don't know what any these options actually do - which is rather the point of why I was looking for the docs in the first place :)

I'll write a PR with some dummy words in it and perhaps someone who knows more about it can suggest some better words.

[2020-11-05 15:44] vtjnash commented on #3025
It looks like the sphinx-build version is too old. The documentation is present (limited, but present), however when I updated to address warnings on the latest version of sphinx and improve formatting and cross-linking(https://github.com/libuv/libuv/commit/707dd7f17d9d84d972282666fee47dd3b216349b), I used an annotation only added in v3.0.0 (released Apr 06, 2020) while the page is building with v

[2020-11-05 15:46] leonerd commented on #3025
A draft PR here: https://github.com/libuv/libuv/pull/3039

I've still yet to work out how `UV_CREATE_PIPE` works or what it does with the result.

[2020-11-05 16:05] leonerd commented on #3025
Update: Having read some code in `src/unix/process.t`, I believe how this works is that `UV_CREATE_PIPE` asks it to create a bidirectional PF_UNIX/SOCK_STREAM socket (i.e. not a pipe at all), keeping one end for itself and giving the other end to the child process. The `data.stream` field must point at an initialised `uv_pipe_t`, into which the parent's end of the socket will be given. As far as I

[2020-11-05 17:01] leonerd commented on #3025
Ahah. It seems like that *used to be* the behaviour before c0081f0e6 where it got lost. Before that, there was a call to `uv__make_pipe()` in there, but that commit lost it favour of always just calling `uv__make_socketpair()`.

I wonder if it should be put back again - use `uv__make_pipe()` in the common case that only one of `UV_WRITABLE_PIPE` or `UV_READABLE_PIPE` is specified; and only call `u

[2020-11-05 18:47] skissane opened #3041 "Add note to the documentation about checking uv_read_stop return value"
* **Version**: master branch
* **Platform**: all platforms

uv_read_stop has an int return type and yet most code never checks the return value.

The answer is that, in most cases, the return value is always going to be zero so there is no need to check.

The exception is for uv_tty_t on Windows only, where uv_read_stop may return an error. On other platforms it always returns zero, and the same f

[2020-11-05 19:11] vtjnash commented on #3041
Looks like it. Perhaps document that this is always zero, and fix uv_tty_read_stop to also return zero (since it has successfully stopped, it just might be waiting for the user to hit a key to finish running our cleanup steps and release the resources)

[2020-11-05 20:14] bnoordhuis commented on #3025
So, one reason is that a socketpair is strictly more useful: it's bidirectional (2 > 1) and it lets you transmit file descriptors.

A secondary reason is that some programs out there expect bidirectional stdio (probably unintentionally) - e.g., that you can write to stdin and read from stdout - because most of the time that just works: the file descriptors refer to the same file description, the t

[2020-11-06 13:27] mmomtchev commented on #3034
I meant <https://github.com/vtjnash/libuv/commit/38e29784c49b30a0e1a35224f058061923a9c88c>

[2020-11-06 13:30] mmomtchev commented on #3034
I have an absolutely identical issue on OSX - a `shutdown()` is followed by an immediate `close()` - all this is triggered by a JS ```js res.end(data)``` from Node - that destroys the socket causing the last data packet of the client to trigger a `RST`
By now, I am confident that I can make it happen on Linux too - the only platform where this is not systematic
I think this needs discussion and a

[2020-11-06 13:35] mmomtchev commented on #3034
In fact, I think there are a number of issues in the Node tracker that are all related to this problem. For some reasons (probably kernel latency as you said it), it is much more common on OSX and Windows and on Linux, but if you try hard enough, I will get it on Linux too.

[2020-11-06 13:36] mmomtchev commented on #3034
https://github.com/nodejs/node/issues/23169

[2020-11-06 14:06] mmomtchev commented on #3034
@jasnell @mcollina @ronag
All of these, it is the same problem, I think this needs discussion
It has been in Node for quite some time now, it is very rare on Linux and it has been partially masked by @ronag 's kludge in `stream_base_commons.js` - it causes Node clients to ignore most of the time server resets at the end of the stream
<https://github.com/nodejs/node/blob/1fd7d8e90387a83fe3a2566bdac

[2020-11-06 14:16] mmomtchev commented on #3034
Or maybe - a connection reset is simply a warning, not an error?

[2020-11-07 10:18] mcollina commented on #3034
(unfortunately I do not have time to dig into this right now, I'm sitting this out. I trust @jasnell and @ronag).

[2020-11-07 11:31] ronag commented on #3034
I’ll try to help out in the next few days

[2020-11-09 12:29] antaljanosbenjamin commented on #1995
We switched to using laptops instead of desktop machine at we started to experience this issue. I don't have very detailed stacktrace, only from the debug build of cmake:
[code]
We are using `Windows Version 1909 (OS Build 17763.1518)`. I tried to get detailed stacktrace with Process Explorer, but it failed to show it unfortunately. If you can help me how to get detailed stacktrace, I am happy to

[2020-11-09 13:26] bzoz commented on #1995
Is this in a VM? Is there any AV software running?

[2020-11-09 15:14] antaljanosbenjamin commented on #1995
It is on physical machines without any virtualization. I hope AV means AntiVirus, in that case the default windows protection and [TrendMicro OfficeScan](https://www.trendmicro.com/en_hk/business/products/user-protection/sps/endpoint/officescan.html) .

[2020-11-09 15:17] bzoz commented on #1995
Antivirus software has a tendency to do weird stuff with the OS. Could you try running CMake with the AV disabled?

[2020-11-09 15:24] antaljanosbenjamin commented on #1995
I don't have permission to do that myself (company wide policies), but I will try to contact IT about it.

However my assumption is it is not connect to AV. I have worked with the same tools/workflow/AV/windows policies/etc on a desktop for months and it worked fine. Since I (and a few coworkers) switched to laptops, we experience this randomly hanging CMakes that boils down to this call.

[2020-11-09 15:33] bzoz commented on #1995
It could be AV, eliminating it as a possibility will be helpful.

Anyway, the exact same code is used in Node, you can try running it and testing if this also happens there.

Oh, and you should be able to comment out that call that hangs in libuv. It is there to fix the timing of timers after the system is woken from sleep. You can probably safely remove it from CMake.

[2020-11-09 15:52] antaljanosbenjamin commented on #1995
I just got answer from IT: it is possible to disable it, but it requires approval. I don't know how fast will it go, but I will definitely try it out without AV and get back, hopefully soon.

And thanks for the quickfix.

[2020-11-09 22:15] chris-t-w commented on #1995
The common denominator seems to be Trend anti virus, but curiously we haven't seen this problem in over a year now. It isn't clear what changed.

[2020-11-10 09:07] YurySolovyov commented on #1042
Didn't last long:

[2020-11-10 10:42] mmomtchev opened #3043 "Is reading from a pipe fd supported in file mode on Windows"
* **Version**: 1.40 (node-master)
* **Platform**: Windows 10

<https://github.com/nodejs/node/issues/35997>
Should an `ERROR_BROKEN_PIPE` be considered a valid `EOF` on Windows? When `stdin` is a pipe, most of the time it will be closed before the process exits?

[code]

Should libuv consider that is a normal close without errors?

[2020-11-10 16:20] CookieDSEU opened #3044 "uv_write causes coredump if the peer closed the tcp connection"
* **Version**: 1.x
* **Platform**: Linux *********** 4.15.0-109-generic #110-Ubuntu SMP Tue Jun 23 02:39:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Hi all, I'm writing a high-performance rtsp server that needs to continue to send data to clients.
I used `uv_queue_work` to calculate frames data (Because it's heavy so I put it in the uv worker threads) and used `uv_after_work_cb` to write frames (s

[2020-11-10 16:29] vtjnash commented on #3044
That's not descriptive of the error. What coredump? Are you aware you need to block SIGPIPE (http://docs.libuv.org/en/v1.x/guide/filesystem.html)?

[2020-11-10 17:23] vtjnash commented on #3034
Unless I'm misunderstanding, this sounds like a mistake. Since libuv/nodejs is asynchronous, calling `s.shutdown(); s.close()` is identical to just calling `s.close()` and destroys the socket immediately, before waiting for the shutdown to transmit. If there's an error handler for shutdown, it should get reported as ECANCELED, otherwise, I don't know where that error would go. The `close` call sho

[2020-11-10 18:55] mmomtchev commented on #3034
Here is the full exchange with all the layers:

| Client JS | Client Node/libuv | Client Kernel | Remote Server |
|--------|--------------|-------------|-----------|
| res.end() |
|| shutdown(SD_SEND) |
|||TCP FIN -> |
|||kernel socket goes into FIN_WAIT1 state |
|| closesocket() |
|||kernel socket goes into TIME_WAIT state |
||||<- TCP ACK |
||||<- data |
|||because the kernel socket is in TIME_W

[2020-11-10 18:56] mmomtchev commented on #3034
The last recv() should return an error, the one before it - either some data (if there was data), either a 0 as in our case

[2020-11-10 20:36] vtjnash commented on #3034
A quick glance at the nodejs documentation looks like that this is intended behavior. The first seems to be their default behavior, while the second is configurable with `allowHalfOpen: true` https://nodejs.org/api/net.html#net_server_close_callback

[2020-11-10 21:50] mmomtchev commented on #3034
After a quick glance of the code, it seems that `allowHalfOpen` applies only to the passive side of the connection close. I don't have an idea if this was intended or is an omission. @ronag or @jasnell maybe have something to add?
But in both cases, correctly implementing such an option will require support from libuv, and I think that this is currently not possible for the active side?
Once again

[2020-11-10 21:55] ronag commented on #3034
Not sure but maybe this is relevant? https://github.com/nodejs/node/issues/31916

[2020-11-10 21:58] mmomtchev commented on #3034
I think this is the inverse issue - where we actually want to send a RST - something that Node currently does not do - even if the support in libuv is present

[2020-11-10 22:00] ronag commented on #3034
@mmomtchev You might want to ping some of the people involved with that discussion.

[2020-11-10 22:56] mmomtchev commented on #3034
@sam-github @addaleax @santigimeno , sorry for the mass ping, we have a this long discussion here, and as we are slowly realizing that it revolves around the root cause of several long-running `ECONNRESET` issues, we would just like to hear from your
To get everyone up to speed:
There was a temporary kludge by @ronag for what he suspected that was a libuv problem - then there was that issue which

[2020-11-10 23:19] jasnell commented on #3034
Hmmm interesting. I had suspected this before but got sidetracked on other things and never got back to investigating. The analysis makes sense to me but I'm not yet quite sure what the right approach should be. I've seen a lot of code that ignores the ECONNRESET and I've never liked any of it ;-) ....

@indutny @bnoordhuis @saghul ... any thoughts on the libuv side of this?

[2020-11-11 03:01] CookieDSEU commented on #3044
OK, that's exactly what I want. Thanks a lot.

[2020-11-11 03:01] #3044 closed

[2020-11-11 05:06] vtjnash commented on #3034
Both `net.createConnection` and `net.createServer` are stated as supporting `allowHalfOpen`, though you have to dig through several layers of functions to confirm that. Additionally, `res.end()` states that it always only closes the write half of the stream (https://nodejs.org/api/net.html#net_socket_end_data_encoding_callback). So that should cover both usage options? Thus if `res.end()` is calli

[2020-11-12 23:07] mmomtchev commented on #3034
Part of the discussion is here #3036

[2020-11-13 06:06] vtjnash commented on #2943
Hm, I should have saved the logs from that error. Anyone know what the reported flakiness error was? Otherwise, I'm tempted just to re-merge that commit, since we don't have any counter-examples on CI anymore indicating to do otherwise.

[2020-11-13 06:56] lws-team opened #3045 "uv_poll_t and windows client connections"
On POSIX pltforms you can ask for a POLLOUT and get an event that should indicate that there's a result for an ongoing tcp connect().

Using `uv_poll_t` on POSIX platforms like Linux, this is reflected correctly and works fine.

But for windows platform, with `uv_poll_t` there does not seem to be any way to hear about connect() completion event on an fd.   This isn't exactly a bug, but it is a cro

[2020-11-13 14:14] cjihrig commented on #2943
I don't remember what the error was, unfortunately.

[2020-11-14 16:56] anko commented on #1160
For future searchers with the same problem:

`-std=c99` requests strict POSIX compliance; no extensions like `pthread_rwlock_t`.  Use `-std=gnu99` instead.

(Same for `-std=c11`: use `-std=gnu11`.)

[2020-11-15 17:37] leonerd commented on #2974
Unknowingly, I have mostly done this in #3042; though it seems I still have to do some different macros for unsigned int or pointer tests.

[2020-11-16 16:08] antaljanosbenjamin commented on #1995
I am still trying to figure out if it is possible and how, unfortunately it is not the easiest thing. I will get back to you in either way.

[2020-11-18 12:30] mmomtchev commented on #3034
@vtjnash In fact, I think that libuv does support active close - I just found a public API function called `uv_shutdown` which is supposed to do exactly this
But Node doesn't use it (except one obscure case for handling thestdio pipes to its child processes)
Can you confirm this? I mean, that this is the way to properly do it?

[2020-11-18 19:27] #3020 closed

[2020-11-19 18:07] mmomtchev commented on #3034
This has been found to be due to a problem in Node, <https://github.com/nodejs/node/issues/36180>

[2020-11-20 19:05] kroggen opened #3048 "Compilation failed for Android using autotools"
* **Version**: 1.40 - pulled from last commit
* **Platform**: Darwin MacBook-Pro.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64

When compiling libuv for Android using this script:

[code]

It generates this error messages after the compilation:

[code]

[2020-11-20 19:25] kroggen commented on #3048
Just now found a similar issue: https://github.com/libuv/libuv/issues/2768

[2020-11-20 19:38] kroggen commented on #2768
indeed, it worked with version 1.33, prior to that commit.

[2020-11-20 19:51] kroggen commented on #2768
@estasig Thank you for your contribution!

You are right, I undid the f961844 commit from 1.40 and it worked without any problem.

Maintainers, keep in mind that when building for Android the system enables both `ANDROID` and `LINUX`, so the files are being included twice

[2020-11-20 19:55] santigimeno commented on #2768
@kroggen if reverting it fixes the issue. Could you open a PR with the revert?

[2020-11-20 19:57] kroggen commented on #3048
By the way, feel free to use the above script to build for Android. It can be used for regression tests

[2020-11-20 21:06] kroggen commented on #2768
@santigimeno

done

[2020-11-21 10:19] deepak1556 opened #3050 "uv_spawn is slow when parent process allocates mmap with MAP_JIT flag"
* **Version**: tip-of-tree (1.x)
* **Platform**: macOS Big Sur (11.0.1)

Repro Steps : https://github.com/deepak1556/libuv-spawn

The issue is derived from https://github.com/electron/electron/issues/26143

Applications running on hardened runtime based on chromium/electron create mmap regions using [MAP_JIT](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security

[2020-11-21 14:25] k13-engineering opened #3051 "uv_fs_stat returns wrong st_rdev"
When calling `uv_fs_stat`, internally statx(2) is tried first and when not available stat(2) is used.

In `src/unix/fs.c` in function `uv__fs_statx` at line 1442 (in v1.40.0) st_rdev is mapped like this:

`buf->st_rdev = statxbuf.stx_rdev_major;`

while in the fallback `uv__to_stat` at line 1315 st_rdev is mapped like this:

`dst->st_rdev = src->st_rdev;`

So when using statx the minor part of rde

[2020-11-23 12:41] bnoordhuis commented on #3050
Thanks for the repro. I don't run Big Sur so I have no way to test myself but your analysis sounds right.

`posix_spawn()` on macOS is an actual system call (on other Unices libc often emulates it through `fork()` + `execve()`) with a shortcut to spawn the new process directly. No memory mappings are copied, ergo, it's very fast.

Switching to `posix_spawn()` isn't an option in general - it's too

[2020-11-23 15:07] marcello3d commented on #3050
The slow speed is unfortunate, but what's worse is that it locks the JavaScript thread (in Electron, freezing the app UI), before nodejs' `spawn()` call even returns. I'm not familiar with what part of that is node vs libuv, but is it possible for this slow part to happen asynchronously (since the rest of the spawn api is async)?

[2020-11-23 22:30] deepak1556 commented on #3050
Thanks for the added context! I will work on the fix this week.

[2020-11-23 23:23] bughit commented on #3043
According to [ReadFile docs](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-readfile), yes:

[2020-11-24 11:46] RaisinTen commented on #3033
_Ping!_ Is this worth working on? Don't want any work to go waste, so I'm seeking for approval.

[2020-11-24 18:02] bughit commented on #3043
https://github.com/libuv/libuv/blob/master/src/win/error.c#L156

even explicitly maps ERROR_BROKEN_PIPE to UV_EOF which is how you end up with an EOF readSync exception

@mmomtchev Could you submit a PR with your patch?

[2020-11-26 10:19] silverwind commented on #3037
It's also wrong in `/proc/pid/status`, but I guess that may be a pointer to `/proc/pid/comm`.

[code]

Some more info on this in https://stackoverflow.com/a/14176059/808699

[2020-11-26 17:35] leonerd commented on #3025
Certainly, `socketpair()` is the way to create these things if both READABLE + WRITABLE flags are specified. I was just suggesting using `pipe()` when only one flag is present.

[2020-11-26 22:16] vcaputo commented on #1947
@axboe It may be worth considering having applications go through liburing provides a convenient boundary for hooking io_uring emulation in userspace for either pre-io_uring kernel support or development/debugging purposes.  liburing itself could implement this, enabled via some environment variable, or just get replaced via LD_PRELOAD.

[2020-11-27 05:12] ioquatix commented on #1947
@vcaputo I don't think you can replace `libiouring` with an emulation layer without a huge amount of impedance mismatch.

I also don't think it's necessary to pull in `liburing` and I think a lot of people will refer to this code base to see how to do it *without* `liburing` so there is value in going straight to the system calls, etc.

[2020-11-27 06:09] concatime commented on #1947
I think liburing make sens for apps like QEMU or [nginx](//github.com/hakasenyang/openssl-patch/issues/21. This way, you have an abstraction layer between the app and io_uring. In our case, I think libuv should deal directly with io_uring because libuv is already an abstraction layer by itself. And one less dependency at compile-time and runtime :)
Also, like @ioquatix said, it would be nice to ha

[2020-11-27 06:21] vcaputo commented on #1947
Have you looked at the liburing code? It's just a thin veneer over the syscall interface, it's not even 1000 lines of .c files.

The value IMHO of having most stuff go through it is it's a single point for implementing stuff like an emulation for compatibility or debugging, and I strongly disagree with the claim of a "huge amount of impedance mismatch" pertaining to emulation.

For *ages* there wa

[2020-11-27 07:23] jorangreef commented on #1947
I would say: if you can use liburing, then go for it. liburing has solved some tricky bugs in the past, and there a few surprising edge cases you need to get right if you want to do it yourself. liburing is essentially the test suite for the kernel so it's a pretty good reference implementation.

[2020-11-28 17:25] Werner-Prbk opened #3054 "LICENSE info of externally maintained libraries"
In [LICENSE](https://github.com/libuv/libuv/blob/master/LICENSE) file several externally maintained libraries are mentioned.
Is it required to include the licenses of the external libraries along with libuv license when the software is distributed?
If so, including additional licenses in LICENSE file or a new THIRD_PARTY_NOTICE file would be convenient.

[code]

[2020-11-30 08:18] antaljanosbenjamin commented on #1995
It is not possible to turn of the antivirus....

Is there anything else I can try to do?

[2020-11-30 08:22] bzoz commented on #1995
You can remove the offending line from CMake and recompile it.

You can also push CMake to float a patch that will remove this from their libuv copy. It was discussed before https://gitlab.kitware.com/cmake/cmake/-/issues/18383, but it looks like they never removed it.

[2020-12-01 03:24] neoxic opened #3056 "linux: regression in uv_fs_sendfile()"
Hello everyone,

Sad but true, libuv keeps breaking as my internal tests started failing on Linux at some point. This time, `uv_fs_sendfile()` appears to be messed up. At first sight, `in_offset` acts more like an offset for output for some reason which also leads to some kind of weird zero padding at the beginning of a file. Please take a look at the following snippet:

[code]
FreeBSD, macOS, i.e

[2020-12-01 09:51] santigimeno commented on #3056
@neoxic can you check if https://github.com/libuv/libuv/pull/3058 fixes the issue for you? Thanks

[2020-12-01 12:22] neoxic commented on #3056
If the above test case works as expected, then I guess it's fixed.

[2020-12-01 12:37] neoxic commented on #3056
LGTM, thanks!

[2020-12-03 16:08] #3056 closed

[2020-12-03 17:04] NattyNarwhal opened #3062 "get_ibmi_physical_address can't handle when Qp2getifaddrs returns names longer than 10 characters"
Qp2getifaddrs seems to return on some systems the line names suffixed with... something (part of the IP? it's not consistent). These names are occasionally longer than 10 characters, which is the maximum name size in IBM i, and what the buffer is allocated for. The ASCII-to-EBCDIC conversion function then aborts because the buffer is too small for the conversion. With a sample program:

![line des